Repository luxfi/bridge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @luxfi/bridge-maintainers, @luxfi/mpc-maintainers, @luxfi/security, @luxfi/smart-contracts, @luxfi/frontend, @luxfi/qa, @luxfi/backend, @luxfi/devops, @luxfi/docs

.github/CODEOWNERS:

# CODEOWNERS for Lux Bridge

# Default owners for everything in the repo
* @luxfi/bridge-maintainers

# MPC service owners
/mpc-service/ @luxfi/mpc-maintainers @luxfi/security

# Smart contracts owners  
/contracts/ @luxfi/smart-contracts @luxfi/security

# Frontend and UI owners
/app/client/ @luxfi/frontend
/app/ui/ @luxfi/frontend
/ui-automation/ @luxfi/qa

# Backend server owners
/app/server/ @luxfi/backend

# DevOps and CI/CD
/.github/ @luxfi/devops
/docker/ @luxfi/devops
/k8s/ @luxfi/devops

# Documentation
/docs/ @luxfi/docs
/*.md @luxfi/docs

# Security-sensitive files
/mpc-service/cmd/ @luxfi/security @luxfi/mpc-maintainers
/contracts/bridges/ @luxfi/security @luxfi/smart-contracts
/.env* @luxfi/security @luxfi/devops

docs: bump Go reference 1.26.x → 1.26.4
  docs/operator-runbook.md
Owners: @luxfi/docs

docs: bump Go reference 1.26.x → 1.26.4
  docs/operator-runbook.md
Owners: @luxfi/docs

docs: bump Go reference 1.26.x → 1.26.4
  docs/operator-runbook.md
Owners: @luxfi/docs

docs: bump Go reference 1.26.x → 1.26.4
  docs/operator-runbook.md
Owners: @luxfi/docs

feat: BTC destination — legacy P2PKH ECDSA, mempool.space broadcast
  .gitignore
  app/server/result-img/btc-eth-test.gif
  app/server/result-img/btc-lux-test.gif
  app/server/result-img/eth-btc-test.gif
  cmd/bridge/main.go
  cmd/bridge/networks.testnet.yaml
  cmd/bridge/signing_driver.go
  internal/broadcast/btc.go
  internal/broadcast/client.go
  internal/broadcast/client_test.go
  internal/btc/address.go
  internal/btc/base58.go
  internal/btc/bech32.go
  internal/btc/hash.go
  internal/btc/payment.go
  internal/btc/payment_test.go
  internal/btc/provider.go
  internal/mchain/client.go
  internal/txassembler/btc.go
Owners: @luxfi/bridge-maintainers, @luxfi/backend

feat: BTC destination — legacy P2PKH ECDSA, mempool.space broadcast
  .gitignore
  app/server/result-img/btc-eth-test.gif
  app/server/result-img/btc-lux-test.gif
  app/server/result-img/eth-btc-test.gif
  cmd/bridge/main.go
  cmd/bridge/networks.testnet.yaml
  cmd/bridge/signing_driver.go
  internal/broadcast/btc.go
  internal/broadcast/client.go
  internal/broadcast/client_test.go
  internal/btc/address.go
  internal/btc/base58.go
  internal/btc/bech32.go
  internal/btc/hash.go
  internal/btc/payment.go
  internal/btc/payment_test.go
  internal/btc/provider.go
  internal/mchain/client.go
  internal/txassembler/btc.go
Owners: @luxfi/bridge-maintainers, @luxfi/backend

chore: gitignore seed-phrase screenshots so they can't be staged
  .gitignore
Owners: @luxfi/bridge-maintainers

chore: gitignore seed-phrase screenshots so they can't be staged
  .gitignore
Owners: @luxfi/bridge-maintainers

feat: BTC source refund — sweep deposit UTXOs back on failure
  cmd/bridge/main.go
  cmd/bridge/refund_driver.go
  internal/txassembler/btc.go
  internal/txassembler/btc_test.go
Owners: @luxfi/bridge-maintainers

feat: BTC source refund — sweep deposit UTXOs back on failure
  cmd/bridge/main.go
  cmd/bridge/refund_driver.go
  internal/txassembler/btc.go
  internal/txassembler/btc_test.go
Owners: @luxfi/bridge-maintainers

chore: BTC↔Sol Devnet smoke artifact
  app/server/result-img/btc-sol-test.gif
Owners: @luxfi/backend

chore: BTC↔Sol Devnet smoke artifact
  app/server/result-img/btc-sol-test.gif
Owners: @luxfi/backend

fix: XRP source baseline — gate deposit + cap refund to per-swap delta
  cmd/bridge/deposit_watcher.go
  cmd/bridge/refund_driver.go
  cmd/bridge/swap_store.go
  cmd/bridge/swaps_handler.go
  internal/depositcheck/client.go
  internal/depositcheck/xrp.go
  internal/depositcheck/xrp_test.go
Owners: @luxfi/bridge-maintainers

fix: XRP source baseline — gate deposit + cap refund to per-swap delta
  cmd/bridge/deposit_watcher.go
  cmd/bridge/refund_driver.go
  cmd/bridge/swap_store.go
  cmd/bridge/swaps_handler.go
  internal/depositcheck/client.go
  internal/depositcheck/xrp.go
  internal/depositcheck/xrp_test.go
Owners: @luxfi/bridge-maintainers

chore: BTC↔XRP Testnet smoke artifact
  app/server/result-img/btc-xrp-test.gif
Owners: @luxfi/backend

chore: BTC↔XRP Testnet smoke artifact
  app/server/result-img/btc-xrp-test.gif
Owners: @luxfi/backend

fix: TON source baseline — extend the XRP fix to TON; XRP regression-guarded
  app/server/result-img/btc-ton-test.gif
  cmd/bridge/deposit_watcher.go
  cmd/bridge/refund_driver.go
  cmd/bridge/swap_store.go
  cmd/bridge/swaps_handler.go
  internal/depositcheck/client.go
  internal/depositcheck/client_test.go
Owners: @luxfi/backend, @luxfi/bridge-maintainers

fix: TON source baseline — extend the XRP fix to TON; XRP regression-guarded
  app/server/result-img/btc-ton-test.gif
  cmd/bridge/deposit_watcher.go
  cmd/bridge/refund_driver.go
  cmd/bridge/swap_store.go
  cmd/bridge/swaps_handler.go
  internal/depositcheck/client.go
  internal/depositcheck/client_test.go
Owners: @luxfi/backend, @luxfi/bridge-maintainers

docs: REQUIREMENTS R8 — BTC bidirectional + non-EVM baseline fixes
  REQUIREMENTS.md
Owners: @luxfi/docs

docs: REQUIREMENTS R8 — BTC bidirectional + non-EVM baseline fixes
  REQUIREMENTS.md
Owners: @luxfi/docs

chore: LUX testnet → BTC testnet3 smoke artifact
  app/server/result-img/lux-btc-test.gif
Owners: @luxfi/backend

chore: LUX testnet → BTC testnet3 smoke artifact
  app/server/result-img/lux-btc-test.gif
Owners: @luxfi/backend

fix: pass DestinationAsset on EVM PreSign — ERC-20 destination releases work
  cmd/bridge/signing_driver.go
Owners: @luxfi/bridge-maintainers

fix: pass DestinationAsset on EVM PreSign — ERC-20 destination releases work
  cmd/bridge/signing_driver.go
Owners: @luxfi/bridge-maintainers

chore: Sepolia USDC ↔ BTC testnet3 smoke artifact
  app/server/result-img/usdc-btc-test.gif
Owners: @luxfi/backend

chore: Sepolia USDC ↔ BTC testnet3 smoke artifact
  app/server/result-img/usdc-btc-test.gif
Owners: @luxfi/backend

docs: REQUIREMENTS §13.7.1 — BTC corridor deferred follow-ups
  REQUIREMENTS.md
Owners: @luxfi/docs

docs: REQUIREMENTS §13.7.1 — BTC corridor deferred follow-ups
  REQUIREMENTS.md
Owners: @luxfi/docs

chore: LUX testnet ↔ Sepolia ETH bidirectional re-validation artifact
  app/server/result-img/lux-eth-test.gif
Owners: @luxfi/backend

chore: LUX testnet ↔ Sepolia ETH bidirectional re-validation artifact
  app/server/result-img/lux-eth-test.gif
Owners: @luxfi/backend

fix: SOL source baseline — mirror XRP/TON fix; reproducible exploit
  cmd/bridge/deposit_watcher.go
  cmd/bridge/refund_driver.go
  cmd/bridge/swap_store.go
  cmd/bridge/swaps_handler.go
  internal/depositcheck/client.go
  internal/depositcheck/client_test.go
Owners: @luxfi/bridge-maintainers

fix: SOL source baseline — mirror XRP/TON fix; reproducible exploit
  cmd/bridge/deposit_watcher.go
  cmd/bridge/refund_driver.go
  cmd/bridge/swap_store.go
  cmd/bridge/swaps_handler.go
  internal/depositcheck/client.go
  internal/depositcheck/client_test.go
Owners: @luxfi/bridge-maintainers

chore: LUX testnet ↔ Sol Devnet smoke artifact (with exploit + fix)
  app/server/result-img/lux-sol-test.gif
Owners: @luxfi/backend

chore: LUX testnet ↔ Sol Devnet smoke artifact (with exploit + fix)
  app/server/result-img/lux-sol-test.gif
Owners: @luxfi/backend

docs: REQUIREMENTS R9 — three ed25519 families baseline-gated + ERC-20 fix
  REQUIREMENTS.md
Owners: @luxfi/docs

docs: REQUIREMENTS R9 — three ed25519 families baseline-gated + ERC-20 fix
  REQUIREMENTS.md
Owners: @luxfi/docs

chore: LUX testnet ↔ XRP Testnet smoke artifact
  app/server/result-img/lux-xrp-test.gif
Owners: @luxfi/backend

chore: LUX testnet ↔ XRP Testnet smoke artifact
  app/server/result-img/lux-xrp-test.gif
Owners: @luxfi/backend

chore: LUX testnet ↔ TON Testnet smoke artifact
  app/server/result-img/lux-ton-test.gif
Owners: @luxfi/backend

chore: LUX testnet ↔ TON Testnet smoke artifact
  app/server/result-img/lux-ton-test.gif
Owners: @luxfi/backend
