Repository luxfi/bridge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @luxfi/bridge-maintainers, @luxfi/mpc-maintainers, @luxfi/security, @luxfi/smart-contracts, @luxfi/frontend, @luxfi/qa, @luxfi/backend, @luxfi/devops, @luxfi/docs

app/bridge: wire @luxfi/logo as canonical Lux logo source
  app/bridge/package.json
  app/bridge/src/bridge.config.ts
  pnpm-lock.yaml
Owners: @luxfi/bridge-maintainers

app/bridge: wire @luxfi/logo as canonical Lux logo source
  app/bridge/package.json
  app/bridge/src/bridge.config.ts
  pnpm-lock.yaml
Owners: @luxfi/bridge-maintainers

app/bridge: wire @luxfi/logo as canonical Lux logo source
  app/bridge/package.json
  app/bridge/src/bridge.config.ts
  pnpm-lock.yaml
Owners: @luxfi/bridge-maintainers

app/bridge: wire @luxfi/logo as canonical Lux logo source
  app/bridge/package.json
  app/bridge/src/bridge.config.ts
  pnpm-lock.yaml
Owners: @luxfi/bridge-maintainers

app/bridge: wire @luxfi/logo as canonical Lux logo source
  app/bridge/package.json
  app/bridge/src/bridge.config.ts
  pnpm-lock.yaml
Owners: @luxfi/bridge-maintainers

app/bridge: wire @luxfi/logo as canonical Lux logo source
  app/bridge/package.json
  app/bridge/src/bridge.config.ts
  pnpm-lock.yaml
Owners: @luxfi/bridge-maintainers

app/bridge: wire @luxfi/logo as canonical Lux logo source
  app/bridge/package.json
  app/bridge/src/bridge.config.ts
  pnpm-lock.yaml
Owners: @luxfi/bridge-maintainers

app/bridge: wire @luxfi/logo as canonical Lux logo source
  app/bridge/package.json
  app/bridge/src/bridge.config.ts
  pnpm-lock.yaml
Owners: @luxfi/bridge-maintainers

app/bridge: wire @luxfi/logo as canonical Lux logo source
  app/bridge/package.json
  app/bridge/src/bridge.config.ts
  pnpm-lock.yaml
Owners: @luxfi/bridge-maintainers

app/bridge: wire @luxfi/logo as canonical Lux logo source
  app/bridge/package.json
  app/bridge/src/bridge.config.ts
  pnpm-lock.yaml
Owners: @luxfi/bridge-maintainers

ci: build + publish bridge-ui image alongside bridge + bridge/server
  .github/workflows/docker.yml
Owners: @luxfi/devops

ci: build + publish bridge-ui image alongside bridge + bridge/server
  .github/workflows/docker.yml
Owners: @luxfi/devops

ci: build + publish bridge-ui image alongside bridge + bridge/server
  .github/workflows/docker.yml
Owners: @luxfi/devops

ci: build + publish bridge-ui image alongside bridge + bridge/server
  .github/workflows/docker.yml
Owners: @luxfi/devops

ci: build + publish bridge-ui image alongside bridge + bridge/server
  .github/workflows/docker.yml
Owners: @luxfi/devops

ci: build + publish bridge-ui image alongside bridge + bridge/server
  .github/workflows/docker.yml
Owners: @luxfi/devops

ci: build + publish bridge-ui image alongside bridge + bridge/server
  .github/workflows/docker.yml
Owners: @luxfi/devops

ci: build + publish bridge-ui image alongside bridge + bridge/server
  .github/workflows/docker.yml
Owners: @luxfi/devops

ci: build + publish bridge-ui image alongside bridge + bridge/server
  .github/workflows/docker.yml
Owners: @luxfi/devops

ci: build + publish bridge-ui image alongside bridge + bridge/server
  .github/workflows/docker.yml
Owners: @luxfi/devops

ci: build + publish bridge-ui image alongside bridge + bridge/server
  .github/workflows/docker.yml
Owners: @luxfi/devops

manifests: align bridge-ui with Vite SPA (ghcr.io/hanzoai/spa, :80)
  compose.mainnet.yml
  compose.testnet.yml
  compose.yml
  k8s/mpc-deployment.yaml
  scripts/start-local.sh
Owners: @luxfi/bridge-maintainers, @luxfi/devops

manifests: align bridge-ui with Vite SPA (ghcr.io/hanzoai/spa, :80)
  compose.mainnet.yml
  compose.testnet.yml
  compose.yml
  k8s/mpc-deployment.yaml
  scripts/start-local.sh
Owners: @luxfi/bridge-maintainers, @luxfi/devops

manifests: align bridge-ui with Vite SPA (ghcr.io/hanzoai/spa, :80)
  compose.mainnet.yml
  compose.testnet.yml
  compose.yml
  k8s/mpc-deployment.yaml
  scripts/start-local.sh
Owners: @luxfi/bridge-maintainers, @luxfi/devops

manifests: align bridge-ui with Vite SPA (ghcr.io/hanzoai/spa, :80)
  compose.mainnet.yml
  compose.testnet.yml
  compose.yml
  k8s/mpc-deployment.yaml
  scripts/start-local.sh
Owners: @luxfi/bridge-maintainers, @luxfi/devops

manifests: align bridge-ui with Vite SPA (ghcr.io/hanzoai/spa, :80)
  compose.mainnet.yml
  compose.testnet.yml
  compose.yml
  k8s/mpc-deployment.yaml
  scripts/start-local.sh
Owners: @luxfi/bridge-maintainers, @luxfi/devops

manifests: align bridge-ui with Vite SPA (ghcr.io/hanzoai/spa, :80)
  compose.mainnet.yml
  compose.testnet.yml
  compose.yml
  k8s/mpc-deployment.yaml
  scripts/start-local.sh
Owners: @luxfi/bridge-maintainers, @luxfi/devops

manifests: align bridge-ui with Vite SPA (ghcr.io/hanzoai/spa, :80)
  compose.mainnet.yml
  compose.testnet.yml
  compose.yml
  k8s/mpc-deployment.yaml
  scripts/start-local.sh
Owners: @luxfi/bridge-maintainers, @luxfi/devops

manifests: align bridge-ui with Vite SPA (ghcr.io/hanzoai/spa, :80)
  compose.mainnet.yml
  compose.testnet.yml
  compose.yml
  k8s/mpc-deployment.yaml
  scripts/start-local.sh
Owners: @luxfi/bridge-maintainers, @luxfi/devops

manifests: align bridge-ui with Vite SPA (ghcr.io/hanzoai/spa, :80)
  compose.mainnet.yml
  compose.testnet.yml
  compose.yml
  k8s/mpc-deployment.yaml
  scripts/start-local.sh
Owners: @luxfi/bridge-maintainers, @luxfi/devops

manifests: align bridge-ui with Vite SPA (ghcr.io/hanzoai/spa, :80)
  compose.mainnet.yml
  compose.testnet.yml
  compose.yml
  k8s/mpc-deployment.yaml
  scripts/start-local.sh
Owners: @luxfi/bridge-maintainers, @luxfi/devops

manifests: align bridge-ui with Vite SPA (ghcr.io/hanzoai/spa, :80)
  compose.mainnet.yml
  compose.testnet.yml
  compose.yml
  k8s/mpc-deployment.yaml
  scripts/start-local.sh
Owners: @luxfi/bridge-maintainers, @luxfi/devops

build: drop `|| true` from root postinstall
  package.json
Owners: @luxfi/bridge-maintainers

build: drop `|| true` from root postinstall
  package.json
Owners: @luxfi/bridge-maintainers

build: drop `|| true` from root postinstall
  package.json
Owners: @luxfi/bridge-maintainers

build: drop `|| true` from root postinstall
  package.json
Owners: @luxfi/bridge-maintainers

build: drop `|| true` from root postinstall
  package.json
Owners: @luxfi/bridge-maintainers

build: drop `|| true` from root postinstall
  package.json
Owners: @luxfi/bridge-maintainers

build: drop `|| true` from root postinstall
  package.json
Owners: @luxfi/bridge-maintainers

build: drop `|| true` from root postinstall
  package.json
Owners: @luxfi/bridge-maintainers

.github/CODEOWNERS:

# CODEOWNERS for Lux Bridge

# Default owners for everything in the repo
* @luxfi/bridge-maintainers

# MPC service owners
/mpc-service/ @luxfi/mpc-maintainers @luxfi/security

# Smart contracts owners  
/contracts/ @luxfi/smart-contracts @luxfi/security

# Frontend and UI owners
/app/client/ @luxfi/frontend
/app/ui/ @luxfi/frontend
/ui-automation/ @luxfi/qa

# Backend server owners
/app/server/ @luxfi/backend

# DevOps and CI/CD
/.github/ @luxfi/devops
/docker/ @luxfi/devops
/k8s/ @luxfi/devops

# Documentation
/docs/ @luxfi/docs
/*.md @luxfi/docs

# Security-sensitive files
/mpc-service/cmd/ @luxfi/security @luxfi/mpc-maintainers
/contracts/bridges/ @luxfi/security @luxfi/smart-contracts
/.env* @luxfi/security @luxfi/devops
