Repository luxfi/bridge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @luxfi/bridge-maintainers, @luxfi/mpc-maintainers, @luxfi/security, @luxfi/smart-contracts, @luxfi/frontend, @luxfi/qa, @luxfi/backend, @luxfi/devops, @luxfi/docs

.github/CODEOWNERS:

# CODEOWNERS for Lux Bridge

# Default owners for everything in the repo
* @luxfi/bridge-maintainers

# MPC service owners
/mpc-service/ @luxfi/mpc-maintainers @luxfi/security

# Smart contracts owners  
/contracts/ @luxfi/smart-contracts @luxfi/security

# Frontend and UI owners
/app/client/ @luxfi/frontend
/app/ui/ @luxfi/frontend
/ui-automation/ @luxfi/qa

# Backend server owners
/app/server/ @luxfi/backend

# DevOps and CI/CD
/.github/ @luxfi/devops
/docker/ @luxfi/devops
/k8s/ @luxfi/devops

# Documentation
/docs/ @luxfi/docs
/*.md @luxfi/docs

# Security-sensitive files
/mpc-service/cmd/ @luxfi/security @luxfi/mpc-maintainers
/contracts/bridges/ @luxfi/security @luxfi/smart-contracts
/.env* @luxfi/security @luxfi/devops

ci: migrate to canonical docker-build reusable
  .github/workflows/docker-publish.yml
  .github/workflows/docker.yml
  .github/workflows/server.yml
  .github/workflows/workflow-sanity.yml
Owners: @luxfi/devops

ci: migrate to canonical docker-build reusable (#381)
  .github/workflows/docker-publish.yml
  .github/workflows/docker.yml
  .github/workflows/server.yml
  .github/workflows/workflow-sanity.yml
Owners: @luxfi/devops

ci: migrate to canonical docker-build reusable (#381)
  .github/workflows/docker-publish.yml
  .github/workflows/docker.yml
  .github/workflows/server.yml
  .github/workflows/workflow-sanity.yml
Owners: @luxfi/devops

ci: migrate to canonical docker-build reusable (#381)
  .github/workflows/docker-publish.yml
  .github/workflows/docker.yml
  .github/workflows/server.yml
  .github/workflows/workflow-sanity.yml
Owners: @luxfi/devops

ci: migrate to canonical docker-build reusable (#381)
  .github/workflows/docker-publish.yml
  .github/workflows/docker.yml
  .github/workflows/server.yml
  .github/workflows/workflow-sanity.yml
Owners: @luxfi/devops

ci: migrate to canonical docker-build reusable (#381)
  .github/workflows/docker-publish.yml
  .github/workflows/docker.yml
  .github/workflows/server.yml
  .github/workflows/workflow-sanity.yml
Owners: @luxfi/devops

ci: migrate to canonical docker-build reusable (#381)
  .github/workflows/docker-publish.yml
  .github/workflows/docker.yml
  .github/workflows/server.yml
  .github/workflows/workflow-sanity.yml
Owners: @luxfi/devops

ci: migrate to canonical docker-build reusable (#381)
  .github/workflows/docker-publish.yml
  .github/workflows/docker.yml
  .github/workflows/server.yml
  .github/workflows/workflow-sanity.yml
Owners: @luxfi/devops

ci: migrate to canonical docker-build reusable (#381)
  .github/workflows/docker-publish.yml
  .github/workflows/docker.yml
  .github/workflows/server.yml
  .github/workflows/workflow-sanity.yml
Owners: @luxfi/devops

ci: migrate to canonical docker-build reusable (#381)
  .github/workflows/docker-publish.yml
  .github/workflows/docker.yml
  .github/workflows/server.yml
  .github/workflows/workflow-sanity.yml
Owners: @luxfi/devops

ci: migrate to canonical docker-build reusable (#381)
  .github/workflows/docker-publish.yml
  .github/workflows/docker.yml
  .github/workflows/server.yml
  .github/workflows/workflow-sanity.yml
Owners: @luxfi/devops

ci: migrate to canonical docker-build reusable (#381)
  .github/workflows/docker-publish.yml
  .github/workflows/docker.yml
  .github/workflows/server.yml
  .github/workflows/workflow-sanity.yml
Owners: @luxfi/devops

bridge: scrub Avalabs IP brand refs
  docs/LLM.md
Owners: @luxfi/docs

bridge: scrub Avalabs IP brand refs
  docs/LLM.md
Owners: @luxfi/docs

bridge: scrub Avalabs IP brand refs
  docs/LLM.md
Owners: @luxfi/docs

bridge: scrub Avalabs IP brand refs
  docs/LLM.md
Owners: @luxfi/docs

bridge: scrub Avalabs IP brand refs
  docs/LLM.md
Owners: @luxfi/docs

bridge: scrub Avalabs IP brand refs
  docs/LLM.md
Owners: @luxfi/docs

bridge: scrub Avalabs IP brand refs
  docs/LLM.md
Owners: @luxfi/docs

bridge: scrub Avalabs IP brand refs
  docs/LLM.md
Owners: @luxfi/docs

bridge: scrub Avalabs IP brand refs
  docs/LLM.md
Owners: @luxfi/docs

bridge: scrub Avalabs IP brand refs
  docs/LLM.md
Owners: @luxfi/docs

bridge: scrub Avalabs IP brand refs
  docs/LLM.md
Owners: @luxfi/docs

bridge: remove Liquidity branding cross-contamination
  app/bridge/src/components/lux/teleport/constants/networks.mainnets.ts
  app/bridge/src/components/lux/teleport/constants/networks.sandbox.ts
Owners: @luxfi/bridge-maintainers

bridge: remove Liquidity branding cross-contamination
  app/bridge/src/components/lux/teleport/constants/networks.mainnets.ts
  app/bridge/src/components/lux/teleport/constants/networks.sandbox.ts
Owners: @luxfi/bridge-maintainers

bridge: remove Liquidity branding cross-contamination
  app/bridge/src/components/lux/teleport/constants/networks.mainnets.ts
  app/bridge/src/components/lux/teleport/constants/networks.sandbox.ts
Owners: @luxfi/bridge-maintainers

bridge: remove Liquidity branding cross-contamination
  app/bridge/src/components/lux/teleport/constants/networks.mainnets.ts
  app/bridge/src/components/lux/teleport/constants/networks.sandbox.ts
Owners: @luxfi/bridge-maintainers

bridge: remove Liquidity branding cross-contamination
  app/bridge/src/components/lux/teleport/constants/networks.mainnets.ts
  app/bridge/src/components/lux/teleport/constants/networks.sandbox.ts
Owners: @luxfi/bridge-maintainers

bridge: remove branding cross-contamination
  app/bridge/src/components/lux/teleport/constants/networks.mainnets.ts
  app/bridge/src/components/lux/teleport/constants/networks.sandbox.ts
Owners: @luxfi/bridge-maintainers

bridge: remove branding cross-contamination
  app/bridge/src/components/lux/teleport/constants/networks.mainnets.ts
  app/bridge/src/components/lux/teleport/constants/networks.sandbox.ts
Owners: @luxfi/bridge-maintainers

bridge: remove branding cross-contamination
  app/bridge/src/components/lux/teleport/constants/networks.mainnets.ts
  app/bridge/src/components/lux/teleport/constants/networks.sandbox.ts
Owners: @luxfi/bridge-maintainers

bridge: remove Liquidity branding cross-contamination
  app/bridge/src/components/lux/teleport/constants/networks.mainnets.ts
  app/bridge/src/components/lux/teleport/constants/networks.sandbox.ts
Owners: @luxfi/bridge-maintainers

bridge: remove Liquidity branding cross-contamination
  app/bridge/src/components/lux/teleport/constants/networks.mainnets.ts
  app/bridge/src/components/lux/teleport/constants/networks.sandbox.ts
Owners: @luxfi/bridge-maintainers

bridge: remove branding cross-contamination
  app/bridge/src/components/lux/teleport/constants/networks.mainnets.ts
  app/bridge/src/components/lux/teleport/constants/networks.sandbox.ts
Owners: @luxfi/bridge-maintainers

feat(bridge): unified Go binary — embedded SPA + native networks/tokens/limits, proxied swap/quote/rate
  cmd/bridge/Dockerfile
  cmd/bridge/README.md
  cmd/bridge/api.go
  cmd/bridge/config.go
  cmd/bridge/frontend.go
  cmd/bridge/main.go
  cmd/bridge/networks.example.yaml
  cmd/bridge/static/index.html
  go.mod
  go.sum
Owners: @luxfi/bridge-maintainers

feat(bridge): unified Go binary — embedded SPA + native networks/tokens/limits, proxied swap/quote/rate
  cmd/bridge/Dockerfile
  cmd/bridge/README.md
  cmd/bridge/api.go
  cmd/bridge/config.go
  cmd/bridge/frontend.go
  cmd/bridge/main.go
  cmd/bridge/networks.example.yaml
  cmd/bridge/static/index.html
  go.mod
  go.sum
Owners: @luxfi/bridge-maintainers

feat(bridge): unified Go binary — embedded SPA + native networks/tokens/limits, proxied swap/quote/rate
  cmd/bridge/Dockerfile
  cmd/bridge/README.md
  cmd/bridge/api.go
  cmd/bridge/config.go
  cmd/bridge/frontend.go
  cmd/bridge/main.go
  cmd/bridge/networks.example.yaml
  cmd/bridge/static/index.html
  go.mod
  go.sum
Owners: @luxfi/bridge-maintainers

feat(bridge): unified Go binary — embedded SPA + native networks/tokens/limits, proxied swap/quote/rate
  cmd/bridge/Dockerfile
  cmd/bridge/README.md
  cmd/bridge/api.go
  cmd/bridge/config.go
  cmd/bridge/frontend.go
  cmd/bridge/main.go
  cmd/bridge/networks.example.yaml
  cmd/bridge/static/index.html
  go.mod
  go.sum
Owners: @luxfi/bridge-maintainers

feat(bridge): unified Go binary — embedded SPA + native networks/tokens/limits, proxied swap/quote/rate
  cmd/bridge/Dockerfile
  cmd/bridge/README.md
  cmd/bridge/api.go
  cmd/bridge/config.go
  cmd/bridge/frontend.go
  cmd/bridge/main.go
  cmd/bridge/networks.example.yaml
  cmd/bridge/static/index.html
  go.mod
  go.sum
Owners: @luxfi/bridge-maintainers

feat(bridge): unified Go binary — embedded SPA + native networks/tokens/limits, proxied swap/quote/rate
  cmd/bridge/Dockerfile
  cmd/bridge/README.md
  cmd/bridge/api.go
  cmd/bridge/config.go
  cmd/bridge/frontend.go
  cmd/bridge/main.go
  cmd/bridge/networks.example.yaml
  cmd/bridge/static/index.html
  go.mod
  go.sum
Owners: @luxfi/bridge-maintainers
