Repository luxfi/bridge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @luxfi/bridge-maintainers, @luxfi/mpc-maintainers, @luxfi/security, @luxfi/smart-contracts, @luxfi/frontend, @luxfi/qa, @luxfi/backend, @luxfi/devops, @luxfi/docs

feat(bridge): template /__ENV.js from container env (BRIDGE_API_HOST isolation)
  cmd/bridge/frontend.go
  cmd/bridge/frontend_runtimeenv_test.go
Owners: @luxfi/bridge-maintainers

feat(bridge): template /__ENV.js from container env (BRIDGE_API_HOST isolation)
  cmd/bridge/frontend.go
  cmd/bridge/frontend_runtimeenv_test.go
Owners: @luxfi/bridge-maintainers

chore(go-live): wire isolated LUX image into deploy manifest
  bridge
  k8s/bridge-deployment.yaml
Owners: @luxfi/bridge-maintainers, @luxfi/devops

chore(go-live): wire isolated LUX image into deploy manifest
  bridge
  k8s/bridge-deployment.yaml
Owners: @luxfi/bridge-maintainers, @luxfi/devops

docs(go-live): REQUIREMENTS R14 — bridge.lux.network LIVE on unified Go stack (Phase 1 cutover)
  REQUIREMENTS.md
Owners: @luxfi/docs

docs(go-live): REQUIREMENTS R14 — bridge.lux.network LIVE on unified Go stack (Phase 1 cutover)
  REQUIREMENTS.md
Owners: @luxfi/docs

fix(bridge): enforce corridor enable-flags server-side in quote + create
  cmd/bridge/corridor_gate_test.go
  cmd/bridge/swaps_handler.go
Owners: @luxfi/bridge-maintainers

fix(bridge): enforce corridor enable-flags server-side in quote + create
  cmd/bridge/corridor_gate_test.go
  cmd/bridge/swaps_handler.go
Owners: @luxfi/bridge-maintainers

fix(bridge): enforce per-swap USD min/max server-side in quote + create
  cmd/bridge/limits_gate_test.go
  cmd/bridge/swaps_handler.go
Owners: @luxfi/bridge-maintainers

fix(bridge): enforce per-swap USD min/max server-side in quote + create
  cmd/bridge/limits_gate_test.go
  cmd/bridge/swaps_handler.go
Owners: @luxfi/bridge-maintainers

chore(go-live): roll prod to bridge image e450b15d (enforcement gates)
  k8s/bridge-deployment.yaml
Owners: @luxfi/devops

chore(go-live): roll prod to bridge image e377ac59 (enforcement gates)
  k8s/bridge-deployment.yaml
Owners: @luxfi/devops

docs: update README/LLM.md/REQUIREMENTS pointers for the new layout (issue #391)
  README.md
  REQUIREMENTS.md
  docs/LLM.md
Owners: @luxfi/docs

docs: wire content/docs/* into Nextra pages, refresh _meta + index (issue #391)
  docs/pages/_meta.json
  docs/pages/index.mdx
  docs/pages/integrations.mdx
  docs/pages/lux-id-integration.mdx
  docs/pages/operator-deploy.mdx
  docs/pages/operator-runbook.mdx
Owners: @luxfi/docs

docs: regenerate docs/out static site for the 8-page Nextra build (issue #391)
  docs/out/404.html
  docs/out/_next/static/chunks/455-d1a02f1720f55d00.js
  docs/out/_next/static/chunks/73-514932006b9ea973.js
  docs/out/_next/static/chunks/framework-0cbe3b56a5f66701.js
  docs/out/_next/static/chunks/framework-64ad27b21261a9ce.js
  docs/out/_next/static/chunks/main-35d29b002b9b8976.js
  docs/out/_next/static/chunks/main-fbce30a623cb8c9a.js
  docs/out/_next/static/chunks/nextra-data-en-US.json
  docs/out/_next/static/chunks/pages/_app-048d9d4ed025df82.js
  docs/out/_next/static/chunks/pages/_app-26f5890917895004.js
  docs/out/_next/static/chunks/pages/_error-16075e78949bdb8e.js
  docs/out/_next/static/chunks/pages/_error-7a92967bea80186d.js
  docs/out/_next/static/chunks/pages/docs-466447c1ad6de50a.js
  docs/out/_next/static/chunks/pages/docs-7da2b52f0db4c35e.js
  docs/out/_next/static/chunks/pages/index-3bf3b207735030b4.js
  docs/out/_next/static/chunks/pages/index-9752e4304f4a93c9.js
  docs/out/_next/static/chunks/pages/integrations-f872cba62b0fc5f9.js
  docs/out/_next/static/chunks/pages/lux-id-integration-6eb74f531b98099a.js
  docs/out/_next/static/chunks/pages/operator-deploy-73009920c9da835b.js
  docs/out/_next/static/chunks/pages/operator-runbook-3a9641fa02470965.js
  docs/out/_next/static/chunks/webpack-6ef43a8d4a395f49.js
  docs/out/_next/static/chunks/webpack-abd991c5840a0e22.js
  docs/out/_next/static/css/83ce42764a171fc6.css
  docs/out/_next/static/css/f996cf9b737d77f6.css
  docs/out/_next/static/hnS4DkNCR004by-hexIXU/_buildManifest.js
  docs/out/_next/static/hnS4DkNCR004by-hexIXU/_ssgManifest.js
  docs/out/_next/static/iGOSXVPr-sBS_hhOM0Cnj/_buildManifest.js
  docs/out/docs.html
  docs/out/index.html
  docs/out/integrations.html
  docs/out/lux-id-integration.html
  docs/out/operator-deploy.html
  docs/out/operator-runbook.html
Owners: @luxfi/docs

docs: fold loose docs/*.md into Nextra content/docs/ tree (issue #391)
  docs/content/docs/integrations.mdx
  docs/content/docs/lux-id-integration.mdx
  docs/content/docs/operator-deploy.mdx
  docs/content/docs/operator-runbook.mdx
Owners: @luxfi/docs

docs: fold loose docs/*.md into Nextra content/docs/ tree (issue #391)
  docs/content/docs/integrations.mdx
  docs/content/docs/lux-id-integration.mdx
  docs/content/docs/operator-deploy.mdx
  docs/content/docs/operator-runbook.mdx
Owners: @luxfi/docs

docs: wire content/docs/* into Nextra pages, refresh _meta + index (issue #391)
  docs/pages/_meta.json
  docs/pages/index.mdx
  docs/pages/integrations.mdx
  docs/pages/lux-id-integration.mdx
  docs/pages/operator-deploy.mdx
  docs/pages/operator-runbook.mdx
Owners: @luxfi/docs

docs: wire content/docs/* into Nextra pages, refresh _meta + index (issue #391)
  docs/pages/_meta.json
  docs/pages/index.mdx
  docs/pages/integrations.mdx
  docs/pages/lux-id-integration.mdx
  docs/pages/operator-deploy.mdx
  docs/pages/operator-runbook.mdx
Owners: @luxfi/docs

docs: fold loose docs/*.md into Nextra content/docs/ tree (issue #391)
  docs/content/docs/integrations.mdx
  docs/content/docs/lux-id-integration.mdx
  docs/content/docs/operator-deploy.mdx
  docs/content/docs/operator-runbook.mdx
Owners: @luxfi/docs

docs: fold loose docs/*.md into Nextra content/docs/ tree (issue #391)
  docs/content/docs/integrations.mdx
  docs/content/docs/lux-id-integration.mdx
  docs/content/docs/operator-deploy.mdx
  docs/content/docs/operator-runbook.mdx
Owners: @luxfi/docs

docs: regenerate docs/out static site for the 8-page Nextra build (issue #391)
  docs/out/404.html
  docs/out/_next/static/chunks/455-d1a02f1720f55d00.js
  docs/out/_next/static/chunks/73-514932006b9ea973.js
  docs/out/_next/static/chunks/framework-0cbe3b56a5f66701.js
  docs/out/_next/static/chunks/framework-64ad27b21261a9ce.js
  docs/out/_next/static/chunks/main-35d29b002b9b8976.js
  docs/out/_next/static/chunks/main-fbce30a623cb8c9a.js
  docs/out/_next/static/chunks/nextra-data-en-US.json
  docs/out/_next/static/chunks/pages/_app-048d9d4ed025df82.js
  docs/out/_next/static/chunks/pages/_app-26f5890917895004.js
  docs/out/_next/static/chunks/pages/_error-16075e78949bdb8e.js
  docs/out/_next/static/chunks/pages/_error-7a92967bea80186d.js
  docs/out/_next/static/chunks/pages/docs-466447c1ad6de50a.js
  docs/out/_next/static/chunks/pages/docs-7da2b52f0db4c35e.js
  docs/out/_next/static/chunks/pages/index-3bf3b207735030b4.js
  docs/out/_next/static/chunks/pages/index-9752e4304f4a93c9.js
  docs/out/_next/static/chunks/pages/integrations-f872cba62b0fc5f9.js
  docs/out/_next/static/chunks/pages/lux-id-integration-6eb74f531b98099a.js
  docs/out/_next/static/chunks/pages/operator-deploy-73009920c9da835b.js
  docs/out/_next/static/chunks/pages/operator-runbook-3a9641fa02470965.js
  docs/out/_next/static/chunks/webpack-6ef43a8d4a395f49.js
  docs/out/_next/static/chunks/webpack-abd991c5840a0e22.js
  docs/out/_next/static/css/83ce42764a171fc6.css
  docs/out/_next/static/css/f996cf9b737d77f6.css
  docs/out/_next/static/hnS4DkNCR004by-hexIXU/_buildManifest.js
  docs/out/_next/static/hnS4DkNCR004by-hexIXU/_ssgManifest.js
  docs/out/_next/static/iGOSXVPr-sBS_hhOM0Cnj/_buildManifest.js
  docs/out/docs.html
  docs/out/index.html
  docs/out/integrations.html
  docs/out/lux-id-integration.html
  docs/out/operator-deploy.html
  docs/out/operator-runbook.html
Owners: @luxfi/docs

docs: regenerate docs/out static site for the 8-page Nextra build (issue #391)
  docs/out/404.html
  docs/out/_next/static/chunks/455-d1a02f1720f55d00.js
  docs/out/_next/static/chunks/73-514932006b9ea973.js
  docs/out/_next/static/chunks/framework-0cbe3b56a5f66701.js
  docs/out/_next/static/chunks/framework-64ad27b21261a9ce.js
  docs/out/_next/static/chunks/main-35d29b002b9b8976.js
  docs/out/_next/static/chunks/main-fbce30a623cb8c9a.js
  docs/out/_next/static/chunks/nextra-data-en-US.json
  docs/out/_next/static/chunks/pages/_app-048d9d4ed025df82.js
  docs/out/_next/static/chunks/pages/_app-26f5890917895004.js
  docs/out/_next/static/chunks/pages/_error-16075e78949bdb8e.js
  docs/out/_next/static/chunks/pages/_error-7a92967bea80186d.js
  docs/out/_next/static/chunks/pages/docs-466447c1ad6de50a.js
  docs/out/_next/static/chunks/pages/docs-7da2b52f0db4c35e.js
  docs/out/_next/static/chunks/pages/index-3bf3b207735030b4.js
  docs/out/_next/static/chunks/pages/index-9752e4304f4a93c9.js
  docs/out/_next/static/chunks/pages/integrations-f872cba62b0fc5f9.js
  docs/out/_next/static/chunks/pages/lux-id-integration-6eb74f531b98099a.js
  docs/out/_next/static/chunks/pages/operator-deploy-73009920c9da835b.js
  docs/out/_next/static/chunks/pages/operator-runbook-3a9641fa02470965.js
  docs/out/_next/static/chunks/webpack-6ef43a8d4a395f49.js
  docs/out/_next/static/chunks/webpack-abd991c5840a0e22.js
  docs/out/_next/static/css/83ce42764a171fc6.css
  docs/out/_next/static/css/f996cf9b737d77f6.css
  docs/out/_next/static/hnS4DkNCR004by-hexIXU/_buildManifest.js
  docs/out/_next/static/hnS4DkNCR004by-hexIXU/_ssgManifest.js
  docs/out/_next/static/iGOSXVPr-sBS_hhOM0Cnj/_buildManifest.js
  docs/out/docs.html
  docs/out/index.html
  docs/out/integrations.html
  docs/out/lux-id-integration.html
  docs/out/operator-deploy.html
  docs/out/operator-runbook.html
Owners: @luxfi/docs

docs: regenerate docs/out static site for the 8-page Nextra build (issue #391)
  docs/out/404.html
  docs/out/_next/static/chunks/455-d1a02f1720f55d00.js
  docs/out/_next/static/chunks/73-514932006b9ea973.js
  docs/out/_next/static/chunks/framework-0cbe3b56a5f66701.js
  docs/out/_next/static/chunks/framework-64ad27b21261a9ce.js
  docs/out/_next/static/chunks/main-35d29b002b9b8976.js
  docs/out/_next/static/chunks/main-fbce30a623cb8c9a.js
  docs/out/_next/static/chunks/nextra-data-en-US.json
  docs/out/_next/static/chunks/pages/_app-048d9d4ed025df82.js
  docs/out/_next/static/chunks/pages/_app-26f5890917895004.js
  docs/out/_next/static/chunks/pages/_error-16075e78949bdb8e.js
  docs/out/_next/static/chunks/pages/_error-7a92967bea80186d.js
  docs/out/_next/static/chunks/pages/docs-466447c1ad6de50a.js
  docs/out/_next/static/chunks/pages/docs-7da2b52f0db4c35e.js
  docs/out/_next/static/chunks/pages/index-3bf3b207735030b4.js
  docs/out/_next/static/chunks/pages/index-9752e4304f4a93c9.js
  docs/out/_next/static/chunks/pages/integrations-f872cba62b0fc5f9.js
  docs/out/_next/static/chunks/pages/lux-id-integration-6eb74f531b98099a.js
  docs/out/_next/static/chunks/pages/operator-deploy-73009920c9da835b.js
  docs/out/_next/static/chunks/pages/operator-runbook-3a9641fa02470965.js
  docs/out/_next/static/chunks/webpack-6ef43a8d4a395f49.js
  docs/out/_next/static/chunks/webpack-abd991c5840a0e22.js
  docs/out/_next/static/css/83ce42764a171fc6.css
  docs/out/_next/static/css/f996cf9b737d77f6.css
  docs/out/_next/static/hnS4DkNCR004by-hexIXU/_buildManifest.js
  docs/out/_next/static/hnS4DkNCR004by-hexIXU/_ssgManifest.js
  docs/out/_next/static/iGOSXVPr-sBS_hhOM0Cnj/_buildManifest.js
  docs/out/docs.html
  docs/out/index.html
  docs/out/integrations.html
  docs/out/lux-id-integration.html
  docs/out/operator-deploy.html
  docs/out/operator-runbook.html
Owners: @luxfi/docs

docs: update README/LLM.md/REQUIREMENTS pointers for the new layout (issue #391)
  README.md
  REQUIREMENTS.md
  docs/LLM.md
Owners: @luxfi/docs

docs: update README/LLM.md/REQUIREMENTS pointers for the new layout (issue #391)
  README.md
  REQUIREMENTS.md
  docs/LLM.md
Owners: @luxfi/docs

docs: wire content/docs/* into Nextra pages, refresh _meta + index (issue #391)
  docs/pages/_meta.json
  docs/pages/index.mdx
  docs/pages/integrations.mdx
  docs/pages/lux-id-integration.mdx
  docs/pages/operator-deploy.mdx
  docs/pages/operator-runbook.mdx
Owners: @luxfi/docs

docs: update README/LLM.md/REQUIREMENTS pointers for the new layout (issue #391)
  README.md
  REQUIREMENTS.md
  docs/LLM.md
Owners: @luxfi/docs

feat(bridge): @luxwallet/connect multi-chain wallet + @luxwallet/chains registry
  app/bridge/public/tonconnect-manifest.json
  pkg/bridge/README.md
  pkg/bridge/package.json
  pkg/bridge/src/__tests__/luxwallet-integration.test.ts
  pkg/bridge/src/app/BridgeApp.tsx
  pkg/bridge/src/app/components/Header.tsx
  pkg/bridge/src/app/components/SwapForm.tsx
  pkg/bridge/src/app/components/WalletConnect.tsx
  pkg/bridge/src/app/hooks/useBridgeWallet.ts
  pkg/bridge/src/app/hooks/useLuxWallet.ts
  pkg/bridge/src/app/lib/chains.ts
  pkg/bridge/src/app/lib/registry.ts
  pkg/bridge/src/app/lib/wallet-family.ts
  pnpm-lock.yaml
Owners: @luxfi/bridge-maintainers

feat(bridge): @luxwallet/connect multi-chain wallet + @luxwallet/chains registry
  app/bridge/public/tonconnect-manifest.json
  pkg/bridge/README.md
  pkg/bridge/package.json
  pkg/bridge/src/__tests__/luxwallet-integration.test.ts
  pkg/bridge/src/app/BridgeApp.tsx
  pkg/bridge/src/app/components/Header.tsx
  pkg/bridge/src/app/components/SwapForm.tsx
  pkg/bridge/src/app/components/WalletConnect.tsx
  pkg/bridge/src/app/hooks/useBridgeWallet.ts
  pkg/bridge/src/app/hooks/useLuxWallet.ts
  pkg/bridge/src/app/lib/chains.ts
  pkg/bridge/src/app/lib/registry.ts
  pkg/bridge/src/app/lib/wallet-family.ts
  pnpm-lock.yaml
Owners: @luxfi/bridge-maintainers

feat(bridge): @luxwallet/connect multi-chain wallet + @luxwallet/chains registry
  app/bridge/public/tonconnect-manifest.json
  pkg/bridge/README.md
  pkg/bridge/package.json
  pkg/bridge/src/__tests__/luxwallet-integration.test.ts
  pkg/bridge/src/app/BridgeApp.tsx
  pkg/bridge/src/app/components/Header.tsx
  pkg/bridge/src/app/components/SwapForm.tsx
  pkg/bridge/src/app/components/WalletConnect.tsx
  pkg/bridge/src/app/hooks/useBridgeWallet.ts
  pkg/bridge/src/app/hooks/useLuxWallet.ts
  pkg/bridge/src/app/lib/chains.ts
  pkg/bridge/src/app/lib/registry.ts
  pkg/bridge/src/app/lib/wallet-family.ts
  pnpm-lock.yaml
Owners: @luxfi/bridge-maintainers

feat(bridge): @luxwallet/connect multi-chain wallet + @luxwallet/chains registry
  app/bridge/public/tonconnect-manifest.json
  pkg/bridge/README.md
  pkg/bridge/package.json
  pkg/bridge/src/__tests__/luxwallet-integration.test.ts
  pkg/bridge/src/app/BridgeApp.tsx
  pkg/bridge/src/app/components/Header.tsx
  pkg/bridge/src/app/components/SwapForm.tsx
  pkg/bridge/src/app/components/WalletConnect.tsx
  pkg/bridge/src/app/hooks/useBridgeWallet.ts
  pkg/bridge/src/app/hooks/useLuxWallet.ts
  pkg/bridge/src/app/lib/chains.ts
  pkg/bridge/src/app/lib/registry.ts
  pkg/bridge/src/app/lib/wallet-family.ts
  pnpm-lock.yaml
Owners: @luxfi/bridge-maintainers

chore(deps): @luxwallet/* file: → published npm ^0.1.0
  pkg/bridge/package.json
Owners: @luxfi/bridge-maintainers

chore(deps): @luxwallet/* file: → published npm ^0.1.0
  pkg/bridge/package.json
Owners: @luxfi/bridge-maintainers

chore(deps): @luxwallet/* file: → published npm ^0.1.0
  pkg/bridge/package.json
Owners: @luxfi/bridge-maintainers

chore(deps): @luxwallet/* file: → published npm ^0.1.0
  pkg/bridge/package.json
Owners: @luxfi/bridge-maintainers

chore(deps): @luxwallet/* file: → published npm ^0.1.0
  pkg/bridge/package.json
Owners: @luxfi/bridge-maintainers

chore(deps): lockfile → @luxwallet/* from npm (no file:)
  pnpm-lock.yaml
Owners: @luxfi/bridge-maintainers

chore(deps): lockfile → @luxwallet/* from npm (no file:)
  pnpm-lock.yaml
Owners: @luxfi/bridge-maintainers

chore(deps): lockfile → @luxwallet/* from npm (no file:)
  pnpm-lock.yaml
Owners: @luxfi/bridge-maintainers

.github/CODEOWNERS:

# CODEOWNERS for Lux Bridge

# Default owners for everything in the repo
* @luxfi/bridge-maintainers

# MPC service owners
/mpc-service/ @luxfi/mpc-maintainers @luxfi/security

# Smart contracts owners  
/contracts/ @luxfi/smart-contracts @luxfi/security

# Frontend and UI owners
/app/client/ @luxfi/frontend
/app/ui/ @luxfi/frontend
/ui-automation/ @luxfi/qa

# Backend server owners
/app/server/ @luxfi/backend

# DevOps and CI/CD
/.github/ @luxfi/devops
/docker/ @luxfi/devops
/k8s/ @luxfi/devops

# Documentation
/docs/ @luxfi/docs
/*.md @luxfi/docs

# Security-sensitive files
/mpc-service/cmd/ @luxfi/security @luxfi/mpc-maintainers
/contracts/bridges/ @luxfi/security @luxfi/smart-contracts
/.env* @luxfi/security @luxfi/devops
