Repository luxfi/bridge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @luxfi/bridge-maintainers, @luxfi/mpc-maintainers, @luxfi/security, @luxfi/smart-contracts, @luxfi/frontend, @luxfi/qa, @luxfi/backend, @luxfi/devops, @luxfi/docs

.github/CODEOWNERS:

# CODEOWNERS for Lux Bridge

# Default owners for everything in the repo
* @luxfi/bridge-maintainers

# MPC service owners
/mpc-service/ @luxfi/mpc-maintainers @luxfi/security

# Smart contracts owners  
/contracts/ @luxfi/smart-contracts @luxfi/security

# Frontend and UI owners
/app/client/ @luxfi/frontend
/app/ui/ @luxfi/frontend
/ui-automation/ @luxfi/qa

# Backend server owners
/app/server/ @luxfi/backend

# DevOps and CI/CD
/.github/ @luxfi/devops
/docker/ @luxfi/devops
/k8s/ @luxfi/devops

# Documentation
/docs/ @luxfi/docs
/*.md @luxfi/docs

# Security-sensitive files
/mpc-service/cmd/ @luxfi/security @luxfi/mpc-maintainers
/contracts/bridges/ @luxfi/security @luxfi/smart-contracts
/.env* @luxfi/security @luxfi/devops

feat: universal Teleport bridge with 35+ chain plugins
  .github/workflows/build-and-push.yml
  k8s/mpc-deployment.yaml
  manifests/schema.yaml
  opnet-watcher/Dockerfile
  opnet-watcher/config.go
  opnet-watcher/go.mod
  opnet-watcher/go.sum
  opnet-watcher/main.go
  opnet-watcher/plugins/algorand.go
  opnet-watcher/plugins/aptos.go
  opnet-watcher/plugins/cardano.go
  opnet-watcher/plugins/cosmos.go
  opnet-watcher/plugins/fuel.go
  opnet-watcher/plugins/icp.go
  opnet-watcher/plugins/lux.go
  opnet-watcher/plugins/near.go
  opnet-watcher/plugins/polkadot.go
  opnet-watcher/plugins/solana.go
  opnet-watcher/plugins/stacks.go
  opnet-watcher/plugins/starknet.go
  opnet-watcher/plugins/stellar.go
  opnet-watcher/plugins/sui.go
  opnet-watcher/plugins/tezos.go
  opnet-watcher/plugins/ton.go
  opnet-watcher/plugins/xrpl.go
  opnet-watcher/relay.go
  opnet-watcher/signer.go
  opnet-watcher/tenant_test.go
  opnet-watcher/watcher.go
Owners: @luxfi/devops, @luxfi/bridge-maintainers

pkg/bridge: widen MPC protocol union, add setConfig precedence guard (red review)
  pkg/bridge/package.json
  pkg/bridge/src/__tests__/config.test.ts
  pkg/bridge/src/types.ts
  pkg/bridge/vitest.config.ts
  pnpm-lock.yaml
Owners: @luxfi/bridge-maintainers

feat(pkg/bridge): inline bridge UI under src/app/
  pkg/bridge/src/app/BridgeApp.tsx
  pkg/bridge/src/app/components/AssetInput.tsx
  pkg/bridge/src/app/components/Card.tsx
  pkg/bridge/src/app/components/ChainSelector.tsx
  pkg/bridge/src/app/components/Header.tsx
  pkg/bridge/src/app/components/SwapForm.tsx
  pkg/bridge/src/app/components/TransferStatus.tsx
  pkg/bridge/src/app/components/WalletConnect.tsx
  pkg/bridge/src/app/hooks/useSwap.ts
  pkg/bridge/src/app/hooks/useTransfers.ts
  pkg/bridge/src/app/hooks/useWallet.ts
  pkg/bridge/src/app/lib/assets.ts
  pkg/bridge/src/app/lib/chains.ts
  pkg/bridge/src/app/styles/theme.css
Owners: @luxfi/bridge-maintainers

pkg/bridge: widen MPC protocol union, add setConfig precedence guard (red review)
  pkg/bridge/package.json
  pkg/bridge/src/__tests__/config.test.ts
  pkg/bridge/src/types.ts
  pkg/bridge/vitest.config.ts
  pnpm-lock.yaml
Owners: @luxfi/bridge-maintainers

feat(pkg/bridge): inline bridge UI under src/app/
  pkg/bridge/src/app/BridgeApp.tsx
  pkg/bridge/src/app/components/AssetInput.tsx
  pkg/bridge/src/app/components/Card.tsx
  pkg/bridge/src/app/components/ChainSelector.tsx
  pkg/bridge/src/app/components/Header.tsx
  pkg/bridge/src/app/components/SwapForm.tsx
  pkg/bridge/src/app/components/TransferStatus.tsx
  pkg/bridge/src/app/components/WalletConnect.tsx
  pkg/bridge/src/app/hooks/useSwap.ts
  pkg/bridge/src/app/hooks/useTransfers.ts
  pkg/bridge/src/app/hooks/useWallet.ts
  pkg/bridge/src/app/lib/assets.ts
  pkg/bridge/src/app/lib/chains.ts
  pkg/bridge/src/app/styles/theme.css
Owners: @luxfi/bridge-maintainers

docs+manifest: align protocol references with new union (NIT from red review)
  manifests/schema.yaml
  pkg/threshold/src/index.ts
Owners: @luxfi/bridge-maintainers

docs+manifest: align protocol references with new union (NIT from red review)
  manifests/schema.yaml
  pkg/threshold/src/index.ts
Owners: @luxfi/bridge-maintainers

pkg/bridge: replace useWallet stub with real wagmi-backed wallet hook
  pkg/bridge/src/__tests__/useWallet.test.tsx
  pkg/bridge/src/app/hooks/useWallet.ts
Owners: @luxfi/bridge-maintainers

pkg/bridge: replace useWallet stub with real wagmi-backed wallet hook
  pkg/bridge/src/__tests__/useWallet.test.tsx
  pkg/bridge/src/app/hooks/useWallet.ts
Owners: @luxfi/bridge-maintainers

pkg/bridge: useTransfers POSTs real swaps + polls server, BridgeApp installs WagmiProvider
  pkg/bridge/src/__tests__/useTransfers.test.tsx
  pkg/bridge/src/app/BridgeApp.tsx
  pkg/bridge/src/app/hooks/useTransfers.ts
Owners: @luxfi/bridge-maintainers

pkg/{bridge,threshold}: protocol union — drop lss+corona, add pulsar/corona/magnetar/doerner (PQ-safe leaderless)
  pkg/bridge/src/__tests__/config.test.ts
  pkg/bridge/src/types.ts
  pkg/threshold/src/client.test.ts
  pkg/threshold/src/types.ts
Owners: @luxfi/bridge-maintainers

pkg/bridge: useTransfers POSTs real swaps + polls server, BridgeApp installs WagmiProvider
  pkg/bridge/src/__tests__/useTransfers.test.tsx
  pkg/bridge/src/app/BridgeApp.tsx
  pkg/bridge/src/app/hooks/useTransfers.ts
Owners: @luxfi/bridge-maintainers

pkg/{bridge,threshold}: protocol union — drop lss+corona, add pulsar/corona/magnetar/doerner (PQ-safe leaderless)
  pkg/bridge/src/__tests__/config.test.ts
  pkg/bridge/src/types.ts
  pkg/threshold/src/client.test.ts
  pkg/threshold/src/types.ts
Owners: @luxfi/bridge-maintainers

chore: sync working tree
  opnet-watcher/opnet-watcher
Owners: @luxfi/bridge-maintainers

feat: bridge UI part is motly finished
  REQUIREMENTS.md
  app/bridge/src/bridge.config.ts
  app/bridge/vite.config.ts
  app/bridge3/app/metadata.ts
  pkg/bridge/package.json
  pkg/bridge/src/__tests__/useTransfers.test.tsx
  pkg/bridge/src/app/components/AssetInput.tsx
  pkg/bridge/src/app/components/Card.tsx
  pkg/bridge/src/app/components/ChainSelector.tsx
  pkg/bridge/src/app/components/Header.tsx
  pkg/bridge/src/app/components/SwapForm.tsx
  pkg/bridge/src/app/components/TransferStatus.tsx
  pkg/bridge/src/app/components/WalletConnect.tsx
  pkg/bridge/src/app/hooks/useNetworks.ts
  pkg/bridge/src/app/hooks/useSwap.ts
  pkg/bridge/src/app/hooks/useTransfers.ts
  pkg/bridge/src/app/lib/assets.ts
  pkg/bridge/src/app/lib/bridge-api.ts
  pkg/bridge/src/app/lib/chains.ts
  pkg/bridge/src/app/lib/logos.ts
  pkg/bridge/src/app/lib/transfer-storage.ts
  pkg/bridge/src/app/styles/theme.css
  pkg/bridge/src/types.ts
  pnpm-lock.yaml
Owners: @luxfi/docs, @luxfi/bridge-maintainers

feat: bridge UI part is motly finished
  REQUIREMENTS.md
  app/bridge/src/bridge.config.ts
  app/bridge/vite.config.ts
  app/bridge3/app/metadata.ts
  pkg/bridge/package.json
  pkg/bridge/src/__tests__/useTransfers.test.tsx
  pkg/bridge/src/app/components/AssetInput.tsx
  pkg/bridge/src/app/components/Card.tsx
  pkg/bridge/src/app/components/ChainSelector.tsx
  pkg/bridge/src/app/components/Header.tsx
  pkg/bridge/src/app/components/SwapForm.tsx
  pkg/bridge/src/app/components/TransferStatus.tsx
  pkg/bridge/src/app/components/WalletConnect.tsx
  pkg/bridge/src/app/hooks/useNetworks.ts
  pkg/bridge/src/app/hooks/useSwap.ts
  pkg/bridge/src/app/hooks/useTransfers.ts
  pkg/bridge/src/app/lib/assets.ts
  pkg/bridge/src/app/lib/bridge-api.ts
  pkg/bridge/src/app/lib/chains.ts
  pkg/bridge/src/app/lib/logos.ts
  pkg/bridge/src/app/lib/transfer-storage.ts
  pkg/bridge/src/app/styles/theme.css
  pkg/bridge/src/types.ts
  pnpm-lock.yaml
Owners: @luxfi/docs, @luxfi/bridge-maintainers

deps: repoint BLS threshold scheme registration to luxfi/threshold/scheme/bls
  opnet-watcher/signer.go
Owners: @luxfi/bridge-maintainers

scrub branding + corona→corona (OSS brand hygiene)
  REQUIREMENTS.md
  pkg/bridge/src/app/hooks/useWallet.ts
Owners: @luxfi/docs, @luxfi/bridge-maintainers

scrub branding + corona→corona (OSS brand hygiene)
  REQUIREMENTS.md
  pkg/bridge/src/app/hooks/useWallet.ts
Owners: @luxfi/docs, @luxfi/bridge-maintainers

fix(deps): reconcile go.sum against what the registry actually serves
  go.sum
Owners: @luxfi/bridge-maintainers

deps: repoint BLS threshold scheme registration to luxfi/threshold/scheme/bls
  opnet-watcher/signer.go
Owners: @luxfi/bridge-maintainers

fix(deps): reconcile go.sum against what the registry actually serves
  go.sum
Owners: @luxfi/bridge-maintainers

chore: sync working tree
  opnet-watcher/opnet-watcher
Owners: @luxfi/bridge-maintainers

refactor(deps): use the canonical zip at github.com/zap-proto/zip
  cmd/bridge/api.go
  cmd/bridge/integration_test.go
  cmd/bridge/main.go
  cmd/bridge/networks_handler_test.go
  cmd/bridge/swaps_handler.go
  cmd/bridge/swaps_handler_test.go
  go.mod
  go.sum
Owners: @luxfi/bridge-maintainers

refactor(deps): use the canonical zip at github.com/zap-proto/zip
  cmd/bridge/api.go
  cmd/bridge/integration_test.go
  cmd/bridge/main.go
  cmd/bridge/networks_handler_test.go
  cmd/bridge/swaps_handler.go
  cmd/bridge/swaps_handler_test.go
  go.mod
  go.sum
Owners: @luxfi/bridge-maintainers

refactor(deps): use the canonical zip at github.com/zap-proto/zip
  cmd/bridge/api.go
  cmd/bridge/integration_test.go
  cmd/bridge/main.go
  cmd/bridge/networks_handler_test.go
  cmd/bridge/quote_handler.go
  cmd/bridge/rpc_proxy.go
  cmd/bridge/swaps_handler.go
  cmd/bridge/swaps_handler_test.go
  go.mod
  go.sum
Owners: @luxfi/bridge-maintainers

refactor(deps): use the canonical zip at github.com/zap-proto/zip
  cmd/bridge/api.go
  cmd/bridge/integration_test.go
  cmd/bridge/main.go
  cmd/bridge/networks_handler_test.go
  cmd/bridge/quote_handler.go
  cmd/bridge/rpc_proxy.go
  cmd/bridge/swaps_handler.go
  cmd/bridge/swaps_handler_test.go
  go.mod
  go.sum
Owners: @luxfi/bridge-maintainers

refactor(deps): use the canonical zip at github.com/zap-proto/zip
  cmd/bridge/api.go
  cmd/bridge/integration_test.go
  cmd/bridge/main.go
  cmd/bridge/networks_handler_test.go
  cmd/bridge/swaps_handler.go
  cmd/bridge/swaps_handler_test.go
  go.mod
  go.sum
Owners: @luxfi/bridge-maintainers

refactor(deps): use the canonical zip at github.com/zap-proto/zip
  cmd/bridge/api.go
  cmd/bridge/integration_test.go
  cmd/bridge/main.go
  cmd/bridge/networks_handler_test.go
  cmd/bridge/swaps_handler.go
  cmd/bridge/swaps_handler_test.go
  go.mod
  go.sum
Owners: @luxfi/bridge-maintainers

refactor(deps): use the canonical zip at github.com/zap-proto/zip
  cmd/bridge/api.go
  cmd/bridge/integration_test.go
  cmd/bridge/main.go
  cmd/bridge/networks_handler_test.go
  cmd/bridge/swaps_handler.go
  cmd/bridge/swaps_handler_test.go
  go.mod
  go.sum
Owners: @luxfi/bridge-maintainers

refactor(deps): use the canonical zip at github.com/zap-proto/zip
  cmd/bridge/api.go
  cmd/bridge/integration_test.go
  cmd/bridge/main.go
  cmd/bridge/networks_handler_test.go
  cmd/bridge/swaps_handler.go
  cmd/bridge/swaps_handler_test.go
  go.mod
  go.sum
Owners: @luxfi/bridge-maintainers

refactor(deps): use the canonical zip at github.com/zap-proto/zip
  cmd/bridge/api.go
  cmd/bridge/integration_test.go
  cmd/bridge/main.go
  cmd/bridge/networks_handler_test.go
  cmd/bridge/swaps_handler.go
  cmd/bridge/swaps_handler_test.go
  go.mod
  go.sum
Owners: @luxfi/bridge-maintainers

refactor(deps): use the canonical zip at github.com/zap-proto/zip
  cmd/bridge/api.go
  cmd/bridge/integration_test.go
  cmd/bridge/main.go
  cmd/bridge/networks_handler_test.go
  cmd/bridge/swaps_handler.go
  cmd/bridge/swaps_handler_test.go
  go.mod
  go.sum
Owners: @luxfi/bridge-maintainers

build: migrate tsconfig to TypeScript 7 (native compiler)
  app/bridge3/tsconfig.json
  app/explorer/tsconfig.json
  app/server/tsconfig.json
  pkg/core/tsconfig.json
  pkg/threshold/tsconfig.json
  pkg/ui/tsconfig.json
  pkg/utila/tsconfig.json
Owners: @luxfi/bridge-maintainers, @luxfi/backend

build: migrate tsconfig to TypeScript 7 (native compiler)
  app/bridge3/tsconfig.json
  app/explorer/tsconfig.json
  app/server/tsconfig.json
  pkg/core/tsconfig.json
  pkg/threshold/tsconfig.json
  pkg/ui/tsconfig.json
  pkg/utila/tsconfig.json
Owners: @luxfi/bridge-maintainers, @luxfi/backend

build: migrate tsconfig to TypeScript 7 (native compiler)
  app/bridge3/tsconfig.json
  app/explorer/tsconfig.json
  app/server/tsconfig.json
  pkg/core/tsconfig.json
  pkg/threshold/tsconfig.json
  pkg/ui/tsconfig.json
  pkg/utila/tsconfig.json
Owners: @luxfi/bridge-maintainers, @luxfi/backend

build: migrate tsconfig to TypeScript 7 (native compiler)
  app/bridge3/tsconfig.json
  app/explorer/tsconfig.json
  app/server/tsconfig.json
  pkg/core/tsconfig.json
  pkg/threshold/tsconfig.json
  pkg/ui/tsconfig.json
  pkg/utila/tsconfig.json
Owners: @luxfi/bridge-maintainers, @luxfi/backend

build: migrate tsconfig to TypeScript 7 (native compiler)
  app/bridge3/tsconfig.json
  app/explorer/tsconfig.json
  app/server/tsconfig.json
  pkg/core/tsconfig.json
  pkg/threshold/tsconfig.json
  pkg/ui/tsconfig.json
  pkg/utila/tsconfig.json
Owners: @luxfi/bridge-maintainers, @luxfi/backend

build: migrate tsconfig to TypeScript 7 (native compiler)
  app/bridge3/tsconfig.json
  app/explorer/tsconfig.json
  app/server/tsconfig.json
  pkg/core/tsconfig.json
  pkg/threshold/tsconfig.json
  pkg/ui/tsconfig.json
  pkg/utila/tsconfig.json
Owners: @luxfi/bridge-maintainers, @luxfi/backend

build: migrate tsconfig to TypeScript 7 (native compiler)
  app/bridge3/tsconfig.json
  app/explorer/tsconfig.json
  app/server/tsconfig.json
  pkg/core/tsconfig.json
  pkg/threshold/tsconfig.json
  pkg/ui/tsconfig.json
  pkg/utila/tsconfig.json
Owners: @luxfi/bridge-maintainers, @luxfi/backend
