Repository luxfi/bridge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @luxfi/bridge-maintainers, @luxfi/mpc-maintainers, @luxfi/security, @luxfi/smart-contracts, @luxfi/frontend, @luxfi/qa, @luxfi/backend, @luxfi/devops, @luxfi/docs

Remove file transports from logger in production containers
  app/server/src/utils/logger.ts
Owners: @luxfi/backend

Remove file transports from logger in production containers
  app/server/src/utils/logger.ts
Owners: @luxfi/backend

Remove file transports from logger in production containers
  app/server/src/utils/logger.ts
Owners: @luxfi/backend

Remove file transports from logger in production containers
  app/server/src/utils/logger.ts
Owners: @luxfi/backend

Disable Utila/Fireblocks, use native MPC only; fix bridge-ui build
  app/bridge/Dockerfile
  app/bridge/package.json
  app/server/src/domain/utila.ts
  app/server/src/server.ts
  pnpm-lock.yaml
Owners: @luxfi/bridge-maintainers, @luxfi/backend

Disable Utila/Fireblocks, use native MPC only; fix bridge-ui build
  app/bridge/Dockerfile
  app/bridge/package.json
  app/server/src/domain/utila.ts
  app/server/src/server.ts
  pnpm-lock.yaml
Owners: @luxfi/bridge-maintainers, @luxfi/backend

Disable Utila/Fireblocks, use native MPC only; fix bridge-ui build
  app/bridge/Dockerfile
  app/bridge/package.json
  app/server/src/domain/utila.ts
  app/server/src/server.ts
  pnpm-lock.yaml
Owners: @luxfi/bridge-maintainers, @luxfi/backend

Disable Utila/Fireblocks, use native MPC only; fix bridge-ui build
  app/bridge/Dockerfile
  app/bridge/package.json
  app/server/src/domain/utila.ts
  app/server/src/server.ts
  pnpm-lock.yaml
Owners: @luxfi/bridge-maintainers, @luxfi/backend

Disable Utila/Fireblocks, use native MPC only; fix bridge-ui build
  app/bridge/Dockerfile
  app/bridge/package.json
  app/server/src/domain/utila.ts
  app/server/src/server.ts
  pnpm-lock.yaml
Owners: @luxfi/bridge-maintainers, @luxfi/backend

fix: update bridge Dockerfile and CI for production builds
  .github/workflows/build-and-push.yml
  Dockerfile.bridge-ui
Owners: @luxfi/devops, @luxfi/bridge-maintainers

fix: update bridge Dockerfile and CI for production builds
  .github/workflows/build-and-push.yml
  Dockerfile.bridge-ui
Owners: @luxfi/devops, @luxfi/bridge-maintainers

fix: update bridge Dockerfile and CI for production builds
  .github/workflows/build-and-push.yml
  Dockerfile.bridge-ui
Owners: @luxfi/devops, @luxfi/bridge-maintainers

fix: update bridge Dockerfile and CI for production builds
  .github/workflows/build-and-push.yml
  Dockerfile.bridge-ui
Owners: @luxfi/devops, @luxfi/bridge-maintainers

fix: update bridge Dockerfile and CI for production builds
  .github/workflows/build-and-push.yml
  Dockerfile.bridge-ui
Owners: @luxfi/devops, @luxfi/bridge-maintainers

fix: remove i18n config causing 307 loop, make MPC URLs configurable
  app/bridge/next.config.js
  app/server/src/domain/mpc.ts
  app/server/src/nodes.ts
Owners: @luxfi/bridge-maintainers, @luxfi/backend

fix: remove i18n config causing 307 loop, make MPC URLs configurable
  app/bridge/next.config.js
  app/server/src/domain/mpc.ts
  app/server/src/nodes.ts
Owners: @luxfi/bridge-maintainers, @luxfi/backend

fix: remove i18n config causing 307 loop, make MPC URLs configurable
  app/bridge/next.config.js
  app/server/src/domain/mpc.ts
  app/server/src/nodes.ts
Owners: @luxfi/bridge-maintainers, @luxfi/backend

fix: remove i18n config causing 307 loop, make MPC URLs configurable
  app/bridge/next.config.js
  app/server/src/domain/mpc.ts
  app/server/src/nodes.ts
Owners: @luxfi/bridge-maintainers, @luxfi/backend

fix: remove i18n config causing 307 loop, make MPC URLs configurable
  app/bridge/next.config.js
  app/server/src/domain/mpc.ts
  app/server/src/nodes.ts
Owners: @luxfi/bridge-maintainers, @luxfi/backend

fix: resolve 307 redirect loop and remove Firebase dead code
  .github/workflows/build-and-push.yml
  app/bridge/next-conf/firebase-stub.js
  app/bridge/next.config.js
  app/bridge/src/app/layout.tsx
  app/bridge/src/lib/AppSettings.ts
Owners: @luxfi/devops, @luxfi/bridge-maintainers

fix: resolve 307 redirect loop and remove Firebase dead code
  .github/workflows/build-and-push.yml
  app/bridge/next-conf/firebase-stub.js
  app/bridge/next.config.js
  app/bridge/src/app/layout.tsx
  app/bridge/src/lib/AppSettings.ts
Owners: @luxfi/devops, @luxfi/bridge-maintainers

fix: resolve 307 redirect loop and remove Firebase dead code
  .github/workflows/build-and-push.yml
  app/bridge/next-conf/firebase-stub.js
  app/bridge/next.config.js
  app/bridge/src/app/layout.tsx
  app/bridge/src/lib/AppSettings.ts
Owners: @luxfi/devops, @luxfi/bridge-maintainers

fix: resolve 307 redirect loop and remove Firebase dead code
  .github/workflows/build-and-push.yml
  app/bridge/next-conf/firebase-stub.js
  app/bridge/next.config.js
  app/bridge/src/app/layout.tsx
  app/bridge/src/lib/AppSettings.ts
Owners: @luxfi/devops, @luxfi/bridge-maintainers

fix: resolve 307 redirect loop and remove Firebase dead code
  .github/workflows/build-and-push.yml
  app/bridge/next-conf/firebase-stub.js
  app/bridge/next.config.js
  app/bridge/src/app/layout.tsx
  app/bridge/src/lib/AppSettings.ts
Owners: @luxfi/devops, @luxfi/bridge-maintainers

fix: resolve build failure - add eslint/typescript skip to config, simplify Dockerfile
  app/bridge/Dockerfile
  app/bridge/next.config.js
  app/bridge/src/lib/BridgeApiClient.ts
Owners: @luxfi/bridge-maintainers

fix: resolve build failure - add eslint/typescript skip to config, simplify Dockerfile
  app/bridge/Dockerfile
  app/bridge/next.config.js
  app/bridge/src/lib/BridgeApiClient.ts
Owners: @luxfi/bridge-maintainers

fix: resolve build failure - add eslint/typescript skip to config, simplify Dockerfile
  app/bridge/Dockerfile
  app/bridge/next.config.js
  app/bridge/src/lib/BridgeApiClient.ts
Owners: @luxfi/bridge-maintainers

fix: resolve build failure - add eslint/typescript skip to config, simplify Dockerfile
  app/bridge/Dockerfile
  app/bridge/next.config.js
  app/bridge/src/lib/BridgeApiClient.ts
Owners: @luxfi/bridge-maintainers

fix: resolve build failure - add eslint/typescript skip to config, simplify Dockerfile
  app/bridge/Dockerfile
  app/bridge/next.config.js
  app/bridge/src/lib/BridgeApiClient.ts
Owners: @luxfi/bridge-maintainers

fix: restore Firebase SSR stub needed for build (transitive dep)
  app/bridge/next-conf/firebase-stub.js
  app/bridge/next.config.js
Owners: @luxfi/bridge-maintainers

fix: restore Firebase SSR stub needed for build (transitive dep)
  app/bridge/next-conf/firebase-stub.js
  app/bridge/next.config.js
Owners: @luxfi/bridge-maintainers

fix: restore Firebase SSR stub needed for build (transitive dep)
  app/bridge/next-conf/firebase-stub.js
  app/bridge/next.config.js
Owners: @luxfi/bridge-maintainers

fix: restore Firebase SSR stub needed for build (transitive dep)
  app/bridge/next-conf/firebase-stub.js
  app/bridge/next.config.js
Owners: @luxfi/bridge-maintainers

fix: restore Firebase SSR stub needed for build (transitive dep)
  app/bridge/next-conf/firebase-stub.js
  app/bridge/next.config.js
Owners: @luxfi/bridge-maintainers

feat: remove Firebase completely, use @hanzo/auth 2.8.0 + @hanzo/commerce 7.5.0
  app/bridge/next.config.js
  pnpm-workspace.yaml
Owners: @luxfi/bridge-maintainers

feat: remove Firebase completely, use @hanzo/auth 2.8.0 + @hanzo/commerce 7.5.0
  app/bridge/next.config.js
  pnpm-workspace.yaml
Owners: @luxfi/bridge-maintainers

feat: remove Firebase completely, use @hanzo/auth 2.8.0 + @hanzo/commerce 7.5.0
  app/bridge/next.config.js
  pnpm-workspace.yaml
Owners: @luxfi/bridge-maintainers

feat: remove Firebase completely, use @hanzo/auth 2.8.0 + @hanzo/commerce 7.5.0
  app/bridge/next.config.js
  pnpm-workspace.yaml
Owners: @luxfi/bridge-maintainers

feat: remove Firebase completely, use @hanzo/auth 2.8.0 + @hanzo/commerce 7.5.0
  app/bridge/next.config.js
  pnpm-workspace.yaml
Owners: @luxfi/bridge-maintainers

remove firebase: kill transitive dep, clean up dead code
  .dockerignore
  Dockerfile.bridge-ui
  app/bridge/next-conf/firebase-stub.js
  app/bridge/next.config.js
  app/bridge/package.json
  app/bridge/src/components/header/mobile.tsx_
  package.json
  pkg/settings/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @luxfi/bridge-maintainers

.github/CODEOWNERS:

# CODEOWNERS for Lux Bridge

# Default owners for everything in the repo
* @luxfi/bridge-maintainers

# MPC service owners
/mpc-service/ @luxfi/mpc-maintainers @luxfi/security

# Smart contracts owners  
/contracts/ @luxfi/smart-contracts @luxfi/security

# Frontend and UI owners
/app/client/ @luxfi/frontend
/app/ui/ @luxfi/frontend
/ui-automation/ @luxfi/qa

# Backend server owners
/app/server/ @luxfi/backend

# DevOps and CI/CD
/.github/ @luxfi/devops
/docker/ @luxfi/devops
/k8s/ @luxfi/devops

# Documentation
/docs/ @luxfi/docs
/*.md @luxfi/docs

# Security-sensitive files
/mpc-service/cmd/ @luxfi/security @luxfi/mpc-maintainers
/contracts/bridges/ @luxfi/security @luxfi/smart-contracts
/.env* @luxfi/security @luxfi/devops
