Repository luxfi/bridge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @luxfi/bridge-maintainers, @luxfi/mpc-maintainers, @luxfi/security, @luxfi/smart-contracts, @luxfi/frontend, @luxfi/qa, @luxfi/backend, @luxfi/devops, @luxfi/docs

.github/CODEOWNERS:

# CODEOWNERS for Lux Bridge

# Default owners for everything in the repo
* @luxfi/bridge-maintainers

# MPC service owners
/mpc-service/ @luxfi/mpc-maintainers @luxfi/security

# Smart contracts owners  
/contracts/ @luxfi/smart-contracts @luxfi/security

# Frontend and UI owners
/app/client/ @luxfi/frontend
/app/ui/ @luxfi/frontend
/ui-automation/ @luxfi/qa

# Backend server owners
/app/server/ @luxfi/backend

# DevOps and CI/CD
/.github/ @luxfi/devops
/docker/ @luxfi/devops
/k8s/ @luxfi/devops

# Documentation
/docs/ @luxfi/docs
/*.md @luxfi/docs

# Security-sensitive files
/mpc-service/cmd/ @luxfi/security @luxfi/mpc-maintainers
/contracts/bridges/ @luxfi/security @luxfi/smart-contracts
/.env* @luxfi/security @luxfi/devops

ci(publish): harden token auth + self-hosted runner config
  .github/workflows/publish.yml
Owners: @luxfi/devops

ci(publish): harden token auth + self-hosted runner config
  .github/workflows/publish.yml
Owners: @luxfi/devops

ci(publish): harden token auth + self-hosted runner config
  .github/workflows/publish.yml
Owners: @luxfi/devops

ci(publish): harden token auth + self-hosted runner config
  .github/workflows/publish.yml
Owners: @luxfi/devops

feat(pkg/bridge): optional Utila + Fireblocks layered cosigners (1.0.2 -> 1.0.3)
  pkg/bridge/package.json
  pkg/bridge/src/app/hooks/useTransfers.ts
  pkg/bridge/src/app/lib/bridge-api.ts
  pkg/bridge/src/app/lib/mpc-session.ts
  pkg/bridge/src/types.ts
Owners: @luxfi/bridge-maintainers

feat(pkg/bridge): optional Utila + Fireblocks layered cosigners (1.0.2 -> 1.0.3)
  pkg/bridge/package.json
  pkg/bridge/src/app/hooks/useTransfers.ts
  pkg/bridge/src/app/lib/bridge-api.ts
  pkg/bridge/src/app/lib/mpc-session.ts
  pkg/bridge/src/types.ts
Owners: @luxfi/bridge-maintainers

feat(pkg/bridge): optional Utila + Fireblocks layered cosigners (1.0.2 -> 1.0.3)
  pkg/bridge/package.json
  pkg/bridge/src/app/hooks/useTransfers.ts
  pkg/bridge/src/app/lib/bridge-api.ts
  pkg/bridge/src/app/lib/mpc-session.ts
  pkg/bridge/src/types.ts
Owners: @luxfi/bridge-maintainers

feat(pkg/bridge): optional Utila + Fireblocks layered cosigners (1.0.2 -> 1.0.3)
  pkg/bridge/package.json
  pkg/bridge/src/app/hooks/useTransfers.ts
  pkg/bridge/src/app/lib/bridge-api.ts
  pkg/bridge/src/app/lib/mpc-session.ts
  pkg/bridge/src/types.ts
Owners: @luxfi/bridge-maintainers

feat(pkg/bridge): optional Utila + Fireblocks layered cosigners (1.0.2 -> 1.0.3)
  pkg/bridge/package.json
  pkg/bridge/src/app/hooks/useTransfers.ts
  pkg/bridge/src/app/lib/bridge-api.ts
  pkg/bridge/src/app/lib/mpc-session.ts
  pkg/bridge/src/types.ts
Owners: @luxfi/bridge-maintainers

feat(pkg/bridge): optional Utila + Fireblocks layered cosigners (1.0.2 -> 1.0.3)
  pkg/bridge/package.json
  pkg/bridge/src/app/hooks/useTransfers.ts
  pkg/bridge/src/app/lib/bridge-api.ts
  pkg/bridge/src/app/lib/mpc-session.ts
  pkg/bridge/src/types.ts
Owners: @luxfi/bridge-maintainers

feat(pkg/bridge): optional Utila + Fireblocks layered cosigners (1.0.2 -> 1.0.3)
  pkg/bridge/package.json
  pkg/bridge/src/app/hooks/useTransfers.ts
  pkg/bridge/src/app/lib/bridge-api.ts
  pkg/bridge/src/app/lib/mpc-session.ts
  pkg/bridge/src/types.ts
Owners: @luxfi/bridge-maintainers

feat(pkg/bridge): optional Utila + Fireblocks layered cosigners (1.0.2 -> 1.0.3)
  pkg/bridge/package.json
  pkg/bridge/src/app/hooks/useTransfers.ts
  pkg/bridge/src/app/lib/bridge-api.ts
  pkg/bridge/src/app/lib/mpc-session.ts
  pkg/bridge/src/types.ts
Owners: @luxfi/bridge-maintainers

feat(pkg/bridge): optional Utila + Fireblocks layered cosigners (1.0.2 -> 1.0.3)
  pkg/bridge/package.json
  pkg/bridge/src/app/hooks/useTransfers.ts
  pkg/bridge/src/app/lib/bridge-api.ts
  pkg/bridge/src/app/lib/mpc-session.ts
  pkg/bridge/src/types.ts
Owners: @luxfi/bridge-maintainers

feat(pkg/bridge): optional Utila + Fireblocks layered cosigners (1.0.2 -> 1.0.3)
  pkg/bridge/package.json
  pkg/bridge/src/app/hooks/useTransfers.ts
  pkg/bridge/src/app/lib/bridge-api.ts
  pkg/bridge/src/app/lib/mpc-session.ts
  pkg/bridge/src/types.ts
Owners: @luxfi/bridge-maintainers

feat(pkg/bridge): optional Utila + Fireblocks layered cosigners (1.0.2 -> 1.0.3)
  pkg/bridge/package.json
  pkg/bridge/src/app/hooks/useTransfers.ts
  pkg/bridge/src/app/lib/bridge-api.ts
  pkg/bridge/src/app/lib/mpc-session.ts
  pkg/bridge/src/types.ts
Owners: @luxfi/bridge-maintainers

docs(LLM): correct stale diagram, document inlined UI + explorer migration + layered cosigners
  docs/LLM.md
Owners: @luxfi/docs

docs(LLM): correct stale diagram, document inlined UI + explorer migration + layered cosigners
  docs/LLM.md
Owners: @luxfi/docs

docs(LLM): correct stale diagram, document inlined UI + explorer migration + layered cosigners
  docs/LLM.md
Owners: @luxfi/docs

docs(LLM): correct stale diagram, document inlined UI + explorer migration + layered cosigners
  docs/LLM.md
Owners: @luxfi/docs

docs(LLM): correct stale diagram, document inlined UI + explorer migration + layered cosigners
  docs/LLM.md
Owners: @luxfi/docs

docs(LLM): correct stale diagram, document inlined UI + explorer migration + layered cosigners
  docs/LLM.md
Owners: @luxfi/docs

docs(LLM): correct stale diagram, document inlined UI + explorer migration + layered cosigners
  docs/LLM.md
Owners: @luxfi/docs

docs(LLM): correct stale diagram, document inlined UI + explorer migration + layered cosigners
  docs/LLM.md
Owners: @luxfi/docs

docs(LLM): correct stale diagram, document inlined UI + explorer migration + layered cosigners
  docs/LLM.md
Owners: @luxfi/docs

docs(LLM): correct stale diagram, document inlined UI + explorer migration + layered cosigners
  docs/LLM.md
Owners: @luxfi/docs

docs(LLM): correct stale diagram, document inlined UI + explorer migration + layered cosigners
  docs/LLM.md
Owners: @luxfi/docs

docs: delete 8 stale migration / status / setup .md files (issue #391)
  docs/BRIDGE-STATUS.md
  docs/CI-CD-DOCKER-IMAGES.md
  docs/DEPLOYMENT.md
  docs/LOCAL-SETUP.md
  docs/MIGRATION-TO-GO-MPC.md
  docs/MPC-GO-INTEGRATION.md
  docs/MPC-INTEGRATION-COMPLETE.md
  docs/MPC-MODERNIZATION-SUMMARY.md
Owners: @luxfi/docs

docs: delete 8 stale migration / status / setup .md files (issue #391)
  docs/BRIDGE-STATUS.md
  docs/CI-CD-DOCKER-IMAGES.md
  docs/DEPLOYMENT.md
  docs/LOCAL-SETUP.md
  docs/MIGRATION-TO-GO-MPC.md
  docs/MPC-GO-INTEGRATION.md
  docs/MPC-INTEGRATION-COMPLETE.md
  docs/MPC-MODERNIZATION-SUMMARY.md
Owners: @luxfi/docs

docs: delete 8 stale migration / status / setup .md files (issue #391)
  docs/BRIDGE-STATUS.md
  docs/CI-CD-DOCKER-IMAGES.md
  docs/DEPLOYMENT.md
  docs/LOCAL-SETUP.md
  docs/MIGRATION-TO-GO-MPC.md
  docs/MPC-GO-INTEGRATION.md
  docs/MPC-INTEGRATION-COMPLETE.md
  docs/MPC-MODERNIZATION-SUMMARY.md
Owners: @luxfi/docs

docs: delete 8 stale migration / status / setup .md files (issue #391)
  docs/BRIDGE-STATUS.md
  docs/CI-CD-DOCKER-IMAGES.md
  docs/DEPLOYMENT.md
  docs/LOCAL-SETUP.md
  docs/MIGRATION-TO-GO-MPC.md
  docs/MPC-GO-INTEGRATION.md
  docs/MPC-INTEGRATION-COMPLETE.md
  docs/MPC-MODERNIZATION-SUMMARY.md
Owners: @luxfi/docs

docs: delete 8 stale migration / status / setup .md files (issue #391)
  docs/BRIDGE-STATUS.md
  docs/CI-CD-DOCKER-IMAGES.md
  docs/DEPLOYMENT.md
  docs/LOCAL-SETUP.md
  docs/MIGRATION-TO-GO-MPC.md
  docs/MPC-GO-INTEGRATION.md
  docs/MPC-INTEGRATION-COMPLETE.md
  docs/MPC-MODERNIZATION-SUMMARY.md
Owners: @luxfi/docs

docs: delete 8 stale migration / status / setup .md files (issue #391)
  docs/BRIDGE-STATUS.md
  docs/CI-CD-DOCKER-IMAGES.md
  docs/DEPLOYMENT.md
  docs/LOCAL-SETUP.md
  docs/MIGRATION-TO-GO-MPC.md
  docs/MPC-GO-INTEGRATION.md
  docs/MPC-INTEGRATION-COMPLETE.md
  docs/MPC-MODERNIZATION-SUMMARY.md
Owners: @luxfi/docs

docs: delete 8 stale migration / status / setup .md files (issue #391)
  docs/BRIDGE-STATUS.md
  docs/CI-CD-DOCKER-IMAGES.md
  docs/DEPLOYMENT.md
  docs/LOCAL-SETUP.md
  docs/MIGRATION-TO-GO-MPC.md
  docs/MPC-GO-INTEGRATION.md
  docs/MPC-INTEGRATION-COMPLETE.md
  docs/MPC-MODERNIZATION-SUMMARY.md
Owners: @luxfi/docs

docs: delete 8 stale migration / status / setup .md files (issue #391)
  docs/BRIDGE-STATUS.md
  docs/CI-CD-DOCKER-IMAGES.md
  docs/DEPLOYMENT.md
  docs/LOCAL-SETUP.md
  docs/MIGRATION-TO-GO-MPC.md
  docs/MPC-GO-INTEGRATION.md
  docs/MPC-INTEGRATION-COMPLETE.md
  docs/MPC-MODERNIZATION-SUMMARY.md
Owners: @luxfi/docs

docs: delete 8 stale migration / status / setup .md files (issue #391)
  docs/BRIDGE-STATUS.md
  docs/CI-CD-DOCKER-IMAGES.md
  docs/DEPLOYMENT.md
  docs/LOCAL-SETUP.md
  docs/MIGRATION-TO-GO-MPC.md
  docs/MPC-GO-INTEGRATION.md
  docs/MPC-INTEGRATION-COMPLETE.md
  docs/MPC-MODERNIZATION-SUMMARY.md
Owners: @luxfi/docs

docs: delete 8 stale migration / status / setup .md files (issue #391)
  docs/BRIDGE-STATUS.md
  docs/CI-CD-DOCKER-IMAGES.md
  docs/DEPLOYMENT.md
  docs/LOCAL-SETUP.md
  docs/MIGRATION-TO-GO-MPC.md
  docs/MPC-GO-INTEGRATION.md
  docs/MPC-INTEGRATION-COMPLETE.md
  docs/MPC-MODERNIZATION-SUMMARY.md
Owners: @luxfi/docs

docs: delete 8 stale migration / status / setup .md files (issue #391)
  docs/BRIDGE-STATUS.md
  docs/CI-CD-DOCKER-IMAGES.md
  docs/DEPLOYMENT.md
  docs/LOCAL-SETUP.md
  docs/MIGRATION-TO-GO-MPC.md
  docs/MPC-GO-INTEGRATION.md
  docs/MPC-INTEGRATION-COMPLETE.md
  docs/MPC-MODERNIZATION-SUMMARY.md
Owners: @luxfi/docs

feat(app/server): cosigner backend scaffold + 16 wire-shape validation tests (issue #386)
  app/server/package.json
  app/server/src/domain/__tests__/cosigners.test.ts
  app/server/src/domain/cosigners.ts
  app/server/src/domain/swaps.ts
  app/server/src/routes/swaps.ts
  app/server/vitest.config.ts
  pnpm-lock.yaml
Owners: @luxfi/backend, @luxfi/bridge-maintainers

feat(app/server): cosigner backend scaffold + 16 wire-shape validation tests (issue #386)
  app/server/package.json
  app/server/src/domain/__tests__/cosigners.test.ts
  app/server/src/domain/cosigners.ts
  app/server/src/domain/swaps.ts
  app/server/src/routes/swaps.ts
  app/server/vitest.config.ts
  pnpm-lock.yaml
Owners: @luxfi/backend, @luxfi/bridge-maintainers

feat(app/server): cosigner backend scaffold + 16 wire-shape validation tests (issue #386)
  app/server/package.json
  app/server/src/domain/__tests__/cosigners.test.ts
  app/server/src/domain/cosigners.ts
  app/server/src/domain/swaps.ts
  app/server/src/routes/swaps.ts
  app/server/vitest.config.ts
  pnpm-lock.yaml
Owners: @luxfi/backend, @luxfi/bridge-maintainers
