Repository luxfi/bridge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @luxfi/bridge-maintainers, @luxfi/mpc-maintainers, @luxfi/security, @luxfi/smart-contracts, @luxfi/frontend, @luxfi/qa, @luxfi/backend, @luxfi/devops, @luxfi/docs

.github/CODEOWNERS:

# CODEOWNERS for Lux Bridge

# Default owners for everything in the repo
* @luxfi/bridge-maintainers

# MPC service owners
/mpc-service/ @luxfi/mpc-maintainers @luxfi/security

# Smart contracts owners  
/contracts/ @luxfi/smart-contracts @luxfi/security

# Frontend and UI owners
/app/client/ @luxfi/frontend
/app/ui/ @luxfi/frontend
/ui-automation/ @luxfi/qa

# Backend server owners
/app/server/ @luxfi/backend

# DevOps and CI/CD
/.github/ @luxfi/devops
/docker/ @luxfi/devops
/k8s/ @luxfi/devops

# Documentation
/docs/ @luxfi/docs
/*.md @luxfi/docs

# Security-sensitive files
/mpc-service/cmd/ @luxfi/security @luxfi/mpc-maintainers
/contracts/bridges/ @luxfi/security @luxfi/smart-contracts
/.env* @luxfi/security @luxfi/devops

deps: repoint BLS threshold scheme registration to luxfi/threshold/scheme/bls
  opnet-watcher/signer.go
Owners: @luxfi/bridge-maintainers

deps: repoint BLS threshold scheme registration to luxfi/threshold/scheme/bls
  opnet-watcher/signer.go
Owners: @luxfi/bridge-maintainers

deps: repoint BLS threshold scheme registration to luxfi/threshold/scheme/bls
  opnet-watcher/signer.go
Owners: @luxfi/bridge-maintainers

deps: repoint BLS threshold scheme registration to luxfi/threshold/scheme/bls
  opnet-watcher/signer.go
Owners: @luxfi/bridge-maintainers

deps: repoint BLS threshold scheme registration to luxfi/threshold/scheme/bls
  opnet-watcher/signer.go
Owners: @luxfi/bridge-maintainers

deps: repoint BLS threshold scheme registration to luxfi/threshold/scheme/bls
  opnet-watcher/signer.go
Owners: @luxfi/bridge-maintainers

deps: repoint BLS threshold scheme registration to luxfi/threshold/scheme/bls
  opnet-watcher/signer.go
Owners: @luxfi/bridge-maintainers

deps: repoint BLS threshold scheme registration to luxfi/threshold/scheme/bls
  opnet-watcher/signer.go
Owners: @luxfi/bridge-maintainers

deps: repoint BLS threshold scheme registration to luxfi/threshold/scheme/bls
  opnet-watcher/signer.go
Owners: @luxfi/bridge-maintainers

deps: repoint BLS threshold scheme registration to luxfi/threshold/scheme/bls
  opnet-watcher/signer.go
Owners: @luxfi/bridge-maintainers

deps: repoint BLS threshold scheme registration to luxfi/threshold/scheme/bls
  opnet-watcher/signer.go
Owners: @luxfi/bridge-maintainers

deps: repoint BLS threshold scheme registration to luxfi/threshold/scheme/bls
  opnet-watcher/signer.go
Owners: @luxfi/bridge-maintainers

deps: repoint BLS threshold scheme registration to luxfi/threshold/scheme/bls
  opnet-watcher/signer.go
Owners: @luxfi/bridge-maintainers

fix: direct-luxd /ext/bc/ -> /v1/bc/ (luxd is /v1-only)
  cmd/bridge/swap_store.go
  internal/bchain/client.go
  internal/bchain/client_test.go
  internal/mchain/client.go
  k8s/luxfi-explorer.yaml
  pkg/bridge/src/app/lib/bridge-rpc.ts
  pkg/bridge/src/types.ts
  pkg/threshold/src/client.test.ts
  pkg/threshold/src/client.ts
  pkg/threshold/src/index.ts
Owners: @luxfi/bridge-maintainers, @luxfi/devops

fix: direct-luxd /ext/bc/ -> /v1/bc/ (luxd is /v1-only)
  cmd/bridge/swap_store.go
  internal/bchain/client.go
  internal/bchain/client_test.go
  internal/mchain/client.go
  k8s/luxfi-explorer.yaml
  pkg/bridge/src/app/lib/bridge-rpc.ts
  pkg/bridge/src/types.ts
  pkg/threshold/src/client.test.ts
  pkg/threshold/src/client.ts
  pkg/threshold/src/index.ts
Owners: @luxfi/bridge-maintainers, @luxfi/devops

fix: direct-luxd /ext/bc/ -> /v1/bc/ (luxd is /v1-only)
  cmd/bridge/swap_store.go
  internal/bchain/client.go
  internal/bchain/client_test.go
  internal/mchain/client.go
  k8s/luxfi-explorer.yaml
  pkg/bridge/src/app/lib/bridge-rpc.ts
  pkg/bridge/src/types.ts
  pkg/threshold/src/client.test.ts
  pkg/threshold/src/client.ts
  pkg/threshold/src/index.ts
Owners: @luxfi/bridge-maintainers, @luxfi/devops

fix: direct-luxd /ext/bc/ -> /v1/bc/ (luxd is /v1-only)
  cmd/bridge/swap_store.go
  internal/bchain/client.go
  internal/bchain/client_test.go
  internal/mchain/client.go
  k8s/luxfi-explorer.yaml
  pkg/bridge/src/app/lib/bridge-rpc.ts
  pkg/bridge/src/types.ts
  pkg/threshold/src/client.test.ts
  pkg/threshold/src/client.ts
  pkg/threshold/src/index.ts
Owners: @luxfi/bridge-maintainers, @luxfi/devops

deps: require luxfi/threshold v1.12.1 (scheme/bls home)
  go.mod
Owners: @luxfi/bridge-maintainers

deps: require luxfi/threshold v1.12.1 (scheme/bls home)
  go.mod
Owners: @luxfi/bridge-maintainers

deps: require luxfi/threshold v1.12.1 (scheme/bls home)
  go.mod
Owners: @luxfi/bridge-maintainers

deps: require luxfi/threshold v1.12.1 (scheme/bls home)
  go.mod
Owners: @luxfi/bridge-maintainers

feat(bridge): prepare LUX<->ZOO corridor (networks + deploy)
  cmd/bridge/networks.mainnet.yaml
  cmd/bridge/networks.testnet.yaml
  contracts/scripts/deploy-zoo.ts
Owners: @luxfi/bridge-maintainers, @luxfi/smart-contracts, @luxfi/security

feat(bridge): prepare LUX<->ZOO corridor (networks + deploy)
  cmd/bridge/networks.mainnet.yaml
  cmd/bridge/networks.testnet.yaml
  contracts/scripts/deploy-zoo.ts
Owners: @luxfi/bridge-maintainers, @luxfi/smart-contracts, @luxfi/security

docs(bridge): LUX<->ZOO corridor runbook + gated mainnet go-plan
  docs/zoo-corridor.md
Owners: @luxfi/docs

docs(bridge): LUX<->ZOO corridor runbook + gated mainnet go-plan
  docs/zoo-corridor.md
Owners: @luxfi/docs

fix(bridge): harden LUX<->ZOO corridor per RED review (C1/H1/M2/M3/L3)
  cmd/bridge/networks.mainnet.yaml
  cmd/bridge/networks.testnet.yaml
  contracts/contracts/Bridge.sol
  contracts/scripts/deploy-zoo.ts
  docs/zoo-corridor.md
Owners: @luxfi/bridge-maintainers, @luxfi/smart-contracts, @luxfi/security, @luxfi/docs

fix(bridge): harden LUX<->ZOO corridor per RED review (C1/H1/M2/M3/L3)
  cmd/bridge/networks.mainnet.yaml
  cmd/bridge/networks.testnet.yaml
  contracts/contracts/Bridge.sol
  contracts/scripts/deploy-zoo.ts
  docs/zoo-corridor.md
Owners: @luxfi/bridge-maintainers, @luxfi/smart-contracts, @luxfi/security, @luxfi/docs

docs(bridge): root-cause L2 Zoo RPC 404 = zood-root-rewrite middleware
  docs/zoo-corridor.md
Owners: @luxfi/docs

docs(bridge): root-cause L2 Zoo RPC 404 = zood-root-rewrite middleware
  docs/zoo-corridor.md
Owners: @luxfi/docs

test(bridge): TDD proof for LUX<->ZOO corridor security invariants
  contracts/hardhat.config.ts
  contracts/pnpm-lock.yaml
  contracts/test/corridor.test.ts
Owners: @luxfi/smart-contracts, @luxfi/security

test(bridge): TDD proof for LUX<->ZOO corridor security invariants
  contracts/hardhat.config.ts
  contracts/pnpm-lock.yaml
  contracts/test/corridor.test.ts
Owners: @luxfi/smart-contracts, @luxfi/security

cmd/bridge: enable in-cluster/CI image build
  .github/workflows/cmd-bridge-image.yml
  cmd/bridge/Dockerfile
Owners: @luxfi/devops, @luxfi/bridge-maintainers

cmd/bridge: enable in-cluster/CI image build
  .github/workflows/cmd-bridge-image.yml
  cmd/bridge/Dockerfile
Owners: @luxfi/devops, @luxfi/bridge-maintainers

cmd/bridge: treat luxfi modules as GOPRIVATE (direct-from-github)
  cmd/bridge/Dockerfile
Owners: @luxfi/bridge-maintainers

cmd/bridge: treat luxfi modules as GOPRIVATE (direct-from-github)
  cmd/bridge/Dockerfile
Owners: @luxfi/bridge-maintainers

cmd/bridge: COPY pkg/ into go-build stage
  cmd/bridge/Dockerfile
Owners: @luxfi/bridge-maintainers

cmd/bridge: COPY pkg/ into go-build stage
  cmd/bridge/Dockerfile
Owners: @luxfi/bridge-maintainers

bridge: wire tenant brand to the SPA at runtime (white-label)
  app/bridge/src/bridge.config.ts
  cmd/bridge/frontend.go
  cmd/bridge/main.go
Owners: @luxfi/bridge-maintainers

bridge: wire tenant brand to the SPA at runtime (white-label)
  app/bridge/src/bridge.config.ts
  cmd/bridge/frontend.go
  cmd/bridge/main.go
Owners: @luxfi/bridge-maintainers

frontend: rewrite served index.html title/description/favicon per-tenant
  cmd/bridge/frontend.go
Owners: @luxfi/bridge-maintainers
