Repository luxfi/bridge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @luxfi/bridge-maintainers, @luxfi/mpc-maintainers, @luxfi/security, @luxfi/smart-contracts, @luxfi/frontend, @luxfi/qa, @luxfi/backend, @luxfi/devops, @luxfi/docs

chore: bump Go toolchain to 1.26.3 (#383)
  .github/workflows/full-integration-tests.yml
  .github/workflows/integration-tests.yml
  .github/workflows/mpc-e2e-tests.yml
  cmd/bridge/Dockerfile
  opnet-watcher/Dockerfile
Owners: @luxfi/devops, @luxfi/bridge-maintainers

chore: bump Go toolchain to 1.26.3 (#383)
  .github/workflows/full-integration-tests.yml
  .github/workflows/integration-tests.yml
  .github/workflows/mpc-e2e-tests.yml
  cmd/bridge/Dockerfile
  opnet-watcher/Dockerfile
Owners: @luxfi/devops, @luxfi/bridge-maintainers

chore: bump Go toolchain to 1.26.3 (#383)
  .github/workflows/full-integration-tests.yml
  .github/workflows/integration-tests.yml
  .github/workflows/mpc-e2e-tests.yml
  cmd/bridge/Dockerfile
  opnet-watcher/Dockerfile
Owners: @luxfi/devops, @luxfi/bridge-maintainers

chore: bump Go toolchain to 1.26.3 (#383)
  .github/workflows/full-integration-tests.yml
  .github/workflows/integration-tests.yml
  .github/workflows/mpc-e2e-tests.yml
  cmd/bridge/Dockerfile
  opnet-watcher/Dockerfile
Owners: @luxfi/devops, @luxfi/bridge-maintainers

chore: bump Go toolchain to 1.26.3 (#383)
  .github/workflows/full-integration-tests.yml
  .github/workflows/integration-tests.yml
  .github/workflows/mpc-e2e-tests.yml
  cmd/bridge/Dockerfile
  opnet-watcher/Dockerfile
Owners: @luxfi/devops, @luxfi/bridge-maintainers

chore: bump Go toolchain to 1.26.3 (#383)
  .github/workflows/full-integration-tests.yml
  .github/workflows/integration-tests.yml
  .github/workflows/mpc-e2e-tests.yml
  cmd/bridge/Dockerfile
  opnet-watcher/Dockerfile
Owners: @luxfi/devops, @luxfi/bridge-maintainers

chore: bump Go toolchain to 1.26.3 (#383)
  .github/workflows/full-integration-tests.yml
  .github/workflows/integration-tests.yml
  .github/workflows/mpc-e2e-tests.yml
  cmd/bridge/Dockerfile
  opnet-watcher/Dockerfile
Owners: @luxfi/devops, @luxfi/bridge-maintainers

chore: bump Go toolchain to 1.26.3 (#383)
  .github/workflows/full-integration-tests.yml
  .github/workflows/integration-tests.yml
  .github/workflows/mpc-e2e-tests.yml
  cmd/bridge/Dockerfile
  opnet-watcher/Dockerfile
Owners: @luxfi/devops, @luxfi/bridge-maintainers

chore: bump Go toolchain to 1.26.3 (#383)
  .github/workflows/full-integration-tests.yml
  .github/workflows/integration-tests.yml
  .github/workflows/mpc-e2e-tests.yml
  cmd/bridge/Dockerfile
  opnet-watcher/Dockerfile
Owners: @luxfi/devops, @luxfi/bridge-maintainers

chore: bump Go toolchain to 1.26.3 (#383)
  .github/workflows/full-integration-tests.yml
  .github/workflows/integration-tests.yml
  .github/workflows/mpc-e2e-tests.yml
  cmd/bridge/Dockerfile
  opnet-watcher/Dockerfile
Owners: @luxfi/devops, @luxfi/bridge-maintainers

deploy: wire LP-4200 PQCrypto + 0x04xx DEX/bridge precompile constants
  app/bridge/src/components/lux/teleport/constants/precompiles.ts
Owners: @luxfi/bridge-maintainers

deploy: wire LP-4200 PQCrypto + 0x04xx DEX/bridge precompile constants
  app/bridge/src/components/lux/teleport/constants/precompiles.ts
Owners: @luxfi/bridge-maintainers

deploy: wire LP-4200 PQCrypto + 0x04xx DEX/bridge precompile constants
  app/bridge/src/components/lux/teleport/constants/precompiles.ts
Owners: @luxfi/bridge-maintainers

deploy: wire LP-4200 PQCrypto + 0x04xx DEX/bridge precompile constants
  app/bridge/src/components/lux/teleport/constants/precompiles.ts
Owners: @luxfi/bridge-maintainers

deploy: wire LP-4200 PQCrypto + 0x04xx DEX/bridge precompile constants
  app/bridge/src/components/lux/teleport/constants/precompiles.ts
Owners: @luxfi/bridge-maintainers

deploy: wire LP-4200 PQCrypto + 0x04xx DEX/bridge precompile constants
  app/bridge/src/components/lux/teleport/constants/precompiles.ts
Owners: @luxfi/bridge-maintainers

deploy: wire LP-4200 PQCrypto + 0x04xx DEX/bridge precompile constants
  app/bridge/src/components/lux/teleport/constants/precompiles.ts
Owners: @luxfi/bridge-maintainers

deploy: wire LP-4200 PQCrypto + 0x04xx DEX/bridge precompile constants
  app/bridge/src/components/lux/teleport/constants/precompiles.ts
Owners: @luxfi/bridge-maintainers

deploy: wire LP-4200 PQCrypto + 0x04xx DEX/bridge precompile constants
  app/bridge/src/components/lux/teleport/constants/precompiles.ts
Owners: @luxfi/bridge-maintainers

deploy: wire LP-4200 PQCrypto + 0x04xx DEX/bridge precompile constants
  app/bridge/src/components/lux/teleport/constants/precompiles.ts
Owners: @luxfi/bridge-maintainers

deploy: wire LP-4200 PQCrypto + 0x04xx DEX/bridge precompile constants
  app/bridge/src/components/lux/teleport/constants/precompiles.ts
Owners: @luxfi/bridge-maintainers

app/lux-shim: brand-pinned overlay image for bridge.lux.network
  app/lux-shim/Dockerfile
  app/lux-shim/README.md
  app/lux-shim/package.json
  app/lux-shim/public/brand.json
  app/lux-shim/scripts/validate-brand.mjs
Owners: @luxfi/bridge-maintainers

app/lux-shim: brand-pinned overlay image for bridge.lux.network
  app/lux-shim/Dockerfile
  app/lux-shim/README.md
  app/lux-shim/package.json
  app/lux-shim/public/brand.json
  app/lux-shim/scripts/validate-brand.mjs
Owners: @luxfi/bridge-maintainers

app/lux-shim: brand-pinned overlay image for bridge.lux.network
  app/lux-shim/Dockerfile
  app/lux-shim/README.md
  app/lux-shim/package.json
  app/lux-shim/public/brand.json
  app/lux-shim/scripts/validate-brand.mjs
Owners: @luxfi/bridge-maintainers

app/lux-shim: brand-pinned overlay image for bridge.lux.network
  app/lux-shim/Dockerfile
  app/lux-shim/README.md
  app/lux-shim/package.json
  app/lux-shim/public/brand.json
  app/lux-shim/scripts/validate-brand.mjs
Owners: @luxfi/bridge-maintainers

app/lux-shim: brand-pinned overlay image for bridge.lux.network
  app/lux-shim/Dockerfile
  app/lux-shim/README.md
  app/lux-shim/package.json
  app/lux-shim/public/brand.json
  app/lux-shim/scripts/validate-brand.mjs
Owners: @luxfi/bridge-maintainers

app/lux-shim: brand-pinned overlay image for bridge.lux.network
  app/lux-shim/Dockerfile
  app/lux-shim/README.md
  app/lux-shim/package.json
  app/lux-shim/public/brand.json
  app/lux-shim/scripts/validate-brand.mjs
Owners: @luxfi/bridge-maintainers

app/lux-shim: brand-pinned overlay image for bridge.lux.network
  app/lux-shim/Dockerfile
  app/lux-shim/README.md
  app/lux-shim/package.json
  app/lux-shim/public/brand.json
  app/lux-shim/scripts/validate-brand.mjs
Owners: @luxfi/bridge-maintainers

app/lux-shim: brand-pinned overlay image for bridge.lux.network
  app/lux-shim/Dockerfile
  app/lux-shim/README.md
  app/lux-shim/package.json
  app/lux-shim/public/brand.json
  app/lux-shim/scripts/validate-brand.mjs
Owners: @luxfi/bridge-maintainers

app/lux-shim: brand-pinned overlay image for bridge.lux.network
  app/lux-shim/Dockerfile
  app/lux-shim/README.md
  app/lux-shim/package.json
  app/lux-shim/public/brand.json
  app/lux-shim/scripts/validate-brand.mjs
Owners: @luxfi/bridge-maintainers

app/lux-shim: brand-pinned overlay image for bridge.lux.network
  app/lux-shim/Dockerfile
  app/lux-shim/README.md
  app/lux-shim/package.json
  app/lux-shim/public/brand.json
  app/lux-shim/scripts/validate-brand.mjs
Owners: @luxfi/bridge-maintainers

app/lux-shim: brand-pinned overlay image for bridge.lux.network
  app/lux-shim/Dockerfile
  app/lux-shim/README.md
  app/lux-shim/package.json
  app/lux-shim/public/brand.json
  app/lux-shim/scripts/validate-brand.mjs
Owners: @luxfi/bridge-maintainers

feat(pkg/bridge): add @luxfi/bridge SDK + publish workflow
  .github/workflows/publish.yml
  README.md
  app/bridge/package.json
  app/bridge/src/index.ts
  app/bridge3/package.json
  app/explorer/package.json
  app/server/package.json
  docs/LLM.md
  package.json
  pkg/bridge/README.md
  pkg/bridge/package.json
  pkg/bridge/src/Bridge.tsx
  pkg/bridge/src/config.ts
  pkg/bridge/src/index.ts
  pkg/bridge/src/luxbridge-app.d.ts
  pkg/bridge/src/mount.ts
  pkg/bridge/src/types.ts
  pkg/bridge/tsconfig.json
  pkg/settings/package.json
  pkg/ui/package.json
  pnpm-lock.yaml
Owners: @luxfi/devops, @luxfi/docs, @luxfi/bridge-maintainers, @luxfi/backend

feat(pkg/bridge): add @luxfi/bridge SDK + publish workflow
  .github/workflows/publish.yml
  README.md
  app/bridge/package.json
  app/bridge/src/index.ts
  app/bridge3/package.json
  app/explorer/package.json
  app/server/package.json
  docs/LLM.md
  package.json
  pkg/bridge/README.md
  pkg/bridge/package.json
  pkg/bridge/src/Bridge.tsx
  pkg/bridge/src/config.ts
  pkg/bridge/src/index.ts
  pkg/bridge/src/luxbridge-app.d.ts
  pkg/bridge/src/mount.ts
  pkg/bridge/src/types.ts
  pkg/bridge/tsconfig.json
  pkg/settings/package.json
  pkg/ui/package.json
  pnpm-lock.yaml
Owners: @luxfi/devops, @luxfi/docs, @luxfi/bridge-maintainers, @luxfi/backend

feat(pkg/bridge): add @luxfi/bridge SDK + publish workflow
  .github/workflows/publish.yml
  README.md
  app/bridge/package.json
  app/bridge/src/index.ts
  app/bridge3/package.json
  app/explorer/package.json
  app/server/package.json
  docs/LLM.md
  package.json
  pkg/bridge/README.md
  pkg/bridge/package.json
  pkg/bridge/src/Bridge.tsx
  pkg/bridge/src/config.ts
  pkg/bridge/src/index.ts
  pkg/bridge/src/luxbridge-app.d.ts
  pkg/bridge/src/mount.ts
  pkg/bridge/src/types.ts
  pkg/bridge/tsconfig.json
  pkg/settings/package.json
  pkg/ui/package.json
  pnpm-lock.yaml
Owners: @luxfi/devops, @luxfi/docs, @luxfi/bridge-maintainers, @luxfi/backend

feat(pkg/bridge): add @luxfi/bridge SDK + publish workflow
  .github/workflows/publish.yml
  README.md
  app/bridge/package.json
  app/bridge/src/index.ts
  app/bridge3/package.json
  app/explorer/package.json
  app/server/package.json
  docs/LLM.md
  package.json
  pkg/bridge/README.md
  pkg/bridge/package.json
  pkg/bridge/src/Bridge.tsx
  pkg/bridge/src/config.ts
  pkg/bridge/src/index.ts
  pkg/bridge/src/luxbridge-app.d.ts
  pkg/bridge/src/mount.ts
  pkg/bridge/src/types.ts
  pkg/bridge/tsconfig.json
  pkg/settings/package.json
  pkg/ui/package.json
  pnpm-lock.yaml
Owners: @luxfi/devops, @luxfi/docs, @luxfi/bridge-maintainers, @luxfi/backend

feat(pkg/bridge): add @luxfi/bridge SDK + publish workflow
  .github/workflows/publish.yml
  README.md
  app/bridge/package.json
  app/bridge/src/index.ts
  app/bridge3/package.json
  app/explorer/package.json
  app/server/package.json
  docs/LLM.md
  package.json
  pkg/bridge/README.md
  pkg/bridge/package.json
  pkg/bridge/src/Bridge.tsx
  pkg/bridge/src/config.ts
  pkg/bridge/src/index.ts
  pkg/bridge/src/luxbridge-app.d.ts
  pkg/bridge/src/mount.ts
  pkg/bridge/src/types.ts
  pkg/bridge/tsconfig.json
  pkg/settings/package.json
  pkg/ui/package.json
  pnpm-lock.yaml
Owners: @luxfi/devops, @luxfi/docs, @luxfi/bridge-maintainers, @luxfi/backend

feat(pkg/bridge): add @luxfi/bridge SDK + publish workflow
  .github/workflows/publish.yml
  README.md
  app/bridge/package.json
  app/bridge/src/index.ts
  app/bridge3/package.json
  app/explorer/package.json
  app/server/package.json
  docs/LLM.md
  package.json
  pkg/bridge/README.md
  pkg/bridge/package.json
  pkg/bridge/src/Bridge.tsx
  pkg/bridge/src/config.ts
  pkg/bridge/src/index.ts
  pkg/bridge/src/luxbridge-app.d.ts
  pkg/bridge/src/mount.ts
  pkg/bridge/src/types.ts
  pkg/bridge/tsconfig.json
  pkg/settings/package.json
  pkg/ui/package.json
  pnpm-lock.yaml
Owners: @luxfi/devops, @luxfi/docs, @luxfi/bridge-maintainers, @luxfi/backend

feat(pkg/bridge): add @luxfi/bridge SDK + publish workflow
  .github/workflows/publish.yml
  README.md
  app/bridge/package.json
  app/bridge/src/index.ts
  app/bridge3/package.json
  app/explorer/package.json
  app/server/package.json
  docs/LLM.md
  package.json
  pkg/bridge/README.md
  pkg/bridge/package.json
  pkg/bridge/src/Bridge.tsx
  pkg/bridge/src/config.ts
  pkg/bridge/src/index.ts
  pkg/bridge/src/luxbridge-app.d.ts
  pkg/bridge/src/mount.ts
  pkg/bridge/src/types.ts
  pkg/bridge/tsconfig.json
  pkg/settings/package.json
  pkg/ui/package.json
  pnpm-lock.yaml
Owners: @luxfi/devops, @luxfi/docs, @luxfi/bridge-maintainers, @luxfi/backend

feat(pkg/bridge): add @luxfi/bridge SDK + publish workflow
  .github/workflows/publish.yml
  README.md
  app/bridge/package.json
  app/bridge/src/index.ts
  app/bridge3/package.json
  app/explorer/package.json
  app/server/package.json
  docs/LLM.md
  package.json
  pkg/bridge/README.md
  pkg/bridge/package.json
  pkg/bridge/src/Bridge.tsx
  pkg/bridge/src/config.ts
  pkg/bridge/src/index.ts
  pkg/bridge/src/luxbridge-app.d.ts
  pkg/bridge/src/mount.ts
  pkg/bridge/src/types.ts
  pkg/bridge/tsconfig.json
  pkg/settings/package.json
  pkg/ui/package.json
  pnpm-lock.yaml
Owners: @luxfi/devops, @luxfi/docs, @luxfi/bridge-maintainers, @luxfi/backend

.github/CODEOWNERS:

# CODEOWNERS for Lux Bridge

# Default owners for everything in the repo
* @luxfi/bridge-maintainers

# MPC service owners
/mpc-service/ @luxfi/mpc-maintainers @luxfi/security

# Smart contracts owners  
/contracts/ @luxfi/smart-contracts @luxfi/security

# Frontend and UI owners
/app/client/ @luxfi/frontend
/app/ui/ @luxfi/frontend
/ui-automation/ @luxfi/qa

# Backend server owners
/app/server/ @luxfi/backend

# DevOps and CI/CD
/.github/ @luxfi/devops
/docker/ @luxfi/devops
/k8s/ @luxfi/devops

# Documentation
/docs/ @luxfi/docs
/*.md @luxfi/docs

# Security-sensitive files
/mpc-service/cmd/ @luxfi/security @luxfi/mpc-maintainers
/contracts/bridges/ @luxfi/security @luxfi/smart-contracts
/.env* @luxfi/security @luxfi/devops
