Repository luxfi/bridge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @luxfi/bridge-maintainers, @luxfi/mpc-maintainers, @luxfi/security, @luxfi/smart-contracts, @luxfi/frontend, @luxfi/qa, @luxfi/backend, @luxfi/devops, @luxfi/docs

.github/CODEOWNERS:

# CODEOWNERS for Lux Bridge

# Default owners for everything in the repo
* @luxfi/bridge-maintainers

# MPC service owners
/mpc-service/ @luxfi/mpc-maintainers @luxfi/security

# Smart contracts owners  
/contracts/ @luxfi/smart-contracts @luxfi/security

# Frontend and UI owners
/app/client/ @luxfi/frontend
/app/ui/ @luxfi/frontend
/ui-automation/ @luxfi/qa

# Backend server owners
/app/server/ @luxfi/backend

# DevOps and CI/CD
/.github/ @luxfi/devops
/docker/ @luxfi/devops
/k8s/ @luxfi/devops

# Documentation
/docs/ @luxfi/docs
/*.md @luxfi/docs

# Security-sensitive files
/mpc-service/cmd/ @luxfi/security @luxfi/mpc-maintainers
/contracts/bridges/ @luxfi/security @luxfi/smart-contracts
/.env* @luxfi/security @luxfi/devops

chore: untrack CLAUDE.md, keep as local symlink to LLM.md
  CLAUDE.md
Owners: @luxfi/docs

ci: migrate deploy to HANZO_API_KEY + KMS
  .github/workflows/build-and-push.yml
Owners: @luxfi/devops

ci: migrate deploy to HANZO_API_KEY + KMS
  .github/workflows/build-and-push.yml
Owners: @luxfi/devops

ci: migrate deploy to HANZO_API_KEY + KMS
  .github/workflows/build-and-push.yml
Owners: @luxfi/devops

ci: migrate deploy to HANZO_API_KEY + KMS
  .github/workflows/build-and-push.yml
Owners: @luxfi/devops

ci: migrate deploy to HANZO_API_KEY + KMS
  .github/workflows/build-and-push.yml
Owners: @luxfi/devops

fix(ci): use v3 KMS API with workspaceId and Universal Auth
  .github/workflows/build-and-push.yml
Owners: @luxfi/devops

fix(ci): use v3 KMS API with workspaceId and Universal Auth
  .github/workflows/build-and-push.yml
Owners: @luxfi/devops

fix(ci): use v3 KMS API with workspaceId and Universal Auth
  .github/workflows/build-and-push.yml
Owners: @luxfi/devops

fix(ci): use v3 KMS API with workspaceId and Universal Auth
  .github/workflows/build-and-push.yml
Owners: @luxfi/devops

fix(ci): use v3 KMS API with workspaceId and Universal Auth
  .github/workflows/build-and-push.yml
Owners: @luxfi/devops

ci: add KMS Universal Auth to deploy workflow
  .github/workflows/build-and-push.yml
Owners: @luxfi/devops

ci: add KMS Universal Auth to deploy workflow
  .github/workflows/build-and-push.yml
Owners: @luxfi/devops

ci: add KMS Universal Auth to deploy workflow
  .github/workflows/build-and-push.yml
Owners: @luxfi/devops

ci: add KMS Universal Auth to deploy workflow
  .github/workflows/build-and-push.yml
Owners: @luxfi/devops

ci: add KMS Universal Auth to deploy workflow
  .github/workflows/build-and-push.yml
Owners: @luxfi/devops

fix: update bridge server for MPC integration and k8s deployment
  app/server/.env.example
  app/server/docker/Dockerfile
  app/server/package.json
  app/server/src/db.ts
  app/server/src/domain/mpc-wallet.ts
  app/server/src/domain/networks.ts
  app/server/src/domain/quote.ts
  app/server/src/domain/settings/index.ts
  app/server/src/domain/swaps.ts
  app/server/src/routes/networks.ts
  app/server/src/routes/settings.ts
  app/server/src/server.ts
  k8s/mpc-deployment.yaml
Owners: @luxfi/backend, @luxfi/devops

fix: update bridge server for MPC integration and k8s deployment
  app/server/.env.example
  app/server/docker/Dockerfile
  app/server/package.json
  app/server/src/db.ts
  app/server/src/domain/mpc-wallet.ts
  app/server/src/domain/networks.ts
  app/server/src/domain/quote.ts
  app/server/src/domain/settings/index.ts
  app/server/src/domain/swaps.ts
  app/server/src/routes/networks.ts
  app/server/src/routes/settings.ts
  app/server/src/server.ts
  k8s/mpc-deployment.yaml
Owners: @luxfi/backend, @luxfi/devops

fix: update bridge server for MPC integration and k8s deployment
  app/server/.env.example
  app/server/docker/Dockerfile
  app/server/package.json
  app/server/src/db.ts
  app/server/src/domain/mpc-wallet.ts
  app/server/src/domain/networks.ts
  app/server/src/domain/quote.ts
  app/server/src/domain/settings/index.ts
  app/server/src/domain/swaps.ts
  app/server/src/routes/networks.ts
  app/server/src/routes/settings.ts
  app/server/src/server.ts
  k8s/mpc-deployment.yaml
Owners: @luxfi/backend, @luxfi/devops

fix: update bridge server for MPC integration and k8s deployment
  app/server/.env.example
  app/server/docker/Dockerfile
  app/server/package.json
  app/server/src/db.ts
  app/server/src/domain/mpc-wallet.ts
  app/server/src/domain/networks.ts
  app/server/src/domain/quote.ts
  app/server/src/domain/settings/index.ts
  app/server/src/domain/swaps.ts
  app/server/src/routes/networks.ts
  app/server/src/routes/settings.ts
  app/server/src/server.ts
  k8s/mpc-deployment.yaml
Owners: @luxfi/backend, @luxfi/devops

fix: update bridge server for MPC integration and k8s deployment
  app/server/.env.example
  app/server/docker/Dockerfile
  app/server/package.json
  app/server/src/db.ts
  app/server/src/domain/mpc-wallet.ts
  app/server/src/domain/networks.ts
  app/server/src/domain/quote.ts
  app/server/src/domain/settings/index.ts
  app/server/src/domain/swaps.ts
  app/server/src/routes/networks.ts
  app/server/src/routes/settings.ts
  app/server/src/server.ts
  k8s/mpc-deployment.yaml
Owners: @luxfi/backend, @luxfi/devops

Add devnet settings and teleport processor
  app/server/src/domain/settings/devnet/exchanges.ts
  app/server/src/domain/settings/devnet/networks.ts
  app/server/src/domain/teleport-processor.ts
Owners: @luxfi/backend

Add devnet settings and teleport processor
  app/server/src/domain/settings/devnet/exchanges.ts
  app/server/src/domain/settings/devnet/networks.ts
  app/server/src/domain/teleport-processor.ts
Owners: @luxfi/backend

Add devnet settings and teleport processor
  app/server/src/domain/settings/devnet/exchanges.ts
  app/server/src/domain/settings/devnet/networks.ts
  app/server/src/domain/teleport-processor.ts
Owners: @luxfi/backend

Add devnet settings and teleport processor
  app/server/src/domain/settings/devnet/exchanges.ts
  app/server/src/domain/settings/devnet/networks.ts
  app/server/src/domain/teleport-processor.ts
Owners: @luxfi/backend

Add devnet settings and teleport processor
  app/server/src/domain/settings/devnet/exchanges.ts
  app/server/src/domain/settings/devnet/networks.ts
  app/server/src/domain/teleport-processor.ts
Owners: @luxfi/backend

ci: rename runners to {org}-{role}-{os}-{arch} convention
  .github/workflows/build-and-push.yml
Owners: @luxfi/devops

ci: rename runners to {org}-{role}-{os}-{arch} convention
  .github/workflows/build-and-push.yml
Owners: @luxfi/devops

ci: rename runners to {org}-{role}-{os}-{arch} convention
  .github/workflows/build-and-push.yml
Owners: @luxfi/devops

ci: rename runners to {org}-{role}-{os}-{arch} convention
  .github/workflows/build-and-push.yml
Owners: @luxfi/devops

ci: rename runners to {org}-{role}-{os}-{arch} convention
  .github/workflows/build-and-push.yml
Owners: @luxfi/devops

feat: add Polkadot/Substrate support to bridge
  app/server/src/domain/mpc-wallet.ts
  app/server/src/domain/settings/mainnet/networks.ts
  app/server/src/domain/settings/swap-pairs.ts
  app/server/src/domain/substrate-address.ts
  app/server/src/domain/substrate-client.ts
  app/server/src/domain/substrate-deposit.ts
  app/server/src/domain/substrate-signer.ts
  app/server/tests/substrate-address.test.ts
  app/server/tests/substrate-client.test.ts
  pkg/core/types/network-type.ts
Owners: @luxfi/backend, @luxfi/bridge-maintainers

feat: add Polkadot/Substrate support to bridge
  app/server/src/domain/mpc-wallet.ts
  app/server/src/domain/settings/mainnet/networks.ts
  app/server/src/domain/settings/swap-pairs.ts
  app/server/src/domain/substrate-address.ts
  app/server/src/domain/substrate-client.ts
  app/server/src/domain/substrate-deposit.ts
  app/server/src/domain/substrate-signer.ts
  app/server/tests/substrate-address.test.ts
  app/server/tests/substrate-client.test.ts
  pkg/core/types/network-type.ts
Owners: @luxfi/backend, @luxfi/bridge-maintainers

feat: add Polkadot/Substrate support to bridge
  app/server/src/domain/mpc-wallet.ts
  app/server/src/domain/settings/mainnet/networks.ts
  app/server/src/domain/settings/swap-pairs.ts
  app/server/src/domain/substrate-address.ts
  app/server/src/domain/substrate-client.ts
  app/server/src/domain/substrate-deposit.ts
  app/server/src/domain/substrate-signer.ts
  app/server/tests/substrate-address.test.ts
  app/server/tests/substrate-client.test.ts
  pkg/core/types/network-type.ts
Owners: @luxfi/backend, @luxfi/bridge-maintainers

feat: add Polkadot/Substrate support to bridge
  app/server/src/domain/mpc-wallet.ts
  app/server/src/domain/settings/mainnet/networks.ts
  app/server/src/domain/settings/swap-pairs.ts
  app/server/src/domain/substrate-address.ts
  app/server/src/domain/substrate-client.ts
  app/server/src/domain/substrate-deposit.ts
  app/server/src/domain/substrate-signer.ts
  app/server/tests/substrate-address.test.ts
  app/server/tests/substrate-client.test.ts
  pkg/core/types/network-type.ts
Owners: @luxfi/backend, @luxfi/bridge-maintainers

feat: add Polkadot/Substrate support to bridge
  app/server/src/domain/mpc-wallet.ts
  app/server/src/domain/settings/mainnet/networks.ts
  app/server/src/domain/settings/swap-pairs.ts
  app/server/src/domain/substrate-address.ts
  app/server/src/domain/substrate-client.ts
  app/server/src/domain/substrate-deposit.ts
  app/server/src/domain/substrate-signer.ts
  app/server/tests/substrate-address.test.ts
  app/server/tests/substrate-client.test.ts
  pkg/core/types/network-type.ts
Owners: @luxfi/backend, @luxfi/bridge-maintainers

security: remove plaintext MPC badger password from config.yaml
  config.yaml
Owners: @luxfi/bridge-maintainers

security: remove plaintext MPC badger password from config.yaml
  config.yaml
Owners: @luxfi/bridge-maintainers

security: remove plaintext MPC badger password from config.yaml
  config.yaml
Owners: @luxfi/bridge-maintainers

security: remove plaintext MPC badger password from config.yaml
  config.yaml
Owners: @luxfi/bridge-maintainers
