Repository luxfi/bridge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @luxfi/bridge-maintainers, @luxfi/mpc-maintainers, @luxfi/security, @luxfi/smart-contracts, @luxfi/frontend, @luxfi/qa, @luxfi/backend, @luxfi/devops, @luxfi/docs

.github/CODEOWNERS:

# CODEOWNERS for Lux Bridge

# Default owners for everything in the repo
* @luxfi/bridge-maintainers

# MPC service owners
/mpc-service/ @luxfi/mpc-maintainers @luxfi/security

# Smart contracts owners  
/contracts/ @luxfi/smart-contracts @luxfi/security

# Frontend and UI owners
/app/client/ @luxfi/frontend
/app/ui/ @luxfi/frontend
/ui-automation/ @luxfi/qa

# Backend server owners
/app/server/ @luxfi/backend

# DevOps and CI/CD
/.github/ @luxfi/devops
/docker/ @luxfi/devops
/k8s/ @luxfi/devops

# Documentation
/docs/ @luxfi/docs
/*.md @luxfi/docs

# Security-sensitive files
/mpc-service/cmd/ @luxfi/security @luxfi/mpc-maintainers
/contracts/bridges/ @luxfi/security @luxfi/smart-contracts
/.env* @luxfi/security @luxfi/devops

feat(bridge): unified Go binary — embedded SPA + native networks/tokens/limits, proxied swap/quote/rate
  cmd/bridge/Dockerfile
  cmd/bridge/README.md
  cmd/bridge/api.go
  cmd/bridge/config.go
  cmd/bridge/frontend.go
  cmd/bridge/main.go
  cmd/bridge/networks.example.yaml
  cmd/bridge/static/index.html
  go.mod
  go.sum
Owners: @luxfi/bridge-maintainers

feat(bridge): unified Go binary — embedded SPA + native networks/tokens/limits, proxied swap/quote/rate
  cmd/bridge/Dockerfile
  cmd/bridge/README.md
  cmd/bridge/api.go
  cmd/bridge/config.go
  cmd/bridge/frontend.go
  cmd/bridge/main.go
  cmd/bridge/networks.example.yaml
  cmd/bridge/static/index.html
  go.mod
  go.sum
Owners: @luxfi/bridge-maintainers

feat(bridge): unified Go binary — embedded SPA + native networks/tokens/limits, proxied swap/quote/rate
  cmd/bridge/Dockerfile
  cmd/bridge/README.md
  cmd/bridge/api.go
  cmd/bridge/config.go
  cmd/bridge/frontend.go
  cmd/bridge/main.go
  cmd/bridge/networks.example.yaml
  cmd/bridge/static/index.html
  go.mod
  go.sum
Owners: @luxfi/bridge-maintainers

feat(bridge): unified Go binary — embedded SPA + native networks/tokens/limits, proxied swap/quote/rate
  cmd/bridge/Dockerfile
  cmd/bridge/README.md
  cmd/bridge/api.go
  cmd/bridge/config.go
  cmd/bridge/frontend.go
  cmd/bridge/main.go
  cmd/bridge/networks.example.yaml
  cmd/bridge/static/index.html
  go.mod
  go.sum
Owners: @luxfi/bridge-maintainers

feat(bridge): unified Go binary — embedded SPA + native networks/tokens/limits, proxied swap/quote/rate
  cmd/bridge/Dockerfile
  cmd/bridge/README.md
  cmd/bridge/api.go
  cmd/bridge/config.go
  cmd/bridge/frontend.go
  cmd/bridge/main.go
  cmd/bridge/networks.example.yaml
  cmd/bridge/static/index.html
  go.mod
  go.sum
Owners: @luxfi/bridge-maintainers

bridge: enforce LUX_STRICT_PQ_BRIDGE profile
  cmd/bridge/api.go
  cmd/bridge/main.go
  opnet-watcher/go.mod
  opnet-watcher/main.go
  opnet-watcher/signer.go
  opnet-watcher/signer_profile_test.go
  profile.go
  profile_test.go
Owners: @luxfi/bridge-maintainers

bridge: enforce LUX_STRICT_PQ_BRIDGE profile
  cmd/bridge/api.go
  cmd/bridge/main.go
  opnet-watcher/go.mod
  opnet-watcher/main.go
  opnet-watcher/signer.go
  opnet-watcher/signer_profile_test.go
  profile.go
  profile_test.go
Owners: @luxfi/bridge-maintainers

bridge: enforce LUX_STRICT_PQ_BRIDGE profile
  cmd/bridge/api.go
  cmd/bridge/main.go
  opnet-watcher/go.mod
  opnet-watcher/main.go
  opnet-watcher/signer.go
  opnet-watcher/signer_profile_test.go
  profile.go
  profile_test.go
Owners: @luxfi/bridge-maintainers

bridge: enforce LUX_STRICT_PQ_BRIDGE profile
  cmd/bridge/api.go
  cmd/bridge/main.go
  opnet-watcher/go.mod
  opnet-watcher/main.go
  opnet-watcher/signer.go
  opnet-watcher/signer_profile_test.go
  profile.go
  profile_test.go
Owners: @luxfi/bridge-maintainers

bridge: enforce LUX_STRICT_PQ_BRIDGE profile
  cmd/bridge/api.go
  cmd/bridge/main.go
  opnet-watcher/go.mod
  opnet-watcher/main.go
  opnet-watcher/signer.go
  opnet-watcher/signer_profile_test.go
  profile.go
  profile_test.go
Owners: @luxfi/bridge-maintainers

bridge: enforce LUX_STRICT_PQ_BRIDGE profile
  cmd/bridge/api.go
  cmd/bridge/main.go
  opnet-watcher/go.mod
  opnet-watcher/main.go
  opnet-watcher/signer.go
  opnet-watcher/signer_profile_test.go
  profile.go
  profile_test.go
Owners: @luxfi/bridge-maintainers

bridge: enforce LUX_STRICT_PQ_BRIDGE profile
  cmd/bridge/api.go
  cmd/bridge/main.go
  opnet-watcher/go.mod
  opnet-watcher/main.go
  opnet-watcher/signer.go
  opnet-watcher/signer_profile_test.go
  profile.go
  profile_test.go
Owners: @luxfi/bridge-maintainers

bridge: enforce LUX_STRICT_PQ_BRIDGE profile
  cmd/bridge/api.go
  cmd/bridge/main.go
  opnet-watcher/go.mod
  opnet-watcher/main.go
  opnet-watcher/signer.go
  opnet-watcher/signer_profile_test.go
  profile.go
  profile_test.go
Owners: @luxfi/bridge-maintainers

bridge: enforce LUX_STRICT_PQ_BRIDGE profile
  cmd/bridge/api.go
  cmd/bridge/main.go
  opnet-watcher/go.mod
  opnet-watcher/main.go
  opnet-watcher/signer.go
  opnet-watcher/signer_profile_test.go
  profile.go
  profile_test.go
Owners: @luxfi/bridge-maintainers

bridge: enforce LUX_STRICT_PQ_BRIDGE profile
  cmd/bridge/api.go
  cmd/bridge/main.go
  opnet-watcher/go.mod
  opnet-watcher/main.go
  opnet-watcher/signer.go
  opnet-watcher/signer_profile_test.go
  profile.go
  profile_test.go
Owners: @luxfi/bridge-maintainers

bridge: enforce LUX_STRICT_PQ_BRIDGE profile
  cmd/bridge/api.go
  cmd/bridge/main.go
  opnet-watcher/go.mod
  opnet-watcher/main.go
  opnet-watcher/signer.go
  opnet-watcher/signer_profile_test.go
  profile.go
  profile_test.go
Owners: @luxfi/bridge-maintainers

go.mod: bump go directive to 1.26.3 (security advisory)
  go.mod
  opnet-watcher/go.mod
Owners: @luxfi/bridge-maintainers

go.mod: bump go directive to 1.26.3 (security advisory)
  go.mod
  opnet-watcher/go.mod
Owners: @luxfi/bridge-maintainers

go.mod: bump go directive to 1.26.3 (security advisory)
  go.mod
  opnet-watcher/go.mod
Owners: @luxfi/bridge-maintainers

go.mod: bump go directive to 1.26.3 (security advisory)
  go.mod
  opnet-watcher/go.mod
Owners: @luxfi/bridge-maintainers

go.mod: bump go directive to 1.26.3 (security advisory)
  go.mod
  opnet-watcher/go.mod
Owners: @luxfi/bridge-maintainers

go.mod: bump go directive to 1.26.3 (security advisory)
  go.mod
  opnet-watcher/go.mod
Owners: @luxfi/bridge-maintainers

go.mod: bump go directive to 1.26.3 (security advisory)
  go.mod
  opnet-watcher/go.mod
Owners: @luxfi/bridge-maintainers

go.mod: bump go directive to 1.26.3 (security advisory)
  go.mod
  opnet-watcher/go.mod
Owners: @luxfi/bridge-maintainers

go.mod: bump go directive to 1.26.3 (security advisory)
  go.mod
  opnet-watcher/go.mod
Owners: @luxfi/bridge-maintainers

go.mod: bump go directive to 1.26.3 (security advisory)
  go.mod
  opnet-watcher/go.mod
Owners: @luxfi/bridge-maintainers

go.mod: bump go directive to 1.26.3 (security advisory)
  go.mod
  opnet-watcher/go.mod
Owners: @luxfi/bridge-maintainers

docs: add LICENSING.md pointing at canonical Lux IP strategy
  LICENSING.md
Owners: @luxfi/docs

docs: add LICENSING.md pointing at canonical Lux IP strategy
  LICENSING.md
Owners: @luxfi/docs

docs: add LICENSING.md pointing at canonical Lux IP strategy
  LICENSING.md
Owners: @luxfi/docs

docs: add LICENSING.md pointing at canonical Lux IP strategy
  LICENSING.md
Owners: @luxfi/docs

docs: add LICENSING.md pointing at canonical Lux IP strategy
  LICENSING.md
Owners: @luxfi/docs

docs: add LICENSING.md pointing at canonical Lux IP strategy
  LICENSING.md
Owners: @luxfi/docs

docs: add LICENSING.md pointing at canonical Lux IP strategy
  LICENSING.md
Owners: @luxfi/docs

docs: add LICENSING.md pointing at canonical Lux IP strategy
  LICENSING.md
Owners: @luxfi/docs

docs: add LICENSING.md pointing at canonical Lux IP strategy
  LICENSING.md
Owners: @luxfi/docs

docs: add LICENSING.md pointing at canonical Lux IP strategy
  LICENSING.md
Owners: @luxfi/docs

docs: add LICENSING.md pointing at canonical Lux IP strategy
  LICENSING.md
Owners: @luxfi/docs

chore: bump Go toolchain to 1.26.3
  .github/workflows/full-integration-tests.yml
  .github/workflows/integration-tests.yml
  .github/workflows/mpc-e2e-tests.yml
  cmd/bridge/Dockerfile
  opnet-watcher/Dockerfile
Owners: @luxfi/devops, @luxfi/bridge-maintainers

chore: bump Go toolchain to 1.26.3 (#383)
  .github/workflows/full-integration-tests.yml
  .github/workflows/integration-tests.yml
  .github/workflows/mpc-e2e-tests.yml
  cmd/bridge/Dockerfile
  opnet-watcher/Dockerfile
Owners: @luxfi/devops, @luxfi/bridge-maintainers
