Repository luxfi/bridge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @luxfi/bridge-maintainers, @luxfi/mpc-maintainers, @luxfi/security, @luxfi/smart-contracts, @luxfi/frontend, @luxfi/qa, @luxfi/backend, @luxfi/devops, @luxfi/docs

.github/CODEOWNERS:

# CODEOWNERS for Lux Bridge

# Default owners for everything in the repo
* @luxfi/bridge-maintainers

# MPC service owners
/mpc-service/ @luxfi/mpc-maintainers @luxfi/security

# Smart contracts owners  
/contracts/ @luxfi/smart-contracts @luxfi/security

# Frontend and UI owners
/app/client/ @luxfi/frontend
/app/ui/ @luxfi/frontend
/ui-automation/ @luxfi/qa

# Backend server owners
/app/server/ @luxfi/backend

# DevOps and CI/CD
/.github/ @luxfi/devops
/docker/ @luxfi/devops
/k8s/ @luxfi/devops

# Documentation
/docs/ @luxfi/docs
/*.md @luxfi/docs

# Security-sensitive files
/mpc-service/cmd/ @luxfi/security @luxfi/mpc-maintainers
/contracts/bridges/ @luxfi/security @luxfi/smart-contracts
/.env* @luxfi/security @luxfi/devops

Update project
  .github/workflows/build-and-push.yml
  Makefile
  app/mpc-service/Dockerfile
  app/mpc-service/cmd/server/main.go
  app/mpc-service/go.mod
  app/mpc-service/internal/server/kms.go
  app/mpc-service/internal/server/server.go
  compose.local.yml
  compose.yml
  config/casdoor/app.conf
  config/peers.json
  docs/CI-CD-DOCKER-IMAGES.md
  docs/LLM.md
  docs/LUX-ID-INTEGRATION.md
  index.js
  pkg/core/package.json
  pkg/core/tsconfig.cjs.json
  pkg/core/tsconfig.json
  pkg/core/types/asset.ts
  pkg/core/types/contract.ts
  pkg/core/types/deposit-address.ts
  pkg/core/types/exchange.ts
  pkg/core/types/index.ts
  pkg/core/types/network-type.ts
  pkg/core/types/network.ts
  pkg/core/types/swap-status.ts
  pkg/core/types/transaction-type.ts
  pkg/core/types/utila.ts
  pnpm-lock.yaml
Owners: @luxfi/devops, @luxfi/bridge-maintainers, @luxfi/docs

Update project
  .github/workflows/build-and-push.yml
  Makefile
  app/mpc-service/Dockerfile
  app/mpc-service/cmd/server/main.go
  app/mpc-service/go.mod
  app/mpc-service/internal/server/kms.go
  app/mpc-service/internal/server/server.go
  compose.local.yml
  compose.yml
  config/casdoor/app.conf
  config/peers.json
  docs/CI-CD-DOCKER-IMAGES.md
  docs/LLM.md
  docs/LUX-ID-INTEGRATION.md
  index.js
  pkg/core/package.json
  pkg/core/tsconfig.cjs.json
  pkg/core/tsconfig.json
  pkg/core/types/asset.ts
  pkg/core/types/contract.ts
  pkg/core/types/deposit-address.ts
  pkg/core/types/exchange.ts
  pkg/core/types/index.ts
  pkg/core/types/network-type.ts
  pkg/core/types/network.ts
  pkg/core/types/swap-status.ts
  pkg/core/types/transaction-type.ts
  pkg/core/types/utila.ts
  pnpm-lock.yaml
Owners: @luxfi/devops, @luxfi/bridge-maintainers, @luxfi/docs

Update project
  .github/workflows/build-and-push.yml
  Makefile
  app/mpc-service/Dockerfile
  app/mpc-service/cmd/server/main.go
  app/mpc-service/go.mod
  app/mpc-service/internal/server/kms.go
  app/mpc-service/internal/server/server.go
  compose.local.yml
  compose.yml
  config/casdoor/app.conf
  config/peers.json
  docs/CI-CD-DOCKER-IMAGES.md
  docs/LLM.md
  docs/LUX-ID-INTEGRATION.md
  index.js
  pkg/core/package.json
  pkg/core/tsconfig.cjs.json
  pkg/core/tsconfig.json
  pkg/core/types/asset.ts
  pkg/core/types/contract.ts
  pkg/core/types/deposit-address.ts
  pkg/core/types/exchange.ts
  pkg/core/types/index.ts
  pkg/core/types/network-type.ts
  pkg/core/types/network.ts
  pkg/core/types/swap-status.ts
  pkg/core/types/transaction-type.ts
  pkg/core/types/utila.ts
  pnpm-lock.yaml
Owners: @luxfi/devops, @luxfi/bridge-maintainers, @luxfi/docs

refactor: migrate MPC from Docker service to native Go integration
  .github/workflows/build-and-push.yml
  .github/workflows/integration-tests.yml
  .github/workflows/mpc-e2e-tests.yml
  .gitignore
  Makefile
  README.md
  app/mpc-service/Dockerfile
  app/mpc-service/Dockerfile.local
  app/mpc-service/cmd/server/main.go
  app/mpc-service/go.mod
  app/mpc-service/go.mod.bak
  app/mpc-service/go.sum
  app/mpc-service/internal/server/identity.go
  app/mpc-service/internal/server/keyinfo_store.go
  app/mpc-service/internal/server/kms.go
  app/mpc-service/internal/server/pubsub.go
  app/mpc-service/internal/server/registry.go
  app/mpc-service/internal/server/server.go
  app/mpc-service/main.go
  app/server/prisma/migrations/migration_lock.toml
  compose.local.yml
  compose.yml
  config/mpc/config.yaml
  config/mpc/peers.json
  docs/MPC-GO-INTEGRATION.md
  mpc-native-integration.patch
  scripts/install-mpc-tools.sh
  scripts/start-mpc-network.sh
  scripts/stop-mpc-network.sh
Owners: @luxfi/devops, @luxfi/bridge-maintainers, @luxfi/docs, @luxfi/backend

refactor: migrate MPC from Docker service to native Go integration
  .github/workflows/build-and-push.yml
  .github/workflows/integration-tests.yml
  .github/workflows/mpc-e2e-tests.yml
  .gitignore
  Makefile
  README.md
  app/mpc-service/Dockerfile
  app/mpc-service/Dockerfile.local
  app/mpc-service/cmd/server/main.go
  app/mpc-service/go.mod
  app/mpc-service/go.mod.bak
  app/mpc-service/go.sum
  app/mpc-service/internal/server/identity.go
  app/mpc-service/internal/server/keyinfo_store.go
  app/mpc-service/internal/server/kms.go
  app/mpc-service/internal/server/pubsub.go
  app/mpc-service/internal/server/registry.go
  app/mpc-service/internal/server/server.go
  app/mpc-service/main.go
  app/server/prisma/migrations/migration_lock.toml
  compose.local.yml
  compose.yml
  config/mpc/config.yaml
  config/mpc/peers.json
  docs/MPC-GO-INTEGRATION.md
  scripts/install-mpc-tools.sh
  scripts/start-mpc-network.sh
  scripts/stop-mpc-network.sh
Owners: @luxfi/devops, @luxfi/bridge-maintainers, @luxfi/docs, @luxfi/backend

refactor: migrate MPC from Docker service to native Go integration
  .github/workflows/build-and-push.yml
  .github/workflows/integration-tests.yml
  .github/workflows/mpc-e2e-tests.yml
  .gitignore
  Makefile
  README.md
  app/mpc-service/Dockerfile
  app/mpc-service/Dockerfile.local
  app/mpc-service/cmd/server/main.go
  app/mpc-service/go.mod
  app/mpc-service/go.mod.bak
  app/mpc-service/go.sum
  app/mpc-service/internal/server/identity.go
  app/mpc-service/internal/server/keyinfo_store.go
  app/mpc-service/internal/server/kms.go
  app/mpc-service/internal/server/pubsub.go
  app/mpc-service/internal/server/registry.go
  app/mpc-service/internal/server/server.go
  app/mpc-service/main.go
  app/server/prisma/migrations/migration_lock.toml
  compose.local.yml
  compose.yml
  config/mpc/config.yaml
  config/mpc/peers.json
  docs/MPC-GO-INTEGRATION.md
  mpc-native-integration.patch
  scripts/install-mpc-tools.sh
  scripts/start-mpc-network.sh
  scripts/stop-mpc-network.sh
Owners: @luxfi/devops, @luxfi/bridge-maintainers, @luxfi/docs, @luxfi/backend

fix: resolve all CI/CD issues for green builds
  .github/workflows/integration-tests.yml
  .github/workflows/mpc-e2e-tests.yml
  DEPLOYMENT_STATUS.md
  check-ci-status.sh
  mpc-native-integration.patch
  package.json
  push-and-release.sh
  test/e2e-smoke-test.sh
Owners: @luxfi/devops, @luxfi/docs, @luxfi/bridge-maintainers

fix: resolve all CI/CD issues for green builds
  .github/workflows/integration-tests.yml
  .github/workflows/mpc-e2e-tests.yml
  DEPLOYMENT_STATUS.md
  check-ci-status.sh
  mpc-native-integration.patch
  package.json
  push-and-release.sh
  test/e2e-smoke-test.sh
Owners: @luxfi/devops, @luxfi/docs, @luxfi/bridge-maintainers

fix: resolve all CI/CD issues for green builds
  .github/workflows/integration-tests.yml
  .github/workflows/mpc-e2e-tests.yml
  DEPLOYMENT_STATUS.md
  check-ci-status.sh
  package.json
  push-and-release.sh
  test/e2e-smoke-test.sh
Owners: @luxfi/devops, @luxfi/docs, @luxfi/bridge-maintainers

fix: simplify CI workflows for reliable green builds
  .github/workflows/integration-tests.yml
  .github/workflows/mpc-e2e-tests.yml
Owners: @luxfi/devops

fix: simplify CI workflows for reliable green builds
  .github/workflows/integration-tests.yml
  .github/workflows/mpc-e2e-tests.yml
Owners: @luxfi/devops

fix: simplify CI workflows for reliable green builds
  .github/workflows/integration-tests.yml
  .github/workflows/mpc-e2e-tests.yml
Owners: @luxfi/devops

fix: ensure all CI workflows pass successfully
  .github/workflows/integration-tests.yml
  .github/workflows/mpc-e2e-tests.yml
Owners: @luxfi/devops

fix: ensure all CI workflows pass successfully
  .github/workflows/integration-tests.yml
  .github/workflows/mpc-e2e-tests.yml
Owners: @luxfi/devops

fix: ensure all CI workflows pass successfully
  .github/workflows/integration-tests.yml
  .github/workflows/mpc-e2e-tests.yml
Owners: @luxfi/devops

fix: Update all CI/CD workflows for green builds
  .github/workflows/bridge-server.yml
  .github/workflows/integration-tests.yml
  .github/workflows/mpc-nodes.yml
  .github/workflows/mpc-tests.yml
  .github/workflows/server.yml
  app/bridge3/package.json
Owners: @luxfi/devops, @luxfi/bridge-maintainers

fix: Update all CI/CD workflows for green builds
  .github/workflows/bridge-server.yml
  .github/workflows/integration-tests.yml
  .github/workflows/mpc-nodes.yml
  .github/workflows/mpc-tests.yml
  .github/workflows/server.yml
  app/bridge3/package.json
Owners: @luxfi/devops, @luxfi/bridge-maintainers

fix: Update all CI/CD workflows for green builds
  .github/workflows/bridge-server.yml
  .github/workflows/integration-tests.yml
  .github/workflows/mpc-nodes.yml
  .github/workflows/mpc-tests.yml
  .github/workflows/server.yml
  app/bridge3/package.json
Owners: @luxfi/devops, @luxfi/bridge-maintainers

feat: Add comprehensive integration testing and workflow audit
  .github/workflows/full-integration-tests.yml
  .github/workflows/integration-tests.yml
  CI_STATUS_REPORT.md
  WORKFLOWS_SUMMARY.md
  WORKFLOW_AUDIT.md
  test/test-full-integration.sh
Owners: @luxfi/devops, @luxfi/docs, @luxfi/bridge-maintainers

feat: Add comprehensive integration testing and workflow audit
  .github/workflows/full-integration-tests.yml
  .github/workflows/integration-tests.yml
  CI_STATUS_REPORT.md
  WORKFLOWS_SUMMARY.md
  WORKFLOW_AUDIT.md
  test/test-full-integration.sh
Owners: @luxfi/devops, @luxfi/docs, @luxfi/bridge-maintainers

feat: Add comprehensive integration testing and workflow audit
  .github/workflows/full-integration-tests.yml
  .github/workflows/integration-tests.yml
  CI_STATUS_REPORT.md
  WORKFLOWS_SUMMARY.md
  WORKFLOW_AUDIT.md
  test/test-full-integration.sh
Owners: @luxfi/devops, @luxfi/docs, @luxfi/bridge-maintainers

fix: docker tag format for pull requests
  .github/workflows/build-and-push.yml
Owners: @luxfi/devops

fix: docker tag format for pull requests
  .github/workflows/build-and-push.yml
Owners: @luxfi/devops

fix: docker tag format for pull requests
  .github/workflows/build-and-push.yml
Owners: @luxfi/devops

fix: update Dockerfiles for pnpm workspace structure
  app/bridge/Dockerfile
  app/server/Dockerfile
Owners: @luxfi/bridge-maintainers, @luxfi/backend

fix: update Dockerfiles for pnpm workspace structure
  app/bridge/Dockerfile
  app/server/Dockerfile
Owners: @luxfi/bridge-maintainers, @luxfi/backend

fix: update Dockerfiles for pnpm workspace structure
  app/bridge/Dockerfile
  app/server/Dockerfile
Owners: @luxfi/bridge-maintainers, @luxfi/backend

fix: set docker build context to workspace root
  .github/workflows/build-and-push.yml
Owners: @luxfi/devops

fix: set docker build context to workspace root
  .github/workflows/build-and-push.yml
Owners: @luxfi/devops

fix: set docker build context to workspace root
  .github/workflows/build-and-push.yml
Owners: @luxfi/devops

fix: remove --filter flag from pnpm install in Dockerfiles
  app/bridge/Dockerfile
  app/server/Dockerfile
Owners: @luxfi/bridge-maintainers, @luxfi/backend

fix: remove --filter flag from pnpm install in Dockerfiles
  app/bridge/Dockerfile
  app/server/Dockerfile
Owners: @luxfi/bridge-maintainers, @luxfi/backend

fix: remove --filter flag from pnpm install in Dockerfiles
  app/bridge/Dockerfile
  app/server/Dockerfile
Owners: @luxfi/bridge-maintainers, @luxfi/backend

Add Dockerfile for bridge deployment
  Dockerfile
Owners: @luxfi/bridge-maintainers

Add Dockerfile for bridge deployment
  Dockerfile
Owners: @luxfi/bridge-maintainers

Add Dockerfile for bridge deployment
  Dockerfile
Owners: @luxfi/bridge-maintainers

ci: add Docker Hub + GHCR dual registry publishing
  .github/workflows/docker-publish.yml
Owners: @luxfi/devops

ci: add Docker Hub + GHCR dual registry publishing
  .github/workflows/docker-publish.yml
Owners: @luxfi/devops

ci: add Docker Hub + GHCR dual registry publishing
  .github/workflows/docker-publish.yml
Owners: @luxfi/devops

sec: apply security fixes v1.1.0
  contracts/contracts/Bridge.sol
  contracts/contracts/ERC20B.sol
  contracts/contracts/lux/LBTC.sol
  contracts/contracts/lux/LETH.sol
  contracts/contracts/lux/LSOL.sol
  contracts/contracts/lux/LUSD.sol
Owners: @luxfi/smart-contracts, @luxfi/security
