Repository luxfi/bridge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @luxfi/bridge-maintainers, @luxfi/mpc-maintainers, @luxfi/security, @luxfi/smart-contracts, @luxfi/frontend, @luxfi/qa, @luxfi/backend, @luxfi/devops, @luxfi/docs

State a version once
  app/bridge/package.json
  app/bridge3/app/components/asset-card/asset-quantity-available.tsx
  app/bridge3/app/components/asset-card/dollar-value.tsx
  app/bridge3/app/components/asset-card/index.tsx
  app/bridge3/app/components/asset-combobox.tsx
  app/bridge3/app/components/header/desktop-nav-menu.tsx
  app/bridge3/app/components/header/desktop.tsx
  app/bridge3/app/components/header/index.tsx
  app/bridge3/app/components/icons/social-icon.tsx
  app/bridge3/app/components/main.tsx
  app/bridge3/app/components/network-combobox/index.tsx
  app/bridge3/app/components/network-combobox/trigger.tsx
  app/bridge3/app/components/receive-card/bridge-label.tsx
  app/bridge3/app/components/receive-card/index.tsx
  app/bridge3/app/components/swap-card/index.tsx
  app/bridge3/app/components/swap-card/reverse-button.tsx
  app/bridge3/package.json
  app/bridge3/vite.config.ts
  app/explorer/package.json
  app/server/package.json
  contracts/package.json
  docs/package.json
  e2e/package.json
  package.json
  pkg/bridge/package.json
  pkg/core/package.json
  pkg/settings/package.json
  pkg/threshold/package.json
  pkg/ui/package.json
  pkg/utila/package.json
  pnpm-workspace.yaml
Owners: @luxfi/bridge-maintainers, @luxfi/backend, @luxfi/smart-contracts, @luxfi/security, @luxfi/docs

GitHub Pages is not where these sites live
  .github/workflows/docs.yml
Owners: @luxfi/devops

GitHub Pages is not where these sites live
  .github/workflows/docs.yml
Owners: @luxfi/devops

bridge: mount /admin/swaps only when asked
  cmd/bridge/admin_routes_test.go
  cmd/bridge/api.go
  cmd/bridge/main.go
  cmd/bridge/swaps_handler_test.go
Owners: @luxfi/bridge-maintainers

bridge: mount /admin/swaps only when asked
  cmd/bridge/admin_routes_test.go
  cmd/bridge/api.go
  cmd/bridge/main.go
  cmd/bridge/swaps_handler_test.go
Owners: @luxfi/bridge-maintainers

Say what a person can act on, and paint it in ink they can see
  LLM.md
  app/bridge/DEPLOY.md
  app/bridge/TESTNET-E2E.md
  app/bridge/package.json
  pkg/bridge/package.json
  pkg/bridge/src/__tests__/ChainSelector.test.tsx
  pkg/bridge/src/__tests__/Select.test.tsx
  pkg/bridge/src/__tests__/TransferStatus.test.tsx
  pkg/bridge/src/app/BridgeApp.tsx
  pkg/bridge/src/app/components/AssetInput.tsx
  pkg/bridge/src/app/components/Card.tsx
  pkg/bridge/src/app/components/Header.tsx
  pkg/bridge/src/app/components/Select.tsx
  pkg/bridge/src/app/components/SwapForm.tsx
  pkg/bridge/src/app/components/TransferStatus.tsx
  pkg/bridge/src/app/components/WalletConnect.tsx
  pkg/bridge/src/app/styles/theme.css
Owners: @luxfi/docs, @luxfi/bridge-maintainers

Say what a person can act on, and paint it in ink they can see
  LLM.md
  app/bridge/DEPLOY.md
  app/bridge/TESTNET-E2E.md
  app/bridge/package.json
  pkg/bridge/package.json
  pkg/bridge/src/__tests__/ChainSelector.test.tsx
  pkg/bridge/src/__tests__/Select.test.tsx
  pkg/bridge/src/__tests__/TransferStatus.test.tsx
  pkg/bridge/src/app/BridgeApp.tsx
  pkg/bridge/src/app/components/AssetInput.tsx
  pkg/bridge/src/app/components/Card.tsx
  pkg/bridge/src/app/components/Header.tsx
  pkg/bridge/src/app/components/Select.tsx
  pkg/bridge/src/app/components/SwapForm.tsx
  pkg/bridge/src/app/components/TransferStatus.tsx
  pkg/bridge/src/app/components/WalletConnect.tsx
  pkg/bridge/src/app/styles/theme.css
Owners: @luxfi/docs, @luxfi/bridge-maintainers

bridge: the API default is same origin, not a different server
  app/bridge/src/bridge.config.ts
Owners: @luxfi/bridge-maintainers

bridge: eight more networks, reached by custody
  cmd/bridge/evm_offered_test.go
  cmd/bridge/networks.mainnet.yaml
Owners: @luxfi/bridge-maintainers

bridge: the TypeScript twin, and Cardano can be watched
  app/server/src/domain/mpc-wallet.ts
  cmd/bridge/networks.mainnet.yaml
  internal/depositcheck/client.go
Owners: @luxfi/backend, @luxfi/bridge-maintainers

bridge: connect 0.2.1, and Cardano is one of the seven
  pkg/bridge/package.json
  pkg/bridge/src/app/hooks/useLuxWallet.ts
  pkg/bridge/src/app/lib/wallet-family.ts
  pnpm-lock.yaml
Owners: @luxfi/bridge-maintainers

bridge: mount /admin/swaps only when asked
  cmd/bridge/admin_routes_test.go
  cmd/bridge/api.go
  cmd/bridge/main.go
  cmd/bridge/swaps_handler_test.go
Owners: @luxfi/bridge-maintainers

bridge: mount /admin/swaps only when asked
  cmd/bridge/admin_routes_test.go
  cmd/bridge/api.go
  cmd/bridge/main.go
  cmd/bridge/swaps_handler_test.go
Owners: @luxfi/bridge-maintainers

bridge: XRP gets an r-address
  app/server/src/domain/mpc-wallet.ts
  app/server/src/domain/xrp-address.test.ts
  app/server/src/domain/xrp-address.ts
Owners: @luxfi/backend

docs: chain routes are /v1/chain
  app/bridge/TESTNET-E2E.md
  app/bridge3/public/brand.json
  pkg/settings/src/mainnet/networks.json
Owners: @luxfi/bridge-maintainers

bridge: an unknown network is unknown, not Ethereum
  cmd/bridge/config.go
  cmd/bridge/estate_test.go
  cmd/bridge/evm_offered_test.go
  cmd/bridge/networks.mainnet.yaml
  cmd/bridge/release_pool_set.go
  cmd/bridge/release_pool_set_test.go
  cmd/bridge/signing_driver.go
  cmd/bridge/swaps_handler.go
  internal/broadcast/client.go
  internal/depositcheck/client.go
  internal/mchain/client.go
  internal/mchain/client_test.go
Owners: @luxfi/bridge-maintainers

bridge: the assembler reads the networks the operator offers
  cmd/bridge/estate_test.go
  cmd/bridge/evm.go
  cmd/bridge/evm_offered_test.go
  cmd/bridge/main.go
Owners: @luxfi/bridge-maintainers

bridge: connect 0.2.1, and Cardano is one of the seven
  pkg/bridge/package.json
  pkg/bridge/src/app/hooks/useLuxWallet.ts
  pkg/bridge/src/app/lib/wallet-family.ts
  pnpm-lock.yaml
Owners: @luxfi/bridge-maintainers

bridge: reach Hanzo, Pars and Osage, and hold the chain ids in one table
  cmd/bridge/estate_test.go
  cmd/bridge/evm.go
  cmd/bridge/main.go
  cmd/bridge/networks.mainnet.yaml
  internal/broadcast/client.go
  internal/depositcheck/client.go
  internal/mchain/client.go
  internal/tokens/tokens.go
  internal/txassembler/rpc_provider.go
Owners: @luxfi/bridge-maintainers

bridge: reach Hanzo, Pars and Osage, and hold the chain ids in one table
  cmd/bridge/estate_test.go
  cmd/bridge/evm.go
  cmd/bridge/main.go
  cmd/bridge/networks.mainnet.yaml
  internal/broadcast/client.go
  internal/depositcheck/client.go
  internal/mchain/client.go
  internal/tokens/tokens.go
  internal/txassembler/rpc_provider.go
Owners: @luxfi/bridge-maintainers

Our nodes serve /v1/, so ask them for /v1/
  pkg/settings/src/mainnet/networks.json
Owners: @luxfi/bridge-maintainers

bridge: the assembler reads the networks the operator offers
  cmd/bridge/estate_test.go
  cmd/bridge/evm.go
  cmd/bridge/evm_offered_test.go
  cmd/bridge/main.go
Owners: @luxfi/bridge-maintainers

bridge: an unknown network is unknown, not Ethereum
  cmd/bridge/config.go
  cmd/bridge/estate_test.go
  cmd/bridge/evm_offered_test.go
  cmd/bridge/networks.mainnet.yaml
  cmd/bridge/release_pool_set.go
  cmd/bridge/release_pool_set_test.go
  cmd/bridge/signing_driver.go
  cmd/bridge/swaps_handler.go
  internal/broadcast/client.go
  internal/depositcheck/client.go
  internal/mchain/client.go
  internal/mchain/client_test.go
Owners: @luxfi/bridge-maintainers

Our nodes serve /v1/, so ask them for /v1/
  pkg/settings/src/mainnet/networks.json
Owners: @luxfi/bridge-maintainers

docs: chain routes are /v1/chain
  app/bridge/TESTNET-E2E.md
  app/bridge3/public/brand.json
  pkg/settings/src/mainnet/networks.json
Owners: @luxfi/bridge-maintainers

bridge: Cardano gets a Cardano address
  app/server/package.json
  app/server/src/domain/cardano-address.test.ts
  app/server/src/domain/cardano-address.ts
  app/server/src/domain/mpc-wallet.ts
  cmd/bridge/networks.mainnet.yaml
Owners: @luxfi/backend, @luxfi/bridge-maintainers

bridge: the TypeScript twin, and Cardano can be watched
  app/server/src/domain/mpc-wallet.ts
  cmd/bridge/networks.mainnet.yaml
  internal/depositcheck/client.go
Owners: @luxfi/backend, @luxfi/bridge-maintainers

bridge: the API default is same origin, not a different server
  app/bridge/src/bridge.config.ts
Owners: @luxfi/bridge-maintainers

bridge: Cardano gets a Cardano address
  app/server/package.json
  app/server/src/domain/cardano-address.test.ts
  app/server/src/domain/cardano-address.ts
  app/server/src/domain/mpc-wallet.ts
  cmd/bridge/networks.mainnet.yaml
Owners: @luxfi/backend, @luxfi/bridge-maintainers

bridge: eight more networks, reached by custody
  cmd/bridge/evm_offered_test.go
  cmd/bridge/networks.mainnet.yaml
Owners: @luxfi/bridge-maintainers

bridge: XRP gets an r-address
  app/server/src/domain/mpc-wallet.ts
  app/server/src/domain/xrp-address.test.ts
  app/server/src/domain/xrp-address.ts
Owners: @luxfi/backend

chain routes: /v1/bc -> /v1/chain
  app/server/src/domain/mpc-wallet.ts
  app/server/src/domain/swaps.ts
  app/server/src/domain/teleport-processor.ts
  cmd/bridge/estate_test.go
  cmd/bridge/swap_store.go
  compose.mainnet.yml
  compose.testnet.yml
  internal/bchain/client.go
  internal/bchain/client_test.go
  internal/broadcast/client.go
  internal/depositcheck/client.go
  internal/mchain/client.go
  internal/txassembler/rpc_provider.go
  k8s/luxfi-explorer.yaml
  k8s/mpc-deployment.yaml
  manifests/chains/lux-c.yaml
  opnet-watcher/config.go
  opnet-watcher/config_test.go
  pkg/bridge/src/__tests__/bridge-rpc-endpoints.test.ts
  pkg/bridge/src/app/lib/bridge-rpc.ts
  pkg/bridge/src/types.ts
  pkg/threshold/src/client.test.ts
  pkg/threshold/src/client.ts
  pkg/threshold/src/index.ts
Owners: @luxfi/backend, @luxfi/bridge-maintainers, @luxfi/devops

chain routes: /v1/bc -> /v1/chain
  app/server/src/domain/mpc-wallet.ts
  app/server/src/domain/swaps.ts
  app/server/src/domain/teleport-processor.ts
  cmd/bridge/estate_test.go
  cmd/bridge/swap_store.go
  compose.mainnet.yml
  compose.testnet.yml
  internal/bchain/client.go
  internal/bchain/client_test.go
  internal/broadcast/client.go
  internal/depositcheck/client.go
  internal/mchain/client.go
  internal/txassembler/rpc_provider.go
  k8s/luxfi-explorer.yaml
  k8s/mpc-deployment.yaml
  manifests/chains/lux-c.yaml
  opnet-watcher/config.go
  opnet-watcher/config_test.go
  pkg/bridge/src/__tests__/bridge-rpc-endpoints.test.ts
  pkg/bridge/src/app/lib/bridge-rpc.ts
  pkg/bridge/src/types.ts
  pkg/threshold/src/client.test.ts
  pkg/threshold/src/client.ts
  pkg/threshold/src/index.ts
Owners: @luxfi/backend, @luxfi/bridge-maintainers, @luxfi/devops

Restore the chain prefix the running nodes answer
  app/server/src/domain/mpc-wallet.ts
  app/server/src/domain/swaps.ts
  app/server/src/domain/teleport-processor.ts
  cmd/bridge/estate_test.go
  cmd/bridge/swap_store.go
  compose.mainnet.yml
  compose.testnet.yml
  internal/bchain/client.go
  internal/bchain/client_test.go
  internal/broadcast/client.go
  internal/depositcheck/client.go
  internal/mchain/client.go
  internal/txassembler/rpc_provider.go
  k8s/luxfi-explorer.yaml
  k8s/mpc-deployment.yaml
  manifests/chains/lux-c.yaml
  opnet-watcher/config.go
  opnet-watcher/config_test.go
  pkg/bridge/src/__tests__/bridge-rpc-endpoints.test.ts
  pkg/bridge/src/app/lib/bridge-rpc.ts
  pkg/bridge/src/types.ts
  pkg/threshold/src/client.test.ts
  pkg/threshold/src/client.ts
  pkg/threshold/src/index.ts
Owners: @luxfi/backend, @luxfi/bridge-maintainers, @luxfi/devops

Restore the chain prefix the running nodes answer
  app/server/src/domain/mpc-wallet.ts
  app/server/src/domain/swaps.ts
  app/server/src/domain/teleport-processor.ts
  cmd/bridge/estate_test.go
  cmd/bridge/swap_store.go
  compose.mainnet.yml
  compose.testnet.yml
  internal/bchain/client.go
  internal/bchain/client_test.go
  internal/broadcast/client.go
  internal/depositcheck/client.go
  internal/mchain/client.go
  internal/txassembler/rpc_provider.go
  k8s/luxfi-explorer.yaml
  k8s/mpc-deployment.yaml
  manifests/chains/lux-c.yaml
  opnet-watcher/config.go
  opnet-watcher/config_test.go
  pkg/bridge/src/__tests__/bridge-rpc-endpoints.test.ts
  pkg/bridge/src/app/lib/bridge-rpc.ts
  pkg/bridge/src/types.ts
  pkg/threshold/src/client.test.ts
  pkg/threshold/src/client.ts
  pkg/threshold/src/index.ts
Owners: @luxfi/backend, @luxfi/bridge-maintainers, @luxfi/devops

Delete the workflows the forge never reads
  .github/workflows/full-integration-tests.yml
  .github/workflows/integration-tests.yml
  .github/workflows/mpc-e2e-tests.yml
  .github/workflows/mpc-nodes.yml
  .github/workflows/mpc-tests.yml
  .github/workflows/publish.yml
  .github/workflows/release-go.yml
Owners: @luxfi/devops

Delete the workflows the forge never reads
  .github/workflows/full-integration-tests.yml
  .github/workflows/integration-tests.yml
  .github/workflows/mpc-e2e-tests.yml
  .github/workflows/mpc-nodes.yml
  .github/workflows/mpc-tests.yml
  .github/workflows/publish.yml
  .github/workflows/release-go.yml
Owners: @luxfi/devops

the face is Zen, and it ships from @hanzo/font
  app/bridge/public/fonts/Basel-Grotesk-Book.woff2
  app/bridge/public/fonts/Basel-Grotesk-Medium.woff2
  app/bridge3/app/style/lux-fonts.css
  app/bridge3/public/fonts/Druk-Wide-Bold.ttf
  app/bridge3/public/fonts/Druk-Wide-Medium.ttf
  app/bridge3/public/fonts/InterVariable-Italic.ttf
  app/bridge3/public/fonts/InterVariable-Italic.woff2
  app/bridge3/public/fonts/InterVariable.ttf
  app/bridge3/public/fonts/InterVariable.woff2
  docs/out/_next/static/chunks/73-514932006b9ea973.js
  pkg/bridge/src/app/styles/theme.css
Owners: @luxfi/bridge-maintainers, @luxfi/docs

the face is Zen, and it ships from @hanzo/font
  app/bridge/public/fonts/Basel-Grotesk-Book.woff2
  app/bridge/public/fonts/Basel-Grotesk-Medium.woff2
  app/bridge3/app/style/lux-fonts.css
  app/bridge3/public/fonts/Druk-Wide-Bold.ttf
  app/bridge3/public/fonts/Druk-Wide-Medium.ttf
  app/bridge3/public/fonts/InterVariable-Italic.ttf
  app/bridge3/public/fonts/InterVariable-Italic.woff2
  app/bridge3/public/fonts/InterVariable.ttf
  app/bridge3/public/fonts/InterVariable.woff2
  docs/out/_next/static/chunks/73-514932006b9ea973.js
  pkg/bridge/src/app/styles/theme.css
Owners: @luxfi/bridge-maintainers, @luxfi/docs

chain routes: /v1/bc -> /v1/chain
  app/bridge3/public/brand.json
  app/server/src/domain/mpc-wallet.ts
  app/server/src/domain/swaps.ts
  app/server/src/domain/teleport-processor.ts
  cmd/bridge/estate_test.go
  cmd/bridge/swap_store.go
  compose.mainnet.yml
  compose.testnet.yml
  internal/bchain/client.go
  internal/bchain/client_test.go
  internal/broadcast/client.go
  internal/depositcheck/client.go
  internal/mchain/client.go
  internal/txassembler/rpc_provider.go
  k8s/luxfi-explorer.yaml
  k8s/mpc-deployment.yaml
  manifests/chains/lux-c.yaml
  opnet-watcher/config.go
  opnet-watcher/config_test.go
  pkg/bridge/src/__tests__/bridge-rpc-endpoints.test.ts
  pkg/bridge/src/app/lib/bridge-rpc.ts
  pkg/bridge/src/types.ts
  pkg/settings/src/mainnet/networks.json
  pkg/threshold/src/client.test.ts
  pkg/threshold/src/client.ts
  pkg/threshold/src/index.ts
Owners: @luxfi/bridge-maintainers, @luxfi/backend, @luxfi/devops

.github/CODEOWNERS:

# CODEOWNERS for Lux Bridge

# Default owners for everything in the repo
* @luxfi/bridge-maintainers

# MPC service owners
/mpc-service/ @luxfi/mpc-maintainers @luxfi/security

# Smart contracts owners  
/contracts/ @luxfi/smart-contracts @luxfi/security

# Frontend and UI owners
/app/client/ @luxfi/frontend
/app/ui/ @luxfi/frontend
/ui-automation/ @luxfi/qa

# Backend server owners
/app/server/ @luxfi/backend

# DevOps and CI/CD
/.github/ @luxfi/devops
/docker/ @luxfi/devops
/k8s/ @luxfi/devops

# Documentation
/docs/ @luxfi/docs
/*.md @luxfi/docs

# Security-sensitive files
/mpc-service/cmd/ @luxfi/security @luxfi/mpc-maintainers
/contracts/bridges/ @luxfi/security @luxfi/smart-contracts
/.env* @luxfi/security @luxfi/devops
