Repository luxfi/bridge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @luxfi/bridge-maintainers, @luxfi/mpc-maintainers, @luxfi/security, @luxfi/smart-contracts, @luxfi/frontend, @luxfi/qa, @luxfi/backend, @luxfi/devops, @luxfi/docs

feat(app/server): cosigner backend scaffold + 16 wire-shape validation tests (issue #386)
  app/server/package.json
  app/server/src/domain/__tests__/cosigners.test.ts
  app/server/src/domain/cosigners.ts
  app/server/src/domain/swaps.ts
  app/server/src/routes/swaps.ts
  app/server/vitest.config.ts
  pnpm-lock.yaml
Owners: @luxfi/backend, @luxfi/bridge-maintainers

feat(app/server): cosigner backend scaffold + 16 wire-shape validation tests (issue #386)
  app/server/package.json
  app/server/src/domain/__tests__/cosigners.test.ts
  app/server/src/domain/cosigners.ts
  app/server/src/domain/swaps.ts
  app/server/src/routes/swaps.ts
  app/server/vitest.config.ts
  pnpm-lock.yaml
Owners: @luxfi/backend, @luxfi/bridge-maintainers

feat(app/server): cosigner backend scaffold + 16 wire-shape validation tests (issue #386)
  app/server/package.json
  app/server/src/domain/__tests__/cosigners.test.ts
  app/server/src/domain/cosigners.ts
  app/server/src/domain/swaps.ts
  app/server/src/routes/swaps.ts
  app/server/vitest.config.ts
  pnpm-lock.yaml
Owners: @luxfi/backend, @luxfi/bridge-maintainers

feat(app/server): cosigner backend scaffold + 16 wire-shape validation tests (issue #386)
  app/server/package.json
  app/server/src/domain/__tests__/cosigners.test.ts
  app/server/src/domain/cosigners.ts
  app/server/src/domain/swaps.ts
  app/server/src/routes/swaps.ts
  app/server/vitest.config.ts
  pnpm-lock.yaml
Owners: @luxfi/backend, @luxfi/bridge-maintainers

feat(app/server): cosigner backend scaffold + 16 wire-shape validation tests (issue #386)
  app/server/package.json
  app/server/src/domain/__tests__/cosigners.test.ts
  app/server/src/domain/cosigners.ts
  app/server/src/domain/swaps.ts
  app/server/src/routes/swaps.ts
  app/server/vitest.config.ts
  pnpm-lock.yaml
Owners: @luxfi/backend, @luxfi/bridge-maintainers

feat(app/server): cosigner backend scaffold + 16 wire-shape validation tests (issue #386)
  app/server/package.json
  app/server/src/domain/__tests__/cosigners.test.ts
  app/server/src/domain/cosigners.ts
  app/server/src/domain/swaps.ts
  app/server/src/routes/swaps.ts
  app/server/vitest.config.ts
  pnpm-lock.yaml
Owners: @luxfi/backend, @luxfi/bridge-maintainers

feat(app/server): cosigner backend scaffold + 16 wire-shape validation tests (issue #386)
  app/server/package.json
  app/server/src/domain/__tests__/cosigners.test.ts
  app/server/src/domain/cosigners.ts
  app/server/src/domain/swaps.ts
  app/server/src/routes/swaps.ts
  app/server/vitest.config.ts
  pnpm-lock.yaml
Owners: @luxfi/backend, @luxfi/bridge-maintainers

feat(app/server): cosigner backend scaffold + 16 wire-shape validation tests (issue #386)
  app/server/package.json
  app/server/src/domain/__tests__/cosigners.test.ts
  app/server/src/domain/cosigners.ts
  app/server/src/domain/swaps.ts
  app/server/src/routes/swaps.ts
  app/server/vitest.config.ts
  pnpm-lock.yaml
Owners: @luxfi/backend, @luxfi/bridge-maintainers

docs: refresh README + Nextra index + LLM key docs list (issue #391)
  README.md
  docs/LLM.md
  docs/content/docs/index.mdx
Owners: @luxfi/docs

docs: refresh README + Nextra index + LLM key docs list (issue #391)
  README.md
  docs/LLM.md
  docs/content/docs/index.mdx
Owners: @luxfi/docs

docs: refresh README + Nextra index + LLM key docs list (issue #391)
  README.md
  docs/LLM.md
  docs/content/docs/index.mdx
Owners: @luxfi/docs

docs: refresh README + Nextra index + LLM key docs list (issue #391)
  README.md
  docs/LLM.md
  docs/content/docs/index.mdx
Owners: @luxfi/docs

docs: refresh README + Nextra index + LLM key docs list (issue #391)
  README.md
  docs/LLM.md
  docs/content/docs/index.mdx
Owners: @luxfi/docs

docs: refresh README + Nextra index + LLM key docs list (issue #391)
  README.md
  docs/LLM.md
  docs/content/docs/index.mdx
Owners: @luxfi/docs

docs: refresh README + Nextra index + LLM key docs list (issue #391)
  README.md
  docs/LLM.md
  docs/content/docs/index.mdx
Owners: @luxfi/docs

docs: refresh README + Nextra index + LLM key docs list (issue #391)
  README.md
  docs/LLM.md
  docs/content/docs/index.mdx
Owners: @luxfi/docs

docs: refresh README + Nextra index + LLM key docs list (issue #391)
  README.md
  docs/LLM.md
  docs/content/docs/index.mdx
Owners: @luxfi/docs

docs: refresh README + Nextra index + LLM key docs list (issue #391)
  README.md
  docs/LLM.md
  docs/content/docs/index.mdx
Owners: @luxfi/docs

docs: refresh README + Nextra index + LLM key docs list (issue #391)
  README.md
  docs/LLM.md
  docs/content/docs/index.mdx
Owners: @luxfi/docs

k8s: draft luxfi-explorer manifest for app/explorer/ replacement (issue #387)
  k8s/luxfi-explorer.yaml
Owners: @luxfi/devops

k8s: draft luxfi-explorer manifest for app/explorer/ replacement (issue #387)
  k8s/luxfi-explorer.yaml
Owners: @luxfi/devops

k8s: draft luxfi-explorer manifest for app/explorer/ replacement (issue #387)
  k8s/luxfi-explorer.yaml
Owners: @luxfi/devops

k8s: draft luxfi-explorer manifest for app/explorer/ replacement (issue #387)
  k8s/luxfi-explorer.yaml
Owners: @luxfi/devops

k8s: draft luxfi-explorer manifest for app/explorer/ replacement (issue #387)
  k8s/luxfi-explorer.yaml
Owners: @luxfi/devops

k8s: draft luxfi-explorer manifest for app/explorer/ replacement (issue #387)
  k8s/luxfi-explorer.yaml
Owners: @luxfi/devops

k8s: draft luxfi-explorer manifest for app/explorer/ replacement (issue #387)
  k8s/luxfi-explorer.yaml
Owners: @luxfi/devops

k8s: draft luxfi-explorer manifest for app/explorer/ replacement (issue #387)
  k8s/luxfi-explorer.yaml
Owners: @luxfi/devops

k8s: draft luxfi-explorer manifest for app/explorer/ replacement (issue #387)
  k8s/luxfi-explorer.yaml
Owners: @luxfi/devops

k8s: draft luxfi-explorer manifest for app/explorer/ replacement (issue #387)
  k8s/luxfi-explorer.yaml
Owners: @luxfi/devops

k8s: draft luxfi-explorer manifest for app/explorer/ replacement (issue #387)
  k8s/luxfi-explorer.yaml
Owners: @luxfi/devops

test(pkg/bridge): 5 cosigner SDK tests — wire-shape + no-secret-leak (issue #390 partial)
  pkg/bridge/src/__tests__/useTransfers-cosigners.test.tsx
Owners: @luxfi/bridge-maintainers

test(pkg/bridge): 5 cosigner SDK tests — wire-shape + no-secret-leak (issue #390 partial)
  pkg/bridge/src/__tests__/useTransfers-cosigners.test.tsx
Owners: @luxfi/bridge-maintainers

test(pkg/bridge): 5 cosigner SDK tests — wire-shape + no-secret-leak (issue #390 partial)
  pkg/bridge/src/__tests__/useTransfers-cosigners.test.tsx
Owners: @luxfi/bridge-maintainers

test(pkg/bridge): 5 cosigner SDK tests — wire-shape + no-secret-leak (issue #390 partial)
  pkg/bridge/src/__tests__/useTransfers-cosigners.test.tsx
Owners: @luxfi/bridge-maintainers

test(pkg/bridge): 5 cosigner SDK tests — wire-shape + no-secret-leak (issue #390 partial)
  pkg/bridge/src/__tests__/useTransfers-cosigners.test.tsx
Owners: @luxfi/bridge-maintainers

test(pkg/bridge): 5 cosigner SDK tests — wire-shape + no-secret-leak (issue #390 partial)
  pkg/bridge/src/__tests__/useTransfers-cosigners.test.tsx
Owners: @luxfi/bridge-maintainers

test(pkg/bridge): 5 cosigner SDK tests — wire-shape + no-secret-leak (issue #390 partial)
  pkg/bridge/src/__tests__/useTransfers-cosigners.test.tsx
Owners: @luxfi/bridge-maintainers

test(pkg/bridge): 5 cosigner SDK tests — wire-shape + no-secret-leak (issue #390 partial)
  pkg/bridge/src/__tests__/useTransfers-cosigners.test.tsx
Owners: @luxfi/bridge-maintainers

test(pkg/bridge): 5 cosigner SDK tests — wire-shape + no-secret-leak (issue #390 partial)
  pkg/bridge/src/__tests__/useTransfers-cosigners.test.tsx
Owners: @luxfi/bridge-maintainers

test(pkg/bridge): 5 cosigner SDK tests — wire-shape + no-secret-leak (issue #390 partial)
  pkg/bridge/src/__tests__/useTransfers-cosigners.test.tsx
Owners: @luxfi/bridge-maintainers

.github/CODEOWNERS:

# CODEOWNERS for Lux Bridge

# Default owners for everything in the repo
* @luxfi/bridge-maintainers

# MPC service owners
/mpc-service/ @luxfi/mpc-maintainers @luxfi/security

# Smart contracts owners  
/contracts/ @luxfi/smart-contracts @luxfi/security

# Frontend and UI owners
/app/client/ @luxfi/frontend
/app/ui/ @luxfi/frontend
/ui-automation/ @luxfi/qa

# Backend server owners
/app/server/ @luxfi/backend

# DevOps and CI/CD
/.github/ @luxfi/devops
/docker/ @luxfi/devops
/k8s/ @luxfi/devops

# Documentation
/docs/ @luxfi/docs
/*.md @luxfi/docs

# Security-sensitive files
/mpc-service/cmd/ @luxfi/security @luxfi/mpc-maintainers
/contracts/bridges/ @luxfi/security @luxfi/smart-contracts
/.env* @luxfi/security @luxfi/devops
