Repository luxfi/bridge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @luxfi/bridge-maintainers, @luxfi/mpc-maintainers, @luxfi/security, @luxfi/smart-contracts, @luxfi/frontend, @luxfi/qa, @luxfi/backend, @luxfi/devops, @luxfi/docs

.github/CODEOWNERS:

# CODEOWNERS for Lux Bridge

# Default owners for everything in the repo
* @luxfi/bridge-maintainers

# MPC service owners
/mpc-service/ @luxfi/mpc-maintainers @luxfi/security

# Smart contracts owners  
/contracts/ @luxfi/smart-contracts @luxfi/security

# Frontend and UI owners
/app/client/ @luxfi/frontend
/app/ui/ @luxfi/frontend
/ui-automation/ @luxfi/qa

# Backend server owners
/app/server/ @luxfi/backend

# DevOps and CI/CD
/.github/ @luxfi/devops
/docker/ @luxfi/devops
/k8s/ @luxfi/devops

# Documentation
/docs/ @luxfi/docs
/*.md @luxfi/docs

# Security-sensitive files
/mpc-service/cmd/ @luxfi/security @luxfi/mpc-maintainers
/contracts/bridges/ @luxfi/security @luxfi/smart-contracts
/.env* @luxfi/security @luxfi/devops

Fix server build: use pnpm exec instead of pnpx, remove firebase-admin from externals
  app/bridge/next.config.js
  app/server/package.json
Owners: @luxfi/bridge-maintainers, @luxfi/backend

Fix server build: use pnpm exec instead of pnpx, remove firebase-admin from externals
  app/bridge/next.config.js
  app/server/package.json
Owners: @luxfi/bridge-maintainers, @luxfi/backend

Fix server build: use pnpm exec instead of pnpx, remove firebase-admin from externals
  app/bridge/next.config.js
  app/server/package.json
Owners: @luxfi/bridge-maintainers, @luxfi/backend

Fix server build: use pnpm exec instead of pnpx, remove firebase-admin from externals
  app/bridge/next.config.js
  app/server/package.json
Owners: @luxfi/bridge-maintainers, @luxfi/backend

Add NEXT_PUBLIC_IDENTITY_API build env var to prevent auth page error
  app/bridge/Dockerfile
Owners: @luxfi/bridge-maintainers

Add NEXT_PUBLIC_IDENTITY_API build env var to prevent auth page error
  app/bridge/Dockerfile
Owners: @luxfi/bridge-maintainers

Add NEXT_PUBLIC_IDENTITY_API build env var to prevent auth page error
  app/bridge/Dockerfile
Owners: @luxfi/bridge-maintainers

Add NEXT_PUBLIC_IDENTITY_API build env var to prevent auth page error
  app/bridge/Dockerfile
Owners: @luxfi/bridge-maintainers

Add NEXT_PUBLIC_IDENTITY_API build env var to prevent auth page error
  app/bridge/Dockerfile
Owners: @luxfi/bridge-maintainers

Add python3 and build tools to server runtime for native modules
  app/server/Dockerfile
Owners: @luxfi/backend

Add python3 and build tools to server runtime for native modules
  app/server/Dockerfile
Owners: @luxfi/backend

Add python3 and build tools to server runtime for native modules
  app/server/Dockerfile
Owners: @luxfi/backend

Add python3 and build tools to server runtime for native modules
  app/server/Dockerfile
Owners: @luxfi/backend

Add python3 and build tools to server runtime for native modules
  app/server/Dockerfile
Owners: @luxfi/backend

Add python3 and build tools to server builder stage for native deps
  app/server/Dockerfile
Owners: @luxfi/backend

Add python3 and build tools to server builder stage for native deps
  app/server/Dockerfile
Owners: @luxfi/backend

Add python3 and build tools to server builder stage for native deps
  app/server/Dockerfile
Owners: @luxfi/backend

Add python3 and build tools to server builder stage for native deps
  app/server/Dockerfile
Owners: @luxfi/backend

Add python3 and build tools to server builder stage for native deps
  app/server/Dockerfile
Owners: @luxfi/backend

Fix server Dockerfile: use workspace path for dist and add prisma generate
  app/server/Dockerfile
Owners: @luxfi/backend

Fix server Dockerfile: use workspace path for dist and add prisma generate
  app/server/Dockerfile
Owners: @luxfi/backend

Fix server Dockerfile: use workspace path for dist and add prisma generate
  app/server/Dockerfile
Owners: @luxfi/backend

Fix server Dockerfile: use workspace path for dist and add prisma generate
  app/server/Dockerfile
Owners: @luxfi/backend

Fix server Dockerfile: use workspace path for dist and add prisma generate
  app/server/Dockerfile
Owners: @luxfi/backend

Copy prisma generated client from builder instead of regenerating
  app/server/Dockerfile
Owners: @luxfi/backend

Copy prisma generated client from builder instead of regenerating
  app/server/Dockerfile
Owners: @luxfi/backend

Copy prisma generated client from builder instead of regenerating
  app/server/Dockerfile
Owners: @luxfi/backend

Copy prisma generated client from builder instead of regenerating
  app/server/Dockerfile
Owners: @luxfi/backend

Copy prisma generated client from builder instead of regenerating
  app/server/Dockerfile
Owners: @luxfi/backend

Move @prisma/client to dependencies for production runtime
  app/server/package.json
  pnpm-lock.yaml
Owners: @luxfi/backend, @luxfi/bridge-maintainers

Move @prisma/client to dependencies for production runtime
  app/server/package.json
  pnpm-lock.yaml
Owners: @luxfi/backend, @luxfi/bridge-maintainers

Move @prisma/client to dependencies for production runtime
  app/server/package.json
  pnpm-lock.yaml
Owners: @luxfi/backend, @luxfi/bridge-maintainers

Move @prisma/client to dependencies for production runtime
  app/server/package.json
  pnpm-lock.yaml
Owners: @luxfi/backend, @luxfi/bridge-maintainers

Move @prisma/client to dependencies for production runtime
  app/server/package.json
  pnpm-lock.yaml
Owners: @luxfi/backend, @luxfi/bridge-maintainers

Use prisma generate in runner stage instead of copying node_modules
  app/server/Dockerfile
Owners: @luxfi/backend

Use prisma generate in runner stage instead of copying node_modules
  app/server/Dockerfile
Owners: @luxfi/backend

Use prisma generate in runner stage instead of copying node_modules
  app/server/Dockerfile
Owners: @luxfi/backend

Use prisma generate in runner stage instead of copying node_modules
  app/server/Dockerfile
Owners: @luxfi/backend

Use prisma generate in runner stage instead of copying node_modules
  app/server/Dockerfile
Owners: @luxfi/backend

Remove file transports from logger in production containers
  app/server/src/utils/logger.ts
Owners: @luxfi/backend
