Repository luxfi/bridge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @luxfi/bridge-maintainers, @luxfi/mpc-maintainers, @luxfi/security, @luxfi/smart-contracts, @luxfi/frontend, @luxfi/qa, @luxfi/backend, @luxfi/devops, @luxfi/docs

track the name agents read, so a clone documents itself
  .gitignore
  CLAUDE.md
Owners: @luxfi/bridge-maintainers, @luxfi/docs

run on the native fleet
  .gitignore
  CLAUDE.md
Owners: @luxfi/bridge-maintainers, @luxfi/docs

run on the native fleet
  .gitignore
  CLAUDE.md
Owners: @luxfi/bridge-maintainers, @luxfi/docs

Route and price the LUX<->ZOO and LUX<->ETH corridors
  app/server/src/domain/__tests__/corridor.test.ts
  app/server/src/domain/__tests__/quote-route.test.ts
  app/server/src/domain/quote.ts
  app/server/src/domain/rate.ts
  app/server/src/domain/settings/corridors.ts
  app/server/src/domain/swaps.ts
  app/server/src/routes/quote.ts
  app/server/src/routes/rate.ts
  app/server/src/routes/swaps.ts
Owners: @luxfi/backend

Route and price the LUX<->ZOO and LUX<->ETH corridors
  app/server/src/domain/__tests__/corridor.test.ts
  app/server/src/domain/__tests__/quote-route.test.ts
  app/server/src/domain/quote.ts
  app/server/src/domain/rate.ts
  app/server/src/domain/settings/corridors.ts
  app/server/src/domain/swaps.ts
  app/server/src/routes/quote.ts
  app/server/src/routes/rate.ts
  app/server/src/routes/swaps.ts
Owners: @luxfi/backend

feat(type): move Basel Grotesk and Druk Wide to Zen
  app/bridge/public/fonts/Basel-Grotesk-Book.woff2
  app/bridge/public/fonts/Basel-Grotesk-Medium.woff2
  app/bridge/public/fonts/LICENSE-Zen.txt
  app/bridge/public/fonts/Zen-Variable.woff2
  app/bridge3/app/font-and-icon-links.ts
  app/bridge3/app/style/lux-fonts.css
  app/bridge3/app/tailwind/fontFamily.tailwind.lux.ts
  app/bridge3/app/tailwind/lux-tw-fonts.ts
  app/bridge3/public/fonts/Druk-Wide-Bold.ttf
  app/bridge3/public/fonts/Druk-Wide-Medium.ttf
  app/bridge3/public/fonts/LICENSE-Zen.txt
  app/bridge3/public/fonts/Zen-Variable.woff2
  app/bridge3/tailwind.config.ts
  pkg/bridge/src/app/styles/theme.css
Owners: @luxfi/bridge-maintainers

feat(type): move Basel Grotesk and Druk Wide to Zen
  app/bridge/public/fonts/Basel-Grotesk-Book.woff2
  app/bridge/public/fonts/Basel-Grotesk-Medium.woff2
  app/bridge/public/fonts/LICENSE-Zen.txt
  app/bridge/public/fonts/Zen-Variable.woff2
  app/bridge3/app/font-and-icon-links.ts
  app/bridge3/app/style/lux-fonts.css
  app/bridge3/app/tailwind/fontFamily.tailwind.lux.ts
  app/bridge3/app/tailwind/lux-tw-fonts.ts
  app/bridge3/public/fonts/Druk-Wide-Bold.ttf
  app/bridge3/public/fonts/Druk-Wide-Medium.ttf
  app/bridge3/public/fonts/LICENSE-Zen.txt
  app/bridge3/public/fonts/Zen-Variable.woff2
  app/bridge3/tailwind.config.ts
  pkg/bridge/src/app/styles/theme.css
Owners: @luxfi/bridge-maintainers

fix(type): the x-height factor divides by the em, not the cap
  pkg/bridge/src/app/styles/theme.css
Owners: @luxfi/bridge-maintainers

fix(type): the x-height factor divides by the em, not the cap
  pkg/bridge/src/app/styles/theme.css
Owners: @luxfi/bridge-maintainers

ci: build the SPA image from .hanzo/workflows so the plain tag moves again
  .github/workflows/cmd-bridge-image.yml
  .github/workflows/docker.yml
  .hanzo/workflows/spa.yml
Owners: @luxfi/devops, @luxfi/bridge-maintainers

ci: build the SPA image from .hanzo/workflows so the plain tag moves again
  .github/workflows/cmd-bridge-image.yml
  .github/workflows/docker.yml
  .hanzo/workflows/spa.yml
Owners: @luxfi/devops, @luxfi/bridge-maintainers

fix(font): the vendored Zen faces named Geist in their name table
  app/bridge/public/fonts/Zen-Variable.woff2
  app/bridge3/public/fonts/Zen-Variable.woff2
Owners: @luxfi/bridge-maintainers

fix(font): the vendored Zen faces named Geist in their name table
  app/bridge/public/fonts/Zen-Variable.woff2
  app/bridge3/public/fonts/Zen-Variable.woff2
Owners: @luxfi/bridge-maintainers

the corporate name is Lux Industries Inc
  k8s/mpc-landing-pages.yaml
Owners: @luxfi/devops

the corporate name is Lux Industries Inc
  k8s/mpc-landing-pages.yaml
Owners: @luxfi/devops

bchain: call the methods BridgeVM actually serves
  internal/bchain/client.go
  internal/bchain/method_contract_test.go
Owners: @luxfi/bridge-maintainers

bchain: the mocks pinned the broken names, so nothing could fail
  internal/bchain/client_test.go
Owners: @luxfi/bridge-maintainers

bchain: a procedure is a value, so the join happens once
  internal/bchain/client.go
  internal/bchain/method_contract_test.go
Owners: @luxfi/bridge-maintainers

Say what a person can act on, and paint it in ink they can see
  LLM.md
  app/bridge/DEPLOY.md
  app/bridge/TESTNET-E2E.md
  app/bridge/package.json
  pkg/bridge/package.json
  pkg/bridge/src/__tests__/ChainSelector.test.tsx
  pkg/bridge/src/__tests__/Select.test.tsx
  pkg/bridge/src/__tests__/TransferStatus.test.tsx
  pkg/bridge/src/app/BridgeApp.tsx
  pkg/bridge/src/app/components/AssetInput.tsx
  pkg/bridge/src/app/components/Card.tsx
  pkg/bridge/src/app/components/Header.tsx
  pkg/bridge/src/app/components/Select.tsx
  pkg/bridge/src/app/components/SwapForm.tsx
  pkg/bridge/src/app/components/TransferStatus.tsx
  pkg/bridge/src/app/components/WalletConnect.tsx
  pkg/bridge/src/app/styles/theme.css
Owners: @luxfi/docs, @luxfi/bridge-maintainers

Say what a person can act on, and paint it in ink they can see
  LLM.md
  app/bridge/DEPLOY.md
  app/bridge/TESTNET-E2E.md
  app/bridge/package.json
  pkg/bridge/package.json
  pkg/bridge/src/__tests__/ChainSelector.test.tsx
  pkg/bridge/src/__tests__/Select.test.tsx
  pkg/bridge/src/__tests__/TransferStatus.test.tsx
  pkg/bridge/src/app/BridgeApp.tsx
  pkg/bridge/src/app/components/AssetInput.tsx
  pkg/bridge/src/app/components/Card.tsx
  pkg/bridge/src/app/components/Header.tsx
  pkg/bridge/src/app/components/Select.tsx
  pkg/bridge/src/app/components/SwapForm.tsx
  pkg/bridge/src/app/components/TransferStatus.tsx
  pkg/bridge/src/app/components/WalletConnect.tsx
  pkg/bridge/src/app/styles/theme.css
Owners: @luxfi/docs, @luxfi/bridge-maintainers

Our nodes serve /v1/, so ask them for /v1/
  pkg/settings/src/mainnet/networks.json
Owners: @luxfi/bridge-maintainers

Our nodes serve /v1/, so ask them for /v1/
  pkg/settings/src/mainnet/networks.json
Owners: @luxfi/bridge-maintainers

bridge: reach Hanzo, Pars and Osage, and hold the chain ids in one table
  cmd/bridge/estate_test.go
  cmd/bridge/evm.go
  cmd/bridge/main.go
  cmd/bridge/networks.mainnet.yaml
  internal/broadcast/client.go
  internal/depositcheck/client.go
  internal/mchain/client.go
  internal/tokens/tokens.go
  internal/txassembler/rpc_provider.go
Owners: @luxfi/bridge-maintainers

bridge: reach Hanzo, Pars and Osage, and hold the chain ids in one table
  cmd/bridge/estate_test.go
  cmd/bridge/evm.go
  cmd/bridge/main.go
  cmd/bridge/networks.mainnet.yaml
  internal/broadcast/client.go
  internal/depositcheck/client.go
  internal/mchain/client.go
  internal/tokens/tokens.go
  internal/txassembler/rpc_provider.go
Owners: @luxfi/bridge-maintainers

bridge: the assembler reads the networks the operator offers
  cmd/bridge/estate_test.go
  cmd/bridge/evm.go
  cmd/bridge/evm_offered_test.go
  cmd/bridge/main.go
Owners: @luxfi/bridge-maintainers

bridge: the assembler reads the networks the operator offers
  cmd/bridge/estate_test.go
  cmd/bridge/evm.go
  cmd/bridge/evm_offered_test.go
  cmd/bridge/main.go
Owners: @luxfi/bridge-maintainers

bridge: the API default is same origin, not a different server
  app/bridge/src/bridge.config.ts
Owners: @luxfi/bridge-maintainers

bridge: the API default is same origin, not a different server
  app/bridge/src/bridge.config.ts
Owners: @luxfi/bridge-maintainers

bridge: eight more networks, reached by custody
  cmd/bridge/evm_offered_test.go
  cmd/bridge/networks.mainnet.yaml
Owners: @luxfi/bridge-maintainers

bridge: eight more networks, reached by custody
  cmd/bridge/evm_offered_test.go
  cmd/bridge/networks.mainnet.yaml
Owners: @luxfi/bridge-maintainers

bridge: Cardano gets a Cardano address
  app/server/package.json
  app/server/src/domain/cardano-address.test.ts
  app/server/src/domain/cardano-address.ts
  app/server/src/domain/mpc-wallet.ts
  cmd/bridge/networks.mainnet.yaml
Owners: @luxfi/backend, @luxfi/bridge-maintainers

bridge: Cardano gets a Cardano address
  app/server/package.json
  app/server/src/domain/cardano-address.test.ts
  app/server/src/domain/cardano-address.ts
  app/server/src/domain/mpc-wallet.ts
  cmd/bridge/networks.mainnet.yaml
Owners: @luxfi/backend, @luxfi/bridge-maintainers

bridge: XRP gets an r-address
  app/server/src/domain/mpc-wallet.ts
  app/server/src/domain/xrp-address.test.ts
  app/server/src/domain/xrp-address.ts
Owners: @luxfi/backend

bridge: XRP gets an r-address
  app/server/src/domain/mpc-wallet.ts
  app/server/src/domain/xrp-address.test.ts
  app/server/src/domain/xrp-address.ts
Owners: @luxfi/backend

bridge: connect 0.2.1, and Cardano is one of the seven
  pkg/bridge/package.json
  pkg/bridge/src/app/hooks/useLuxWallet.ts
  pkg/bridge/src/app/lib/wallet-family.ts
  pnpm-lock.yaml
Owners: @luxfi/bridge-maintainers

bridge: connect 0.2.1, and Cardano is one of the seven
  pkg/bridge/package.json
  pkg/bridge/src/app/hooks/useLuxWallet.ts
  pkg/bridge/src/app/lib/wallet-family.ts
  pnpm-lock.yaml
Owners: @luxfi/bridge-maintainers

bridge: an unknown network is unknown, not Ethereum
  cmd/bridge/config.go
  cmd/bridge/estate_test.go
  cmd/bridge/evm_offered_test.go
  cmd/bridge/networks.mainnet.yaml
  cmd/bridge/release_pool_set.go
  cmd/bridge/release_pool_set_test.go
  cmd/bridge/signing_driver.go
  cmd/bridge/swaps_handler.go
  internal/broadcast/client.go
  internal/depositcheck/client.go
  internal/mchain/client.go
  internal/mchain/client_test.go
Owners: @luxfi/bridge-maintainers

bridge: an unknown network is unknown, not Ethereum
  cmd/bridge/config.go
  cmd/bridge/estate_test.go
  cmd/bridge/evm_offered_test.go
  cmd/bridge/networks.mainnet.yaml
  cmd/bridge/release_pool_set.go
  cmd/bridge/release_pool_set_test.go
  cmd/bridge/signing_driver.go
  cmd/bridge/swaps_handler.go
  internal/broadcast/client.go
  internal/depositcheck/client.go
  internal/mchain/client.go
  internal/mchain/client_test.go
Owners: @luxfi/bridge-maintainers

bridge: the TypeScript twin, and Cardano can be watched
  app/server/src/domain/mpc-wallet.ts
  cmd/bridge/networks.mainnet.yaml
  internal/depositcheck/client.go
Owners: @luxfi/backend, @luxfi/bridge-maintainers

bridge: the TypeScript twin, and Cardano can be watched
  app/server/src/domain/mpc-wallet.ts
  cmd/bridge/networks.mainnet.yaml
  internal/depositcheck/client.go
Owners: @luxfi/backend, @luxfi/bridge-maintainers

.github/CODEOWNERS:

# CODEOWNERS for Lux Bridge

# Default owners for everything in the repo
* @luxfi/bridge-maintainers

# MPC service owners
/mpc-service/ @luxfi/mpc-maintainers @luxfi/security

# Smart contracts owners  
/contracts/ @luxfi/smart-contracts @luxfi/security

# Frontend and UI owners
/app/client/ @luxfi/frontend
/app/ui/ @luxfi/frontend
/ui-automation/ @luxfi/qa

# Backend server owners
/app/server/ @luxfi/backend

# DevOps and CI/CD
/.github/ @luxfi/devops
/docker/ @luxfi/devops
/k8s/ @luxfi/devops

# Documentation
/docs/ @luxfi/docs
/*.md @luxfi/docs

# Security-sensitive files
/mpc-service/cmd/ @luxfi/security @luxfi/mpc-maintainers
/contracts/bridges/ @luxfi/security @luxfi/smart-contracts
/.env* @luxfi/security @luxfi/devops
