Repository luxfi/bridge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @luxfi/bridge-maintainers, @luxfi/mpc-maintainers, @luxfi/security, @luxfi/smart-contracts, @luxfi/frontend, @luxfi/qa, @luxfi/backend, @luxfi/devops, @luxfi/docs

ringtail → corona total rename — no alias, no wire compat
  opnet-watcher/signer.go
Owners: @luxfi/bridge-maintainers

ringtail → corona total rename — no alias, no wire compat
  opnet-watcher/signer.go
Owners: @luxfi/bridge-maintainers

ringtail → corona total rename — no alias, no wire compat
  opnet-watcher/signer.go
Owners: @luxfi/bridge-maintainers

ringtail → corona total rename — no alias, no wire compat
  opnet-watcher/signer.go
Owners: @luxfi/bridge-maintainers

ringtail → corona total rename — no alias, no wire compat
  opnet-watcher/signer.go
Owners: @luxfi/bridge-maintainers

ringtail → corona total rename — no alias, no wire compat
  opnet-watcher/signer.go
Owners: @luxfi/bridge-maintainers

go: 1.26.3 → 1.26.4 (security: crypto/x509, mime, net/textproto)
  go.mod
  opnet-watcher/go.mod
Owners: @luxfi/bridge-maintainers

go: 1.26.3 → 1.26.4 (security: crypto/x509, mime, net/textproto)
  go.mod
  opnet-watcher/go.mod
Owners: @luxfi/bridge-maintainers

deps: bump Go to 1.26.4 across go.mod, Dockerfiles, GH Actions
  .github/workflows/full-integration-tests.yml
  .github/workflows/integration-tests.yml
  .github/workflows/mpc-e2e-tests.yml
  cmd/bridge/Dockerfile
  opnet-watcher/Dockerfile
Owners: @luxfi/devops, @luxfi/bridge-maintainers

deps: bump Go to 1.26.4 across go.mod, Dockerfiles, GH Actions
  .github/workflows/full-integration-tests.yml
  .github/workflows/integration-tests.yml
  .github/workflows/mpc-e2e-tests.yml
  cmd/bridge/Dockerfile
  opnet-watcher/Dockerfile
Owners: @luxfi/devops, @luxfi/bridge-maintainers

deps: bump Go to 1.26.4 across go.mod, Dockerfiles, GH Actions
  .github/workflows/full-integration-tests.yml
  .github/workflows/integration-tests.yml
  .github/workflows/mpc-e2e-tests.yml
  cmd/bridge/Dockerfile
  go.mod
  opnet-watcher/Dockerfile
  opnet-watcher/go.mod
Owners: @luxfi/devops, @luxfi/bridge-maintainers

deps: bump Go to 1.26.4 across go.mod, Dockerfiles, GH Actions
  .github/workflows/full-integration-tests.yml
  .github/workflows/integration-tests.yml
  .github/workflows/mpc-e2e-tests.yml
  cmd/bridge/Dockerfile
  go.mod
  opnet-watcher/Dockerfile
  opnet-watcher/go.mod
Owners: @luxfi/devops, @luxfi/bridge-maintainers

deps: bump Go to 1.26.4 across go.mod, Dockerfiles, GH Actions
  .github/workflows/full-integration-tests.yml
  .github/workflows/integration-tests.yml
  .github/workflows/mpc-e2e-tests.yml
  cmd/bridge/Dockerfile
  go.mod
  opnet-watcher/Dockerfile
  opnet-watcher/go.mod
Owners: @luxfi/devops, @luxfi/bridge-maintainers

deps: bump Go to 1.26.4 across go.mod, Dockerfiles, GH Actions
  .github/workflows/full-integration-tests.yml
  .github/workflows/integration-tests.yml
  .github/workflows/mpc-e2e-tests.yml
  cmd/bridge/Dockerfile
  go.mod
  opnet-watcher/Dockerfile
  opnet-watcher/go.mod
Owners: @luxfi/devops, @luxfi/bridge-maintainers

deps: bump Go to 1.26.4 across go.mod, Dockerfiles, GH Actions
  .github/workflows/full-integration-tests.yml
  .github/workflows/integration-tests.yml
  .github/workflows/mpc-e2e-tests.yml
  cmd/bridge/Dockerfile
  go.mod
  opnet-watcher/Dockerfile
  opnet-watcher/go.mod
Owners: @luxfi/devops, @luxfi/bridge-maintainers

deps: bump Go to 1.26.4 across go.mod, Dockerfiles, GH Actions
  .github/workflows/full-integration-tests.yml
  .github/workflows/integration-tests.yml
  .github/workflows/mpc-e2e-tests.yml
  cmd/bridge/Dockerfile
  go.mod
  opnet-watcher/Dockerfile
  opnet-watcher/go.mod
Owners: @luxfi/devops, @luxfi/bridge-maintainers

deps: bump Go to 1.26.4 across go.mod, Dockerfiles, GH Actions
  .github/workflows/full-integration-tests.yml
  .github/workflows/integration-tests.yml
  .github/workflows/mpc-e2e-tests.yml
  cmd/bridge/Dockerfile
  go.mod
  opnet-watcher/Dockerfile
  opnet-watcher/go.mod
Owners: @luxfi/devops, @luxfi/bridge-maintainers

deps: bump Go to 1.26.4 across go.mod, Dockerfiles, GH Actions
  .github/workflows/full-integration-tests.yml
  .github/workflows/integration-tests.yml
  .github/workflows/mpc-e2e-tests.yml
  cmd/bridge/Dockerfile
  go.mod
  opnet-watcher/Dockerfile
  opnet-watcher/go.mod
Owners: @luxfi/devops, @luxfi/bridge-maintainers

deps: bump Go to 1.26.4 across go.mod, Dockerfiles, GH Actions
  .github/workflows/full-integration-tests.yml
  .github/workflows/integration-tests.yml
  .github/workflows/mpc-e2e-tests.yml
  cmd/bridge/Dockerfile
  go.mod
  opnet-watcher/Dockerfile
  opnet-watcher/go.mod
Owners: @luxfi/devops, @luxfi/bridge-maintainers

deps: bump Go to 1.26.4 across go.mod, Dockerfiles, GH Actions
  .github/workflows/full-integration-tests.yml
  .github/workflows/integration-tests.yml
  .github/workflows/mpc-e2e-tests.yml
  cmd/bridge/Dockerfile
  go.mod
  opnet-watcher/Dockerfile
  opnet-watcher/go.mod
Owners: @luxfi/devops, @luxfi/bridge-maintainers

deps: bump Go to 1.26.4 across go.mod, Dockerfiles, GH Actions
  .github/workflows/full-integration-tests.yml
  .github/workflows/integration-tests.yml
  .github/workflows/mpc-e2e-tests.yml
  cmd/bridge/Dockerfile
  go.mod
  opnet-watcher/Dockerfile
  opnet-watcher/go.mod
Owners: @luxfi/devops, @luxfi/bridge-maintainers

deps: bump Go to 1.26.4 across go.mod, Dockerfiles, GH Actions
  .github/workflows/full-integration-tests.yml
  .github/workflows/integration-tests.yml
  .github/workflows/mpc-e2e-tests.yml
  cmd/bridge/Dockerfile
  go.mod
  opnet-watcher/Dockerfile
  opnet-watcher/go.mod
Owners: @luxfi/devops, @luxfi/bridge-maintainers

deps: bump Go to 1.26.4 across go.mod, Dockerfiles, GH Actions
  .github/workflows/full-integration-tests.yml
  .github/workflows/integration-tests.yml
  .github/workflows/mpc-e2e-tests.yml
  cmd/bridge/Dockerfile
  go.mod
  opnet-watcher/Dockerfile
  opnet-watcher/go.mod
Owners: @luxfi/devops, @luxfi/bridge-maintainers

deps: bump Go to 1.26.4 across go.mod, Dockerfiles, GH Actions
  .github/workflows/full-integration-tests.yml
  .github/workflows/integration-tests.yml
  .github/workflows/mpc-e2e-tests.yml
  cmd/bridge/Dockerfile
  go.mod
  opnet-watcher/Dockerfile
  opnet-watcher/go.mod
Owners: @luxfi/devops, @luxfi/bridge-maintainers

deps: bump Go to 1.26.4 across go.mod, Dockerfiles, GH Actions
  .github/workflows/full-integration-tests.yml
  .github/workflows/integration-tests.yml
  .github/workflows/mpc-e2e-tests.yml
  cmd/bridge/Dockerfile
  go.mod
  opnet-watcher/Dockerfile
  opnet-watcher/go.mod
Owners: @luxfi/devops, @luxfi/bridge-maintainers

deps: bump Go to 1.26.4 across go.mod, Dockerfiles, GH Actions
  .github/workflows/full-integration-tests.yml
  .github/workflows/integration-tests.yml
  .github/workflows/mpc-e2e-tests.yml
  cmd/bridge/Dockerfile
  go.mod
  opnet-watcher/Dockerfile
  opnet-watcher/go.mod
Owners: @luxfi/devops, @luxfi/bridge-maintainers

docs: bump Go reference 1.26.x → 1.26.4
  docs/operator-runbook.md
Owners: @luxfi/docs

docs: bump Go reference 1.26.x → 1.26.4
  docs/operator-runbook.md
Owners: @luxfi/docs

docs: bump Go reference 1.26.x → 1.26.4
  docs/operator-runbook.md
Owners: @luxfi/docs

docs: bump Go reference 1.26.x → 1.26.4
  docs/operator-runbook.md
Owners: @luxfi/docs

docs: bump Go reference 1.26.x → 1.26.4
  docs/operator-runbook.md
Owners: @luxfi/docs

docs: bump Go reference 1.26.x → 1.26.4
  docs/operator-runbook.md
Owners: @luxfi/docs

docs: bump Go reference 1.26.x → 1.26.4
  docs/operator-runbook.md
Owners: @luxfi/docs

docs: bump Go reference 1.26.x → 1.26.4
  docs/operator-runbook.md
Owners: @luxfi/docs

docs: bump Go reference 1.26.x → 1.26.4
  docs/operator-runbook.md
Owners: @luxfi/docs

docs: bump Go reference 1.26.x → 1.26.4
  docs/operator-runbook.md
Owners: @luxfi/docs

docs: bump Go reference 1.26.x → 1.26.4
  docs/operator-runbook.md
Owners: @luxfi/docs

docs: bump Go reference 1.26.x → 1.26.4
  docs/operator-runbook.md
Owners: @luxfi/docs

docs: bump Go reference 1.26.x → 1.26.4
  docs/operator-runbook.md
Owners: @luxfi/docs

docs: bump Go reference 1.26.x → 1.26.4
  docs/operator-runbook.md
Owners: @luxfi/docs

.github/CODEOWNERS:

# CODEOWNERS for Lux Bridge

# Default owners for everything in the repo
* @luxfi/bridge-maintainers

# MPC service owners
/mpc-service/ @luxfi/mpc-maintainers @luxfi/security

# Smart contracts owners  
/contracts/ @luxfi/smart-contracts @luxfi/security

# Frontend and UI owners
/app/client/ @luxfi/frontend
/app/ui/ @luxfi/frontend
/ui-automation/ @luxfi/qa

# Backend server owners
/app/server/ @luxfi/backend

# DevOps and CI/CD
/.github/ @luxfi/devops
/docker/ @luxfi/devops
/k8s/ @luxfi/devops

# Documentation
/docs/ @luxfi/docs
/*.md @luxfi/docs

# Security-sensitive files
/mpc-service/cmd/ @luxfi/security @luxfi/mpc-maintainers
/contracts/bridges/ @luxfi/security @luxfi/smart-contracts
/.env* @luxfi/security @luxfi/devops
