Repository luxfi/bridge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @luxfi/bridge-maintainers, @luxfi/mpc-maintainers, @luxfi/security, @luxfi/smart-contracts, @luxfi/frontend, @luxfi/qa, @luxfi/backend, @luxfi/devops, @luxfi/docs

chore: ZOO Testnet ↔ LUX Testnet bidirectional smoke artifact
  docs/smoke-zoo-lux-testnet.md
Owners: @luxfi/docs

chore: ZOO Testnet ↔ LUX Testnet bidirectional smoke artifact
  docs/smoke-zoo-lux-testnet.md
Owners: @luxfi/docs

chore: LUX Testnet → ZOO Testnet UI smoke artifact (GIF)
  app/server/result-img/lux-zoo-test.gif
  docs/smoke-zoo-lux-testnet.md
Owners: @luxfi/backend, @luxfi/docs

chore: LUX Testnet → ZOO Testnet UI smoke artifact (GIF)
  app/server/result-img/lux-zoo-test.gif
  docs/smoke-zoo-lux-testnet.md
Owners: @luxfi/backend, @luxfi/docs

scrub branding + corona→corona (OSS brand hygiene)
  REQUIREMENTS.md
  docs/LLM.md
  pkg/bridge/src/app/hooks/useWallet.ts
Owners: @luxfi/docs, @luxfi/bridge-maintainers

scrub branding + corona→corona (OSS brand hygiene)
  REQUIREMENTS.md
  docs/LLM.md
  pkg/bridge/src/app/hooks/useWallet.ts
Owners: @luxfi/docs, @luxfi/bridge-maintainers

scrub branding + ringtail→corona (OSS brand hygiene)
  REQUIREMENTS.md
  k8s/mpc-landing-pages.yaml
  pkg/bridge/src/app/BridgeApp.tsx
  pkg/bridge/src/app/hooks/useWallet.ts
  pkg/bridge/src/app/lib/assets.ts
Owners: @luxfi/docs, @luxfi/devops, @luxfi/bridge-maintainers

scrub branding + ringtail→corona (OSS brand hygiene)
  REQUIREMENTS.md
  k8s/mpc-landing-pages.yaml
  pkg/bridge/src/app/BridgeApp.tsx
  pkg/bridge/src/app/hooks/useWallet.ts
  pkg/bridge/src/app/lib/assets.ts
Owners: @luxfi/docs, @luxfi/devops, @luxfi/bridge-maintainers

scrub branding + ringtail→corona (OSS brand hygiene)
  REQUIREMENTS.md
  k8s/mpc-landing-pages.yaml
  pkg/bridge/src/app/BridgeApp.tsx
  pkg/bridge/src/app/hooks/useWallet.ts
  pkg/bridge/src/app/lib/assets.ts
Owners: @luxfi/docs, @luxfi/devops, @luxfi/bridge-maintainers

scrub branding + corona→corona (OSS brand hygiene)
  REQUIREMENTS.md
  pkg/bridge/src/app/hooks/useWallet.ts
Owners: @luxfi/docs, @luxfi/bridge-maintainers

scrub branding + corona→corona (OSS brand hygiene)
  REQUIREMENTS.md
  pkg/bridge/src/app/hooks/useWallet.ts
Owners: @luxfi/docs, @luxfi/bridge-maintainers

scrub branding + ringtail→corona (OSS brand hygiene)
  REQUIREMENTS.md
  k8s/mpc-landing-pages.yaml
  pkg/bridge/src/app/BridgeApp.tsx
  pkg/bridge/src/app/hooks/useWallet.ts
  pkg/bridge/src/app/lib/assets.ts
Owners: @luxfi/docs, @luxfi/devops, @luxfi/bridge-maintainers

scrub branding + corona→corona (OSS brand hygiene)
  REQUIREMENTS.md
  pkg/bridge/src/app/hooks/useWallet.ts
Owners: @luxfi/docs, @luxfi/bridge-maintainers

scrub branding + corona→corona (OSS brand hygiene)
  REQUIREMENTS.md
  pkg/bridge/src/app/hooks/useWallet.ts
Owners: @luxfi/docs, @luxfi/bridge-maintainers

scrub branding + corona→corona (OSS brand hygiene)
  REQUIREMENTS.md
  pkg/bridge/src/app/hooks/useWallet.ts
Owners: @luxfi/docs, @luxfi/bridge-maintainers

scrub branding + ringtail→corona (OSS brand hygiene)
  REQUIREMENTS.md
  k8s/mpc-landing-pages.yaml
  pkg/bridge/src/app/BridgeApp.tsx
  pkg/bridge/src/app/hooks/useWallet.ts
  pkg/bridge/src/app/lib/assets.ts
Owners: @luxfi/docs, @luxfi/devops, @luxfi/bridge-maintainers

scrub branding + corona→corona (OSS brand hygiene)
  REQUIREMENTS.md
  pkg/bridge/src/app/hooks/useWallet.ts
Owners: @luxfi/docs, @luxfi/bridge-maintainers

scrub branding + ringtail→corona (OSS brand hygiene)
  REQUIREMENTS.md
  k8s/mpc-landing-pages.yaml
  pkg/bridge/src/app/BridgeApp.tsx
  pkg/bridge/src/app/hooks/useWallet.ts
  pkg/bridge/src/app/lib/assets.ts
Owners: @luxfi/docs, @luxfi/devops, @luxfi/bridge-maintainers

scrub branding + corona→corona (OSS brand hygiene)
  REQUIREMENTS.md
  pkg/bridge/src/app/hooks/useWallet.ts
Owners: @luxfi/docs, @luxfi/bridge-maintainers

scrub branding + corona→corona (OSS brand hygiene)
  REQUIREMENTS.md
  pkg/bridge/src/app/hooks/useWallet.ts
Owners: @luxfi/docs, @luxfi/bridge-maintainers

scrub branding + ringtail→corona (OSS brand hygiene)
  REQUIREMENTS.md
  k8s/mpc-landing-pages.yaml
  pkg/bridge/src/app/BridgeApp.tsx
  pkg/bridge/src/app/hooks/useWallet.ts
  pkg/bridge/src/app/lib/assets.ts
Owners: @luxfi/docs, @luxfi/devops, @luxfi/bridge-maintainers

scrub branding + ringtail→corona (OSS brand hygiene)
  REQUIREMENTS.md
  k8s/mpc-landing-pages.yaml
  pkg/bridge/src/app/BridgeApp.tsx
  pkg/bridge/src/app/hooks/useWallet.ts
  pkg/bridge/src/app/lib/assets.ts
Owners: @luxfi/docs, @luxfi/devops, @luxfi/bridge-maintainers

docs(REQUIREMENTS): R12 — Zoo corridor validated on-chain + smoke/GIF artifacts
  REQUIREMENTS.md
Owners: @luxfi/docs

docs(REQUIREMENTS): R12 — Zoo corridor validated on-chain + smoke/GIF artifacts
  REQUIREMENTS.md
Owners: @luxfi/docs

docs(go-live): Phase 0 testnet rehearsal — stack runs as a unit; fix price-feed blocker
  REQUIREMENTS.md
  cmd/bridge/main.go
  docs/GO-LIVE.md
  docs/rehearsal-artifacts/resources.txt
  docs/rehearsal-artifacts/swap1.json
  docs/rehearsal-artifacts/xrp-swap.json
  docs/rehearsal-phase0-findings.md
  k8s/bridge-deployment.yaml
Owners: @luxfi/docs, @luxfi/bridge-maintainers, @luxfi/devops

docs(go-live): Phase 0 testnet rehearsal — stack runs as a unit; fix price-feed blocker
  REQUIREMENTS.md
  cmd/bridge/main.go
  docs/GO-LIVE.md
  docs/rehearsal-artifacts/resources.txt
  docs/rehearsal-artifacts/swap1.json
  docs/rehearsal-artifacts/xrp-swap.json
  docs/rehearsal-phase0-findings.md
  k8s/bridge-deployment.yaml
Owners: @luxfi/docs, @luxfi/bridge-maintainers, @luxfi/devops

chore(go-live): cut + pin bridge image 88f9b4ad (price fix + Zoo path; G8 re-verified)
  docs/GO-LIVE.md
  docs/operator-deploy-ed25519.md
  docs/operator-deploy-phase-1-4.md
  k8s/bridge-deployment.yaml
Owners: @luxfi/docs, @luxfi/devops

chore(go-live): cut + pin bridge image a335a9f6 (price fix + Zoo path; G8 re-verified)
  docs/GO-LIVE.md
  docs/operator-deploy-ed25519.md
  docs/operator-deploy-phase-1-4.md
  k8s/bridge-deployment.yaml
Owners: @luxfi/docs, @luxfi/devops

corona→corona: academic Corona now only in lp-220-p3q-corona
  opnet-watcher/opnet-watcher
Owners: @luxfi/bridge-maintainers

corona→corona: academic Corona now only in lp-220-p3q-corona
  opnet-watcher/opnet-watcher
Owners: @luxfi/bridge-maintainers

chore(go-live): custody sign-off doc + ship SOL/TON/XRP disabled by default
  docs/GO-LIVE.md
  docs/custody-signoff-ed25519.md
  k8s/bridge-deployment.yaml
Owners: @luxfi/docs, @luxfi/devops

chore(go-live): custody sign-off doc + ship SOL/TON/XRP disabled by default
  docs/GO-LIVE.md
  docs/custody-signoff-ed25519.md
  k8s/bridge-deployment.yaml
Owners: @luxfi/docs, @luxfi/devops

chore(go-live): Phase 1 deploy script + fix MPC token secret ref for live cluster
  k8s/bridge-deployment.yaml
  scripts/deploy-phase1.sh
Owners: @luxfi/devops, @luxfi/bridge-maintainers

chore(go-live): Phase 1 deploy script + fix MPC token secret ref for live cluster
  k8s/bridge-deployment.yaml
  scripts/deploy-phase1.sh
Owners: @luxfi/devops, @luxfi/bridge-maintainers

docs(go-live): reconcile Phase 1 runbook to the live ingress-swap flow
  docs/GO-LIVE.md
  docs/operator-deploy-phase-1-4.md
Owners: @luxfi/docs

docs(go-live): reconcile Phase 1 runbook to the live ingress-swap flow
  docs/GO-LIVE.md
  docs/operator-deploy-phase-1-4.md
Owners: @luxfi/docs

chore(go-live): Phase 2 deploy script + reconcile ed25519 runbook to live cluster
  docs/operator-deploy-ed25519.md
  k8s/mpc-router-deployment.yaml
  scripts/deploy-phase2.sh
Owners: @luxfi/docs, @luxfi/devops, @luxfi/bridge-maintainers

chore(go-live): Phase 2 deploy script + reconcile ed25519 runbook to live cluster
  docs/operator-deploy-ed25519.md
  k8s/mpc-router-deployment.yaml
  scripts/deploy-phase2.sh
Owners: @luxfi/docs, @luxfi/devops, @luxfi/bridge-maintainers

docs(go-live): custody sign-off = hot/warm split (capped hot wallet + treasury)
  docs/custody-signoff-ed25519.md
Owners: @luxfi/docs

docs(go-live): custody sign-off = hot/warm split (capped hot wallet + treasury)
  docs/custody-signoff-ed25519.md
Owners: @luxfi/docs

.github/CODEOWNERS:

# CODEOWNERS for Lux Bridge

# Default owners for everything in the repo
* @luxfi/bridge-maintainers

# MPC service owners
/mpc-service/ @luxfi/mpc-maintainers @luxfi/security

# Smart contracts owners  
/contracts/ @luxfi/smart-contracts @luxfi/security

# Frontend and UI owners
/app/client/ @luxfi/frontend
/app/ui/ @luxfi/frontend
/ui-automation/ @luxfi/qa

# Backend server owners
/app/server/ @luxfi/backend

# DevOps and CI/CD
/.github/ @luxfi/devops
/docker/ @luxfi/devops
/k8s/ @luxfi/devops

# Documentation
/docs/ @luxfi/docs
/*.md @luxfi/docs

# Security-sensitive files
/mpc-service/cmd/ @luxfi/security @luxfi/mpc-maintainers
/contracts/bridges/ @luxfi/security @luxfi/smart-contracts
/.env* @luxfi/security @luxfi/devops
