Repository luxfi/bridge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @luxfi/bridge-maintainers, @luxfi/mpc-maintainers, @luxfi/security, @luxfi/smart-contracts, @luxfi/frontend, @luxfi/qa, @luxfi/backend, @luxfi/devops, @luxfi/docs

.github/CODEOWNERS:

# CODEOWNERS for Lux Bridge

# Default owners for everything in the repo
* @luxfi/bridge-maintainers

# MPC service owners
/mpc-service/ @luxfi/mpc-maintainers @luxfi/security

# Smart contracts owners  
/contracts/ @luxfi/smart-contracts @luxfi/security

# Frontend and UI owners
/app/client/ @luxfi/frontend
/app/ui/ @luxfi/frontend
/ui-automation/ @luxfi/qa

# Backend server owners
/app/server/ @luxfi/backend

# DevOps and CI/CD
/.github/ @luxfi/devops
/docker/ @luxfi/devops
/k8s/ @luxfi/devops

# Documentation
/docs/ @luxfi/docs
/*.md @luxfi/docs

# Security-sensitive files
/mpc-service/cmd/ @luxfi/security @luxfi/mpc-maintainers
/contracts/bridges/ @luxfi/security @luxfi/smart-contracts
/.env* @luxfi/security @luxfi/devops

chore: scrub brand references from comments and docs
  cmd/bridge/release_pool.go
  docs/LLM.md
  pkg/bridge/src/mount.ts
Owners: @luxfi/bridge-maintainers, @luxfi/docs

chore: scrub brand references from comments and docs
  cmd/bridge/release_pool.go
  docs/LLM.md
  pkg/bridge/src/mount.ts
Owners: @luxfi/bridge-maintainers, @luxfi/docs

chore: scrub brand references from comments and docs
  cmd/bridge/release_pool.go
  docs/LLM.md
  pkg/bridge/src/mount.ts
Owners: @luxfi/bridge-maintainers, @luxfi/docs

chore: scrub brand references from comments and docs
  cmd/bridge/release_pool.go
  docs/LLM.md
  pkg/bridge/src/mount.ts
Owners: @luxfi/bridge-maintainers, @luxfi/docs

chore: scrub brand references from comments and docs
  cmd/bridge/release_pool.go
  docs/LLM.md
  pkg/bridge/src/mount.ts
Owners: @luxfi/bridge-maintainers, @luxfi/docs

chore: scrub brand references from comments and docs
  cmd/bridge/release_pool.go
  docs/LLM.md
  pkg/bridge/src/mount.ts
Owners: @luxfi/bridge-maintainers, @luxfi/docs

chore: strip / brand refs (decomplect)
  REQUIREMENTS.md
Owners: @luxfi/docs

chore: strip / brand refs (decomplect)
  REQUIREMENTS.md
Owners: @luxfi/docs

chore: strip / brand refs (decomplect)
  REQUIREMENTS.md
Owners: @luxfi/docs

chore: strip / brand refs (decomplect)
  REQUIREMENTS.md
Owners: @luxfi/docs

chore: strip / brand refs (decomplect)
  REQUIREMENTS.md
Owners: @luxfi/docs

chore: strip / brand refs (decomplect)
  REQUIREMENTS.md
Owners: @luxfi/docs

chore: strip / brand refs (decomplect)
  REQUIREMENTS.md
Owners: @luxfi/docs

chore: strip / brand refs (decomplect)
  REQUIREMENTS.md
Owners: @luxfi/docs

chore: strip / brand refs (decomplect)
  REQUIREMENTS.md
Owners: @luxfi/docs

chore: strip / brand refs (decomplect)
  REQUIREMENTS.md
Owners: @luxfi/docs

chore: strip / brand refs (decomplect)
  REQUIREMENTS.md
Owners: @luxfi/docs

chore: strip / brand refs (decomplect)
  REQUIREMENTS.md
Owners: @luxfi/docs

chore: strip / brand refs (decomplect)
  REQUIREMENTS.md
Owners: @luxfi/docs

chore: strip / brand refs (decomplect)
  REQUIREMENTS.md
Owners: @luxfi/docs

chore: strip / brand refs (decomplect)
  REQUIREMENTS.md
Owners: @luxfi/docs

chore: strip / brand refs (decomplect)
  REQUIREMENTS.md
Owners: @luxfi/docs

ci: route to canonical native arcd labels [self-hosted, linux, <arch>]
  .github/workflows/docker.yml
  .github/workflows/publish.yml
  .github/workflows/release-go.yml
Owners: @luxfi/devops

ci: route to canonical native arcd labels [self-hosted, linux, <arch>]
  .github/workflows/docker.yml
  .github/workflows/publish.yml
  .github/workflows/release-go.yml
Owners: @luxfi/devops

ci: route to canonical native arcd labels [self-hosted, linux, <arch>]
  .github/workflows/docker.yml
  .github/workflows/publish.yml
Owners: @luxfi/devops

ci: route to canonical native arcd labels [self-hosted, linux, <arch>]
  .github/workflows/docker.yml
  .github/workflows/publish.yml
Owners: @luxfi/devops

ci: route to canonical native arcd labels [self-hosted, linux, <arch>]
  .github/workflows/docker.yml
  .github/workflows/publish.yml
Owners: @luxfi/devops

ci: route to canonical native arcd labels [self-hosted, linux, <arch>]
  .github/workflows/docker.yml
  .github/workflows/publish.yml
Owners: @luxfi/devops

ci: route to canonical native arcd labels [self-hosted, linux, <arch>]
  .github/workflows/docker.yml
  .github/workflows/publish.yml
Owners: @luxfi/devops

ci: route to canonical native arcd labels [self-hosted, linux, <arch>]
  .github/workflows/docker.yml
  .github/workflows/publish.yml
Owners: @luxfi/devops

ci: route to canonical native arcd labels [self-hosted, linux, <arch>]
  .github/workflows/docker.yml
  .github/workflows/publish.yml
Owners: @luxfi/devops

ci: route to canonical native arcd labels [self-hosted, linux, <arch>]
  .github/workflows/docker.yml
  .github/workflows/publish.yml
Owners: @luxfi/devops

ci: route to canonical native arcd labels [self-hosted, linux, <arch>]
  .github/workflows/docker.yml
  .github/workflows/publish.yml
Owners: @luxfi/devops

ci: route to canonical native arcd labels [self-hosted, linux, <arch>]
  .github/workflows/docker.yml
  .github/workflows/publish.yml
Owners: @luxfi/devops

ci: route to canonical native arcd labels [self-hosted, linux, <arch>]
  .github/workflows/docker.yml
  .github/workflows/publish.yml
Owners: @luxfi/devops

ci: route to canonical native arcd labels [self-hosted, linux, <arch>]
  .github/workflows/docker.yml
  .github/workflows/publish.yml
Owners: @luxfi/devops

ci: route to canonical native arcd labels [self-hosted, linux, <arch>]
  .github/workflows/docker.yml
  .github/workflows/publish.yml
Owners: @luxfi/devops

ci: route to canonical native arcd labels [self-hosted, linux, <arch>]
  .github/workflows/docker.yml
  .github/workflows/publish.yml
Owners: @luxfi/devops

ci: route to canonical native arcd labels [self-hosted, linux, <arch>]
  .github/workflows/docker.yml
  .github/workflows/publish.yml
Owners: @luxfi/devops

ci: route to canonical native arcd labels [self-hosted, linux, <arch>]
  .github/workflows/docker.yml
  .github/workflows/publish.yml
Owners: @luxfi/devops
