Repository luxfi/bridge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @luxfi/bridge-maintainers, @luxfi/mpc-maintainers, @luxfi/security, @luxfi/smart-contracts, @luxfi/frontend, @luxfi/qa, @luxfi/backend, @luxfi/devops, @luxfi/docs

security: remove plaintext MPC badger password from config.yaml
  config.yaml
Owners: @luxfi/bridge-maintainers

chore: sync deps and local changes
  app/bridge/package.json
  app/bridge/public/assets/img/lux-logo.svg
  app/bridge/src/components/header/desktop.tsx
  app/bridge/src/lib/tenant.ts
  app/server/package.json
Owners: @luxfi/bridge-maintainers, @luxfi/backend

chore: sync deps and local changes
  app/bridge/package.json
  app/bridge/public/assets/img/lux-logo.svg
  app/bridge/src/components/header/desktop.tsx
  app/bridge/src/lib/tenant.ts
  app/server/package.json
Owners: @luxfi/bridge-maintainers, @luxfi/backend

chore: sync deps and local changes
  app/bridge/package.json
  app/bridge/public/assets/img/lux-logo.svg
  app/bridge/src/components/header/desktop.tsx
  app/bridge/src/lib/tenant.ts
  app/server/package.json
Owners: @luxfi/bridge-maintainers, @luxfi/backend

chore: sync deps and local changes
  app/bridge/package.json
  app/bridge/public/assets/img/lux-logo.svg
  app/bridge/src/components/header/desktop.tsx
  app/bridge/src/lib/tenant.ts
  app/server/package.json
Owners: @luxfi/bridge-maintainers, @luxfi/backend

chore: sync deps and local changes
  app/bridge/package.json
  app/bridge/public/assets/img/lux-logo.svg
  app/bridge/src/components/header/desktop.tsx
  app/bridge/src/lib/tenant.ts
  app/server/package.json
Owners: @luxfi/bridge-maintainers, @luxfi/backend

security: strip stack traces, add helmet, proper health endpoint
  app/server/package.json
  app/server/src/server.ts
Owners: @luxfi/backend

security: strip stack traces, add helmet, proper health endpoint
  app/server/package.json
  app/server/src/server.ts
Owners: @luxfi/backend

security: strip stack traces, add helmet, proper health endpoint
  app/server/package.json
  app/server/src/server.ts
Owners: @luxfi/backend

security: strip stack traces, add helmet, proper health endpoint
  app/server/package.json
  app/server/src/server.ts
Owners: @luxfi/backend

security: strip stack traces, add helmet, proper health endpoint
  app/server/package.json
  app/server/src/server.ts
Owners: @luxfi/backend

chore: rename docker-compose.mpc.yaml → compose.mpc.yml, remove AI slop
  GEMINI.md
  docker/compose.mpc.yml
Owners: @luxfi/docs, @luxfi/devops

chore: rename docker-compose.mpc.yaml → compose.mpc.yml, remove AI slop
  GEMINI.md
  docker/compose.mpc.yml
Owners: @luxfi/docs, @luxfi/devops

chore: rename docker-compose.mpc.yaml → compose.mpc.yml, remove AI slop
  GEMINI.md
  docker/compose.mpc.yml
Owners: @luxfi/docs, @luxfi/devops

chore: rename docker-compose.mpc.yaml → compose.mpc.yml, remove AI slop
  GEMINI.md
  docker/compose.mpc.yml
Owners: @luxfi/docs, @luxfi/devops

chore: rename docker-compose.mpc.yaml → compose.mpc.yml, remove AI slop
  GEMINI.md
  docker/compose.mpc.yml
Owners: @luxfi/docs, @luxfi/devops

security(medium): CORS whitelist + rate limiting on bridge server
  app/server/package.json
  app/server/src/server.ts
  pnpm-lock.yaml
Owners: @luxfi/backend, @luxfi/bridge-maintainers

security(medium): CORS whitelist + rate limiting on bridge server
  app/server/package.json
  app/server/src/server.ts
  pnpm-lock.yaml
Owners: @luxfi/backend, @luxfi/bridge-maintainers

security(medium): CORS whitelist + rate limiting on bridge server
  app/server/package.json
  app/server/src/server.ts
  pnpm-lock.yaml
Owners: @luxfi/backend, @luxfi/bridge-maintainers

security(medium): CORS whitelist + rate limiting on bridge server
  app/server/package.json
  app/server/src/server.ts
  pnpm-lock.yaml
Owners: @luxfi/backend, @luxfi/bridge-maintainers

security(medium): CORS whitelist + rate limiting on bridge server
  app/server/package.json
  app/server/src/server.ts
  pnpm-lock.yaml
Owners: @luxfi/backend, @luxfi/bridge-maintainers

fix: replace nginx with hanzoai/static for MPC landing pages
  k8s/mpc-landing-pages.yaml
Owners: @luxfi/devops

fix: replace nginx with hanzoai/static for MPC landing pages
  k8s/mpc-landing-pages.yaml
Owners: @luxfi/devops

fix: replace nginx with hanzoai/static for MPC landing pages
  k8s/mpc-landing-pages.yaml
Owners: @luxfi/devops

fix: replace nginx with hanzoai/static for MPC landing pages
  k8s/mpc-landing-pages.yaml
Owners: @luxfi/devops

fix: replace nginx with hanzoai/static for MPC landing pages
  k8s/mpc-landing-pages.yaml
Owners: @luxfi/devops

fix: replace Google Docs legal links with env-driven URLs
  app/bridge3/app/site-def/footer/legal.ts
Owners: @luxfi/bridge-maintainers

fix: replace Google Docs legal links with env-driven URLs
  app/bridge3/app/site-def/footer/legal.ts
Owners: @luxfi/bridge-maintainers

fix: replace Google Docs legal links with env-driven URLs
  app/bridge3/app/site-def/footer/legal.ts
Owners: @luxfi/bridge-maintainers

fix: replace Google Docs legal links with env-driven URLs
  app/bridge3/app/site-def/footer/legal.ts
Owners: @luxfi/bridge-maintainers

fix: replace Google Docs legal links with env-driven URLs
  app/bridge3/app/site-def/footer/legal.ts
Owners: @luxfi/bridge-maintainers

chore: sync local changes
  .dockerignore
  app/bridge/public/assets/img/liquidity-logo.svg
  app/bridge/src/app/api/tenant/route.ts
  app/bridge/src/app/layout.tsx
  app/bridge/src/components/BridgeMenu/GotoExchange.tsx
  app/bridge/src/components/BridgeMenu/index.tsx
  app/bridge/src/components/BridgeMenu/social.tsx
  app/bridge/src/components/Campaigns/Details/Rewards.tsx
  app/bridge/src/components/Campaigns/Details/index.tsx
  app/bridge/src/components/RainbowKit.tsx
  app/bridge/src/components/Select/Command/commandSelect.tsx
  app/bridge/src/components/Swap/Withdraw/Coinbase/Authorize.tsx
  app/bridge/src/components/Swap/Withdraw/Failed.tsx
  app/bridge/src/components/Swap/Withdraw/ManualTransfer.tsx
  app/bridge/src/components/Swap/Withdraw/Wallet/ImtblxWalletWithdrawStep.tsx
  app/bridge/src/components/VerifyEmailCode.tsx
  app/bridge/src/components/globalFooter.tsx
  app/bridge/src/components/lux/utila/swap/progress/ManualTransfer.tsx
  app/bridge/src/components/lux/utila/swap/progress/SwapSuccess.tsx
  app/bridge/src/components/maintanance/maintanance.tsx
  app/bridge/src/lib/AppSettings.ts
  app/bridge/src/lib/ExchangeSettings.ts
  app/bridge/src/lib/tenant.ts
  app/bridge/src/lib/wallets/starknet/useStarknet.ts
  app/bridge/src/metadata.ts
  app/bridge/src/middleware.ts
  app/bridge/src/site-def.ts
  cloudbuild.yaml
Owners: @luxfi/bridge-maintainers

chore: sync local changes
  .dockerignore
  app/bridge/public/assets/img/liquidity-logo.svg
  app/bridge/src/app/api/tenant/route.ts
  app/bridge/src/app/layout.tsx
  app/bridge/src/components/BridgeMenu/GotoExchange.tsx
  app/bridge/src/components/BridgeMenu/index.tsx
  app/bridge/src/components/BridgeMenu/social.tsx
  app/bridge/src/components/Campaigns/Details/Rewards.tsx
  app/bridge/src/components/Campaigns/Details/index.tsx
  app/bridge/src/components/RainbowKit.tsx
  app/bridge/src/components/Select/Command/commandSelect.tsx
  app/bridge/src/components/Swap/Withdraw/Coinbase/Authorize.tsx
  app/bridge/src/components/Swap/Withdraw/Failed.tsx
  app/bridge/src/components/Swap/Withdraw/ManualTransfer.tsx
  app/bridge/src/components/Swap/Withdraw/Wallet/ImtblxWalletWithdrawStep.tsx
  app/bridge/src/components/VerifyEmailCode.tsx
  app/bridge/src/components/globalFooter.tsx
  app/bridge/src/components/lux/utila/swap/progress/ManualTransfer.tsx
  app/bridge/src/components/lux/utila/swap/progress/SwapSuccess.tsx
  app/bridge/src/components/maintanance/maintanance.tsx
  app/bridge/src/lib/AppSettings.ts
  app/bridge/src/lib/ExchangeSettings.ts
  app/bridge/src/lib/tenant.ts
  app/bridge/src/lib/wallets/starknet/useStarknet.ts
  app/bridge/src/metadata.ts
  app/bridge/src/middleware.ts
  app/bridge/src/site-def.ts
  cloudbuild.yaml
Owners: @luxfi/bridge-maintainers

chore: sync local changes
  .dockerignore
  app/bridge/public/assets/img/liquidity-logo.svg
  app/bridge/src/app/api/tenant/route.ts
  app/bridge/src/app/layout.tsx
  app/bridge/src/components/BridgeMenu/GotoExchange.tsx
  app/bridge/src/components/BridgeMenu/index.tsx
  app/bridge/src/components/BridgeMenu/social.tsx
  app/bridge/src/components/Campaigns/Details/Rewards.tsx
  app/bridge/src/components/Campaigns/Details/index.tsx
  app/bridge/src/components/RainbowKit.tsx
  app/bridge/src/components/Select/Command/commandSelect.tsx
  app/bridge/src/components/Swap/Withdraw/Coinbase/Authorize.tsx
  app/bridge/src/components/Swap/Withdraw/Failed.tsx
  app/bridge/src/components/Swap/Withdraw/ManualTransfer.tsx
  app/bridge/src/components/Swap/Withdraw/Wallet/ImtblxWalletWithdrawStep.tsx
  app/bridge/src/components/VerifyEmailCode.tsx
  app/bridge/src/components/globalFooter.tsx
  app/bridge/src/components/lux/utila/swap/progress/ManualTransfer.tsx
  app/bridge/src/components/lux/utila/swap/progress/SwapSuccess.tsx
  app/bridge/src/components/maintanance/maintanance.tsx
  app/bridge/src/lib/AppSettings.ts
  app/bridge/src/lib/ExchangeSettings.ts
  app/bridge/src/lib/tenant.ts
  app/bridge/src/lib/wallets/starknet/useStarknet.ts
  app/bridge/src/metadata.ts
  app/bridge/src/middleware.ts
  app/bridge/src/site-def.ts
  cloudbuild.yaml
Owners: @luxfi/bridge-maintainers

chore: sync local changes
  .dockerignore
  app/bridge/public/assets/img/liquidity-logo.svg
  app/bridge/src/app/api/tenant/route.ts
  app/bridge/src/app/layout.tsx
  app/bridge/src/components/BridgeMenu/GotoExchange.tsx
  app/bridge/src/components/BridgeMenu/index.tsx
  app/bridge/src/components/BridgeMenu/social.tsx
  app/bridge/src/components/Campaigns/Details/Rewards.tsx
  app/bridge/src/components/Campaigns/Details/index.tsx
  app/bridge/src/components/RainbowKit.tsx
  app/bridge/src/components/Select/Command/commandSelect.tsx
  app/bridge/src/components/Swap/Withdraw/Coinbase/Authorize.tsx
  app/bridge/src/components/Swap/Withdraw/Failed.tsx
  app/bridge/src/components/Swap/Withdraw/ManualTransfer.tsx
  app/bridge/src/components/Swap/Withdraw/Wallet/ImtblxWalletWithdrawStep.tsx
  app/bridge/src/components/VerifyEmailCode.tsx
  app/bridge/src/components/globalFooter.tsx
  app/bridge/src/components/lux/utila/swap/progress/ManualTransfer.tsx
  app/bridge/src/components/lux/utila/swap/progress/SwapSuccess.tsx
  app/bridge/src/components/maintanance/maintanance.tsx
  app/bridge/src/lib/AppSettings.ts
  app/bridge/src/lib/ExchangeSettings.ts
  app/bridge/src/lib/tenant.ts
  app/bridge/src/lib/wallets/starknet/useStarknet.ts
  app/bridge/src/metadata.ts
  app/bridge/src/middleware.ts
  app/bridge/src/site-def.ts
  cloudbuild.yaml
Owners: @luxfi/bridge-maintainers

chore: sync local changes
  .dockerignore
  app/bridge/public/assets/img/liquidity-logo.svg
  app/bridge/src/app/api/tenant/route.ts
  app/bridge/src/app/layout.tsx
  app/bridge/src/components/BridgeMenu/GotoExchange.tsx
  app/bridge/src/components/BridgeMenu/index.tsx
  app/bridge/src/components/BridgeMenu/social.tsx
  app/bridge/src/components/Campaigns/Details/Rewards.tsx
  app/bridge/src/components/Campaigns/Details/index.tsx
  app/bridge/src/components/RainbowKit.tsx
  app/bridge/src/components/Select/Command/commandSelect.tsx
  app/bridge/src/components/Swap/Withdraw/Coinbase/Authorize.tsx
  app/bridge/src/components/Swap/Withdraw/Failed.tsx
  app/bridge/src/components/Swap/Withdraw/ManualTransfer.tsx
  app/bridge/src/components/Swap/Withdraw/Wallet/ImtblxWalletWithdrawStep.tsx
  app/bridge/src/components/VerifyEmailCode.tsx
  app/bridge/src/components/globalFooter.tsx
  app/bridge/src/components/lux/utila/swap/progress/ManualTransfer.tsx
  app/bridge/src/components/lux/utila/swap/progress/SwapSuccess.tsx
  app/bridge/src/components/maintanance/maintanance.tsx
  app/bridge/src/lib/AppSettings.ts
  app/bridge/src/lib/ExchangeSettings.ts
  app/bridge/src/lib/tenant.ts
  app/bridge/src/lib/wallets/starknet/useStarknet.ts
  app/bridge/src/metadata.ts
  app/bridge/src/middleware.ts
  app/bridge/src/site-def.ts
  cloudbuild.yaml
Owners: @luxfi/bridge-maintainers

feat: BRAND_PACKAGE env var — white-label via npm brand package at startup
  Dockerfile
  app/bridge/public/brand.json
  app/bridge/src/lib/BridgeApiClient.ts
  app/bridge/src/lib/userAuthApiClient.ts
  app/bridge3/app/brand.ts
  app/bridge3/app/metadata.ts
  app/bridge3/public/brand.json
  app/server/src/domain/settings/mainnet/networks.ts
  docker/entrypoint.sh
Owners: @luxfi/bridge-maintainers, @luxfi/backend, @luxfi/devops

feat: BRAND_PACKAGE env var — white-label via npm brand package at startup
  Dockerfile
  app/bridge/public/brand.json
  app/bridge/src/lib/BridgeApiClient.ts
  app/bridge/src/lib/userAuthApiClient.ts
  app/bridge3/app/brand.ts
  app/bridge3/app/metadata.ts
  app/bridge3/public/brand.json
  app/server/src/domain/settings/mainnet/networks.ts
  docker/entrypoint.sh
Owners: @luxfi/bridge-maintainers, @luxfi/backend, @luxfi/devops

feat: BRAND_PACKAGE env var — white-label via npm brand package at startup
  Dockerfile
  app/bridge/public/brand.json
  app/bridge/src/lib/BridgeApiClient.ts
  app/bridge/src/lib/userAuthApiClient.ts
  app/bridge3/app/brand.ts
  app/bridge3/app/metadata.ts
  app/bridge3/public/brand.json
  app/server/src/domain/settings/mainnet/networks.ts
  docker/entrypoint.sh
Owners: @luxfi/bridge-maintainers, @luxfi/backend, @luxfi/devops

feat: BRAND_PACKAGE env var — white-label via npm brand package at startup
  Dockerfile
  app/bridge/public/brand.json
  app/bridge/src/lib/BridgeApiClient.ts
  app/bridge/src/lib/userAuthApiClient.ts
  app/bridge3/app/brand.ts
  app/bridge3/app/metadata.ts
  app/bridge3/public/brand.json
  app/server/src/domain/settings/mainnet/networks.ts
  docker/entrypoint.sh
Owners: @luxfi/bridge-maintainers, @luxfi/backend, @luxfi/devops

.github/CODEOWNERS:

# CODEOWNERS for Lux Bridge

# Default owners for everything in the repo
* @luxfi/bridge-maintainers

# MPC service owners
/mpc-service/ @luxfi/mpc-maintainers @luxfi/security

# Smart contracts owners  
/contracts/ @luxfi/smart-contracts @luxfi/security

# Frontend and UI owners
/app/client/ @luxfi/frontend
/app/ui/ @luxfi/frontend
/ui-automation/ @luxfi/qa

# Backend server owners
/app/server/ @luxfi/backend

# DevOps and CI/CD
/.github/ @luxfi/devops
/docker/ @luxfi/devops
/k8s/ @luxfi/devops

# Documentation
/docs/ @luxfi/docs
/*.md @luxfi/docs

# Security-sensitive files
/mpc-service/cmd/ @luxfi/security @luxfi/mpc-maintainers
/contracts/bridges/ @luxfi/security @luxfi/smart-contracts
/.env* @luxfi/security @luxfi/devops
