Repository luxfi/bridge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @luxfi/bridge-maintainers, @luxfi/mpc-maintainers, @luxfi/security, @luxfi/smart-contracts, @luxfi/frontend, @luxfi/qa, @luxfi/backend, @luxfi/devops, @luxfi/docs

.github/CODEOWNERS:

# CODEOWNERS for Lux Bridge

# Default owners for everything in the repo
* @luxfi/bridge-maintainers

# MPC service owners
/mpc-service/ @luxfi/mpc-maintainers @luxfi/security

# Smart contracts owners  
/contracts/ @luxfi/smart-contracts @luxfi/security

# Frontend and UI owners
/app/client/ @luxfi/frontend
/app/ui/ @luxfi/frontend
/ui-automation/ @luxfi/qa

# Backend server owners
/app/server/ @luxfi/backend

# DevOps and CI/CD
/.github/ @luxfi/devops
/docker/ @luxfi/devops
/k8s/ @luxfi/devops

# Documentation
/docs/ @luxfi/docs
/*.md @luxfi/docs

# Security-sensitive files
/mpc-service/cmd/ @luxfi/security @luxfi/mpc-maintainers
/contracts/bridges/ @luxfi/security @luxfi/smart-contracts
/.env* @luxfi/security @luxfi/devops

ci(docker): build workspace dep packages before Vite app build
  Dockerfile
Owners: @luxfi/bridge-maintainers

ci(docker): build only threshold + core (app/bridge's transitive workspace deps with dist exports)
  Dockerfile
Owners: @luxfi/bridge-maintainers

ci(docker): build only threshold + core (app/bridge's transitive workspace deps with dist exports)
  Dockerfile
Owners: @luxfi/bridge-maintainers

ci(docker): build only threshold + core (app/bridge's transitive workspace deps with dist exports)
  Dockerfile
Owners: @luxfi/bridge-maintainers

ci(docker): build only threshold + core (app/bridge's transitive workspace deps with dist exports)
  Dockerfile
Owners: @luxfi/bridge-maintainers

ci(docker): build only threshold + core (app/bridge's transitive workspace deps with dist exports)
  Dockerfile
Owners: @luxfi/bridge-maintainers

ci(docker): build only threshold + core (app/bridge's transitive workspace deps with dist exports)
  Dockerfile
Owners: @luxfi/bridge-maintainers

ci(docker): build only threshold + core (app/bridge's transitive workspace deps with dist exports)
  Dockerfile
Owners: @luxfi/bridge-maintainers

ci(docker): build only threshold + core (app/bridge's transitive workspace deps with dist exports)
  Dockerfile
Owners: @luxfi/bridge-maintainers

feat: base bridge functions like swap function has been set almost
  cmd/bridge/api.go
  cmd/bridge/broadcast_driver.go
  cmd/bridge/broadcast_driver_test.go
  cmd/bridge/deposit_watcher.go
  cmd/bridge/deposit_watcher_test.go
  cmd/bridge/main.go
  cmd/bridge/main_test.go
  cmd/bridge/quote_engine.go
  cmd/bridge/signing_driver.go
  cmd/bridge/signing_driver_test.go
  cmd/bridge/swap_store.go
  cmd/bridge/swaps_handler.go
  cmd/bridge/swaps_handler_test.go
  go.mod
  go.sum
  internal/bchain/client.go
  internal/bchain/client_test.go
  internal/broadcast/client.go
  internal/broadcast/client_test.go
  internal/depositcheck/client.go
  internal/depositcheck/client_test.go
  internal/mchain/client.go
  internal/mchain/client_test.go
  internal/txassembler/assembler.go
  internal/txassembler/assembler_test.go
  internal/txassembler/rlp.go
Owners: @luxfi/bridge-maintainers

feat: base bridge functions like swap function has been set almost
  cmd/bridge/api.go
  cmd/bridge/broadcast_driver.go
  cmd/bridge/broadcast_driver_test.go
  cmd/bridge/deposit_watcher.go
  cmd/bridge/deposit_watcher_test.go
  cmd/bridge/main.go
  cmd/bridge/main_test.go
  cmd/bridge/quote_engine.go
  cmd/bridge/signing_driver.go
  cmd/bridge/signing_driver_test.go
  cmd/bridge/swap_store.go
  cmd/bridge/swaps_handler.go
  cmd/bridge/swaps_handler_test.go
  go.mod
  go.sum
  internal/bchain/client.go
  internal/bchain/client_test.go
  internal/broadcast/client.go
  internal/broadcast/client_test.go
  internal/depositcheck/client.go
  internal/depositcheck/client_test.go
  internal/mchain/client.go
  internal/mchain/client_test.go
  internal/txassembler/assembler.go
  internal/txassembler/assembler_test.go
  internal/txassembler/rlp.go
Owners: @luxfi/bridge-maintainers

feat: base bridge functions like swap function has been set almost
  cmd/bridge/api.go
  cmd/bridge/broadcast_driver.go
  cmd/bridge/broadcast_driver_test.go
  cmd/bridge/deposit_watcher.go
  cmd/bridge/deposit_watcher_test.go
  cmd/bridge/main.go
  cmd/bridge/main_test.go
  cmd/bridge/quote_engine.go
  cmd/bridge/signing_driver.go
  cmd/bridge/signing_driver_test.go
  cmd/bridge/swap_store.go
  cmd/bridge/swaps_handler.go
  cmd/bridge/swaps_handler_test.go
  go.mod
  go.sum
  internal/bchain/client.go
  internal/bchain/client_test.go
  internal/broadcast/client.go
  internal/broadcast/client_test.go
  internal/depositcheck/client.go
  internal/depositcheck/client_test.go
  internal/mchain/client.go
  internal/mchain/client_test.go
  internal/txassembler/assembler.go
  internal/txassembler/assembler_test.go
  internal/txassembler/rlp.go
Owners: @luxfi/bridge-maintainers

feat: base bridge functions like swap function has been set almost
  cmd/bridge/api.go
  cmd/bridge/broadcast_driver.go
  cmd/bridge/broadcast_driver_test.go
  cmd/bridge/deposit_watcher.go
  cmd/bridge/deposit_watcher_test.go
  cmd/bridge/main.go
  cmd/bridge/main_test.go
  cmd/bridge/quote_engine.go
  cmd/bridge/signing_driver.go
  cmd/bridge/signing_driver_test.go
  cmd/bridge/swap_store.go
  cmd/bridge/swaps_handler.go
  cmd/bridge/swaps_handler_test.go
  go.mod
  go.sum
  internal/bchain/client.go
  internal/bchain/client_test.go
  internal/broadcast/client.go
  internal/broadcast/client_test.go
  internal/depositcheck/client.go
  internal/depositcheck/client_test.go
  internal/mchain/client.go
  internal/mchain/client_test.go
  internal/txassembler/assembler.go
  internal/txassembler/assembler_test.go
  internal/txassembler/rlp.go
Owners: @luxfi/bridge-maintainers

feat: base bridge functions like swap function has been set almost
  cmd/bridge/api.go
  cmd/bridge/broadcast_driver.go
  cmd/bridge/broadcast_driver_test.go
  cmd/bridge/deposit_watcher.go
  cmd/bridge/deposit_watcher_test.go
  cmd/bridge/main.go
  cmd/bridge/main_test.go
  cmd/bridge/quote_engine.go
  cmd/bridge/signing_driver.go
  cmd/bridge/signing_driver_test.go
  cmd/bridge/swap_store.go
  cmd/bridge/swaps_handler.go
  cmd/bridge/swaps_handler_test.go
  go.mod
  go.sum
  internal/bchain/client.go
  internal/bchain/client_test.go
  internal/broadcast/client.go
  internal/broadcast/client_test.go
  internal/depositcheck/client.go
  internal/depositcheck/client_test.go
  internal/mchain/client.go
  internal/mchain/client_test.go
  internal/txassembler/assembler.go
  internal/txassembler/assembler_test.go
  internal/txassembler/rlp.go
Owners: @luxfi/bridge-maintainers

feat: base bridge functions like swap function has been set almost
  cmd/bridge/api.go
  cmd/bridge/broadcast_driver.go
  cmd/bridge/broadcast_driver_test.go
  cmd/bridge/deposit_watcher.go
  cmd/bridge/deposit_watcher_test.go
  cmd/bridge/main.go
  cmd/bridge/main_test.go
  cmd/bridge/quote_engine.go
  cmd/bridge/signing_driver.go
  cmd/bridge/signing_driver_test.go
  cmd/bridge/swap_store.go
  cmd/bridge/swaps_handler.go
  cmd/bridge/swaps_handler_test.go
  go.mod
  go.sum
  internal/bchain/client.go
  internal/bchain/client_test.go
  internal/broadcast/client.go
  internal/broadcast/client_test.go
  internal/depositcheck/client.go
  internal/depositcheck/client_test.go
  internal/mchain/client.go
  internal/mchain/client_test.go
  internal/txassembler/assembler.go
  internal/txassembler/assembler_test.go
  internal/txassembler/rlp.go
Owners: @luxfi/bridge-maintainers

feat: base bridge functions like swap function has been set almost
  cmd/bridge/api.go
  cmd/bridge/broadcast_driver.go
  cmd/bridge/broadcast_driver_test.go
  cmd/bridge/deposit_watcher.go
  cmd/bridge/deposit_watcher_test.go
  cmd/bridge/main.go
  cmd/bridge/main_test.go
  cmd/bridge/quote_engine.go
  cmd/bridge/signing_driver.go
  cmd/bridge/signing_driver_test.go
  cmd/bridge/swap_store.go
  cmd/bridge/swaps_handler.go
  cmd/bridge/swaps_handler_test.go
  go.mod
  go.sum
  internal/bchain/client.go
  internal/bchain/client_test.go
  internal/broadcast/client.go
  internal/broadcast/client_test.go
  internal/depositcheck/client.go
  internal/depositcheck/client_test.go
  internal/mchain/client.go
  internal/mchain/client_test.go
  internal/txassembler/assembler.go
  internal/txassembler/assembler_test.go
  internal/txassembler/rlp.go
Owners: @luxfi/bridge-maintainers

feat: base bridge functions like swap function has been set almost
  cmd/bridge/api.go
  cmd/bridge/broadcast_driver.go
  cmd/bridge/broadcast_driver_test.go
  cmd/bridge/deposit_watcher.go
  cmd/bridge/deposit_watcher_test.go
  cmd/bridge/main.go
  cmd/bridge/main_test.go
  cmd/bridge/quote_engine.go
  cmd/bridge/signing_driver.go
  cmd/bridge/signing_driver_test.go
  cmd/bridge/swap_store.go
  cmd/bridge/swaps_handler.go
  cmd/bridge/swaps_handler_test.go
  go.mod
  go.sum
  internal/bchain/client.go
  internal/bchain/client_test.go
  internal/broadcast/client.go
  internal/broadcast/client_test.go
  internal/depositcheck/client.go
  internal/depositcheck/client_test.go
  internal/mchain/client.go
  internal/mchain/client_test.go
  internal/txassembler/assembler.go
  internal/txassembler/assembler_test.go
  internal/txassembler/rlp.go
Owners: @luxfi/bridge-maintainers

feat: base bridge functions like swap function has been set almost
  cmd/bridge/api.go
  cmd/bridge/broadcast_driver.go
  cmd/bridge/broadcast_driver_test.go
  cmd/bridge/deposit_watcher.go
  cmd/bridge/deposit_watcher_test.go
  cmd/bridge/main.go
  cmd/bridge/main_test.go
  cmd/bridge/quote_engine.go
  cmd/bridge/signing_driver.go
  cmd/bridge/signing_driver_test.go
  cmd/bridge/swap_store.go
  cmd/bridge/swaps_handler.go
  cmd/bridge/swaps_handler_test.go
  go.mod
  go.sum
  internal/bchain/client.go
  internal/bchain/client_test.go
  internal/broadcast/client.go
  internal/broadcast/client_test.go
  internal/depositcheck/client.go
  internal/depositcheck/client_test.go
  internal/mchain/client.go
  internal/mchain/client_test.go
  internal/txassembler/assembler.go
  internal/txassembler/assembler_test.go
  internal/txassembler/rlp.go
Owners: @luxfi/bridge-maintainers

feat: base bridge functions like swap function has been set almost
  cmd/bridge/api.go
  cmd/bridge/broadcast_driver.go
  cmd/bridge/broadcast_driver_test.go
  cmd/bridge/deposit_watcher.go
  cmd/bridge/deposit_watcher_test.go
  cmd/bridge/main.go
  cmd/bridge/main_test.go
  cmd/bridge/quote_engine.go
  cmd/bridge/signing_driver.go
  cmd/bridge/signing_driver_test.go
  cmd/bridge/swap_store.go
  cmd/bridge/swaps_handler.go
  cmd/bridge/swaps_handler_test.go
  go.mod
  go.sum
  internal/bchain/client.go
  internal/bchain/client_test.go
  internal/broadcast/client.go
  internal/broadcast/client_test.go
  internal/depositcheck/client.go
  internal/depositcheck/client_test.go
  internal/mchain/client.go
  internal/mchain/client_test.go
  internal/txassembler/assembler.go
  internal/txassembler/assembler_test.go
  internal/txassembler/rlp.go
Owners: @luxfi/bridge-maintainers

feat: base bridge functions like swap function has been set almost
  cmd/bridge/api.go
  cmd/bridge/broadcast_driver.go
  cmd/bridge/broadcast_driver_test.go
  cmd/bridge/deposit_watcher.go
  cmd/bridge/deposit_watcher_test.go
  cmd/bridge/main.go
  cmd/bridge/main_test.go
  cmd/bridge/quote_engine.go
  cmd/bridge/signing_driver.go
  cmd/bridge/signing_driver_test.go
  cmd/bridge/swap_store.go
  cmd/bridge/swaps_handler.go
  cmd/bridge/swaps_handler_test.go
  go.mod
  go.sum
  internal/bchain/client.go
  internal/bchain/client_test.go
  internal/broadcast/client.go
  internal/broadcast/client_test.go
  internal/depositcheck/client.go
  internal/depositcheck/client_test.go
  internal/mchain/client.go
  internal/mchain/client_test.go
  internal/txassembler/assembler.go
  internal/txassembler/assembler_test.go
  internal/txassembler/rlp.go
Owners: @luxfi/bridge-maintainers

chore: brand-neutral cleanup — remove cross-tenant references
  app/bridge/package.json
  app/explorer/package.json
  app/server/package.json
  app/server/src/domain/__tests__/cosigners-aws-azure-vault-fchain.test.ts
  app/server/src/domain/__tests__/cosigners-fireblocks.test.ts
  app/server/src/domain/__tests__/cosigners-gcp-kms.test.ts
  app/server/src/domain/__tests__/cosigners-persistence.test.ts
  app/server/src/domain/__tests__/mpc-signer.test.ts
  app/server/src/domain/__tests__/mpc-wallet.test.ts
  app/server/src/routes/explorer.ts
  app/server/src/routes/limits.ts
  app/server/src/routes/rate.ts
  app/server/src/routes/swaps.ts
  app/server/src/routes/tokens.ts
  app/server/tsconfig.json
  docs/LLM.md
  e2e/package.json
  package.json
  pkg/bridge/package.json
  pkg/bridge/src/mount.ts
  pkg/core/package.json
  pkg/threshold/package.json
  pkg/ui/package.json
  pkg/utila/package.json
  pnpm-lock.yaml
Owners: @luxfi/bridge-maintainers, @luxfi/backend, @luxfi/docs

chore: brand-neutral cleanup — remove cross-tenant references
  app/bridge/package.json
  app/explorer/package.json
  app/server/package.json
  app/server/src/domain/__tests__/cosigners-aws-azure-vault-fchain.test.ts
  app/server/src/domain/__tests__/cosigners-fireblocks.test.ts
  app/server/src/domain/__tests__/cosigners-gcp-kms.test.ts
  app/server/src/domain/__tests__/cosigners-persistence.test.ts
  app/server/src/domain/__tests__/mpc-signer.test.ts
  app/server/src/domain/__tests__/mpc-wallet.test.ts
  app/server/src/routes/explorer.ts
  app/server/src/routes/limits.ts
  app/server/src/routes/rate.ts
  app/server/src/routes/swaps.ts
  app/server/src/routes/tokens.ts
  app/server/tsconfig.json
  docs/LLM.md
  e2e/package.json
  package.json
  pkg/bridge/package.json
  pkg/bridge/src/mount.ts
  pkg/core/package.json
  pkg/threshold/package.json
  pkg/ui/package.json
  pkg/utila/package.json
  pnpm-lock.yaml
Owners: @luxfi/bridge-maintainers, @luxfi/backend, @luxfi/docs

chore: brand-neutral cleanup — remove cross-tenant references
  app/bridge/package.json
  app/explorer/package.json
  app/server/package.json
  app/server/src/domain/__tests__/cosigners-aws-azure-vault-fchain.test.ts
  app/server/src/domain/__tests__/cosigners-fireblocks.test.ts
  app/server/src/domain/__tests__/cosigners-gcp-kms.test.ts
  app/server/src/domain/__tests__/cosigners-persistence.test.ts
  app/server/src/domain/__tests__/mpc-signer.test.ts
  app/server/src/domain/__tests__/mpc-wallet.test.ts
  app/server/src/routes/explorer.ts
  app/server/src/routes/limits.ts
  app/server/src/routes/rate.ts
  app/server/src/routes/swaps.ts
  app/server/src/routes/tokens.ts
  app/server/tsconfig.json
  docs/LLM.md
  e2e/package.json
  package.json
  pkg/bridge/package.json
  pkg/bridge/src/mount.ts
  pkg/core/package.json
  pkg/threshold/package.json
  pkg/ui/package.json
  pkg/utila/package.json
  pnpm-lock.yaml
Owners: @luxfi/bridge-maintainers, @luxfi/backend, @luxfi/docs

chore: brand-neutral cleanup — remove cross-tenant references
  app/bridge/package.json
  app/explorer/package.json
  app/server/package.json
  app/server/src/domain/__tests__/cosigners-aws-azure-vault-fchain.test.ts
  app/server/src/domain/__tests__/cosigners-fireblocks.test.ts
  app/server/src/domain/__tests__/cosigners-gcp-kms.test.ts
  app/server/src/domain/__tests__/cosigners-persistence.test.ts
  app/server/src/domain/__tests__/mpc-signer.test.ts
  app/server/src/domain/__tests__/mpc-wallet.test.ts
  app/server/src/routes/explorer.ts
  app/server/src/routes/limits.ts
  app/server/src/routes/rate.ts
  app/server/src/routes/swaps.ts
  app/server/src/routes/tokens.ts
  app/server/tsconfig.json
  docs/LLM.md
  e2e/package.json
  package.json
  pkg/bridge/package.json
  pkg/bridge/src/mount.ts
  pkg/core/package.json
  pkg/threshold/package.json
  pkg/ui/package.json
  pkg/utila/package.json
  pnpm-lock.yaml
Owners: @luxfi/bridge-maintainers, @luxfi/backend, @luxfi/docs

chore: brand-neutral cleanup — remove cross-tenant references
  app/bridge/package.json
  app/explorer/package.json
  app/server/package.json
  app/server/src/domain/__tests__/cosigners-aws-azure-vault-fchain.test.ts
  app/server/src/domain/__tests__/cosigners-fireblocks.test.ts
  app/server/src/domain/__tests__/cosigners-gcp-kms.test.ts
  app/server/src/domain/__tests__/cosigners-persistence.test.ts
  app/server/src/domain/__tests__/mpc-signer.test.ts
  app/server/src/domain/__tests__/mpc-wallet.test.ts
  app/server/src/routes/explorer.ts
  app/server/src/routes/limits.ts
  app/server/src/routes/rate.ts
  app/server/src/routes/swaps.ts
  app/server/src/routes/tokens.ts
  app/server/tsconfig.json
  docs/LLM.md
  e2e/package.json
  package.json
  pkg/bridge/package.json
  pkg/bridge/src/mount.ts
  pkg/core/package.json
  pkg/threshold/package.json
  pkg/ui/package.json
  pkg/utila/package.json
  pnpm-lock.yaml
Owners: @luxfi/bridge-maintainers, @luxfi/backend, @luxfi/docs

chore: brand-neutral cleanup — remove cross-tenant references
  app/bridge/package.json
  app/explorer/package.json
  app/server/package.json
  app/server/src/domain/__tests__/cosigners-aws-azure-vault-fchain.test.ts
  app/server/src/domain/__tests__/cosigners-fireblocks.test.ts
  app/server/src/domain/__tests__/cosigners-gcp-kms.test.ts
  app/server/src/domain/__tests__/cosigners-persistence.test.ts
  app/server/src/domain/__tests__/mpc-signer.test.ts
  app/server/src/domain/__tests__/mpc-wallet.test.ts
  app/server/src/routes/explorer.ts
  app/server/src/routes/limits.ts
  app/server/src/routes/rate.ts
  app/server/src/routes/swaps.ts
  app/server/src/routes/tokens.ts
  app/server/tsconfig.json
  docs/LLM.md
  e2e/package.json
  package.json
  pkg/bridge/package.json
  pkg/bridge/src/mount.ts
  pkg/core/package.json
  pkg/threshold/package.json
  pkg/ui/package.json
  pkg/utila/package.json
  pnpm-lock.yaml
Owners: @luxfi/bridge-maintainers, @luxfi/backend, @luxfi/docs

chore: brand-neutral cleanup — remove cross-tenant references
  app/bridge/package.json
  app/explorer/package.json
  app/server/package.json
  app/server/src/domain/__tests__/cosigners-aws-azure-vault-fchain.test.ts
  app/server/src/domain/__tests__/cosigners-fireblocks.test.ts
  app/server/src/domain/__tests__/cosigners-gcp-kms.test.ts
  app/server/src/domain/__tests__/cosigners-persistence.test.ts
  app/server/src/domain/__tests__/mpc-signer.test.ts
  app/server/src/domain/__tests__/mpc-wallet.test.ts
  app/server/src/routes/explorer.ts
  app/server/src/routes/limits.ts
  app/server/src/routes/rate.ts
  app/server/src/routes/swaps.ts
  app/server/src/routes/tokens.ts
  app/server/tsconfig.json
  docs/LLM.md
  e2e/package.json
  package.json
  pkg/bridge/package.json
  pkg/bridge/src/mount.ts
  pkg/core/package.json
  pkg/threshold/package.json
  pkg/ui/package.json
  pkg/utila/package.json
  pnpm-lock.yaml
Owners: @luxfi/bridge-maintainers, @luxfi/backend, @luxfi/docs

chore: brand-neutral cleanup — remove cross-tenant references
  app/bridge/package.json
  app/explorer/package.json
  app/server/package.json
  app/server/src/domain/__tests__/cosigners-aws-azure-vault-fchain.test.ts
  app/server/src/domain/__tests__/cosigners-fireblocks.test.ts
  app/server/src/domain/__tests__/cosigners-gcp-kms.test.ts
  app/server/src/domain/__tests__/cosigners-persistence.test.ts
  app/server/src/domain/__tests__/mpc-signer.test.ts
  app/server/src/domain/__tests__/mpc-wallet.test.ts
  app/server/src/routes/explorer.ts
  app/server/src/routes/limits.ts
  app/server/src/routes/rate.ts
  app/server/src/routes/swaps.ts
  app/server/src/routes/tokens.ts
  app/server/tsconfig.json
  docs/LLM.md
  e2e/package.json
  package.json
  pkg/bridge/package.json
  pkg/bridge/src/mount.ts
  pkg/core/package.json
  pkg/threshold/package.json
  pkg/ui/package.json
  pkg/utila/package.json
  pnpm-lock.yaml
Owners: @luxfi/bridge-maintainers, @luxfi/backend, @luxfi/docs

feat: added mpc sign option
  cmd/bridge/Dockerfile
  cmd/bridge/main.go
  cmd/bridge/zap_store.go
  cmd/bridge/zap_store_test.go
  docs/operator-runbook.md
  go.mod
  go.sum
  internal/depositcheck/client.go
  internal/depositcheck/client_test.go
  internal/tokens/tokens.go
  internal/tokens/tokens_test.go
  internal/txassembler/assembler.go
  internal/txassembler/assembler_test.go
  internal/txassembler/rpc_provider.go
  internal/txassembler/rpc_provider_test.go
  k8s/bridge-deployment.yaml
Owners: @luxfi/bridge-maintainers, @luxfi/docs, @luxfi/devops

feat: added mpc sign option
  cmd/bridge/Dockerfile
  cmd/bridge/main.go
  cmd/bridge/zap_store.go
  cmd/bridge/zap_store_test.go
  docs/operator-runbook.md
  go.mod
  go.sum
  internal/depositcheck/client.go
  internal/depositcheck/client_test.go
  internal/tokens/tokens.go
  internal/tokens/tokens_test.go
  internal/txassembler/assembler.go
  internal/txassembler/assembler_test.go
  internal/txassembler/rpc_provider.go
  internal/txassembler/rpc_provider_test.go
  k8s/bridge-deployment.yaml
Owners: @luxfi/bridge-maintainers, @luxfi/docs, @luxfi/devops

feat: added mpc sign option
  cmd/bridge/Dockerfile
  cmd/bridge/main.go
  cmd/bridge/zap_store.go
  cmd/bridge/zap_store_test.go
  docs/operator-runbook.md
  go.mod
  go.sum
  internal/depositcheck/client.go
  internal/depositcheck/client_test.go
  internal/tokens/tokens.go
  internal/tokens/tokens_test.go
  internal/txassembler/assembler.go
  internal/txassembler/assembler_test.go
  internal/txassembler/rpc_provider.go
  internal/txassembler/rpc_provider_test.go
  k8s/bridge-deployment.yaml
Owners: @luxfi/bridge-maintainers, @luxfi/docs, @luxfi/devops

feat: added mpc sign option
  cmd/bridge/Dockerfile
  cmd/bridge/main.go
  cmd/bridge/zap_store.go
  cmd/bridge/zap_store_test.go
  docs/operator-runbook.md
  go.mod
  go.sum
  internal/depositcheck/client.go
  internal/depositcheck/client_test.go
  internal/tokens/tokens.go
  internal/tokens/tokens_test.go
  internal/txassembler/assembler.go
  internal/txassembler/assembler_test.go
  internal/txassembler/rpc_provider.go
  internal/txassembler/rpc_provider_test.go
  k8s/bridge-deployment.yaml
Owners: @luxfi/bridge-maintainers, @luxfi/docs, @luxfi/devops

feat: added mpc sign option
  cmd/bridge/Dockerfile
  cmd/bridge/main.go
  cmd/bridge/zap_store.go
  cmd/bridge/zap_store_test.go
  docs/operator-runbook.md
  go.mod
  go.sum
  internal/depositcheck/client.go
  internal/depositcheck/client_test.go
  internal/tokens/tokens.go
  internal/tokens/tokens_test.go
  internal/txassembler/assembler.go
  internal/txassembler/assembler_test.go
  internal/txassembler/rpc_provider.go
  internal/txassembler/rpc_provider_test.go
  k8s/bridge-deployment.yaml
Owners: @luxfi/bridge-maintainers, @luxfi/docs, @luxfi/devops

feat: added mpc sign option
  cmd/bridge/Dockerfile
  cmd/bridge/main.go
  cmd/bridge/zap_store.go
  cmd/bridge/zap_store_test.go
  docs/operator-runbook.md
  go.mod
  go.sum
  internal/depositcheck/client.go
  internal/depositcheck/client_test.go
  internal/tokens/tokens.go
  internal/tokens/tokens_test.go
  internal/txassembler/assembler.go
  internal/txassembler/assembler_test.go
  internal/txassembler/rpc_provider.go
  internal/txassembler/rpc_provider_test.go
  k8s/bridge-deployment.yaml
Owners: @luxfi/bridge-maintainers, @luxfi/docs, @luxfi/devops

feat: added mpc sign option
  cmd/bridge/Dockerfile
  cmd/bridge/main.go
  cmd/bridge/zap_store.go
  cmd/bridge/zap_store_test.go
  docs/operator-runbook.md
  go.mod
  go.sum
  internal/depositcheck/client.go
  internal/depositcheck/client_test.go
  internal/tokens/tokens.go
  internal/tokens/tokens_test.go
  internal/txassembler/assembler.go
  internal/txassembler/assembler_test.go
  internal/txassembler/rpc_provider.go
  internal/txassembler/rpc_provider_test.go
  k8s/bridge-deployment.yaml
Owners: @luxfi/bridge-maintainers, @luxfi/docs, @luxfi/devops

feat: added mpc sign option
  cmd/bridge/Dockerfile
  cmd/bridge/main.go
  cmd/bridge/zap_store.go
  cmd/bridge/zap_store_test.go
  docs/operator-runbook.md
  go.mod
  go.sum
  internal/depositcheck/client.go
  internal/depositcheck/client_test.go
  internal/tokens/tokens.go
  internal/tokens/tokens_test.go
  internal/txassembler/assembler.go
  internal/txassembler/assembler_test.go
  internal/txassembler/rpc_provider.go
  internal/txassembler/rpc_provider_test.go
  k8s/bridge-deployment.yaml
Owners: @luxfi/bridge-maintainers, @luxfi/docs, @luxfi/devops

feat: added mpc sign option
  cmd/bridge/Dockerfile
  cmd/bridge/main.go
  cmd/bridge/zap_store.go
  cmd/bridge/zap_store_test.go
  docs/operator-runbook.md
  go.mod
  go.sum
  internal/depositcheck/client.go
  internal/depositcheck/client_test.go
  internal/tokens/tokens.go
  internal/tokens/tokens_test.go
  internal/txassembler/assembler.go
  internal/txassembler/assembler_test.go
  internal/txassembler/rpc_provider.go
  internal/txassembler/rpc_provider_test.go
  k8s/bridge-deployment.yaml
Owners: @luxfi/bridge-maintainers, @luxfi/docs, @luxfi/devops

feat: added mpc sign option
  cmd/bridge/Dockerfile
  cmd/bridge/main.go
  cmd/bridge/zap_store.go
  cmd/bridge/zap_store_test.go
  docs/operator-runbook.md
  go.mod
  go.sum
  internal/depositcheck/client.go
  internal/depositcheck/client_test.go
  internal/tokens/tokens.go
  internal/tokens/tokens_test.go
  internal/txassembler/assembler.go
  internal/txassembler/assembler_test.go
  internal/txassembler/rpc_provider.go
  internal/txassembler/rpc_provider_test.go
  k8s/bridge-deployment.yaml
Owners: @luxfi/bridge-maintainers, @luxfi/docs, @luxfi/devops

feat: added mpc sign option
  cmd/bridge/Dockerfile
  cmd/bridge/main.go
  cmd/bridge/zap_store.go
  cmd/bridge/zap_store_test.go
  docs/operator-runbook.md
  go.mod
  go.sum
  internal/depositcheck/client.go
  internal/depositcheck/client_test.go
  internal/tokens/tokens.go
  internal/tokens/tokens_test.go
  internal/txassembler/assembler.go
  internal/txassembler/assembler_test.go
  internal/txassembler/rpc_provider.go
  internal/txassembler/rpc_provider_test.go
  k8s/bridge-deployment.yaml
Owners: @luxfi/bridge-maintainers, @luxfi/docs, @luxfi/devops

feat: cmd/bridge api go has been updated
  bridge
  cmd/bridge/api.go
  cmd/bridge/signing_driver.go
  cmd/bridge/swap_store.go
  cmd/bridge/swaps_handler_test.go
Owners: @luxfi/bridge-maintainers
