Repository luxfi/bridge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @luxfi/bridge-maintainers, @luxfi/mpc-maintainers, @luxfi/security, @luxfi/smart-contracts, @luxfi/frontend, @luxfi/qa, @luxfi/backend, @luxfi/devops, @luxfi/docs

feat(tenant): declarative tenant config — white-label shim pattern
  cmd/bridge/main.go
  cmd/bridge/main_test.go
  cmd/bridge/tenant_overrides.go
  internal/tenant/config.go
  internal/tenant/config_test.go
  tenant.example.yaml
Owners: @luxfi/bridge-maintainers

feat(tenant): declarative tenant config — white-label shim pattern
  cmd/bridge/main.go
  cmd/bridge/main_test.go
  cmd/bridge/tenant_overrides.go
  internal/tenant/config.go
  internal/tenant/config_test.go
  tenant.example.yaml
Owners: @luxfi/bridge-maintainers

feat(tenant): declarative tenant config — white-label shim pattern
  cmd/bridge/main.go
  cmd/bridge/main_test.go
  cmd/bridge/tenant_overrides.go
  internal/tenant/config.go
  internal/tenant/config_test.go
  tenant.example.yaml
Owners: @luxfi/bridge-maintainers

feat(tenant): declarative tenant config — white-label shim pattern
  cmd/bridge/main.go
  cmd/bridge/main_test.go
  cmd/bridge/tenant_overrides.go
  internal/tenant/config.go
  internal/tenant/config_test.go
  tenant.example.yaml
Owners: @luxfi/bridge-maintainers

feat(tenant): declarative tenant config — white-label shim pattern
  cmd/bridge/main.go
  cmd/bridge/main_test.go
  cmd/bridge/tenant_overrides.go
  internal/tenant/config.go
  internal/tenant/config_test.go
  tenant.example.yaml
Owners: @luxfi/bridge-maintainers

feat(tenant): declarative tenant config — white-label shim pattern
  cmd/bridge/main.go
  cmd/bridge/main_test.go
  cmd/bridge/tenant_overrides.go
  internal/tenant/config.go
  internal/tenant/config_test.go
  tenant.example.yaml
Owners: @luxfi/bridge-maintainers

feat(tenant): promote internal/tenant to pkg/tenant for external imports
  cmd/bridge/main.go
  cmd/bridge/main_test.go
  cmd/bridge/tenant_overrides.go
  pkg/tenant/config.go
  pkg/tenant/config_test.go
Owners: @luxfi/bridge-maintainers

feat(tenant): promote internal/tenant to pkg/tenant for external imports
  cmd/bridge/main.go
  cmd/bridge/main_test.go
  cmd/bridge/tenant_overrides.go
  pkg/tenant/config.go
  pkg/tenant/config_test.go
Owners: @luxfi/bridge-maintainers

feat(tenant): promote internal/tenant to pkg/tenant for external imports
  cmd/bridge/main.go
  cmd/bridge/main_test.go
  cmd/bridge/tenant_overrides.go
  pkg/tenant/config.go
  pkg/tenant/config_test.go
Owners: @luxfi/bridge-maintainers

feat(tenant): promote internal/tenant to pkg/tenant for external imports
  cmd/bridge/main.go
  cmd/bridge/main_test.go
  cmd/bridge/tenant_overrides.go
  pkg/tenant/config.go
  pkg/tenant/config_test.go
Owners: @luxfi/bridge-maintainers

feat(tenant): promote internal/tenant to pkg/tenant for external imports
  cmd/bridge/main.go
  cmd/bridge/main_test.go
  cmd/bridge/tenant_overrides.go
  pkg/tenant/config.go
  pkg/tenant/config_test.go
Owners: @luxfi/bridge-maintainers

feat(tenant): promote internal/tenant to pkg/tenant for external imports
  cmd/bridge/main.go
  cmd/bridge/main_test.go
  cmd/bridge/tenant_overrides.go
  pkg/tenant/config.go
  pkg/tenant/config_test.go
Owners: @luxfi/bridge-maintainers

cmd/bridge: thin daemon to REST/observer/broadcaster shim
  cmd/bridge/api.go
  cmd/bridge/coingecko_price_feed.go
  cmd/bridge/coingecko_price_feed_test.go
  cmd/bridge/integration_test.go
  cmd/bridge/main.go
  cmd/bridge/networks_handler_test.go
  cmd/bridge/quote_engine.go
  cmd/bridge/quote_handler.go
  cmd/bridge/resync_swaps.go
  cmd/bridge/signing_driver.go
  cmd/bridge/swap_store.go
  cmd/bridge/swaps_handler.go
  cmd/bridge/swaps_handler_test.go
Owners: @luxfi/bridge-maintainers

cmd/bridge: thin daemon to REST/observer/broadcaster shim
  cmd/bridge/api.go
  cmd/bridge/coingecko_price_feed.go
  cmd/bridge/coingecko_price_feed_test.go
  cmd/bridge/integration_test.go
  cmd/bridge/main.go
  cmd/bridge/networks_handler_test.go
  cmd/bridge/quote_engine.go
  cmd/bridge/quote_handler.go
  cmd/bridge/resync_swaps.go
  cmd/bridge/signing_driver.go
  cmd/bridge/swap_store.go
  cmd/bridge/swaps_handler.go
  cmd/bridge/swaps_handler_test.go
Owners: @luxfi/bridge-maintainers

cmd/bridge: thin daemon to REST/observer/broadcaster shim
  cmd/bridge/api.go
  cmd/bridge/coingecko_price_feed.go
  cmd/bridge/coingecko_price_feed_test.go
  cmd/bridge/integration_test.go
  cmd/bridge/main.go
  cmd/bridge/networks_handler_test.go
  cmd/bridge/quote_engine.go
  cmd/bridge/quote_handler.go
  cmd/bridge/resync_swaps.go
  cmd/bridge/signing_driver.go
  cmd/bridge/swap_store.go
  cmd/bridge/swaps_handler.go
  cmd/bridge/swaps_handler_test.go
Owners: @luxfi/bridge-maintainers

cmd/bridge: thin daemon to REST/observer/broadcaster shim
  cmd/bridge/api.go
  cmd/bridge/coingecko_price_feed.go
  cmd/bridge/coingecko_price_feed_test.go
  cmd/bridge/integration_test.go
  cmd/bridge/main.go
  cmd/bridge/networks_handler_test.go
  cmd/bridge/quote_engine.go
  cmd/bridge/quote_handler.go
  cmd/bridge/resync_swaps.go
  cmd/bridge/signing_driver.go
  cmd/bridge/swap_store.go
  cmd/bridge/swaps_handler.go
  cmd/bridge/swaps_handler_test.go
Owners: @luxfi/bridge-maintainers

cmd/bridge: thin daemon to REST/observer/broadcaster shim
  cmd/bridge/api.go
  cmd/bridge/coingecko_price_feed.go
  cmd/bridge/coingecko_price_feed_test.go
  cmd/bridge/integration_test.go
  cmd/bridge/main.go
  cmd/bridge/networks_handler_test.go
  cmd/bridge/quote_engine.go
  cmd/bridge/quote_handler.go
  cmd/bridge/resync_swaps.go
  cmd/bridge/signing_driver.go
  cmd/bridge/swap_store.go
  cmd/bridge/swaps_handler.go
  cmd/bridge/swaps_handler_test.go
Owners: @luxfi/bridge-maintainers

cmd/bridge: thin daemon to REST/observer/broadcaster shim
  cmd/bridge/api.go
  cmd/bridge/coingecko_price_feed.go
  cmd/bridge/coingecko_price_feed_test.go
  cmd/bridge/integration_test.go
  cmd/bridge/main.go
  cmd/bridge/networks_handler_test.go
  cmd/bridge/quote_engine.go
  cmd/bridge/quote_handler.go
  cmd/bridge/resync_swaps.go
  cmd/bridge/signing_driver.go
  cmd/bridge/swap_store.go
  cmd/bridge/swaps_handler.go
  cmd/bridge/swaps_handler_test.go
Owners: @luxfi/bridge-maintainers

cmd/bridge: thin daemon to REST/observer/broadcaster shim (#402)
  cmd/bridge/api.go
  cmd/bridge/coingecko_price_feed.go
  cmd/bridge/coingecko_price_feed_test.go
  cmd/bridge/integration_test.go
  cmd/bridge/main.go
  cmd/bridge/networks_handler_test.go
  cmd/bridge/quote_engine.go
  cmd/bridge/quote_handler.go
  cmd/bridge/resync_swaps.go
  cmd/bridge/signing_driver.go
  cmd/bridge/swap_store.go
  cmd/bridge/swaps_handler.go
  cmd/bridge/swaps_handler_test.go
Owners: @luxfi/bridge-maintainers

cmd/bridge: thin daemon to REST/observer/broadcaster shim (#402)
  cmd/bridge/api.go
  cmd/bridge/coingecko_price_feed.go
  cmd/bridge/coingecko_price_feed_test.go
  cmd/bridge/integration_test.go
  cmd/bridge/main.go
  cmd/bridge/networks_handler_test.go
  cmd/bridge/quote_engine.go
  cmd/bridge/quote_handler.go
  cmd/bridge/resync_swaps.go
  cmd/bridge/signing_driver.go
  cmd/bridge/swap_store.go
  cmd/bridge/swaps_handler.go
  cmd/bridge/swaps_handler_test.go
Owners: @luxfi/bridge-maintainers

cmd/bridge: thin daemon to REST/observer/broadcaster shim (#402)
  cmd/bridge/api.go
  cmd/bridge/coingecko_price_feed.go
  cmd/bridge/coingecko_price_feed_test.go
  cmd/bridge/integration_test.go
  cmd/bridge/main.go
  cmd/bridge/networks_handler_test.go
  cmd/bridge/quote_engine.go
  cmd/bridge/quote_handler.go
  cmd/bridge/resync_swaps.go
  cmd/bridge/signing_driver.go
  cmd/bridge/swap_store.go
  cmd/bridge/swaps_handler.go
  cmd/bridge/swaps_handler_test.go
Owners: @luxfi/bridge-maintainers

cmd/bridge: thin daemon to REST/observer/broadcaster shim (#402)
  cmd/bridge/api.go
  cmd/bridge/coingecko_price_feed.go
  cmd/bridge/coingecko_price_feed_test.go
  cmd/bridge/integration_test.go
  cmd/bridge/main.go
  cmd/bridge/networks_handler_test.go
  cmd/bridge/quote_engine.go
  cmd/bridge/quote_handler.go
  cmd/bridge/resync_swaps.go
  cmd/bridge/signing_driver.go
  cmd/bridge/swap_store.go
  cmd/bridge/swaps_handler.go
  cmd/bridge/swaps_handler_test.go
Owners: @luxfi/bridge-maintainers

cmd/bridge: thin daemon to REST/observer/broadcaster shim (#402)
  cmd/bridge/api.go
  cmd/bridge/coingecko_price_feed.go
  cmd/bridge/coingecko_price_feed_test.go
  cmd/bridge/integration_test.go
  cmd/bridge/main.go
  cmd/bridge/networks_handler_test.go
  cmd/bridge/quote_engine.go
  cmd/bridge/quote_handler.go
  cmd/bridge/resync_swaps.go
  cmd/bridge/signing_driver.go
  cmd/bridge/swap_store.go
  cmd/bridge/swaps_handler.go
  cmd/bridge/swaps_handler_test.go
Owners: @luxfi/bridge-maintainers

feat: phase 1.4 implemented on dev mode
  REQUIREMENTS.md
  cmd/bridge/main.go
  cmd/bridge/networks.testnet.yaml
  cmd/bridge/refund_driver.go
  cmd/bridge/refund_driver_test.go
  cmd/bridge/signing_driver.go
  cmd/bridge/signing_driver_test.go
  cmd/bridge/swap_store.go
  compose.testnet.yml
  docs/operator-deploy-phase-1-4.md
Owners: @luxfi/docs, @luxfi/bridge-maintainers

feat: phase 1.4 implemented on dev mode
  REQUIREMENTS.md
  cmd/bridge/main.go
  cmd/bridge/networks.testnet.yaml
  cmd/bridge/refund_driver.go
  cmd/bridge/refund_driver_test.go
  cmd/bridge/signing_driver.go
  cmd/bridge/signing_driver_test.go
  cmd/bridge/swap_store.go
  compose.testnet.yml
  docs/operator-deploy-phase-1-4.md
Owners: @luxfi/docs, @luxfi/bridge-maintainers

feat: LUX -> Sepolia eth swap fixed. other cross vm tokens added
  REQUIREMENTS.md
  app/bridge/src/bridge.config.ts
  cmd/bridge/networks.testnet.yaml
  internal/mchain/btc_address.go
  internal/mchain/btc_address_test.go
  internal/mchain/client.go
  internal/tokens/tokens.go
  pkg/bridge/src/app/hooks/useTransfers.ts
  pkg/bridge/src/app/lib/wagmi-config.ts
Owners: @luxfi/docs, @luxfi/bridge-maintainers

feat: LUX -> Sepolia eth swap fixed. other cross vm tokens added
  REQUIREMENTS.md
  app/bridge/src/bridge.config.ts
  cmd/bridge/networks.testnet.yaml
  internal/mchain/btc_address.go
  internal/mchain/btc_address_test.go
  internal/mchain/client.go
  internal/tokens/tokens.go
  pkg/bridge/src/app/hooks/useTransfers.ts
  pkg/bridge/src/app/lib/wagmi-config.ts
Owners: @luxfi/docs, @luxfi/bridge-maintainers

feat: mpc pool split
  REQUIREMENTS.md
  bridge
  cmd/bridge/main.go
  cmd/bridge/mpc_pool_test.go
  cmd/bridge/networks.mainnet.yaml
  cmd/bridge/refund_driver.go
  cmd/bridge/refund_driver_test.go
  cmd/bridge/signing_driver.go
  cmd/bridge/signing_driver_test.go
  cmd/bridge/swap_store.go
  cmd/bridge/swaps_handler.go
  compose.mainnet.yml
  export.txt
  internal/cosigners/cosigners.go
  internal/cosigners/cosigners_test.go
  internal/cosigners/env_secrets.go
  internal/cosigners/fireblocks.go
  internal/cosigners/fireblocks_jwt.go
  internal/cosigners/fireblocks_test.go
  internal/cosigners/stub_family.go
  internal/cosigners/utila.go
  internal/cosigners/utila_test.go
  internal/mchain/pool.go
  internal/mchain/pool_test.go
  k8s/bridge-deployment.yaml
Owners: @luxfi/docs, @luxfi/bridge-maintainers, @luxfi/devops

feat: mpc pool split
  REQUIREMENTS.md
  bridge
  cmd/bridge/main.go
  cmd/bridge/mpc_pool_test.go
  cmd/bridge/networks.mainnet.yaml
  cmd/bridge/refund_driver.go
  cmd/bridge/refund_driver_test.go
  cmd/bridge/signing_driver.go
  cmd/bridge/signing_driver_test.go
  cmd/bridge/swap_store.go
  cmd/bridge/swaps_handler.go
  compose.mainnet.yml
  export.txt
  internal/cosigners/cosigners.go
  internal/cosigners/cosigners_test.go
  internal/cosigners/env_secrets.go
  internal/cosigners/fireblocks.go
  internal/cosigners/fireblocks_jwt.go
  internal/cosigners/fireblocks_test.go
  internal/cosigners/stub_family.go
  internal/cosigners/utila.go
  internal/cosigners/utila_test.go
  internal/mchain/pool.go
  internal/mchain/pool_test.go
  k8s/bridge-deployment.yaml
Owners: @luxfi/docs, @luxfi/bridge-maintainers, @luxfi/devops

feat: Operator-facing impact implemented
  REQUIREMENTS.md
  bridge
  cmd/bridge/api.go
  cmd/bridge/main.go
  cmd/bridge/metrics_test.go
Owners: @luxfi/docs, @luxfi/bridge-maintainers

feat: Operator-facing impact implemented
  REQUIREMENTS.md
  bridge
  cmd/bridge/api.go
  cmd/bridge/main.go
  cmd/bridge/metrics_test.go
Owners: @luxfi/docs, @luxfi/bridge-maintainers

feat: HTTP + JSON-RPC surface (cmd/bridge/api.go) Background poller implemented
  REQUIREMENTS.md
  bridge
  cmd/bridge/api.go
  cmd/bridge/bchain_poller.go
  cmd/bridge/lp333_test.go
  cmd/bridge/main.go
  cmd/bridge/swaps_handler.go
  internal/bchain/client.go
  internal/bchain/client_test.go
Owners: @luxfi/docs, @luxfi/bridge-maintainers

feat: HTTP + JSON-RPC surface (cmd/bridge/api.go) Background poller implemented
  REQUIREMENTS.md
  bridge
  cmd/bridge/api.go
  cmd/bridge/bchain_poller.go
  cmd/bridge/lp333_test.go
  cmd/bridge/main.go
  cmd/bridge/swaps_handler.go
  internal/bchain/client.go
  internal/bchain/client_test.go
Owners: @luxfi/docs, @luxfi/bridge-maintainers

feat: Auto-expire pending deposits
  REQUIREMENTS.md
  bridge
  cmd/bridge/api.go
  cmd/bridge/deposit_watcher.go
  cmd/bridge/deposit_watcher_test.go
  cmd/bridge/main.go
Owners: @luxfi/docs, @luxfi/bridge-maintainers

feat: Auto-expire pending deposits
  REQUIREMENTS.md
  bridge
  cmd/bridge/api.go
  cmd/bridge/deposit_watcher.go
  cmd/bridge/deposit_watcher_test.go
  cmd/bridge/main.go
Owners: @luxfi/docs, @luxfi/bridge-maintainers

feat: Lux RPC same-origin proxy
  REQUIREMENTS.md
  bridge
  cmd/bridge/api.go
  cmd/bridge/main.go
  cmd/bridge/rpc_proxy.go
  cmd/bridge/rpc_proxy_test.go
  pkg/bridge/src/__tests__/wagmi-config.test.ts
  pkg/bridge/src/app/lib/wagmi-config.ts
Owners: @luxfi/docs, @luxfi/bridge-maintainers

feat: Lux RPC same-origin proxy
  REQUIREMENTS.md
  bridge
  cmd/bridge/api.go
  cmd/bridge/main.go
  cmd/bridge/rpc_proxy.go
  cmd/bridge/rpc_proxy_test.go
  pkg/bridge/src/__tests__/wagmi-config.test.ts
  pkg/bridge/src/app/lib/wagmi-config.ts
Owners: @luxfi/docs, @luxfi/bridge-maintainers

feat: --mpc-token flag description updated with the URI scheme list
  REQUIREMENTS.md
  bridge
  cmd/bridge/main.go
  cmd/bridge/mpc_token_resolve_test.go
  internal/cosigners/cosigners_test.go
  internal/cosigners/env_secrets.go
  internal/secrets/resolver.go
  internal/secrets/resolver_test.go
Owners: @luxfi/docs, @luxfi/bridge-maintainers

feat: --mpc-token flag description updated with the URI scheme list
  REQUIREMENTS.md
  bridge
  cmd/bridge/main.go
  cmd/bridge/mpc_token_resolve_test.go
  internal/cosigners/cosigners_test.go
  internal/cosigners/env_secrets.go
  internal/secrets/resolver.go
  internal/secrets/resolver_test.go
Owners: @luxfi/docs, @luxfi/bridge-maintainers

e2e pipeline test
  REQUIREMENTS.md
  cmd/bridge/e2e_test.go
Owners: @luxfi/docs, @luxfi/bridge-maintainers

.github/CODEOWNERS:

# CODEOWNERS for Lux Bridge

# Default owners for everything in the repo
* @luxfi/bridge-maintainers

# MPC service owners
/mpc-service/ @luxfi/mpc-maintainers @luxfi/security

# Smart contracts owners  
/contracts/ @luxfi/smart-contracts @luxfi/security

# Frontend and UI owners
/app/client/ @luxfi/frontend
/app/ui/ @luxfi/frontend
/ui-automation/ @luxfi/qa

# Backend server owners
/app/server/ @luxfi/backend

# DevOps and CI/CD
/.github/ @luxfi/devops
/docker/ @luxfi/devops
/k8s/ @luxfi/devops

# Documentation
/docs/ @luxfi/docs
/*.md @luxfi/docs

# Security-sensitive files
/mpc-service/cmd/ @luxfi/security @luxfi/mpc-maintainers
/contracts/bridges/ @luxfi/security @luxfi/smart-contracts
/.env* @luxfi/security @luxfi/devops
