Repository luxfi/bridge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @luxfi/bridge-maintainers, @luxfi/mpc-maintainers, @luxfi/security, @luxfi/smart-contracts, @luxfi/frontend, @luxfi/qa, @luxfi/backend, @luxfi/devops, @luxfi/docs

fix: add NEXT_PUBLIC build-time env vars for SSR build
  Dockerfile
Owners: @luxfi/bridge-maintainers

fix: add NEXT_PUBLIC build-time env vars for SSR build
  Dockerfile
Owners: @luxfi/bridge-maintainers

fix: add NEXT_PUBLIC build-time env vars for SSR build
  Dockerfile
Owners: @luxfi/bridge-maintainers

fix: add NEXT_PUBLIC build-time env vars for SSR build
  Dockerfile
Owners: @luxfi/bridge-maintainers

fix: add NEXT_PUBLIC build-time env vars for SSR build
  Dockerfile
Owners: @luxfi/bridge-maintainers

chore: optimize .dockerignore to reduce build context
  .dockerignore
Owners: @luxfi/bridge-maintainers

chore: optimize .dockerignore to reduce build context
  .dockerignore
Owners: @luxfi/bridge-maintainers

chore: optimize .dockerignore to reduce build context
  .dockerignore
Owners: @luxfi/bridge-maintainers

chore: optimize .dockerignore to reduce build context
  .dockerignore
Owners: @luxfi/bridge-maintainers

chore: optimize .dockerignore to reduce build context
  .dockerignore
Owners: @luxfi/bridge-maintainers

perf: add BuildKit pnpm store cache mount
  Dockerfile
Owners: @luxfi/bridge-maintainers

perf: add BuildKit pnpm store cache mount
  Dockerfile
Owners: @luxfi/bridge-maintainers

perf: add BuildKit pnpm store cache mount
  Dockerfile
Owners: @luxfi/bridge-maintainers

perf: add BuildKit pnpm store cache mount
  Dockerfile
Owners: @luxfi/bridge-maintainers

perf: add BuildKit pnpm store cache mount
  Dockerfile
Owners: @luxfi/bridge-maintainers

Skip arm64 build for bridge Docker image
  .github/workflows/docker-publish.yml
Owners: @luxfi/devops

Skip arm64 build for bridge Docker image (#380)
  .github/workflows/docker-publish.yml
Owners: @luxfi/devops

Skip arm64 build for bridge Docker image (#380)
  .github/workflows/docker-publish.yml
Owners: @luxfi/devops

Skip arm64 build for bridge Docker image (#380)
  .github/workflows/docker-publish.yml
Owners: @luxfi/devops

Skip arm64 build for bridge Docker image (#380)
  .github/workflows/docker-publish.yml
Owners: @luxfi/devops

Skip arm64 build for bridge Docker image (#380)
  .github/workflows/docker-publish.yml
Owners: @luxfi/devops

Fix bridge UI white triangle and set 1% fee
  app/bridge/src/app/layout.tsx
  app/server/src/domain/rate.ts
Owners: @luxfi/bridge-maintainers, @luxfi/backend

Fix bridge UI white triangle and set 1% fee
  app/bridge/src/app/layout.tsx
  app/server/src/domain/rate.ts
Owners: @luxfi/bridge-maintainers, @luxfi/backend

Fix bridge UI white triangle and set 1% fee
  app/bridge/src/app/layout.tsx
  app/server/src/domain/rate.ts
Owners: @luxfi/bridge-maintainers, @luxfi/backend

Fix bridge UI white triangle and set 1% fee
  app/bridge/src/app/layout.tsx
  app/server/src/domain/rate.ts
Owners: @luxfi/bridge-maintainers, @luxfi/backend

Fix bridge UI white triangle and set 1% fee
  app/bridge/src/app/layout.tsx
  app/server/src/domain/rate.ts
Owners: @luxfi/bridge-maintainers, @luxfi/backend

Fix Docker builds: remove contracts COPY, relax lockfile check
  app/bridge/Dockerfile
  app/server/Dockerfile
Owners: @luxfi/bridge-maintainers, @luxfi/backend

Fix Docker builds: remove contracts COPY, relax lockfile check
  app/bridge/Dockerfile
  app/server/Dockerfile
Owners: @luxfi/bridge-maintainers, @luxfi/backend

Fix Docker builds: remove contracts COPY, relax lockfile check
  app/bridge/Dockerfile
  app/server/Dockerfile
Owners: @luxfi/bridge-maintainers, @luxfi/backend

Fix Docker builds: remove contracts COPY, relax lockfile check
  app/bridge/Dockerfile
  app/server/Dockerfile
Owners: @luxfi/bridge-maintainers, @luxfi/backend

Fix Docker builds: remove contracts COPY, relax lockfile check
  app/bridge/Dockerfile
  app/server/Dockerfile
Owners: @luxfi/bridge-maintainers, @luxfi/backend

Fix pnpm lockfile mismatch in all Docker builds
  app/bridge/Dockerfile
  app/server/Dockerfile
Owners: @luxfi/bridge-maintainers, @luxfi/backend

Fix pnpm lockfile mismatch in all Docker builds
  app/bridge/Dockerfile
  app/server/Dockerfile
Owners: @luxfi/bridge-maintainers, @luxfi/backend

Fix pnpm lockfile mismatch in all Docker builds
  app/bridge/Dockerfile
  app/server/Dockerfile
Owners: @luxfi/bridge-maintainers, @luxfi/backend

Fix pnpm lockfile mismatch in all Docker builds
  app/bridge/Dockerfile
  app/server/Dockerfile
Owners: @luxfi/bridge-maintainers, @luxfi/backend

Fix pnpm lockfile mismatch in all Docker builds
  app/bridge/Dockerfile
  app/server/Dockerfile
Owners: @luxfi/bridge-maintainers, @luxfi/backend

Add git to bridge UI build stage for git-based deps
  app/bridge/Dockerfile
Owners: @luxfi/bridge-maintainers

Add git to bridge UI build stage for git-based deps
  app/bridge/Dockerfile
Owners: @luxfi/bridge-maintainers

Add git to bridge UI build stage for git-based deps
  app/bridge/Dockerfile
Owners: @luxfi/bridge-maintainers

Add git to bridge UI build stage for git-based deps
  app/bridge/Dockerfile
Owners: @luxfi/bridge-maintainers

.github/CODEOWNERS:

# CODEOWNERS for Lux Bridge

# Default owners for everything in the repo
* @luxfi/bridge-maintainers

# MPC service owners
/mpc-service/ @luxfi/mpc-maintainers @luxfi/security

# Smart contracts owners  
/contracts/ @luxfi/smart-contracts @luxfi/security

# Frontend and UI owners
/app/client/ @luxfi/frontend
/app/ui/ @luxfi/frontend
/ui-automation/ @luxfi/qa

# Backend server owners
/app/server/ @luxfi/backend

# DevOps and CI/CD
/.github/ @luxfi/devops
/docker/ @luxfi/devops
/k8s/ @luxfi/devops

# Documentation
/docs/ @luxfi/docs
/*.md @luxfi/docs

# Security-sensitive files
/mpc-service/cmd/ @luxfi/security @luxfi/mpc-maintainers
/contracts/bridges/ @luxfi/security @luxfi/smart-contracts
/.env* @luxfi/security @luxfi/devops
