Repository luxfi/bridge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @luxfi/bridge-maintainers, @luxfi/mpc-maintainers, @luxfi/security, @luxfi/smart-contracts, @luxfi/frontend, @luxfi/qa, @luxfi/backend, @luxfi/devops, @luxfi/docs

feat(app/server): real AWS KMS + Azure KV + Vault Transit + f-chain adapters (no stubs)
  app/server/package.json
  app/server/src/domain/__tests__/cosigners-aws-azure-vault-fchain.test.ts
  app/server/src/domain/__tests__/cosigners-gcp-kms.test.ts
  app/server/src/domain/cosigners.ts
  pnpm-lock.yaml
Owners: @luxfi/backend, @luxfi/bridge-maintainers

feat(app/server): real AWS KMS + Azure KV + Vault Transit + f-chain adapters (no stubs)
  app/server/package.json
  app/server/src/domain/__tests__/cosigners-aws-azure-vault-fchain.test.ts
  app/server/src/domain/__tests__/cosigners-gcp-kms.test.ts
  app/server/src/domain/cosigners.ts
  pnpm-lock.yaml
Owners: @luxfi/backend, @luxfi/bridge-maintainers

feat(app/server): real AWS KMS + Azure KV + Vault Transit + f-chain adapters (no stubs)
  app/server/package.json
  app/server/src/domain/__tests__/cosigners-aws-azure-vault-fchain.test.ts
  app/server/src/domain/__tests__/cosigners-gcp-kms.test.ts
  app/server/src/domain/cosigners.ts
  pnpm-lock.yaml
Owners: @luxfi/backend, @luxfi/bridge-maintainers

feat(app/server): real AWS KMS + Azure KV + Vault Transit + f-chain adapters (no stubs)
  app/server/package.json
  app/server/src/domain/__tests__/cosigners-aws-azure-vault-fchain.test.ts
  app/server/src/domain/__tests__/cosigners-gcp-kms.test.ts
  app/server/src/domain/cosigners.ts
  pnpm-lock.yaml
Owners: @luxfi/backend, @luxfi/bridge-maintainers

feat(app/server): real AWS KMS + Azure KV + Vault Transit + f-chain adapters (no stubs)
  app/server/package.json
  app/server/src/domain/__tests__/cosigners-aws-azure-vault-fchain.test.ts
  app/server/src/domain/__tests__/cosigners-gcp-kms.test.ts
  app/server/src/domain/cosigners.ts
  pnpm-lock.yaml
Owners: @luxfi/backend, @luxfi/bridge-maintainers

feat(app/server): real AWS KMS + Azure KV + Vault Transit + f-chain adapters (no stubs)
  app/server/package.json
  app/server/src/domain/__tests__/cosigners-aws-azure-vault-fchain.test.ts
  app/server/src/domain/__tests__/cosigners-gcp-kms.test.ts
  app/server/src/domain/cosigners.ts
  pnpm-lock.yaml
Owners: @luxfi/backend, @luxfi/bridge-maintainers

feat(app/server): native Lux IAM + KMS + MPC clients — m-chain wired (no env-var stubs)
  app/server/src/clients/__tests__/lux-iam.test.ts
  app/server/src/clients/__tests__/lux-kms.test.ts
  app/server/src/clients/__tests__/lux-mpc.test.ts
  app/server/src/clients/lux-iam.ts
  app/server/src/clients/lux-kms.ts
  app/server/src/clients/lux-mpc.ts
  app/server/src/domain/__tests__/cosigners-fireblocks.test.ts
  app/server/src/domain/__tests__/cosigners-kms-secret-fetch.test.ts
  app/server/src/domain/__tests__/cosigners-utila.test.ts
  app/server/src/domain/cosigners.ts
  docs/LLM.md
Owners: @luxfi/backend, @luxfi/docs

feat(app/server): native Lux IAM + KMS + MPC clients — m-chain wired (no env-var stubs)
  app/server/src/clients/__tests__/lux-iam.test.ts
  app/server/src/clients/__tests__/lux-kms.test.ts
  app/server/src/clients/__tests__/lux-mpc.test.ts
  app/server/src/clients/lux-iam.ts
  app/server/src/clients/lux-kms.ts
  app/server/src/clients/lux-mpc.ts
  app/server/src/domain/__tests__/cosigners-fireblocks.test.ts
  app/server/src/domain/__tests__/cosigners-kms-secret-fetch.test.ts
  app/server/src/domain/__tests__/cosigners-utila.test.ts
  app/server/src/domain/cosigners.ts
  docs/LLM.md
Owners: @luxfi/backend, @luxfi/docs

feat(app/server): native Lux IAM + KMS + MPC clients — m-chain wired (no env-var stubs)
  app/server/src/clients/__tests__/lux-iam.test.ts
  app/server/src/clients/__tests__/lux-kms.test.ts
  app/server/src/clients/__tests__/lux-mpc.test.ts
  app/server/src/clients/lux-iam.ts
  app/server/src/clients/lux-kms.ts
  app/server/src/clients/lux-mpc.ts
  app/server/src/domain/__tests__/cosigners-fireblocks.test.ts
  app/server/src/domain/__tests__/cosigners-kms-secret-fetch.test.ts
  app/server/src/domain/__tests__/cosigners-utila.test.ts
  app/server/src/domain/cosigners.ts
  docs/LLM.md
Owners: @luxfi/backend, @luxfi/docs

feat(app/server): native Lux IAM + KMS + MPC clients — m-chain wired (no env-var stubs)
  app/server/src/clients/__tests__/lux-iam.test.ts
  app/server/src/clients/__tests__/lux-kms.test.ts
  app/server/src/clients/__tests__/lux-mpc.test.ts
  app/server/src/clients/lux-iam.ts
  app/server/src/clients/lux-kms.ts
  app/server/src/clients/lux-mpc.ts
  app/server/src/domain/__tests__/cosigners-fireblocks.test.ts
  app/server/src/domain/__tests__/cosigners-kms-secret-fetch.test.ts
  app/server/src/domain/__tests__/cosigners-utila.test.ts
  app/server/src/domain/cosigners.ts
  docs/LLM.md
Owners: @luxfi/backend, @luxfi/docs

feat(app/server): native Lux IAM + KMS + MPC clients — m-chain wired (no env-var stubs)
  app/server/src/clients/__tests__/lux-iam.test.ts
  app/server/src/clients/__tests__/lux-kms.test.ts
  app/server/src/clients/__tests__/lux-mpc.test.ts
  app/server/src/clients/lux-iam.ts
  app/server/src/clients/lux-kms.ts
  app/server/src/clients/lux-mpc.ts
  app/server/src/domain/__tests__/cosigners-fireblocks.test.ts
  app/server/src/domain/__tests__/cosigners-kms-secret-fetch.test.ts
  app/server/src/domain/__tests__/cosigners-utila.test.ts
  app/server/src/domain/cosigners.ts
  docs/LLM.md
Owners: @luxfi/backend, @luxfi/docs

feat(app/server): native Lux IAM + KMS + MPC clients — m-chain wired (no env-var stubs)
  app/server/src/clients/__tests__/lux-iam.test.ts
  app/server/src/clients/__tests__/lux-kms.test.ts
  app/server/src/clients/__tests__/lux-mpc.test.ts
  app/server/src/clients/lux-iam.ts
  app/server/src/clients/lux-kms.ts
  app/server/src/clients/lux-mpc.ts
  app/server/src/domain/__tests__/cosigners-fireblocks.test.ts
  app/server/src/domain/__tests__/cosigners-kms-secret-fetch.test.ts
  app/server/src/domain/__tests__/cosigners-utila.test.ts
  app/server/src/domain/cosigners.ts
  docs/LLM.md
Owners: @luxfi/backend, @luxfi/docs

feat(app/server): native Lux IAM + KMS + MPC clients — m-chain wired (no env-var stubs)
  app/server/src/clients/__tests__/lux-iam.test.ts
  app/server/src/clients/__tests__/lux-kms.test.ts
  app/server/src/clients/__tests__/lux-mpc.test.ts
  app/server/src/clients/lux-iam.ts
  app/server/src/clients/lux-kms.ts
  app/server/src/clients/lux-mpc.ts
  app/server/src/domain/__tests__/cosigners-fireblocks.test.ts
  app/server/src/domain/__tests__/cosigners-kms-secret-fetch.test.ts
  app/server/src/domain/__tests__/cosigners-utila.test.ts
  app/server/src/domain/cosigners.ts
  docs/LLM.md
Owners: @luxfi/backend, @luxfi/docs

feat(app/server): native Lux IAM + KMS + MPC clients — m-chain wired (no env-var stubs)
  app/server/src/clients/__tests__/lux-iam.test.ts
  app/server/src/clients/__tests__/lux-kms.test.ts
  app/server/src/clients/__tests__/lux-mpc.test.ts
  app/server/src/clients/lux-iam.ts
  app/server/src/clients/lux-kms.ts
  app/server/src/clients/lux-mpc.ts
  app/server/src/domain/__tests__/cosigners-fireblocks.test.ts
  app/server/src/domain/__tests__/cosigners-kms-secret-fetch.test.ts
  app/server/src/domain/__tests__/cosigners-utila.test.ts
  app/server/src/domain/cosigners.ts
  docs/LLM.md
Owners: @luxfi/backend, @luxfi/docs

feat: standalone compose + LLM.md standalone audit + Hanzo non-existence note
  compose.standalone.yml
  docs/LLM.md
Owners: @luxfi/bridge-maintainers, @luxfi/docs

feat: standalone compose + LLM.md standalone audit + Hanzo non-existence note
  compose.standalone.yml
  docs/LLM.md
Owners: @luxfi/bridge-maintainers, @luxfi/docs

feat: standalone compose + LLM.md standalone audit + Hanzo non-existence note
  compose.standalone.yml
  docs/LLM.md
Owners: @luxfi/bridge-maintainers, @luxfi/docs

feat: standalone compose + LLM.md standalone audit + Hanzo non-existence note
  compose.standalone.yml
  docs/LLM.md
Owners: @luxfi/bridge-maintainers, @luxfi/docs

feat: standalone compose + LLM.md standalone audit + Hanzo non-existence note
  compose.standalone.yml
  docs/LLM.md
Owners: @luxfi/bridge-maintainers, @luxfi/docs

feat: standalone compose + LLM.md standalone audit + Hanzo non-existence note
  compose.standalone.yml
  docs/LLM.md
Owners: @luxfi/bridge-maintainers, @luxfi/docs

feat: standalone compose + LLM.md standalone audit + Hanzo non-existence note
  compose.standalone.yml
  docs/LLM.md
Owners: @luxfi/bridge-maintainers, @luxfi/docs

feat: standalone compose + LLM.md standalone audit + Hanzo non-existence note
  compose.standalone.yml
  docs/LLM.md
Owners: @luxfi/bridge-maintainers, @luxfi/docs

feat(app/server): brand-neutral env + classes; drop NATS/Consul; m-chain via lux/mpc HTTP
  app/server/package.json
  app/server/src/clients/__tests__/iam.test.ts
  app/server/src/clients/__tests__/kms.test.ts
  app/server/src/clients/__tests__/mpc.test.ts
  app/server/src/clients/iam.ts
  app/server/src/clients/kms.ts
  app/server/src/clients/mpc.ts
  app/server/src/domain/__tests__/cosigners-kms-secret-fetch.test.ts
  app/server/src/domain/cosigners.ts
  app/server/src/domain/mpc-bridge.ts
  app/server/src/scripts/test-signing.ts
  app/server/src/scripts/trigger-keygen.ts
  app/server/src/server.ts
  app/server/src/services/mpc-service.ts
  app/server/src/types/index.d.ts
  app/server/src/types/nats.d.ts
  app/server/src/utils/trigger-keygen.ts
  compose.local.yml
  compose.standalone.yml
  docs/LLM.md
Owners: @luxfi/backend, @luxfi/bridge-maintainers, @luxfi/docs

feat(app/server): brand-neutral env + classes; drop NATS/Consul; m-chain via lux/mpc HTTP
  app/server/package.json
  app/server/src/clients/__tests__/iam.test.ts
  app/server/src/clients/__tests__/kms.test.ts
  app/server/src/clients/__tests__/mpc.test.ts
  app/server/src/clients/iam.ts
  app/server/src/clients/kms.ts
  app/server/src/clients/mpc.ts
  app/server/src/domain/__tests__/cosigners-kms-secret-fetch.test.ts
  app/server/src/domain/cosigners.ts
  app/server/src/domain/mpc-bridge.ts
  app/server/src/scripts/test-signing.ts
  app/server/src/scripts/trigger-keygen.ts
  app/server/src/server.ts
  app/server/src/services/mpc-service.ts
  app/server/src/types/index.d.ts
  app/server/src/types/nats.d.ts
  app/server/src/utils/trigger-keygen.ts
  compose.local.yml
  compose.standalone.yml
  docs/LLM.md
Owners: @luxfi/backend, @luxfi/bridge-maintainers, @luxfi/docs

feat(app/server): brand-neutral env + classes; drop NATS/Consul; m-chain via lux/mpc HTTP
  app/server/package.json
  app/server/src/clients/__tests__/iam.test.ts
  app/server/src/clients/__tests__/kms.test.ts
  app/server/src/clients/__tests__/mpc.test.ts
  app/server/src/clients/iam.ts
  app/server/src/clients/kms.ts
  app/server/src/clients/mpc.ts
  app/server/src/domain/__tests__/cosigners-kms-secret-fetch.test.ts
  app/server/src/domain/cosigners.ts
  app/server/src/domain/mpc-bridge.ts
  app/server/src/scripts/test-signing.ts
  app/server/src/scripts/trigger-keygen.ts
  app/server/src/server.ts
  app/server/src/services/mpc-service.ts
  app/server/src/types/index.d.ts
  app/server/src/types/nats.d.ts
  app/server/src/utils/trigger-keygen.ts
  compose.local.yml
  compose.standalone.yml
  docs/LLM.md
Owners: @luxfi/backend, @luxfi/bridge-maintainers, @luxfi/docs

feat(app/server): brand-neutral env + classes; drop NATS/Consul; m-chain via lux/mpc HTTP
  app/server/package.json
  app/server/src/clients/__tests__/iam.test.ts
  app/server/src/clients/__tests__/kms.test.ts
  app/server/src/clients/__tests__/mpc.test.ts
  app/server/src/clients/iam.ts
  app/server/src/clients/kms.ts
  app/server/src/clients/mpc.ts
  app/server/src/domain/__tests__/cosigners-kms-secret-fetch.test.ts
  app/server/src/domain/cosigners.ts
  app/server/src/domain/mpc-bridge.ts
  app/server/src/scripts/test-signing.ts
  app/server/src/scripts/trigger-keygen.ts
  app/server/src/server.ts
  app/server/src/services/mpc-service.ts
  app/server/src/types/index.d.ts
  app/server/src/types/nats.d.ts
  app/server/src/utils/trigger-keygen.ts
  compose.local.yml
  compose.standalone.yml
  docs/LLM.md
Owners: @luxfi/backend, @luxfi/bridge-maintainers, @luxfi/docs

feat(app/server): brand-neutral env + classes; drop NATS/Consul; m-chain via lux/mpc HTTP
  app/server/package.json
  app/server/src/clients/__tests__/iam.test.ts
  app/server/src/clients/__tests__/kms.test.ts
  app/server/src/clients/__tests__/mpc.test.ts
  app/server/src/clients/iam.ts
  app/server/src/clients/kms.ts
  app/server/src/clients/mpc.ts
  app/server/src/domain/__tests__/cosigners-kms-secret-fetch.test.ts
  app/server/src/domain/cosigners.ts
  app/server/src/domain/mpc-bridge.ts
  app/server/src/scripts/test-signing.ts
  app/server/src/scripts/trigger-keygen.ts
  app/server/src/server.ts
  app/server/src/services/mpc-service.ts
  app/server/src/types/index.d.ts
  app/server/src/types/nats.d.ts
  app/server/src/utils/trigger-keygen.ts
  compose.local.yml
  compose.standalone.yml
  docs/LLM.md
Owners: @luxfi/backend, @luxfi/bridge-maintainers, @luxfi/docs

feat(app/server): brand-neutral env + classes; drop NATS/Consul; m-chain via lux/mpc HTTP
  app/server/package.json
  app/server/src/clients/__tests__/iam.test.ts
  app/server/src/clients/__tests__/kms.test.ts
  app/server/src/clients/__tests__/mpc.test.ts
  app/server/src/clients/iam.ts
  app/server/src/clients/kms.ts
  app/server/src/clients/mpc.ts
  app/server/src/domain/__tests__/cosigners-kms-secret-fetch.test.ts
  app/server/src/domain/cosigners.ts
  app/server/src/domain/mpc-bridge.ts
  app/server/src/scripts/test-signing.ts
  app/server/src/scripts/trigger-keygen.ts
  app/server/src/server.ts
  app/server/src/services/mpc-service.ts
  app/server/src/types/index.d.ts
  app/server/src/types/nats.d.ts
  app/server/src/utils/trigger-keygen.ts
  compose.local.yml
  compose.standalone.yml
  docs/LLM.md
Owners: @luxfi/backend, @luxfi/bridge-maintainers, @luxfi/docs

feat(app/server): brand-neutral env + classes; drop NATS/Consul; m-chain via lux/mpc HTTP
  app/server/package.json
  app/server/src/clients/__tests__/iam.test.ts
  app/server/src/clients/__tests__/kms.test.ts
  app/server/src/clients/__tests__/mpc.test.ts
  app/server/src/clients/iam.ts
  app/server/src/clients/kms.ts
  app/server/src/clients/mpc.ts
  app/server/src/domain/__tests__/cosigners-kms-secret-fetch.test.ts
  app/server/src/domain/cosigners.ts
  app/server/src/domain/mpc-bridge.ts
  app/server/src/scripts/test-signing.ts
  app/server/src/scripts/trigger-keygen.ts
  app/server/src/server.ts
  app/server/src/services/mpc-service.ts
  app/server/src/types/index.d.ts
  app/server/src/types/nats.d.ts
  app/server/src/utils/trigger-keygen.ts
  compose.local.yml
  compose.standalone.yml
  docs/LLM.md
Owners: @luxfi/backend, @luxfi/bridge-maintainers, @luxfi/docs

feat(app/server): brand-neutral env + classes; drop NATS/Consul; m-chain via lux/mpc HTTP
  app/server/package.json
  app/server/src/clients/__tests__/iam.test.ts
  app/server/src/clients/__tests__/kms.test.ts
  app/server/src/clients/__tests__/mpc.test.ts
  app/server/src/clients/iam.ts
  app/server/src/clients/kms.ts
  app/server/src/clients/mpc.ts
  app/server/src/domain/__tests__/cosigners-kms-secret-fetch.test.ts
  app/server/src/domain/cosigners.ts
  app/server/src/domain/mpc-bridge.ts
  app/server/src/scripts/test-signing.ts
  app/server/src/scripts/trigger-keygen.ts
  app/server/src/server.ts
  app/server/src/services/mpc-service.ts
  app/server/src/types/index.d.ts
  app/server/src/types/nats.d.ts
  app/server/src/utils/trigger-keygen.ts
  compose.local.yml
  compose.standalone.yml
  docs/LLM.md
Owners: @luxfi/backend, @luxfi/bridge-maintainers, @luxfi/docs

feat(app/server): mpc-signer + mpc-wallet through MPCClient (eliminate legacy paths)
  app/server/src/clients/mpc.ts
  app/server/src/domain/mpc-signer.ts
  app/server/src/domain/mpc-wallet.ts
Owners: @luxfi/backend

feat(app/server): mpc-signer + mpc-wallet through MPCClient (eliminate legacy paths)
  app/server/src/clients/mpc.ts
  app/server/src/domain/mpc-signer.ts
  app/server/src/domain/mpc-wallet.ts
Owners: @luxfi/backend

feat(app/server): mpc-signer + mpc-wallet through MPCClient (eliminate legacy paths)
  app/server/src/clients/mpc.ts
  app/server/src/domain/mpc-signer.ts
  app/server/src/domain/mpc-wallet.ts
Owners: @luxfi/backend

feat(app/server): mpc-signer + mpc-wallet through MPCClient (eliminate legacy paths)
  app/server/src/clients/mpc.ts
  app/server/src/domain/mpc-signer.ts
  app/server/src/domain/mpc-wallet.ts
Owners: @luxfi/backend

feat(app/server): mpc-signer + mpc-wallet through MPCClient (eliminate legacy paths)
  app/server/src/clients/mpc.ts
  app/server/src/domain/mpc-signer.ts
  app/server/src/domain/mpc-wallet.ts
Owners: @luxfi/backend

feat(app/server): mpc-signer + mpc-wallet through MPCClient (eliminate legacy paths)
  app/server/src/clients/mpc.ts
  app/server/src/domain/mpc-signer.ts
  app/server/src/domain/mpc-wallet.ts
Owners: @luxfi/backend

feat(app/server): mpc-signer + mpc-wallet through MPCClient (eliminate legacy paths)
  app/server/src/clients/mpc.ts
  app/server/src/domain/mpc-signer.ts
  app/server/src/domain/mpc-wallet.ts
Owners: @luxfi/backend

feat(app/server): mpc-signer + mpc-wallet through MPCClient (eliminate legacy paths)
  app/server/src/clients/mpc.ts
  app/server/src/domain/mpc-signer.ts
  app/server/src/domain/mpc-wallet.ts
Owners: @luxfi/backend

test(app/server): 21 specs for refactored mpc-signer + mpc-wallet (MPCClient flow)
  app/server/src/domain/__tests__/mpc-signer.test.ts
  app/server/src/domain/__tests__/mpc-wallet.test.ts
Owners: @luxfi/backend

test(app/server): 21 specs for refactored mpc-signer + mpc-wallet (MPCClient flow)
  app/server/src/domain/__tests__/mpc-signer.test.ts
  app/server/src/domain/__tests__/mpc-wallet.test.ts
Owners: @luxfi/backend

.github/CODEOWNERS:

# CODEOWNERS for Lux Bridge

# Default owners for everything in the repo
* @luxfi/bridge-maintainers

# MPC service owners
/mpc-service/ @luxfi/mpc-maintainers @luxfi/security

# Smart contracts owners  
/contracts/ @luxfi/smart-contracts @luxfi/security

# Frontend and UI owners
/app/client/ @luxfi/frontend
/app/ui/ @luxfi/frontend
/ui-automation/ @luxfi/qa

# Backend server owners
/app/server/ @luxfi/backend

# DevOps and CI/CD
/.github/ @luxfi/devops
/docker/ @luxfi/devops
/k8s/ @luxfi/devops

# Documentation
/docs/ @luxfi/docs
/*.md @luxfi/docs

# Security-sensitive files
/mpc-service/cmd/ @luxfi/security @luxfi/mpc-maintainers
/contracts/bridges/ @luxfi/security @luxfi/smart-contracts
/.env* @luxfi/security @luxfi/devops
