Repository luxfi/bridge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @luxfi/bridge-maintainers, @luxfi/mpc-maintainers, @luxfi/security, @luxfi/smart-contracts, @luxfi/frontend, @luxfi/qa, @luxfi/backend, @luxfi/devops, @luxfi/docs

frontend: rewrite served index.html title/description/favicon per-tenant
  cmd/bridge/frontend.go
Owners: @luxfi/bridge-maintainers

ci: run linux jobs on lux-build-amd64 ARC scale set (no GitHub-hosted builders)
  .github/workflows/docs.yml
  .github/workflows/full-integration-tests.yml
  .github/workflows/integration-tests.yml
  .github/workflows/mpc-e2e-tests.yml
  .github/workflows/mpc-nodes.yml
  .github/workflows/mpc-tests.yml
  .github/workflows/server.yml
Owners: @luxfi/devops

ci: run linux jobs on lux-build-amd64 ARC scale set (no GitHub-hosted builders)
  .github/workflows/docs.yml
  .github/workflows/full-integration-tests.yml
  .github/workflows/integration-tests.yml
  .github/workflows/mpc-e2e-tests.yml
  .github/workflows/mpc-nodes.yml
  .github/workflows/mpc-tests.yml
  .github/workflows/server.yml
Owners: @luxfi/devops

bridge(spa): complete white-label env plumbing (brand name/favicon/color/support/docs)
  app/bridge/docker-entrypoint.sh
  app/bridge/public/__ENV.js
  app/bridge/src/env.d.ts
Owners: @luxfi/bridge-maintainers

bridge(spa): complete white-label env plumbing (brand name/favicon/color/support/docs)
  app/bridge/docker-entrypoint.sh
  app/bridge/public/__ENV.js
  app/bridge/src/env.d.ts
Owners: @luxfi/bridge-maintainers

ci(docker): run on lux-build-amd64 ARC scale set (was 'evo' — no matching runner)
  .github/workflows/docker.yml
Owners: @luxfi/devops

ci(docker): run on lux-build-amd64 ARC scale set (was 'evo' — no matching runner)
  .github/workflows/docker.yml
Owners: @luxfi/devops

build(threshold,core): silence TS7 node10 moduleResolution deprecation
  pkg/core/tsconfig.json
  pkg/threshold/tsconfig.json
Owners: @luxfi/bridge-maintainers

build(threshold,core): silence TS7 node10 moduleResolution deprecation
  pkg/core/tsconfig.json
  pkg/threshold/tsconfig.json
Owners: @luxfi/bridge-maintainers

fix(bridge): white-label description meta + ship Basel Grotesk webfont
  app/bridge/docker-entrypoint.sh
  app/bridge/package.json
  app/bridge/public/__ENV.js
  app/bridge/public/fonts/Basel-Grotesk-Book.woff2
  app/bridge/public/fonts/Basel-Grotesk-Medium.woff2
  app/bridge/src/bridge.config.ts
  pkg/bridge/package.json
  pkg/bridge/src/__tests__/config.test.ts
  pkg/bridge/src/app/styles/theme.css
  pkg/bridge/src/config.ts
  pkg/bridge/src/types.ts
Owners: @luxfi/bridge-maintainers

fix(bridge): white-label description meta + ship Basel Grotesk webfont
  app/bridge/docker-entrypoint.sh
  app/bridge/package.json
  app/bridge/public/__ENV.js
  app/bridge/public/fonts/Basel-Grotesk-Book.woff2
  app/bridge/public/fonts/Basel-Grotesk-Medium.woff2
  app/bridge/src/bridge.config.ts
  pkg/bridge/package.json
  pkg/bridge/src/__tests__/config.test.ts
  pkg/bridge/src/app/styles/theme.css
  pkg/bridge/src/config.ts
  pkg/bridge/src/types.ts
Owners: @luxfi/bridge-maintainers

fix(bridge-server): allow every white-label tenant origin in CORS
  app/server/src/server.ts
Owners: @luxfi/backend

fix(bridge-server): allow every white-label tenant origin in CORS
  app/server/src/server.ts
Owners: @luxfi/backend

fix(bridge): BTC release confirmation gate + RBF rebuild on stale fee
  cmd/bridge/broadcast_driver.go
  cmd/bridge/broadcast_driver_test.go
  cmd/bridge/main.go
  cmd/bridge/signing_driver.go
  cmd/bridge/swap_store.go
  internal/txassembler/assembler.go
  internal/txassembler/btc.go
  internal/txassembler/btc_test.go
Owners: @luxfi/bridge-maintainers

fix(bridge): BTC release confirmation gate + RBF rebuild on stale fee
  cmd/bridge/broadcast_driver.go
  cmd/bridge/broadcast_driver_test.go
  cmd/bridge/main.go
  cmd/bridge/signing_driver.go
  cmd/bridge/swap_store.go
  internal/txassembler/assembler.go
  internal/txassembler/btc.go
  internal/txassembler/btc_test.go
Owners: @luxfi/bridge-maintainers

docs(go-live): draft custody sign-off numbers for ed25519 gate #2
  docs/custody-signoff-ed25519.md
Owners: @luxfi/docs

docs(go-live): draft custody sign-off numbers for ed25519 gate #2
  docs/custody-signoff-ed25519.md
Owners: @luxfi/docs

chore(go-live): pin manifest to bridge image 61d53055, close RBF gap
  REQUIREMENTS.md
  k8s/bridge-deployment.yaml
Owners: @luxfi/docs, @luxfi/devops

chore(go-live): pin manifest to bridge image f3e25dea, close RBF gap
  REQUIREMENTS.md
  k8s/bridge-deployment.yaml
Owners: @luxfi/docs, @luxfi/devops

feat(bridge): proactive release-wallet signability monitoring
  REQUIREMENTS.md
  cmd/bridge/api.go
  cmd/bridge/main.go
  cmd/bridge/wallet_health_poller.go
  cmd/bridge/wallet_health_poller_test.go
  docs/operator-runbook.md
  internal/mchain/release_store.go
  internal/mchain/release_store_test.go
Owners: @luxfi/docs, @luxfi/bridge-maintainers

feat(bridge): proactive release-wallet signability monitoring
  REQUIREMENTS.md
  cmd/bridge/api.go
  cmd/bridge/main.go
  cmd/bridge/wallet_health_poller.go
  cmd/bridge/wallet_health_poller_test.go
  docs/operator-runbook.md
  internal/mchain/release_store.go
  internal/mchain/release_store_test.go
Owners: @luxfi/docs, @luxfi/bridge-maintainers

feat(bridge): wire alerting rules for release-wallet signability
  REQUIREMENTS.md
  docs/operator-runbook.md
  k8s/bridge-alerts.yaml
Owners: @luxfi/docs, @luxfi/devops

feat(bridge): wire alerting rules for release-wallet signability
  REQUIREMENTS.md
  docs/operator-runbook.md
  k8s/bridge-alerts.yaml
Owners: @luxfi/docs, @luxfi/devops

fix(deps): reconcile go.sum against what the registry actually serves
  go.sum
Owners: @luxfi/bridge-maintainers

fix(deps): reconcile go.sum against what the registry actually serves
  go.sum
Owners: @luxfi/bridge-maintainers

fix(deps): reconcile go.sum against what the registry actually serves
  go.sum
Owners: @luxfi/bridge-maintainers

fix(deps): reconcile go.sum against what the registry actually serves
  go.sum
Owners: @luxfi/bridge-maintainers

fix(deps): reconcile go.sum against what the registry actually serves
  go.sum
Owners: @luxfi/bridge-maintainers

fix(deps): reconcile go.sum against what the registry actually serves
  go.sum
Owners: @luxfi/bridge-maintainers

fix(deps): reconcile go.sum against what the registry actually serves
  go.sum
Owners: @luxfi/bridge-maintainers

fix(deps): reconcile go.sum against what the registry actually serves
  go.sum
Owners: @luxfi/bridge-maintainers

Add docs
  CLAUDE.md
  GEMINI.md
  app/bridge/src/components/Campaigns/Details/Leaderboard.tsx
  app/bridge/src/components/Campaigns/Details/Rewards.tsx
  app/bridge/src/components/Campaigns/Details/index.tsx
  app/bridge/src/components/Campaigns/index.tsx
  app/bridge/src/components/OptionToggle.tsx
  app/bridge/src/components/SwapHistory/StatusIcons.tsx
  app/bridge/src/components/SwapHistory/SwapDetailsComponent.tsx
  app/bridge/src/components/SwapHistory/index.tsx
  app/bridge/src/components/VerifyEmailCode.tsx
  app/bridge/src/components/globalFooter.tsx
  app/bridge/src/components/lux/teleport/share/Address.tsx
  app/bridge/src/components/lux/utila/share/Address.tsx
  app/bridge/src/hooks/useWallet.ts
  app/bridge/src/lib/BridgeRPCClient.ts
  app/bridge/src/lib/generateSwapInitialValues.ts
  app/bridge/src/lib/imtbl.ts
  app/bridge/src/stories/Data/swaps.tsx
  app/bridge/src/stories/Process.stories.tsx
  app/bridge3/app/metadata.ts
  docs/LLM.md
  docs/content/docs/index.mdx
  pkg/threshold/package.json
  pkg/threshold/src/client.test.ts
  pkg/threshold/src/index.ts
  pkg/threshold/src/types.ts
  pnpm-lock.yaml
Owners: @luxfi/docs, @luxfi/bridge-maintainers

Add docs
  CLAUDE.md
  GEMINI.md
  app/bridge/src/components/Campaigns/Details/Leaderboard.tsx
  app/bridge/src/components/Campaigns/Details/Rewards.tsx
  app/bridge/src/components/Campaigns/Details/index.tsx
  app/bridge/src/components/Campaigns/index.tsx
  app/bridge/src/components/OptionToggle.tsx
  app/bridge/src/components/SwapHistory/StatusIcons.tsx
  app/bridge/src/components/SwapHistory/SwapDetailsComponent.tsx
  app/bridge/src/components/SwapHistory/index.tsx
  app/bridge/src/components/VerifyEmailCode.tsx
  app/bridge/src/components/globalFooter.tsx
  app/bridge/src/components/lux/teleport/share/Address.tsx
  app/bridge/src/components/lux/utila/share/Address.tsx
  app/bridge/src/hooks/useWallet.ts
  app/bridge/src/lib/BridgeRPCClient.ts
  app/bridge/src/lib/generateSwapInitialValues.ts
  app/bridge/src/lib/imtbl.ts
  app/bridge/src/stories/Data/swaps.tsx
  app/bridge/src/stories/Process.stories.tsx
  app/bridge3/app/metadata.ts
  docs/LLM.md
  docs/content/docs/index.mdx
  pkg/threshold/package.json
  pkg/threshold/src/client.test.ts
  pkg/threshold/src/index.ts
  pkg/threshold/src/types.ts
  pnpm-lock.yaml
Owners: @luxfi/docs, @luxfi/bridge-maintainers

feat: 3-of-5 MPC cluster + CNAME white-label resolution
  app/bridge/src/lib/tenant.ts
  config/mpc/config.yaml
  k8s/mpc-deployment.yaml
  k8s/mpc-landing-pages.yaml
Owners: @luxfi/bridge-maintainers, @luxfi/devops

feat: 3-of-5 MPC cluster + CNAME white-label resolution
  app/bridge/src/lib/tenant.ts
  config/mpc/config.yaml
  k8s/mpc-deployment.yaml
  k8s/mpc-landing-pages.yaml
Owners: @luxfi/bridge-maintainers, @luxfi/devops

feat: universal Teleport bridge with 35+ chain plugins
  .github/workflows/build-and-push.yml
  k8s/mpc-deployment.yaml
  manifests/schema.yaml
  opnet-watcher/Dockerfile
  opnet-watcher/config.go
  opnet-watcher/go.mod
  opnet-watcher/go.sum
  opnet-watcher/main.go
  opnet-watcher/plugins/algorand.go
  opnet-watcher/plugins/aptos.go
  opnet-watcher/plugins/cardano.go
  opnet-watcher/plugins/cosmos.go
  opnet-watcher/plugins/fuel.go
  opnet-watcher/plugins/icp.go
  opnet-watcher/plugins/lux.go
  opnet-watcher/plugins/near.go
  opnet-watcher/plugins/polkadot.go
  opnet-watcher/plugins/solana.go
  opnet-watcher/plugins/stacks.go
  opnet-watcher/plugins/starknet.go
  opnet-watcher/plugins/stellar.go
  opnet-watcher/plugins/sui.go
  opnet-watcher/plugins/tezos.go
  opnet-watcher/plugins/ton.go
  opnet-watcher/plugins/xrpl.go
  opnet-watcher/relay.go
  opnet-watcher/signer.go
  opnet-watcher/tenant_test.go
  opnet-watcher/watcher.go
Owners: @luxfi/devops, @luxfi/bridge-maintainers

pkg/bridge: widen MPC protocol union, add setConfig precedence guard (red review)
  pkg/bridge/package.json
  pkg/bridge/src/__tests__/config.test.ts
  pkg/bridge/src/types.ts
  pkg/bridge/vitest.config.ts
  pnpm-lock.yaml
Owners: @luxfi/bridge-maintainers

feat(pkg/bridge): inline bridge UI under src/app/
  pkg/bridge/src/app/BridgeApp.tsx
  pkg/bridge/src/app/components/AssetInput.tsx
  pkg/bridge/src/app/components/Card.tsx
  pkg/bridge/src/app/components/ChainSelector.tsx
  pkg/bridge/src/app/components/Header.tsx
  pkg/bridge/src/app/components/SwapForm.tsx
  pkg/bridge/src/app/components/TransferStatus.tsx
  pkg/bridge/src/app/components/WalletConnect.tsx
  pkg/bridge/src/app/hooks/useSwap.ts
  pkg/bridge/src/app/hooks/useTransfers.ts
  pkg/bridge/src/app/hooks/useWallet.ts
  pkg/bridge/src/app/lib/assets.ts
  pkg/bridge/src/app/lib/chains.ts
  pkg/bridge/src/app/styles/theme.css
Owners: @luxfi/bridge-maintainers

feat(pkg/bridge): inline bridge UI under src/app/
  pkg/bridge/src/app/BridgeApp.tsx
  pkg/bridge/src/app/components/AssetInput.tsx
  pkg/bridge/src/app/components/Card.tsx
  pkg/bridge/src/app/components/ChainSelector.tsx
  pkg/bridge/src/app/components/Header.tsx
  pkg/bridge/src/app/components/SwapForm.tsx
  pkg/bridge/src/app/components/TransferStatus.tsx
  pkg/bridge/src/app/components/WalletConnect.tsx
  pkg/bridge/src/app/hooks/useSwap.ts
  pkg/bridge/src/app/hooks/useTransfers.ts
  pkg/bridge/src/app/hooks/useWallet.ts
  pkg/bridge/src/app/lib/assets.ts
  pkg/bridge/src/app/lib/chains.ts
  pkg/bridge/src/app/styles/theme.css
Owners: @luxfi/bridge-maintainers

feat: universal Teleport bridge with 35+ chain plugins
  .github/workflows/build-and-push.yml
  k8s/mpc-deployment.yaml
  manifests/schema.yaml
  opnet-watcher/Dockerfile
  opnet-watcher/config.go
  opnet-watcher/go.mod
  opnet-watcher/go.sum
  opnet-watcher/main.go
  opnet-watcher/plugins/algorand.go
  opnet-watcher/plugins/aptos.go
  opnet-watcher/plugins/cardano.go
  opnet-watcher/plugins/cosmos.go
  opnet-watcher/plugins/fuel.go
  opnet-watcher/plugins/icp.go
  opnet-watcher/plugins/lux.go
  opnet-watcher/plugins/near.go
  opnet-watcher/plugins/polkadot.go
  opnet-watcher/plugins/solana.go
  opnet-watcher/plugins/stacks.go
  opnet-watcher/plugins/starknet.go
  opnet-watcher/plugins/stellar.go
  opnet-watcher/plugins/sui.go
  opnet-watcher/plugins/tezos.go
  opnet-watcher/plugins/ton.go
  opnet-watcher/plugins/xrpl.go
  opnet-watcher/relay.go
  opnet-watcher/signer.go
  opnet-watcher/tenant_test.go
  opnet-watcher/watcher.go
Owners: @luxfi/devops, @luxfi/bridge-maintainers

.github/CODEOWNERS:

# CODEOWNERS for Lux Bridge

# Default owners for everything in the repo
* @luxfi/bridge-maintainers

# MPC service owners
/mpc-service/ @luxfi/mpc-maintainers @luxfi/security

# Smart contracts owners  
/contracts/ @luxfi/smart-contracts @luxfi/security

# Frontend and UI owners
/app/client/ @luxfi/frontend
/app/ui/ @luxfi/frontend
/ui-automation/ @luxfi/qa

# Backend server owners
/app/server/ @luxfi/backend

# DevOps and CI/CD
/.github/ @luxfi/devops
/docker/ @luxfi/devops
/k8s/ @luxfi/devops

# Documentation
/docs/ @luxfi/docs
/*.md @luxfi/docs

# Security-sensitive files
/mpc-service/cmd/ @luxfi/security @luxfi/mpc-maintainers
/contracts/bridges/ @luxfi/security @luxfi/smart-contracts
/.env* @luxfi/security @luxfi/devops
