Repository luxfi/bridge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @luxfi/bridge-maintainers, @luxfi/mpc-maintainers, @luxfi/security, @luxfi/smart-contracts, @luxfi/frontend, @luxfi/qa, @luxfi/backend, @luxfi/devops, @luxfi/docs

.github/CODEOWNERS:

# CODEOWNERS for Lux Bridge

# Default owners for everything in the repo
* @luxfi/bridge-maintainers

# MPC service owners
/mpc-service/ @luxfi/mpc-maintainers @luxfi/security

# Smart contracts owners  
/contracts/ @luxfi/smart-contracts @luxfi/security

# Frontend and UI owners
/app/client/ @luxfi/frontend
/app/ui/ @luxfi/frontend
/ui-automation/ @luxfi/qa

# Backend server owners
/app/server/ @luxfi/backend

# DevOps and CI/CD
/.github/ @luxfi/devops
/docker/ @luxfi/devops
/k8s/ @luxfi/devops

# Documentation
/docs/ @luxfi/docs
/*.md @luxfi/docs

# Security-sensitive files
/mpc-service/cmd/ @luxfi/security @luxfi/mpc-maintainers
/contracts/bridges/ @luxfi/security @luxfi/smart-contracts
/.env* @luxfi/security @luxfi/devops

feat: BRAND_PACKAGE env var — white-label via npm brand package at startup
  Dockerfile
  app/bridge/public/brand.json
  app/bridge/src/lib/BridgeApiClient.ts
  app/bridge/src/lib/userAuthApiClient.ts
  app/bridge3/app/brand.ts
  app/bridge3/app/metadata.ts
  app/bridge3/public/brand.json
  app/server/src/domain/settings/mainnet/networks.ts
  docker/entrypoint.sh
Owners: @luxfi/bridge-maintainers, @luxfi/backend, @luxfi/devops

feat: BRAND_PACKAGE env var — white-label via npm brand package at startup
  Dockerfile
  app/bridge/public/brand.json
  app/bridge/src/lib/BridgeApiClient.ts
  app/bridge/src/lib/userAuthApiClient.ts
  app/bridge3/app/brand.ts
  app/bridge3/app/metadata.ts
  app/bridge3/public/brand.json
  app/server/src/domain/settings/mainnet/networks.ts
  docker/entrypoint.sh
Owners: @luxfi/bridge-maintainers, @luxfi/backend, @luxfi/devops

feat: BRAND_PACKAGE env var — white-label via npm brand package at startup
  Dockerfile
  app/bridge/public/brand.json
  app/bridge/src/lib/BridgeApiClient.ts
  app/bridge/src/lib/userAuthApiClient.ts
  app/bridge3/app/brand.ts
  app/bridge3/app/metadata.ts
  app/bridge3/public/brand.json
  app/server/src/domain/settings/mainnet/networks.ts
  docker/entrypoint.sh
Owners: @luxfi/bridge-maintainers, @luxfi/backend, @luxfi/devops

feat: BRAND_PACKAGE env var — white-label via npm brand package at startup
  Dockerfile
  app/bridge/public/brand.json
  app/bridge/src/lib/BridgeApiClient.ts
  app/bridge/src/lib/userAuthApiClient.ts
  app/bridge3/app/brand.ts
  app/bridge3/app/metadata.ts
  app/bridge3/public/brand.json
  app/server/src/domain/settings/mainnet/networks.ts
  docker/entrypoint.sh
Owners: @luxfi/bridge-maintainers, @luxfi/backend, @luxfi/devops

feat: BRAND_PACKAGE env var — white-label via npm brand package at startup
  Dockerfile
  app/bridge/public/brand.json
  app/bridge/src/lib/BridgeApiClient.ts
  app/bridge/src/lib/userAuthApiClient.ts
  app/bridge3/app/brand.ts
  app/bridge3/app/metadata.ts
  app/bridge3/public/brand.json
  app/server/src/domain/settings/mainnet/networks.ts
  docker/entrypoint.sh
Owners: @luxfi/bridge-maintainers, @luxfi/backend, @luxfi/devops

feat: BRAND_PACKAGE env var — white-label via npm brand package at startup
  Dockerfile
  app/bridge/public/brand.json
  app/bridge/src/lib/BridgeApiClient.ts
  app/bridge/src/lib/userAuthApiClient.ts
  app/bridge3/app/brand.ts
  app/bridge3/app/metadata.ts
  app/bridge3/public/brand.json
  app/server/src/domain/settings/mainnet/networks.ts
  docker/entrypoint.sh
Owners: @luxfi/bridge-maintainers, @luxfi/backend, @luxfi/devops

feat: BRAND_PACKAGE env var — white-label via npm brand package at startup
  Dockerfile
  app/bridge/public/brand.json
  app/bridge/src/lib/BridgeApiClient.ts
  app/bridge/src/lib/userAuthApiClient.ts
  app/bridge3/app/brand.ts
  app/bridge3/app/metadata.ts
  app/bridge3/public/brand.json
  app/server/src/domain/settings/mainnet/networks.ts
  docker/entrypoint.sh
Owners: @luxfi/bridge-maintainers, @luxfi/backend, @luxfi/devops

fix: remove WL chain from bridge network config
  app/server/src/domain/settings/mainnet/networks.ts
Owners: @luxfi/backend

fix: remove WL chain from bridge network config
  app/server/src/domain/settings/mainnet/networks.ts
Owners: @luxfi/backend

fix: remove WL chain from bridge network config
  app/server/src/domain/settings/mainnet/networks.ts
Owners: @luxfi/backend

fix: remove WL chain from bridge network config
  app/server/src/domain/settings/mainnet/networks.ts
Owners: @luxfi/backend

fix: remove WL chain from bridge network config
  app/server/src/domain/settings/mainnet/networks.ts
Owners: @luxfi/backend

fix: remove WL chain from bridge network config
  app/server/src/domain/settings/mainnet/networks.ts
Owners: @luxfi/backend

fix: remove WL chain from bridge network config
  app/server/src/domain/settings/mainnet/networks.ts
Owners: @luxfi/backend

fix: remove WL chain from bridge network config
  app/server/src/domain/settings/mainnet/networks.ts
Owners: @luxfi/backend

fix: remove WL chain from bridge network config
  app/server/src/domain/settings/mainnet/networks.ts
Owners: @luxfi/backend

fix: remove WL chain from bridge network config
  app/server/src/domain/settings/mainnet/networks.ts
Owners: @luxfi/backend

fix: remove WL chain from bridge network config
  app/server/src/domain/settings/mainnet/networks.ts
Owners: @luxfi/backend

feat: add Liquidity EVM to Teleport (mainnet 8675309 + testnet 8675310)
  app/bridge/src/components/lux/teleport/constants/networks.mainnets.ts
  app/bridge/src/components/lux/teleport/constants/networks.sandbox.ts
Owners: @luxfi/bridge-maintainers

feat: add Liquidity EVM to Teleport (mainnet 8675309 + testnet 8675310)
  app/bridge/src/components/lux/teleport/constants/networks.mainnets.ts
  app/bridge/src/components/lux/teleport/constants/networks.sandbox.ts
Owners: @luxfi/bridge-maintainers

feat: add Liquidity EVM to Teleport (mainnet 8675309 + testnet 8675310)
  app/bridge/src/components/lux/teleport/constants/networks.mainnets.ts
  app/bridge/src/components/lux/teleport/constants/networks.sandbox.ts
Owners: @luxfi/bridge-maintainers

feat: add EVM to Teleport (mainnet 8675309 + testnet 8675310)
  app/bridge/src/components/lux/teleport/constants/networks.mainnets.ts
  app/bridge/src/components/lux/teleport/constants/networks.sandbox.ts
Owners: @luxfi/bridge-maintainers

feat: add EVM to Teleport (mainnet 8675309 + testnet 8675310)
  app/bridge/src/components/lux/teleport/constants/networks.mainnets.ts
  app/bridge/src/components/lux/teleport/constants/networks.sandbox.ts
Owners: @luxfi/bridge-maintainers

feat: add Liquidity EVM to Teleport (mainnet 8675309 + testnet 8675310)
  app/bridge/src/components/lux/teleport/constants/networks.mainnets.ts
  app/bridge/src/components/lux/teleport/constants/networks.sandbox.ts
Owners: @luxfi/bridge-maintainers

feat: add Liquidity EVM to Teleport (mainnet 8675309 + testnet 8675310)
  app/bridge/src/components/lux/teleport/constants/networks.mainnets.ts
  app/bridge/src/components/lux/teleport/constants/networks.sandbox.ts
Owners: @luxfi/bridge-maintainers

feat: add EVM to Teleport (mainnet 8675309 + testnet 8675310)
  app/bridge/src/components/lux/teleport/constants/networks.mainnets.ts
  app/bridge/src/components/lux/teleport/constants/networks.sandbox.ts
Owners: @luxfi/bridge-maintainers

feat: add Liquidity EVM to Teleport (mainnet 8675309 + testnet 8675310)
  app/bridge/src/components/lux/teleport/constants/networks.mainnets.ts
  app/bridge/src/components/lux/teleport/constants/networks.sandbox.ts
Owners: @luxfi/bridge-maintainers

feat: add EVM to Teleport (mainnet 8675309 + testnet 8675310)
  app/bridge/src/components/lux/teleport/constants/networks.mainnets.ts
  app/bridge/src/components/lux/teleport/constants/networks.sandbox.ts
Owners: @luxfi/bridge-maintainers

feat: add Liquidity EVM to Teleport (mainnet 8675309 + testnet 8675310)
  app/bridge/src/components/lux/teleport/constants/networks.mainnets.ts
  app/bridge/src/components/lux/teleport/constants/networks.sandbox.ts
Owners: @luxfi/bridge-maintainers

security: fix Solana amount offset, lower backing threshold, gitignore binary
  opnet-watcher/.gitignore
  opnet-watcher/config.go
  opnet-watcher/plugins/solana.go
Owners: @luxfi/bridge-maintainers

security: fix Solana amount offset, lower backing threshold, gitignore binary
  opnet-watcher/.gitignore
  opnet-watcher/config.go
  opnet-watcher/plugins/solana.go
Owners: @luxfi/bridge-maintainers

security: fix Solana amount offset, lower backing threshold, gitignore binary
  opnet-watcher/.gitignore
  opnet-watcher/config.go
  opnet-watcher/plugins/solana.go
Owners: @luxfi/bridge-maintainers

security: fix Solana amount offset, lower backing threshold, gitignore binary
  opnet-watcher/.gitignore
  opnet-watcher/config.go
  opnet-watcher/plugins/solana.go
Owners: @luxfi/bridge-maintainers

security: fix Solana amount offset, lower backing threshold, gitignore binary
  opnet-watcher/.gitignore
  opnet-watcher/config.go
  opnet-watcher/plugins/solana.go
Owners: @luxfi/bridge-maintainers

security: fix Solana amount offset, lower backing threshold, gitignore binary
  opnet-watcher/.gitignore
  opnet-watcher/config.go
  opnet-watcher/plugins/solana.go
Owners: @luxfi/bridge-maintainers

security: fix Solana amount offset, lower backing threshold, gitignore binary
  opnet-watcher/.gitignore
  opnet-watcher/config.go
  opnet-watcher/plugins/solana.go
Owners: @luxfi/bridge-maintainers

security: fix Solana amount offset, lower backing threshold, gitignore binary
  opnet-watcher/.gitignore
  opnet-watcher/config.go
  opnet-watcher/plugins/solana.go
Owners: @luxfi/bridge-maintainers

security: fix Solana amount offset, lower backing threshold, gitignore binary
  opnet-watcher/.gitignore
  opnet-watcher/config.go
  opnet-watcher/plugins/solana.go
Owners: @luxfi/bridge-maintainers

security: fix Solana amount offset, lower backing threshold, gitignore binary
  opnet-watcher/.gitignore
  opnet-watcher/config.go
  opnet-watcher/plugins/solana.go
Owners: @luxfi/bridge-maintainers

security: fix Solana amount offset, lower backing threshold, gitignore binary
  opnet-watcher/.gitignore
  opnet-watcher/config.go
  opnet-watcher/plugins/solana.go
Owners: @luxfi/bridge-maintainers
