Repository luxfi/bridge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @luxfi/bridge-maintainers, @luxfi/mpc-maintainers, @luxfi/security, @luxfi/smart-contracts, @luxfi/frontend, @luxfi/qa, @luxfi/backend, @luxfi/devops, @luxfi/docs

.github/CODEOWNERS:

# CODEOWNERS for Lux Bridge

# Default owners for everything in the repo
* @luxfi/bridge-maintainers

# MPC service owners
/mpc-service/ @luxfi/mpc-maintainers @luxfi/security

# Smart contracts owners  
/contracts/ @luxfi/smart-contracts @luxfi/security

# Frontend and UI owners
/app/client/ @luxfi/frontend
/app/ui/ @luxfi/frontend
/ui-automation/ @luxfi/qa

# Backend server owners
/app/server/ @luxfi/backend

# DevOps and CI/CD
/.github/ @luxfi/devops
/docker/ @luxfi/devops
/k8s/ @luxfi/devops

# Documentation
/docs/ @luxfi/docs
/*.md @luxfi/docs

# Security-sensitive files
/mpc-service/cmd/ @luxfi/security @luxfi/mpc-maintainers
/contracts/bridges/ @luxfi/security @luxfi/smart-contracts
/.env* @luxfi/security @luxfi/devops

test(ton): cover messaging.go's transfer build + finalize (was 0%)
  internal/ton/messaging_test.go
Owners: @luxfi/bridge-maintainers

test(bridge): AssetInput coverage + fix stale wallet-adapter comment
  pkg/bridge/src/__tests__/AssetInput.test.tsx
  pkg/bridge/src/app/components/AssetInput.tsx
Owners: @luxfi/bridge-maintainers

test(bridge): AssetInput coverage + fix stale wallet-adapter comment
  pkg/bridge/src/__tests__/AssetInput.test.tsx
  pkg/bridge/src/app/components/AssetInput.tsx
Owners: @luxfi/bridge-maintainers

test(ton): cover provider.go's toncenter client (0% -> package 85.8%)
  internal/ton/provider_test.go
Owners: @luxfi/bridge-maintainers

test(ton): cover provider.go's toncenter client (0% -> package 85.8%)
  internal/ton/provider_test.go
Owners: @luxfi/bridge-maintainers

test(mpcd-single): cover master-seed loading (was the untested half)
  cmd/mpcd-single/main_test.go
Owners: @luxfi/bridge-maintainers

test(mpcd-single): cover master-seed loading (was the untested half)
  cmd/mpcd-single/main_test.go
Owners: @luxfi/bridge-maintainers

build: bump Go builder images to 1.26.5, set GOTOOLCHAIN=auto
  cmd/bridge/Dockerfile
  opnet-watcher/Dockerfile
Owners: @luxfi/bridge-maintainers

build: bump Go builder images to 1.26.5, set GOTOOLCHAIN=auto
  cmd/bridge/Dockerfile
  opnet-watcher/Dockerfile
Owners: @luxfi/bridge-maintainers

ci: ghcr login uses the credential luxfi actually provisions
  .github/workflows/docker.yml
Owners: @luxfi/devops

ci: ghcr login uses the credential luxfi actually provisions
  .github/workflows/docker.yml
Owners: @luxfi/devops

deps: zip v1.8.3 -> v1.18.22
  go.mod
  go.sum
Owners: @luxfi/bridge-maintainers

deps: zip v1.8.3 -> v1.18.22
  go.mod
  go.sum
Owners: @luxfi/bridge-maintainers

deps: zip v1.8.3 -> v1.18.22
  go.mod
  go.sum
Owners: @luxfi/bridge-maintainers

deps: zip v1.8.3 -> v1.18.22
  go.mod
  go.sum
Owners: @luxfi/bridge-maintainers

deps: zip v1.8.3 -> v1.18.22
  go.mod
  go.sum
Owners: @luxfi/bridge-maintainers

deps: zip v1.8.3 -> v1.18.22
  go.mod
  go.sum
Owners: @luxfi/bridge-maintainers

ci: upload-artifact v3 — v4+ is refused by this forge
  .github/workflows/full-integration-tests.yml
  .github/workflows/integration-tests.yml
  .github/workflows/mpc-e2e-tests.yml
Owners: @luxfi/devops

ci: upload-artifact v3 — v4+ is refused by this forge
  .github/workflows/full-integration-tests.yml
  .github/workflows/integration-tests.yml
  .github/workflows/mpc-e2e-tests.yml
Owners: @luxfi/devops

test(mpc-router): cover error paths (405/400/502) + tokenState
  cmd/mpc-router/main_test.go
Owners: @luxfi/bridge-maintainers

test(mpc-router): cover error paths (405/400/502) + tokenState
  cmd/mpc-router/main_test.go
Owners: @luxfi/bridge-maintainers

test(broadcast): cover broadcastBTC + broadcastTON (both were 0%)
  internal/broadcast/btc_test.go
  internal/broadcast/ton_test.go
Owners: @luxfi/bridge-maintainers

test(broadcast): cover broadcastBTC + broadcastTON (both were 0%)
  internal/broadcast/btc_test.go
  internal/broadcast/ton_test.go
Owners: @luxfi/bridge-maintainers

test(btc): cover the mempool.space provider client (was 0%)
  internal/btc/provider_test.go
Owners: @luxfi/bridge-maintainers

test(btc): cover the mempool.space provider client (was 0%)
  internal/btc/provider_test.go
Owners: @luxfi/bridge-maintainers

test(xrp): cover the XRPL RPC provider client (was 0%)
  internal/xrp/provider_test.go
Owners: @luxfi/bridge-maintainers

test(xrp): cover the XRPL RPC provider client (was 0%)
  internal/xrp/provider_test.go
Owners: @luxfi/bridge-maintainers

test(depositcheck): cover the three baseline-snapshot fetchers (0%)
  internal/depositcheck/baseline_fetch_test.go
Owners: @luxfi/bridge-maintainers

test(depositcheck): cover the three baseline-snapshot fetchers (0%)
  internal/depositcheck/baseline_fetch_test.go
Owners: @luxfi/bridge-maintainers

test(bridge): cover Select's keyboard nav + dismiss behavior
  pkg/bridge/src/__tests__/Select.test.tsx
Owners: @luxfi/bridge-maintainers

test(bridge): cover Select's keyboard nav + dismiss behavior
  pkg/bridge/src/__tests__/Select.test.tsx
Owners: @luxfi/bridge-maintainers

test(bridge): cover the TON stale-seqno rebuild (was 0%)
  cmd/bridge/broadcast_driver_test.go
Owners: @luxfi/bridge-maintainers

test(bridge): cover the TON stale-seqno rebuild (was 0%)
  cmd/bridge/broadcast_driver_test.go
Owners: @luxfi/bridge-maintainers

test(bridge): cover the read-only REST surface + rpcErrToJSONRPC
  cmd/bridge/api_test.go
Owners: @luxfi/bridge-maintainers

test(bridge): cover the read-only REST surface + rpcErrToJSONRPC
  cmd/bridge/api_test.go
Owners: @luxfi/bridge-maintainers

test(bridge): cover envOr/envBool/envInt64/selectProfile
  cmd/bridge/main_test.go
Owners: @luxfi/bridge-maintainers

test(bridge): cover envOr/envBool/envInt64/selectProfile
  cmd/bridge/main_test.go
Owners: @luxfi/bridge-maintainers

kms.lux.cloud is the brand host; kms.lux.network is retired
  app/server/src/clients/__tests__/kms.test.ts
  app/server/src/clients/kms.ts
  app/server/src/domain/__tests__/cosigners-kms-secret-fetch.test.ts
  cmd/bridge/main_test.go
  compose.standalone.yml
  config.kms.yaml
  pkg/bridge/README.md
  pkg/bridge/src/types.ts
  pkg/tenant/config.go
  pkg/tenant/config_test.go
  tenant.example.yaml
Owners: @luxfi/backend, @luxfi/bridge-maintainers

kms.lux.cloud is the brand host; kms.lux.network is retired
  app/server/src/clients/__tests__/kms.test.ts
  app/server/src/clients/kms.ts
  app/server/src/domain/__tests__/cosigners-kms-secret-fetch.test.ts
  cmd/bridge/main_test.go
  compose.standalone.yml
  config.kms.yaml
  pkg/bridge/README.md
  pkg/bridge/src/types.ts
  pkg/tenant/config.go
  pkg/tenant/config_test.go
  tenant.example.yaml
Owners: @luxfi/backend, @luxfi/bridge-maintainers

kms.lux.cloud is the brand host; kms.lux.network is retired
  LLM.md
  docs/LLM.md
Owners: @luxfi/docs
