Repository luxfi/bridge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @luxfi/bridge-maintainers, @luxfi/mpc-maintainers, @luxfi/security, @luxfi/smart-contracts, @luxfi/frontend, @luxfi/qa, @luxfi/backend, @luxfi/devops, @luxfi/docs

feat: white-label multi-tenant bridge UI
  app/bridge/next.config.js
  app/bridge/src/app/api/tenant/route.ts
  app/bridge/src/app/layout.tsx
  app/bridge/src/components/Contexts.tsx
  app/bridge/src/components/header/desktop.tsx
  app/bridge/src/components/header/index.tsx
  app/bridge/src/context/tenantContext.tsx
  app/bridge/src/lib/tenant.ts
  app/bridge/src/middleware.ts
  k8s/mpc-deployment.yaml
Owners: @luxfi/bridge-maintainers, @luxfi/devops

feat: white-label multi-tenant bridge UI
  app/bridge/next.config.js
  app/bridge/src/app/api/tenant/route.ts
  app/bridge/src/app/layout.tsx
  app/bridge/src/components/Contexts.tsx
  app/bridge/src/components/header/desktop.tsx
  app/bridge/src/components/header/index.tsx
  app/bridge/src/context/tenantContext.tsx
  app/bridge/src/lib/tenant.ts
  app/bridge/src/middleware.ts
  k8s/mpc-deployment.yaml
Owners: @luxfi/bridge-maintainers, @luxfi/devops

feat: white-label multi-tenant bridge UI
  app/bridge/next.config.js
  app/bridge/src/app/api/tenant/route.ts
  app/bridge/src/app/layout.tsx
  app/bridge/src/components/Contexts.tsx
  app/bridge/src/components/header/desktop.tsx
  app/bridge/src/components/header/index.tsx
  app/bridge/src/context/tenantContext.tsx
  app/bridge/src/lib/tenant.ts
  app/bridge/src/middleware.ts
  k8s/mpc-deployment.yaml
Owners: @luxfi/bridge-maintainers, @luxfi/devops

feat: white-label multi-tenant bridge UI
  app/bridge/next.config.js
  app/bridge/src/app/api/tenant/route.ts
  app/bridge/src/app/layout.tsx
  app/bridge/src/components/Contexts.tsx
  app/bridge/src/components/header/desktop.tsx
  app/bridge/src/components/header/index.tsx
  app/bridge/src/context/tenantContext.tsx
  app/bridge/src/lib/tenant.ts
  app/bridge/src/middleware.ts
  k8s/mpc-deployment.yaml
Owners: @luxfi/bridge-maintainers, @luxfi/devops

feat: 3-of-5 MPC cluster + CNAME white-label resolution
  app/bridge/src/lib/tenant.ts
  config/mpc/config.yaml
  k8s/mpc-deployment.yaml
  k8s/mpc-landing-pages.yaml
Owners: @luxfi/bridge-maintainers, @luxfi/devops

feat: 3-of-5 MPC cluster + CNAME white-label resolution
  app/bridge/src/lib/tenant.ts
  config/mpc/config.yaml
  k8s/mpc-deployment.yaml
  k8s/mpc-landing-pages.yaml
Owners: @luxfi/bridge-maintainers, @luxfi/devops

feat: 3-of-5 MPC cluster + CNAME white-label resolution
  app/bridge/src/lib/tenant.ts
  config/mpc/config.yaml
  k8s/mpc-deployment.yaml
  k8s/mpc-landing-pages.yaml
Owners: @luxfi/bridge-maintainers, @luxfi/devops

feat: 3-of-5 MPC cluster + CNAME white-label resolution
  app/bridge/src/lib/tenant.ts
  config/mpc/config.yaml
  k8s/mpc-deployment.yaml
  k8s/mpc-landing-pages.yaml
Owners: @luxfi/bridge-maintainers, @luxfi/devops

feat: 3-of-5 MPC cluster + CNAME white-label resolution
  app/bridge/src/lib/tenant.ts
  config/mpc/config.yaml
  k8s/mpc-deployment.yaml
  k8s/mpc-landing-pages.yaml
Owners: @luxfi/bridge-maintainers, @luxfi/devops

fix: MPC peer UUIDs + ZAPDB_PASSWORD env var + 5-node init container
  k8s/mpc-deployment.yaml
Owners: @luxfi/devops

fix: MPC peer UUIDs + ZAPDB_PASSWORD env var + 5-node init container
  k8s/mpc-deployment.yaml
Owners: @luxfi/devops

fix: MPC peer UUIDs + ZAPDB_PASSWORD env var + 5-node init container
  k8s/mpc-deployment.yaml
Owners: @luxfi/devops

fix: MPC peer UUIDs + ZAPDB_PASSWORD env var + 5-node init container
  k8s/mpc-deployment.yaml
Owners: @luxfi/devops

fix: MPC peer UUIDs + ZAPDB_PASSWORD env var + 5-node init container
  k8s/mpc-deployment.yaml
Owners: @luxfi/devops

fix(k8s): add mpc-api-svc for bridge-server MPC connectivity
  k8s/mpc-deployment.yaml
Owners: @luxfi/devops

fix(k8s): add mpc-api-svc for bridge-server MPC connectivity
  k8s/mpc-deployment.yaml
Owners: @luxfi/devops

fix(k8s): add mpc-api-svc for bridge-server MPC connectivity
  k8s/mpc-deployment.yaml
Owners: @luxfi/devops

fix(k8s): add mpc-api-svc for bridge-server MPC connectivity
  k8s/mpc-deployment.yaml
Owners: @luxfi/devops

fix(k8s): add mpc-api-svc for bridge-server MPC connectivity
  k8s/mpc-deployment.yaml
Owners: @luxfi/devops

unify on hanzoai/sql:17-alpine, IngressClass ingress
  .github/workflows/full-integration-tests.yml
  .github/workflows/integration-tests.yml
  compose.infra.yml
  compose.local.yml
  compose.mainnet.yml
  compose.testnet.yml
  compose.yml
  docker/mpc-operator.yml
  k8s/mpc-deployment.yaml
  k8s/mpc-landing-pages.yaml
  k8s/mpc-security.yaml
Owners: @luxfi/devops, @luxfi/bridge-maintainers

unify on hanzoai/sql:17-alpine, IngressClass ingress
  .github/workflows/full-integration-tests.yml
  .github/workflows/integration-tests.yml
  compose.infra.yml
  compose.local.yml
  compose.mainnet.yml
  compose.testnet.yml
  compose.yml
  docker/mpc-operator.yml
  k8s/mpc-deployment.yaml
  k8s/mpc-landing-pages.yaml
  k8s/mpc-security.yaml
Owners: @luxfi/devops, @luxfi/bridge-maintainers

unify on hanzoai/sql:17-alpine, IngressClass ingress
  .github/workflows/full-integration-tests.yml
  .github/workflows/integration-tests.yml
  compose.infra.yml
  compose.local.yml
  compose.mainnet.yml
  compose.testnet.yml
  compose.yml
  docker/mpc-operator.yml
  k8s/mpc-deployment.yaml
  k8s/mpc-landing-pages.yaml
  k8s/mpc-security.yaml
Owners: @luxfi/devops, @luxfi/bridge-maintainers

unify on hanzoai/sql:17-alpine, IngressClass ingress
  .github/workflows/full-integration-tests.yml
  .github/workflows/integration-tests.yml
  compose.infra.yml
  compose.local.yml
  compose.mainnet.yml
  compose.testnet.yml
  compose.yml
  docker/mpc-operator.yml
  k8s/mpc-deployment.yaml
  k8s/mpc-landing-pages.yaml
  k8s/mpc-security.yaml
Owners: @luxfi/devops, @luxfi/bridge-maintainers

unify on hanzoai/sql:17-alpine, IngressClass ingress
  .github/workflows/full-integration-tests.yml
  .github/workflows/integration-tests.yml
  compose.infra.yml
  compose.local.yml
  compose.mainnet.yml
  compose.testnet.yml
  compose.yml
  docker/mpc-operator.yml
  k8s/mpc-deployment.yaml
  k8s/mpc-landing-pages.yaml
  k8s/mpc-security.yaml
Owners: @luxfi/devops, @luxfi/bridge-maintainers

unify all sql images to :latest (PG18)
  .github/workflows/full-integration-tests.yml
  .github/workflows/integration-tests.yml
  app/server/src/domain/lux-mpc.ts
  app/server/src/domain/mpc-bridge.ts
  app/server/src/services/mpc-service.ts
  app/server/src/utils/mpc-signing.ts
  compose.infra.yml
  compose.local.yml
  compose.mainnet.yml
  compose.testnet.yml
  compose.yml
  k8s/mpc-deployment.yaml
  package.json
  pnpm-lock.yaml
  test-bridge-ui.js
Owners: @luxfi/devops, @luxfi/backend, @luxfi/bridge-maintainers

unify all sql images to :latest (PG18)
  .github/workflows/full-integration-tests.yml
  .github/workflows/integration-tests.yml
  app/server/src/domain/lux-mpc.ts
  app/server/src/domain/mpc-bridge.ts
  app/server/src/services/mpc-service.ts
  app/server/src/utils/mpc-signing.ts
  compose.infra.yml
  compose.local.yml
  compose.mainnet.yml
  compose.testnet.yml
  compose.yml
  k8s/mpc-deployment.yaml
  package.json
  pnpm-lock.yaml
  test-bridge-ui.js
Owners: @luxfi/devops, @luxfi/backend, @luxfi/bridge-maintainers

unify all sql images to :latest (PG18)
  .github/workflows/full-integration-tests.yml
  .github/workflows/integration-tests.yml
  app/server/src/domain/lux-mpc.ts
  app/server/src/domain/mpc-bridge.ts
  app/server/src/services/mpc-service.ts
  app/server/src/utils/mpc-signing.ts
  compose.infra.yml
  compose.local.yml
  compose.mainnet.yml
  compose.testnet.yml
  compose.yml
  k8s/mpc-deployment.yaml
  package.json
  pnpm-lock.yaml
  test-bridge-ui.js
Owners: @luxfi/devops, @luxfi/backend, @luxfi/bridge-maintainers

unify all sql images to :latest (PG18)
  .github/workflows/full-integration-tests.yml
  .github/workflows/integration-tests.yml
  app/server/src/domain/lux-mpc.ts
  app/server/src/domain/mpc-bridge.ts
  app/server/src/services/mpc-service.ts
  app/server/src/utils/mpc-signing.ts
  compose.infra.yml
  compose.local.yml
  compose.mainnet.yml
  compose.testnet.yml
  compose.yml
  k8s/mpc-deployment.yaml
  package.json
  pnpm-lock.yaml
  test-bridge-ui.js
Owners: @luxfi/devops, @luxfi/backend, @luxfi/bridge-maintainers

unify all sql images to :latest (PG18)
  .github/workflows/full-integration-tests.yml
  .github/workflows/integration-tests.yml
  app/server/src/domain/lux-mpc.ts
  app/server/src/domain/mpc-bridge.ts
  app/server/src/services/mpc-service.ts
  app/server/src/utils/mpc-signing.ts
  compose.infra.yml
  compose.local.yml
  compose.mainnet.yml
  compose.testnet.yml
  compose.yml
  k8s/mpc-deployment.yaml
  package.json
  pnpm-lock.yaml
  test-bridge-ui.js
Owners: @luxfi/devops, @luxfi/backend, @luxfi/bridge-maintainers

ci: switch to org-wide reusable Docker build workflow
  .github/workflows/docker-publish.yml
Owners: @luxfi/devops

ci: switch to org-wide reusable Docker build workflow (#379)
  .github/workflows/docker-publish.yml
Owners: @luxfi/devops

ci: switch to org-wide reusable Docker build workflow (#379)
  .github/workflows/docker-publish.yml
Owners: @luxfi/devops

ci: switch to org-wide reusable Docker build workflow (#379)
  .github/workflows/docker-publish.yml
Owners: @luxfi/devops

ci: switch to org-wide reusable Docker build workflow (#379)
  .github/workflows/docker-publish.yml
Owners: @luxfi/devops

ci: switch to org-wide reusable Docker build workflow (#379)
  .github/workflows/docker-publish.yml
Owners: @luxfi/devops

fix(ci): reference hanzoai/.github reusable workflow (not luxfi)
  .github/workflows/docker-publish.yml
Owners: @luxfi/devops

fix(ci): reference hanzoai/.github reusable workflow (not luxfi)
  .github/workflows/docker-publish.yml
Owners: @luxfi/devops

fix(ci): reference hanzoai/.github reusable workflow (not luxfi)
  .github/workflows/docker-publish.yml
Owners: @luxfi/devops

fix(ci): reference hanzoai/.github reusable workflow (not luxfi)
  .github/workflows/docker-publish.yml
Owners: @luxfi/devops

fix(ci): reference hanzoai/.github reusable workflow (not luxfi)
  .github/workflows/docker-publish.yml
Owners: @luxfi/devops

.github/CODEOWNERS:

# CODEOWNERS for Lux Bridge

# Default owners for everything in the repo
* @luxfi/bridge-maintainers

# MPC service owners
/mpc-service/ @luxfi/mpc-maintainers @luxfi/security

# Smart contracts owners  
/contracts/ @luxfi/smart-contracts @luxfi/security

# Frontend and UI owners
/app/client/ @luxfi/frontend
/app/ui/ @luxfi/frontend
/ui-automation/ @luxfi/qa

# Backend server owners
/app/server/ @luxfi/backend

# DevOps and CI/CD
/.github/ @luxfi/devops
/docker/ @luxfi/devops
/k8s/ @luxfi/devops

# Documentation
/docs/ @luxfi/docs
/*.md @luxfi/docs

# Security-sensitive files
/mpc-service/cmd/ @luxfi/security @luxfi/mpc-maintainers
/contracts/bridges/ @luxfi/security @luxfi/smart-contracts
/.env* @luxfi/security @luxfi/devops
