Repository luxfi/bridge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @luxfi/bridge-maintainers, @luxfi/mpc-maintainers, @luxfi/security, @luxfi/smart-contracts, @luxfi/frontend, @luxfi/qa, @luxfi/backend, @luxfi/devops, @luxfi/docs

Add git to bridge UI build stage for git-based deps
  app/bridge/Dockerfile
Owners: @luxfi/bridge-maintainers

Add dark theme CSS variables for bridge UI contrast fix
  app/bridge/src/styles/globals.css
Owners: @luxfi/bridge-maintainers

Add dark theme CSS variables for bridge UI contrast fix
  app/bridge/src/styles/globals.css
Owners: @luxfi/bridge-maintainers

Add dark theme CSS variables for bridge UI contrast fix
  app/bridge/src/styles/globals.css
Owners: @luxfi/bridge-maintainers

Add dark theme CSS variables for bridge UI contrast fix
  app/bridge/src/styles/globals.css
Owners: @luxfi/bridge-maintainers

Add dark theme CSS variables for bridge UI contrast fix
  app/bridge/src/styles/globals.css
Owners: @luxfi/bridge-maintainers

Add Tailwind directives to globals.css
  app/bridge/src/styles/globals.css
Owners: @luxfi/bridge-maintainers

Add Tailwind directives to globals.css
  app/bridge/src/styles/globals.css
Owners: @luxfi/bridge-maintainers

Add Tailwind directives to globals.css
  app/bridge/src/styles/globals.css
Owners: @luxfi/bridge-maintainers

Add Tailwind directives to globals.css
  app/bridge/src/styles/globals.css
Owners: @luxfi/bridge-maintainers

Add Tailwind directives to globals.css
  app/bridge/src/styles/globals.css
Owners: @luxfi/bridge-maintainers

Fix MPC bridge signing: match results by tx_id, reconstruct signature from r+s+v
  app/server/src/domain/mpc-bridge.ts
Owners: @luxfi/backend

Fix MPC bridge signing: match results by tx_id, reconstruct signature from r+s+v
  app/server/src/domain/mpc-bridge.ts
Owners: @luxfi/backend

Fix MPC bridge signing: match results by tx_id, reconstruct signature from r+s+v
  app/server/src/domain/mpc-bridge.ts
Owners: @luxfi/backend

Fix MPC bridge signing: match results by tx_id, reconstruct signature from r+s+v
  app/server/src/domain/mpc-bridge.ts
Owners: @luxfi/backend

Fix MPC bridge signing: match results by tx_id, reconstruct signature from r+s+v
  app/server/src/domain/mpc-bridge.ts
Owners: @luxfi/backend

Fix MPC result subscription: subscribe after NATS init, not in constructor
  app/server/src/domain/mpc-bridge.ts
Owners: @luxfi/backend

Fix MPC result subscription: subscribe after NATS init, not in constructor
  app/server/src/domain/mpc-bridge.ts
Owners: @luxfi/backend

Fix MPC result subscription: subscribe after NATS init, not in constructor
  app/server/src/domain/mpc-bridge.ts
Owners: @luxfi/backend

Fix MPC result subscription: subscribe after NATS init, not in constructor
  app/server/src/domain/mpc-bridge.ts
Owners: @luxfi/backend

Fix MPC result subscription: subscribe after NATS init, not in constructor
  app/server/src/domain/mpc-bridge.ts
Owners: @luxfi/backend

feat: enable LUX<>ZOO bridging, 0% in / 1% out fees, pod hardening
  app/server/src/domain/settings/mainnet/networks.ts
  k8s/mpc-deployment.yaml
  pkg/settings/src/mainnet/networks.json
Owners: @luxfi/backend, @luxfi/devops, @luxfi/bridge-maintainers

feat: enable LUX<>ZOO bridging, 0% in / 1% out fees, pod hardening
  app/server/src/domain/settings/mainnet/networks.ts
  k8s/mpc-deployment.yaml
  pkg/settings/src/mainnet/networks.json
Owners: @luxfi/backend, @luxfi/devops, @luxfi/bridge-maintainers

feat: enable LUX<>ZOO bridging, 0% in / 1% out fees, pod hardening
  app/server/src/domain/settings/mainnet/networks.ts
  k8s/mpc-deployment.yaml
  pkg/settings/src/mainnet/networks.json
Owners: @luxfi/backend, @luxfi/devops, @luxfi/bridge-maintainers

feat: enable LUX<>ZOO bridging, 0% in / 1% out fees, pod hardening
  app/server/src/domain/settings/mainnet/networks.ts
  k8s/mpc-deployment.yaml
  pkg/settings/src/mainnet/networks.json
Owners: @luxfi/backend, @luxfi/devops, @luxfi/bridge-maintainers

feat: enable LUX<>ZOO bridging, 0% in / 1% out fees, pod hardening
  app/server/src/domain/settings/mainnet/networks.ts
  k8s/mpc-deployment.yaml
  pkg/settings/src/mainnet/networks.json
Owners: @luxfi/backend, @luxfi/devops, @luxfi/bridge-maintainers

Add Hanzo Insights to bridge with tenant-aware properties
  app/bridge/src/app/layout.tsx
Owners: @luxfi/bridge-maintainers

Add Hanzo Insights to bridge with tenant-aware properties
  app/bridge/src/app/layout.tsx
Owners: @luxfi/bridge-maintainers

Add Hanzo Insights to bridge with tenant-aware properties
  app/bridge/src/app/layout.tsx
Owners: @luxfi/bridge-maintainers

Add Hanzo Insights to bridge with tenant-aware properties
  app/bridge/src/app/layout.tsx
Owners: @luxfi/bridge-maintainers

Add Hanzo Insights to bridge with tenant-aware properties
  app/bridge/src/app/layout.tsx
Owners: @luxfi/bridge-maintainers

chore: rebrand insights to hi_ prefix (Lux org key), window.hi global
  app/bridge/src/app/layout.tsx
Owners: @luxfi/bridge-maintainers

chore: rebrand insights to hi_ prefix (Lux org key), window.hi global
  app/bridge/src/app/layout.tsx
Owners: @luxfi/bridge-maintainers

chore: rebrand insights to hi_ prefix (Lux org key), window.hi global
  app/bridge/src/app/layout.tsx
Owners: @luxfi/bridge-maintainers

chore: rebrand insights to hi_ prefix (Lux org key), window.hi global
  app/bridge/src/app/layout.tsx
Owners: @luxfi/bridge-maintainers

chore: rebrand insights to hi_ prefix (Lux org key), window.hi global
  app/bridge/src/app/layout.tsx
Owners: @luxfi/bridge-maintainers

feat: native MPC wallet support, replace Utila, enable all chains
  app/server/src/domain/mpc-wallet.ts
  app/server/src/domain/settings/mainnet/networks.ts
  app/server/src/domain/settings/swap-pairs.ts
  app/server/src/domain/settings/testnet/networks.ts
  app/server/src/domain/swaps.ts
  app/server/src/server.ts
  pkg/core/types/network-type.ts
Owners: @luxfi/backend, @luxfi/bridge-maintainers

feat: native MPC wallet support, replace Utila, enable all chains
  app/server/src/domain/mpc-wallet.ts
  app/server/src/domain/settings/mainnet/networks.ts
  app/server/src/domain/settings/swap-pairs.ts
  app/server/src/domain/settings/testnet/networks.ts
  app/server/src/domain/swaps.ts
  app/server/src/server.ts
  pkg/core/types/network-type.ts
Owners: @luxfi/backend, @luxfi/bridge-maintainers

feat: native MPC wallet support, replace Utila, enable all chains
  app/server/src/domain/mpc-wallet.ts
  app/server/src/domain/settings/mainnet/networks.ts
  app/server/src/domain/settings/swap-pairs.ts
  app/server/src/domain/settings/testnet/networks.ts
  app/server/src/domain/swaps.ts
  app/server/src/server.ts
  pkg/core/types/network-type.ts
Owners: @luxfi/backend, @luxfi/bridge-maintainers

feat: native MPC wallet support, replace Utila, enable all chains
  app/server/src/domain/mpc-wallet.ts
  app/server/src/domain/settings/mainnet/networks.ts
  app/server/src/domain/settings/swap-pairs.ts
  app/server/src/domain/settings/testnet/networks.ts
  app/server/src/domain/swaps.ts
  app/server/src/server.ts
  pkg/core/types/network-type.ts
Owners: @luxfi/backend, @luxfi/bridge-maintainers

.github/CODEOWNERS:

# CODEOWNERS for Lux Bridge

# Default owners for everything in the repo
* @luxfi/bridge-maintainers

# MPC service owners
/mpc-service/ @luxfi/mpc-maintainers @luxfi/security

# Smart contracts owners  
/contracts/ @luxfi/smart-contracts @luxfi/security

# Frontend and UI owners
/app/client/ @luxfi/frontend
/app/ui/ @luxfi/frontend
/ui-automation/ @luxfi/qa

# Backend server owners
/app/server/ @luxfi/backend

# DevOps and CI/CD
/.github/ @luxfi/devops
/docker/ @luxfi/devops
/k8s/ @luxfi/devops

# Documentation
/docs/ @luxfi/docs
/*.md @luxfi/docs

# Security-sensitive files
/mpc-service/cmd/ @luxfi/security @luxfi/mpc-maintainers
/contracts/bridges/ @luxfi/security @luxfi/smart-contracts
/.env* @luxfi/security @luxfi/devops
