Repository luxfi/bridge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @luxfi/bridge-maintainers, @luxfi/mpc-maintainers, @luxfi/security, @luxfi/smart-contracts, @luxfi/frontend, @luxfi/qa, @luxfi/backend, @luxfi/devops, @luxfi/docs

ci(docker): single-arch amd64 on lux-build runner (per-arch pools not online yet)
  .github/workflows/docker.yml
Owners: @luxfi/devops

ci(docker): single-arch amd64 on lux-build runner (per-arch pools not online yet)
  .github/workflows/docker.yml
Owners: @luxfi/devops

ci(docker): single-arch amd64 on lux-build runner (per-arch pools not online yet)
  .github/workflows/docker.yml
Owners: @luxfi/devops

ci(docker): single-arch amd64 on lux-build runner (per-arch pools not online yet)
  .github/workflows/docker.yml
Owners: @luxfi/devops

ci(docker): single-arch amd64 on lux-build runner (per-arch pools not online yet)
  .github/workflows/docker.yml
Owners: @luxfi/devops

ci(docker): single-arch amd64 on lux-build runner (per-arch pools not online yet)
  .github/workflows/docker.yml
Owners: @luxfi/devops

ci(docker): pin pnpm 8.15.9 + fallback non-frozen (pnpm v9 approve-builds blocks install)
  Dockerfile
Owners: @luxfi/bridge-maintainers

ci(docker): pin pnpm 8.15.9 + fallback non-frozen (pnpm v9 approve-builds blocks install)
  Dockerfile
Owners: @luxfi/bridge-maintainers

ci(docker): pin pnpm 8.15.9 + fallback non-frozen (pnpm v9 approve-builds blocks install)
  Dockerfile
Owners: @luxfi/bridge-maintainers

ci(docker): pin pnpm 8.15.9 + fallback non-frozen (pnpm v9 approve-builds blocks install)
  Dockerfile
Owners: @luxfi/bridge-maintainers

ci(docker): pin pnpm 8.15.9 + fallback non-frozen (pnpm v9 approve-builds blocks install)
  Dockerfile
Owners: @luxfi/bridge-maintainers

ci(docker): pin pnpm 8.15.9 + fallback non-frozen (pnpm v9 approve-builds blocks install)
  Dockerfile
Owners: @luxfi/bridge-maintainers

ci(docker): pin pnpm 8.15.9 + fallback non-frozen (pnpm v9 approve-builds blocks install)
  Dockerfile
Owners: @luxfi/bridge-maintainers

ci(docker): pin pnpm 8.15.9 + fallback non-frozen (pnpm v9 approve-builds blocks install)
  Dockerfile
Owners: @luxfi/bridge-maintainers

feat: testnet configuration set, updated deposit workflow with mpc workflow, not teleport
  app/bridge/TESTNET-E2E.md
  app/bridge/src/bridge.config.ts
  app/server/result-img/testnet-chains.png
  app/server/result-img/testnet-landing.png
  deposit-addresses.json
  pkg/bridge/src/__tests__/useNetworks.test.tsx
  pkg/bridge/src/__tests__/useTransfers.test.tsx
  pkg/bridge/src/__tests__/wagmi-config.test.ts
  pkg/bridge/src/app/components/SwapForm.tsx
  pkg/bridge/src/app/hooks/useNetworks.ts
  pkg/bridge/src/app/hooks/useTransfers.ts
  pkg/bridge/src/app/lib/wagmi-config.ts
Owners: @luxfi/bridge-maintainers, @luxfi/backend

feat: testnet configuration set, updated deposit workflow with mpc workflow, not teleport
  app/bridge/TESTNET-E2E.md
  app/bridge/src/bridge.config.ts
  app/server/result-img/testnet-chains.png
  app/server/result-img/testnet-landing.png
  deposit-addresses.json
  pkg/bridge/src/__tests__/useNetworks.test.tsx
  pkg/bridge/src/__tests__/useTransfers.test.tsx
  pkg/bridge/src/__tests__/wagmi-config.test.ts
  pkg/bridge/src/app/components/SwapForm.tsx
  pkg/bridge/src/app/hooks/useNetworks.ts
  pkg/bridge/src/app/hooks/useTransfers.ts
  pkg/bridge/src/app/lib/wagmi-config.ts
Owners: @luxfi/bridge-maintainers, @luxfi/backend

feat: testnet configuration set, updated deposit workflow with mpc workflow, not teleport
  app/bridge/TESTNET-E2E.md
  app/bridge/src/bridge.config.ts
  app/server/result-img/testnet-chains.png
  app/server/result-img/testnet-landing.png
  deposit-addresses.json
  pkg/bridge/src/__tests__/useNetworks.test.tsx
  pkg/bridge/src/__tests__/useTransfers.test.tsx
  pkg/bridge/src/__tests__/wagmi-config.test.ts
  pkg/bridge/src/app/components/SwapForm.tsx
  pkg/bridge/src/app/hooks/useNetworks.ts
  pkg/bridge/src/app/hooks/useTransfers.ts
  pkg/bridge/src/app/lib/wagmi-config.ts
Owners: @luxfi/bridge-maintainers, @luxfi/backend

feat: testnet configuration set, updated deposit workflow with mpc workflow, not teleport
  app/bridge/TESTNET-E2E.md
  app/bridge/src/bridge.config.ts
  app/server/result-img/testnet-chains.png
  app/server/result-img/testnet-landing.png
  deposit-addresses.json
  pkg/bridge/src/__tests__/useNetworks.test.tsx
  pkg/bridge/src/__tests__/useTransfers.test.tsx
  pkg/bridge/src/__tests__/wagmi-config.test.ts
  pkg/bridge/src/app/components/SwapForm.tsx
  pkg/bridge/src/app/hooks/useNetworks.ts
  pkg/bridge/src/app/hooks/useTransfers.ts
  pkg/bridge/src/app/lib/wagmi-config.ts
Owners: @luxfi/bridge-maintainers, @luxfi/backend

feat: testnet configuration set, updated deposit workflow with mpc workflow, not teleport
  app/bridge/TESTNET-E2E.md
  app/bridge/src/bridge.config.ts
  app/server/result-img/testnet-chains.png
  app/server/result-img/testnet-landing.png
  deposit-addresses.json
  pkg/bridge/src/__tests__/useNetworks.test.tsx
  pkg/bridge/src/__tests__/useTransfers.test.tsx
  pkg/bridge/src/__tests__/wagmi-config.test.ts
  pkg/bridge/src/app/components/SwapForm.tsx
  pkg/bridge/src/app/hooks/useNetworks.ts
  pkg/bridge/src/app/hooks/useTransfers.ts
  pkg/bridge/src/app/lib/wagmi-config.ts
Owners: @luxfi/bridge-maintainers, @luxfi/backend

feat: testnet configuration set, updated deposit workflow with mpc workflow, not teleport
  app/bridge/TESTNET-E2E.md
  app/bridge/src/bridge.config.ts
  app/server/result-img/testnet-chains.png
  app/server/result-img/testnet-landing.png
  deposit-addresses.json
  pkg/bridge/src/__tests__/useNetworks.test.tsx
  pkg/bridge/src/__tests__/useTransfers.test.tsx
  pkg/bridge/src/__tests__/wagmi-config.test.ts
  pkg/bridge/src/app/components/SwapForm.tsx
  pkg/bridge/src/app/hooks/useNetworks.ts
  pkg/bridge/src/app/hooks/useTransfers.ts
  pkg/bridge/src/app/lib/wagmi-config.ts
Owners: @luxfi/bridge-maintainers, @luxfi/backend

feat: testnet configuration set, updated deposit workflow with mpc workflow, not teleport
  app/bridge/TESTNET-E2E.md
  app/bridge/src/bridge.config.ts
  app/server/result-img/testnet-chains.png
  app/server/result-img/testnet-landing.png
  deposit-addresses.json
  pkg/bridge/src/__tests__/useNetworks.test.tsx
  pkg/bridge/src/__tests__/useTransfers.test.tsx
  pkg/bridge/src/__tests__/wagmi-config.test.ts
  pkg/bridge/src/app/components/SwapForm.tsx
  pkg/bridge/src/app/hooks/useNetworks.ts
  pkg/bridge/src/app/hooks/useTransfers.ts
  pkg/bridge/src/app/lib/wagmi-config.ts
Owners: @luxfi/bridge-maintainers, @luxfi/backend

feat: testnet configuration set, updated deposit workflow with mpc workflow, not teleport
  app/bridge/TESTNET-E2E.md
  app/bridge/src/bridge.config.ts
  app/server/result-img/testnet-chains.png
  app/server/result-img/testnet-landing.png
  deposit-addresses.json
  pkg/bridge/src/__tests__/useNetworks.test.tsx
  pkg/bridge/src/__tests__/useTransfers.test.tsx
  pkg/bridge/src/__tests__/wagmi-config.test.ts
  pkg/bridge/src/app/components/SwapForm.tsx
  pkg/bridge/src/app/hooks/useNetworks.ts
  pkg/bridge/src/app/hooks/useTransfers.ts
  pkg/bridge/src/app/lib/wagmi-config.ts
Owners: @luxfi/bridge-maintainers, @luxfi/backend

feat: testnet configuration set, updated deposit workflow with mpc workflow, not teleport
  app/bridge/TESTNET-E2E.md
  app/bridge/src/bridge.config.ts
  app/server/result-img/testnet-chains.png
  app/server/result-img/testnet-landing.png
  deposit-addresses.json
  pkg/bridge/src/__tests__/useNetworks.test.tsx
  pkg/bridge/src/__tests__/useTransfers.test.tsx
  pkg/bridge/src/__tests__/wagmi-config.test.ts
  pkg/bridge/src/app/components/SwapForm.tsx
  pkg/bridge/src/app/hooks/useNetworks.ts
  pkg/bridge/src/app/hooks/useTransfers.ts
  pkg/bridge/src/app/lib/wagmi-config.ts
Owners: @luxfi/bridge-maintainers, @luxfi/backend

feat: testnet configuration set, updated deposit workflow with mpc workflow, not teleport
  app/bridge/TESTNET-E2E.md
  app/bridge/src/bridge.config.ts
  app/server/result-img/testnet-chains.png
  app/server/result-img/testnet-landing.png
  deposit-addresses.json
  pkg/bridge/src/__tests__/useNetworks.test.tsx
  pkg/bridge/src/__tests__/useTransfers.test.tsx
  pkg/bridge/src/__tests__/wagmi-config.test.ts
  pkg/bridge/src/app/components/SwapForm.tsx
  pkg/bridge/src/app/hooks/useNetworks.ts
  pkg/bridge/src/app/hooks/useTransfers.ts
  pkg/bridge/src/app/lib/wagmi-config.ts
Owners: @luxfi/bridge-maintainers, @luxfi/backend

feat: testnet configuration set, updated deposit workflow with mpc workflow, not teleport
  app/bridge/TESTNET-E2E.md
  app/bridge/src/bridge.config.ts
  app/server/result-img/testnet-chains.png
  app/server/result-img/testnet-landing.png
  deposit-addresses.json
  pkg/bridge/src/__tests__/useNetworks.test.tsx
  pkg/bridge/src/__tests__/useTransfers.test.tsx
  pkg/bridge/src/__tests__/wagmi-config.test.ts
  pkg/bridge/src/app/components/SwapForm.tsx
  pkg/bridge/src/app/hooks/useNetworks.ts
  pkg/bridge/src/app/hooks/useTransfers.ts
  pkg/bridge/src/app/lib/wagmi-config.ts
Owners: @luxfi/bridge-maintainers, @luxfi/backend

ci(docker): include scripts/ in build context (postinstall needs scripts/patch-hanzogui-exports.cjs)
  .dockerignore
Owners: @luxfi/bridge-maintainers

ci(docker): include scripts/ in build context (postinstall needs scripts/patch-hanzogui-exports.cjs)
  .dockerignore
Owners: @luxfi/bridge-maintainers

ci(docker): include scripts/ in build context (postinstall needs scripts/patch-hanzogui-exports.cjs)
  .dockerignore
Owners: @luxfi/bridge-maintainers

ci(docker): include scripts/ in build context (postinstall needs scripts/patch-hanzogui-exports.cjs)
  .dockerignore
Owners: @luxfi/bridge-maintainers

ci(docker): include scripts/ in build context (postinstall needs scripts/patch-hanzogui-exports.cjs)
  .dockerignore
Owners: @luxfi/bridge-maintainers

ci(docker): include scripts/ in build context (postinstall needs scripts/patch-hanzogui-exports.cjs)
  .dockerignore
Owners: @luxfi/bridge-maintainers

ci(docker): include scripts/ in build context (postinstall needs scripts/patch-hanzogui-exports.cjs)
  .dockerignore
Owners: @luxfi/bridge-maintainers

ci(docker): include scripts/ in build context (postinstall needs scripts/patch-hanzogui-exports.cjs)
  .dockerignore
Owners: @luxfi/bridge-maintainers

ci(docker): build workspace dep packages before Vite app build
  Dockerfile
Owners: @luxfi/bridge-maintainers

ci(docker): build workspace dep packages before Vite app build
  Dockerfile
Owners: @luxfi/bridge-maintainers

ci(docker): build workspace dep packages before Vite app build
  Dockerfile
Owners: @luxfi/bridge-maintainers

ci(docker): build workspace dep packages before Vite app build
  Dockerfile
Owners: @luxfi/bridge-maintainers

ci(docker): build workspace dep packages before Vite app build
  Dockerfile
Owners: @luxfi/bridge-maintainers

ci(docker): build workspace dep packages before Vite app build
  Dockerfile
Owners: @luxfi/bridge-maintainers

ci(docker): build workspace dep packages before Vite app build
  Dockerfile
Owners: @luxfi/bridge-maintainers

.github/CODEOWNERS:

# CODEOWNERS for Lux Bridge

# Default owners for everything in the repo
* @luxfi/bridge-maintainers

# MPC service owners
/mpc-service/ @luxfi/mpc-maintainers @luxfi/security

# Smart contracts owners  
/contracts/ @luxfi/smart-contracts @luxfi/security

# Frontend and UI owners
/app/client/ @luxfi/frontend
/app/ui/ @luxfi/frontend
/ui-automation/ @luxfi/qa

# Backend server owners
/app/server/ @luxfi/backend

# DevOps and CI/CD
/.github/ @luxfi/devops
/docker/ @luxfi/devops
/k8s/ @luxfi/devops

# Documentation
/docs/ @luxfi/docs
/*.md @luxfi/docs

# Security-sensitive files
/mpc-service/cmd/ @luxfi/security @luxfi/mpc-maintainers
/contracts/bridges/ @luxfi/security @luxfi/smart-contracts
/.env* @luxfi/security @luxfi/devops
