Repository luxfi/bridge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @luxfi/bridge-maintainers, @luxfi/mpc-maintainers, @luxfi/security, @luxfi/smart-contracts, @luxfi/frontend, @luxfi/qa, @luxfi/backend, @luxfi/devops, @luxfi/docs

.github/CODEOWNERS:

# CODEOWNERS for Lux Bridge

# Default owners for everything in the repo
* @luxfi/bridge-maintainers

# MPC service owners
/mpc-service/ @luxfi/mpc-maintainers @luxfi/security

# Smart contracts owners  
/contracts/ @luxfi/smart-contracts @luxfi/security

# Frontend and UI owners
/app/client/ @luxfi/frontend
/app/ui/ @luxfi/frontend
/ui-automation/ @luxfi/qa

# Backend server owners
/app/server/ @luxfi/backend

# DevOps and CI/CD
/.github/ @luxfi/devops
/docker/ @luxfi/devops
/k8s/ @luxfi/devops

# Documentation
/docs/ @luxfi/docs
/*.md @luxfi/docs

# Security-sensitive files
/mpc-service/cmd/ @luxfi/security @luxfi/mpc-maintainers
/contracts/bridges/ @luxfi/security @luxfi/smart-contracts
/.env* @luxfi/security @luxfi/devops

chore(deps): go get -u ./...
  go.mod
  go.sum
Owners: @luxfi/bridge-maintainers

chore(deps): go get -u ./...
  go.mod
  go.sum
Owners: @luxfi/bridge-maintainers

chore(deps): go get -u ./...
  go.mod
  go.sum
Owners: @luxfi/bridge-maintainers

fix: gofmt -s across repo (CI format check)
  cmd/bridge/broadcast_driver_test.go
  cmd/bridge/config.go
  cmd/bridge/deposit_watcher_test.go
  cmd/bridge/frontend.go
  cmd/bridge/main_test.go
  cmd/bridge/quote_engine.go
  cmd/bridge/signing_driver_test.go
  cmd/mpc-sign-proxy/proxy.go
  internal/depositcheck/client.go
  internal/depositcheck/client_test.go
  internal/mchain/auth.go
  internal/mchain/client_test.go
  internal/tokens/tokens.go
  internal/tokens/tokens_test.go
  internal/txassembler/assembler.go
  internal/txassembler/assembler_test.go
  internal/txassembler/rlp.go
  opnet-watcher/plugins/algorand.go
  opnet-watcher/plugins/cosmos_test.go
  opnet-watcher/plugins/icp.go
  opnet-watcher/plugins/plugin_test.go
  opnet-watcher/plugins/polkadot.go
  opnet-watcher/plugins/polkadot_test.go
  opnet-watcher/plugins/solana.go
  opnet-watcher/plugins/solana_test.go
  opnet-watcher/plugins/stacks.go
  opnet-watcher/plugins/starknet.go
  opnet-watcher/plugins/stellar.go
  opnet-watcher/plugins/tezos.go
  opnet-watcher/plugins/ton.go
  opnet-watcher/plugins/ton_test.go
  opnet-watcher/plugins/xrpl.go
  opnet-watcher/relay.go
  opnet-watcher/tenant_test.go
  opnet-watcher/watcher.go
Owners: @luxfi/bridge-maintainers

fix: gofmt -s across repo (CI format check)
  cmd/bridge/broadcast_driver_test.go
  cmd/bridge/config.go
  cmd/bridge/deposit_watcher_test.go
  cmd/bridge/frontend.go
  cmd/bridge/main_test.go
  cmd/bridge/quote_engine.go
  cmd/bridge/signing_driver_test.go
  cmd/mpc-sign-proxy/proxy.go
  internal/depositcheck/client.go
  internal/depositcheck/client_test.go
  internal/mchain/auth.go
  internal/mchain/client_test.go
  internal/tokens/tokens.go
  internal/tokens/tokens_test.go
  internal/txassembler/assembler.go
  internal/txassembler/assembler_test.go
  internal/txassembler/rlp.go
  opnet-watcher/plugins/algorand.go
  opnet-watcher/plugins/cosmos_test.go
  opnet-watcher/plugins/icp.go
  opnet-watcher/plugins/plugin_test.go
  opnet-watcher/plugins/polkadot.go
  opnet-watcher/plugins/polkadot_test.go
  opnet-watcher/plugins/solana.go
  opnet-watcher/plugins/solana_test.go
  opnet-watcher/plugins/stacks.go
  opnet-watcher/plugins/starknet.go
  opnet-watcher/plugins/stellar.go
  opnet-watcher/plugins/tezos.go
  opnet-watcher/plugins/ton.go
  opnet-watcher/plugins/ton_test.go
  opnet-watcher/plugins/xrpl.go
  opnet-watcher/relay.go
  opnet-watcher/tenant_test.go
  opnet-watcher/watcher.go
Owners: @luxfi/bridge-maintainers

fix: gofmt -s across repo (CI format check)
  cmd/bridge/broadcast_driver_test.go
  cmd/bridge/config.go
  cmd/bridge/deposit_watcher_test.go
  cmd/bridge/frontend.go
  cmd/bridge/main_test.go
  cmd/bridge/quote_engine.go
  cmd/bridge/signing_driver_test.go
  cmd/mpc-sign-proxy/proxy.go
  internal/depositcheck/client.go
  internal/depositcheck/client_test.go
  internal/mchain/auth.go
  internal/mchain/client_test.go
  internal/tokens/tokens.go
  internal/tokens/tokens_test.go
  internal/txassembler/assembler.go
  internal/txassembler/assembler_test.go
  internal/txassembler/rlp.go
  opnet-watcher/plugins/algorand.go
  opnet-watcher/plugins/cosmos_test.go
  opnet-watcher/plugins/icp.go
  opnet-watcher/plugins/plugin_test.go
  opnet-watcher/plugins/polkadot.go
  opnet-watcher/plugins/polkadot_test.go
  opnet-watcher/plugins/solana.go
  opnet-watcher/plugins/solana_test.go
  opnet-watcher/plugins/stacks.go
  opnet-watcher/plugins/starknet.go
  opnet-watcher/plugins/stellar.go
  opnet-watcher/plugins/tezos.go
  opnet-watcher/plugins/ton.go
  opnet-watcher/plugins/ton_test.go
  opnet-watcher/plugins/xrpl.go
  opnet-watcher/relay.go
  opnet-watcher/tenant_test.go
  opnet-watcher/watcher.go
Owners: @luxfi/bridge-maintainers

fix: gofmt -s across repo (CI format check)
  cmd/bridge/broadcast_driver_test.go
  cmd/bridge/config.go
  cmd/bridge/deposit_watcher_test.go
  cmd/bridge/frontend.go
  cmd/bridge/main_test.go
  cmd/bridge/quote_engine.go
  cmd/bridge/signing_driver_test.go
  cmd/mpc-sign-proxy/proxy.go
  internal/depositcheck/client.go
  internal/depositcheck/client_test.go
  internal/mchain/auth.go
  internal/mchain/client_test.go
  internal/tokens/tokens.go
  internal/tokens/tokens_test.go
  internal/txassembler/assembler.go
  internal/txassembler/assembler_test.go
  internal/txassembler/rlp.go
  opnet-watcher/plugins/algorand.go
  opnet-watcher/plugins/cosmos_test.go
  opnet-watcher/plugins/icp.go
  opnet-watcher/plugins/plugin_test.go
  opnet-watcher/plugins/polkadot.go
  opnet-watcher/plugins/polkadot_test.go
  opnet-watcher/plugins/solana.go
  opnet-watcher/plugins/solana_test.go
  opnet-watcher/plugins/stacks.go
  opnet-watcher/plugins/starknet.go
  opnet-watcher/plugins/stellar.go
  opnet-watcher/plugins/tezos.go
  opnet-watcher/plugins/ton.go
  opnet-watcher/plugins/ton_test.go
  opnet-watcher/plugins/xrpl.go
  opnet-watcher/relay.go
  opnet-watcher/tenant_test.go
  opnet-watcher/watcher.go
Owners: @luxfi/bridge-maintainers

feat: BTC balance show, wallet connect updated
  app/server/result-img/btcbalance.PNG
  pkg/bridge/src/app/components/AssetInput.tsx
  pkg/bridge/src/app/lib/network-mapper.ts
  pkg/bridge/src/app/lib/wallet-adapters.tsx
Owners: @luxfi/backend, @luxfi/bridge-maintainers

feat: BTC balance show, wallet connect updated
  app/server/result-img/btcbalance.PNG
  pkg/bridge/src/app/components/AssetInput.tsx
  pkg/bridge/src/app/lib/network-mapper.ts
  pkg/bridge/src/app/lib/wallet-adapters.tsx
Owners: @luxfi/backend, @luxfi/bridge-maintainers

feat: TON Testnet end-to-end (Sepolia ↔ TON Testnet bidirectional)
  app/bridge/public/lux-icon-192.png
  app/bridge/public/tonconnect-manifest.json
  bridge
  cmd/bridge/broadcast_driver.go
  cmd/bridge/main.go
  cmd/bridge/refund_driver.go
  cmd/bridge/signing_driver.go
  cmd/bridge/swap_store.go
  cmd/bridge/swaps_handler.go
  cmd/fake-mpcd/main.go
  go.mod
  go.sum
  internal/broadcast/client.go
  internal/mchain/client.go
  internal/mchain/client_test.go
  internal/mchain/ton_address.go
  internal/ton/messaging.go
  internal/ton/provider.go
  internal/txassembler/ton.go
  pkg/bridge/src/__tests__/useTransfers-cosigners.test.tsx
  pkg/bridge/src/__tests__/useTransfers.test.tsx
  pkg/bridge/src/app/components/AssetInput.tsx
  pkg/bridge/src/app/components/SwapForm.tsx
  pkg/bridge/src/app/hooks/useTransfers.ts
  pkg/bridge/src/app/lib/network-mapper.ts
  pkg/bridge/src/app/lib/wallet-adapters.tsx
Owners: @luxfi/bridge-maintainers

feat: TON Testnet end-to-end (Sepolia ↔ TON Testnet bidirectional)
  app/bridge/public/lux-icon-192.png
  app/bridge/public/tonconnect-manifest.json
  bridge
  cmd/bridge/broadcast_driver.go
  cmd/bridge/main.go
  cmd/bridge/refund_driver.go
  cmd/bridge/signing_driver.go
  cmd/bridge/swap_store.go
  cmd/bridge/swaps_handler.go
  cmd/fake-mpcd/main.go
  go.mod
  go.sum
  internal/broadcast/client.go
  internal/mchain/client.go
  internal/mchain/client_test.go
  internal/mchain/ton_address.go
  internal/ton/messaging.go
  internal/ton/provider.go
  internal/txassembler/ton.go
  pkg/bridge/src/__tests__/useTransfers-cosigners.test.tsx
  pkg/bridge/src/__tests__/useTransfers.test.tsx
  pkg/bridge/src/app/components/AssetInput.tsx
  pkg/bridge/src/app/components/SwapForm.tsx
  pkg/bridge/src/app/hooks/useTransfers.ts
  pkg/bridge/src/app/lib/network-mapper.ts
  pkg/bridge/src/app/lib/wallet-adapters.tsx
Owners: @luxfi/bridge-maintainers

docs: REQUIREMENTS R7 — non-EVM corridor sweep
  REQUIREMENTS.md
Owners: @luxfi/docs

docs: REQUIREMENTS R7 — non-EVM corridor sweep
  REQUIREMENTS.md
Owners: @luxfi/docs

feat: CORS headers on /api/rpc/lux-* proxy
  cmd/bridge/api.go
  cmd/bridge/rpc_proxy.go
Owners: @luxfi/bridge-maintainers

feat: CORS headers on /api/rpc/lux-* proxy
  cmd/bridge/api.go
  cmd/bridge/rpc_proxy.go
Owners: @luxfi/bridge-maintainers

feat: Xaman wallet adapter for XRP family — connect + balance
  pkg/bridge/package.json
  pkg/bridge/src/__tests__/wallet-adapters.test.tsx
  pkg/bridge/src/app/components/WalletConnect.tsx
  pkg/bridge/src/app/lib/wallet-adapters.tsx
  pnpm-lock.yaml
Owners: @luxfi/bridge-maintainers

feat: Xaman wallet adapter for XRP family — connect + balance
  pkg/bridge/package.json
  pkg/bridge/src/__tests__/wallet-adapters.test.tsx
  pkg/bridge/src/app/components/WalletConnect.tsx
  pkg/bridge/src/app/lib/wallet-adapters.tsx
  pnpm-lock.yaml
Owners: @luxfi/bridge-maintainers

feat: XRP address in WalletConnect pill + auto-close
  pkg/bridge/src/app/components/WalletConnect.tsx
Owners: @luxfi/bridge-maintainers

feat: XRP address in WalletConnect pill + auto-close
  pkg/bridge/src/app/components/WalletConnect.tsx
Owners: @luxfi/bridge-maintainers

feat: XRP destination release end-to-end (EVM → XRP_TESTNET)
  cmd/bridge/main.go
  cmd/bridge/networks.testnet.yaml
  cmd/bridge/signing_driver.go
  internal/broadcast/client.go
  internal/broadcast/xrp.go
  internal/broadcast/xrp_test.go
  internal/mchain/client.go
  internal/mchain/client_test.go
  internal/mchain/xrp_address.go
  internal/mchain/xrp_address_test.go
  internal/txassembler/xrp.go
  internal/txassembler/xrp_test.go
  internal/xrp/account_id.go
  internal/xrp/payment.go
  internal/xrp/payment_test.go
  internal/xrp/provider.go
Owners: @luxfi/bridge-maintainers

feat: XRP destination release end-to-end (EVM → XRP_TESTNET)
  cmd/bridge/main.go
  cmd/bridge/networks.testnet.yaml
  cmd/bridge/signing_driver.go
  internal/broadcast/client.go
  internal/broadcast/xrp.go
  internal/broadcast/xrp_test.go
  internal/mchain/client.go
  internal/mchain/client_test.go
  internal/mchain/xrp_address.go
  internal/mchain/xrp_address_test.go
  internal/txassembler/xrp.go
  internal/txassembler/xrp_test.go
  internal/xrp/account_id.go
  internal/xrp/payment.go
  internal/xrp/payment_test.go
  internal/xrp/provider.go
Owners: @luxfi/bridge-maintainers

feat: XRP source path end-to-end (XRP_TESTNET → EVM, refund + auto-deposit)
  cmd/bridge/main.go
  cmd/bridge/networks.testnet.yaml
  cmd/bridge/refund_driver.go
  cmd/bridge/swaps_handler.go
  cmd/bridge/swaps_handler_addrtype_test.go
  internal/depositcheck/client.go
  internal/depositcheck/client_test.go
  internal/depositcheck/xrp.go
  internal/depositcheck/xrp_test.go
  pkg/bridge/src/__tests__/useTransfers.test.tsx
  pkg/bridge/src/app/hooks/useTransfers.ts
  pkg/bridge/src/app/lib/wallet-adapters.tsx
Owners: @luxfi/bridge-maintainers

feat: XRP source path end-to-end (XRP_TESTNET → EVM, refund + auto-deposit)
  cmd/bridge/main.go
  cmd/bridge/networks.testnet.yaml
  cmd/bridge/refund_driver.go
  cmd/bridge/swaps_handler.go
  cmd/bridge/swaps_handler_addrtype_test.go
  internal/depositcheck/client.go
  internal/depositcheck/client_test.go
  internal/depositcheck/xrp.go
  internal/depositcheck/xrp_test.go
  pkg/bridge/src/__tests__/useTransfers.test.tsx
  pkg/bridge/src/app/hooks/useTransfers.ts
  pkg/bridge/src/app/lib/wallet-adapters.tsx
Owners: @luxfi/bridge-maintainers

chore: XRP altnet smoke test + ripple → CoinGecko id
  cmd/bridge/coingecko_price_feed.go
  cmd/xrp-smoke/main.go
Owners: @luxfi/bridge-maintainers

chore: XRP altnet smoke test + ripple → CoinGecko id
  cmd/bridge/coingecko_price_feed.go
  cmd/xrp-smoke/main.go
Owners: @luxfi/bridge-maintainers

feat: XRP stale-sequence rebuild + DestinationTag end-to-end
  cmd/bridge/broadcast_driver.go
  cmd/bridge/broadcast_driver_test.go
  cmd/bridge/signing_driver.go
  cmd/bridge/swap_store.go
  cmd/bridge/swaps_handler.go
  internal/txassembler/assembler.go
  internal/txassembler/xrp.go
  internal/txassembler/xrp_test.go
  pkg/bridge/src/app/components/SwapForm.tsx
  pkg/bridge/src/app/hooks/useTransfers.ts
  pkg/bridge/src/app/lib/bridge-api.ts
Owners: @luxfi/bridge-maintainers

feat: XRP stale-sequence rebuild + DestinationTag end-to-end
  cmd/bridge/broadcast_driver.go
  cmd/bridge/broadcast_driver_test.go
  cmd/bridge/signing_driver.go
  cmd/bridge/swap_store.go
  cmd/bridge/swaps_handler.go
  internal/txassembler/assembler.go
  internal/txassembler/xrp.go
  internal/txassembler/xrp_test.go
  pkg/bridge/src/app/components/SwapForm.tsx
  pkg/bridge/src/app/hooks/useTransfers.ts
  pkg/bridge/src/app/lib/bridge-api.ts
Owners: @luxfi/bridge-maintainers

feat: mpcd-single — HKDF per-wallet ed25519, retires fake-mpcd
  REQUIREMENTS.md
  cmd/fake-mpcd/main.go
  cmd/mpcd-single/main.go
  cmd/mpcd-single/main_test.go
  cmd/xrp-smoke/main.go
  docs/operator-runbook.md
Owners: @luxfi/docs, @luxfi/bridge-maintainers

feat: mpcd-single — HKDF per-wallet ed25519, retires fake-mpcd
  REQUIREMENTS.md
  cmd/fake-mpcd/main.go
  cmd/mpcd-single/main.go
  cmd/mpcd-single/main_test.go
  cmd/xrp-smoke/main.go
  docs/operator-runbook.md
Owners: @luxfi/docs, @luxfi/bridge-maintainers

feat: XRP mainnet rollout — YAML, runbook, metrics, mainnet smoke
  cmd/bridge/api.go
  cmd/bridge/networks.mainnet.yaml
  cmd/xrp-smoke/main.go
  docs/operator-runbook.md
Owners: @luxfi/bridge-maintainers, @luxfi/docs

feat: XRP mainnet rollout — YAML, runbook, metrics, mainnet smoke
  cmd/bridge/api.go
  cmd/bridge/networks.mainnet.yaml
  cmd/xrp-smoke/main.go
  docs/operator-runbook.md
Owners: @luxfi/bridge-maintainers, @luxfi/docs

WIP: session checkpoint 2026-06-05 (codec rip in flight)
  DEPLOYMENT.md
  pkg/tenant/config.go
Owners: @luxfi/docs, @luxfi/bridge-maintainers

WIP: session checkpoint 2026-06-05 (codec rip in flight)
  DEPLOYMENT.md
  pkg/tenant/config.go
Owners: @luxfi/docs, @luxfi/bridge-maintainers

WIP: session checkpoint 2026-06-05 (codec rip in flight)
  DEPLOYMENT.md
  pkg/tenant/config.go
Owners: @luxfi/docs, @luxfi/bridge-maintainers

docs: fold loose docs/*.md into Nextra content/docs/ tree (issue #391)
  docs/content/docs/integrations.mdx
  docs/content/docs/lux-id-integration.mdx
  docs/content/docs/operator-deploy.mdx
  docs/content/docs/operator-runbook.mdx
Owners: @luxfi/docs

docs: wire content/docs/* into Nextra pages, refresh _meta + index (issue #391)
  docs/pages/_meta.json
  docs/pages/index.mdx
  docs/pages/integrations.mdx
  docs/pages/lux-id-integration.mdx
  docs/pages/operator-deploy.mdx
  docs/pages/operator-runbook.mdx
Owners: @luxfi/docs

docs: update README/LLM.md/REQUIREMENTS pointers for the new layout (issue #391)
  README.md
  REQUIREMENTS.md
  docs/LLM.md
Owners: @luxfi/docs

docs: regenerate docs/out static site for the 8-page Nextra build (issue #391)
  docs/out/404.html
  docs/out/_next/static/chunks/455-d1a02f1720f55d00.js
  docs/out/_next/static/chunks/73-514932006b9ea973.js
  docs/out/_next/static/chunks/framework-0cbe3b56a5f66701.js
  docs/out/_next/static/chunks/framework-64ad27b21261a9ce.js
  docs/out/_next/static/chunks/main-35d29b002b9b8976.js
  docs/out/_next/static/chunks/main-fbce30a623cb8c9a.js
  docs/out/_next/static/chunks/nextra-data-en-US.json
  docs/out/_next/static/chunks/pages/_app-048d9d4ed025df82.js
  docs/out/_next/static/chunks/pages/_app-26f5890917895004.js
  docs/out/_next/static/chunks/pages/_error-16075e78949bdb8e.js
  docs/out/_next/static/chunks/pages/_error-7a92967bea80186d.js
  docs/out/_next/static/chunks/pages/docs-466447c1ad6de50a.js
  docs/out/_next/static/chunks/pages/docs-7da2b52f0db4c35e.js
  docs/out/_next/static/chunks/pages/index-3bf3b207735030b4.js
  docs/out/_next/static/chunks/pages/index-9752e4304f4a93c9.js
  docs/out/_next/static/chunks/pages/integrations-f872cba62b0fc5f9.js
  docs/out/_next/static/chunks/pages/lux-id-integration-6eb74f531b98099a.js
  docs/out/_next/static/chunks/pages/operator-deploy-73009920c9da835b.js
  docs/out/_next/static/chunks/pages/operator-runbook-3a9641fa02470965.js
  docs/out/_next/static/chunks/webpack-6ef43a8d4a395f49.js
  docs/out/_next/static/chunks/webpack-abd991c5840a0e22.js
  docs/out/_next/static/css/83ce42764a171fc6.css
  docs/out/_next/static/css/f996cf9b737d77f6.css
  docs/out/_next/static/hnS4DkNCR004by-hexIXU/_buildManifest.js
  docs/out/_next/static/hnS4DkNCR004by-hexIXU/_ssgManifest.js
  docs/out/_next/static/iGOSXVPr-sBS_hhOM0Cnj/_buildManifest.js
  docs/out/docs.html
  docs/out/index.html
  docs/out/integrations.html
  docs/out/lux-id-integration.html
  docs/out/operator-deploy.html
  docs/out/operator-runbook.html
Owners: @luxfi/docs

ringtail → corona total rename — no alias, no wire compat
  opnet-watcher/signer.go
Owners: @luxfi/bridge-maintainers

ringtail → corona total rename — no alias, no wire compat
  opnet-watcher/signer.go
Owners: @luxfi/bridge-maintainers
