Repository luxfi/bridge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @luxfi/bridge-maintainers, @luxfi/mpc-maintainers, @luxfi/security, @luxfi/smart-contracts, @luxfi/frontend, @luxfi/qa, @luxfi/backend, @luxfi/devops, @luxfi/docs

app/bridge: Dockerfile templates /__ENV.js at container boot
  app/bridge/Dockerfile
  app/bridge/docker-entrypoint.sh
Owners: @luxfi/bridge-maintainers

app/bridge: Dockerfile templates /__ENV.js at container boot
  app/bridge/Dockerfile
  app/bridge/docker-entrypoint.sh
Owners: @luxfi/bridge-maintainers

app/bridge: Dockerfile templates /__ENV.js at container boot
  app/bridge/Dockerfile
  app/bridge/docker-entrypoint.sh
Owners: @luxfi/bridge-maintainers

app/bridge: Dockerfile templates /__ENV.js at container boot
  app/bridge/Dockerfile
  app/bridge/docker-entrypoint.sh
Owners: @luxfi/bridge-maintainers

app/bridge: Dockerfile templates /__ENV.js at container boot
  app/bridge/Dockerfile
  app/bridge/docker-entrypoint.sh
Owners: @luxfi/bridge-maintainers

app/bridge: Dockerfile templates /__ENV.js at container boot
  app/bridge/Dockerfile
  app/bridge/docker-entrypoint.sh
Owners: @luxfi/bridge-maintainers

app/bridge: Dockerfile templates /__ENV.js at container boot
  app/bridge/Dockerfile
  app/bridge/docker-entrypoint.sh
Owners: @luxfi/bridge-maintainers

app/bridge: Dockerfile templates /__ENV.js at container boot
  app/bridge/Dockerfile
  app/bridge/docker-entrypoint.sh
Owners: @luxfi/bridge-maintainers

app/bridge: Dockerfile templates /__ENV.js at container boot
  app/bridge/Dockerfile
  app/bridge/docker-entrypoint.sh
Owners: @luxfi/bridge-maintainers

app/bridge: Dockerfile templates /__ENV.js at container boot
  app/bridge/Dockerfile
  app/bridge/docker-entrypoint.sh
Owners: @luxfi/bridge-maintainers

app/bridge: Dockerfile templates /__ENV.js at container boot
  app/bridge/Dockerfile
  app/bridge/docker-entrypoint.sh
Owners: @luxfi/bridge-maintainers

release: v1.1.3 — pkg/bridge SDK rationalization + private-MPC framing
  .github/workflows/publish.yml
  docs/LLM.md
  package.json
  pkg/bridge/package.json
  pkg/bridge/src/mount.ts
Owners: @luxfi/devops, @luxfi/docs, @luxfi/bridge-maintainers

release: v1.1.3 — pkg/bridge SDK rationalization + private-MPC framing
  .github/workflows/publish.yml
  docs/LLM.md
  package.json
  pkg/bridge/package.json
  pkg/bridge/src/mount.ts
Owners: @luxfi/devops, @luxfi/docs, @luxfi/bridge-maintainers

ci(publish): drop fetch-tags on self-hosted checkout
  .github/workflows/publish.yml
  package.json
Owners: @luxfi/devops, @luxfi/bridge-maintainers

ci(publish): drop fetch-tags on self-hosted checkout
  .github/workflows/publish.yml
  package.json
Owners: @luxfi/devops, @luxfi/bridge-maintainers

manifests: rename VITE_BRIDGE_* env keys → BRIDGE_*
  compose.mainnet.yml
  compose.testnet.yml
  compose.yml
  k8s/mpc-deployment.yaml
Owners: @luxfi/bridge-maintainers, @luxfi/devops

manifests: rename VITE_BRIDGE_* env keys → BRIDGE_*
  compose.mainnet.yml
  compose.testnet.yml
  compose.yml
  k8s/mpc-deployment.yaml
Owners: @luxfi/bridge-maintainers, @luxfi/devops

manifests: rename VITE_BRIDGE_* env keys → BRIDGE_*
  compose.mainnet.yml
  compose.testnet.yml
  compose.yml
  k8s/mpc-deployment.yaml
Owners: @luxfi/bridge-maintainers, @luxfi/devops

manifests: rename VITE_BRIDGE_* env keys → BRIDGE_*
  compose.mainnet.yml
  compose.testnet.yml
  compose.yml
  k8s/mpc-deployment.yaml
Owners: @luxfi/bridge-maintainers, @luxfi/devops

manifests: rename VITE_BRIDGE_* env keys → BRIDGE_*
  compose.mainnet.yml
  compose.testnet.yml
  compose.yml
  k8s/mpc-deployment.yaml
Owners: @luxfi/bridge-maintainers, @luxfi/devops

manifests: rename VITE_BRIDGE_* env keys → BRIDGE_*
  compose.mainnet.yml
  compose.testnet.yml
  compose.yml
  k8s/mpc-deployment.yaml
Owners: @luxfi/bridge-maintainers, @luxfi/devops

manifests: rename VITE_BRIDGE_* env keys → BRIDGE_*
  compose.mainnet.yml
  compose.testnet.yml
  compose.yml
  k8s/mpc-deployment.yaml
Owners: @luxfi/bridge-maintainers, @luxfi/devops

manifests: rename VITE_BRIDGE_* env keys → BRIDGE_*
  compose.mainnet.yml
  compose.testnet.yml
  compose.yml
  k8s/mpc-deployment.yaml
Owners: @luxfi/bridge-maintainers, @luxfi/devops

manifests: rename VITE_BRIDGE_* env keys → BRIDGE_*
  compose.mainnet.yml
  compose.testnet.yml
  compose.yml
  k8s/mpc-deployment.yaml
Owners: @luxfi/bridge-maintainers, @luxfi/devops

manifests: rename VITE_BRIDGE_* env keys → BRIDGE_*
  compose.mainnet.yml
  compose.testnet.yml
  compose.yml
  k8s/mpc-deployment.yaml
Owners: @luxfi/bridge-maintainers, @luxfi/devops

manifests: rename VITE_BRIDGE_* env keys → BRIDGE_*
  compose.mainnet.yml
  compose.testnet.yml
  compose.yml
  k8s/mpc-deployment.yaml
Owners: @luxfi/bridge-maintainers, @luxfi/devops

ci(publish): bake NPM token into ~/.npmrc + mark root private
  .github/workflows/publish.yml
  package.json
Owners: @luxfi/devops, @luxfi/bridge-maintainers

ci(publish): bake NPM token into ~/.npmrc + mark root private
  .github/workflows/publish.yml
  package.json
Owners: @luxfi/devops, @luxfi/bridge-maintainers

ci(publish): write token to NPM_CONFIG_USERCONFIG path
  .github/workflows/publish.yml
  package.json
Owners: @luxfi/devops, @luxfi/bridge-maintainers

ci(publish): write token to NPM_CONFIG_USERCONFIG path
  .github/workflows/publish.yml
  package.json
Owners: @luxfi/devops, @luxfi/bridge-maintainers

ci(publish): fall back to NODE_AUTH_TOKEN when NPM_TOKEN secret blank
  .github/workflows/publish.yml
  package.json
Owners: @luxfi/devops, @luxfi/bridge-maintainers

ci(publish): fall back to NODE_AUTH_TOKEN when NPM_TOKEN secret blank
  .github/workflows/publish.yml
  package.json
Owners: @luxfi/devops, @luxfi/bridge-maintainers

pkg/bridge: bootstrap @hanzo/gui runtime + provider in mountBridge
  pkg/bridge/package.json
  pkg/bridge/src/Bridge.tsx
  pkg/bridge/src/mount.ts
  pnpm-lock.yaml
Owners: @luxfi/bridge-maintainers

pkg/bridge: bootstrap @hanzo/gui runtime + provider in mountBridge
  pkg/bridge/package.json
  pkg/bridge/src/Bridge.tsx
  pkg/bridge/src/mount.ts
  pnpm-lock.yaml
Owners: @luxfi/bridge-maintainers

pkg/bridge: bootstrap @hanzo/gui runtime + provider in mountBridge
  pkg/bridge/package.json
  pkg/bridge/src/Bridge.tsx
  pkg/bridge/src/mount.ts
  pnpm-lock.yaml
Owners: @luxfi/bridge-maintainers

pkg/bridge: bootstrap @hanzo/gui runtime + provider in mountBridge
  pkg/bridge/package.json
  pkg/bridge/src/Bridge.tsx
  pkg/bridge/src/mount.ts
  pnpm-lock.yaml
Owners: @luxfi/bridge-maintainers

pkg/bridge: bootstrap @hanzo/gui runtime + provider in mountBridge
  pkg/bridge/package.json
  pkg/bridge/src/Bridge.tsx
  pkg/bridge/src/mount.ts
  pnpm-lock.yaml
Owners: @luxfi/bridge-maintainers

pkg/bridge: bootstrap @hanzo/gui runtime + provider in mountBridge
  pkg/bridge/package.json
  pkg/bridge/src/Bridge.tsx
  pkg/bridge/src/mount.ts
  pnpm-lock.yaml
Owners: @luxfi/bridge-maintainers

pkg/bridge: bootstrap @hanzo/gui runtime + provider in mountBridge
  pkg/bridge/package.json
  pkg/bridge/src/Bridge.tsx
  pkg/bridge/src/mount.ts
  pnpm-lock.yaml
Owners: @luxfi/bridge-maintainers

pkg/bridge: bootstrap @hanzo/gui runtime + provider in mountBridge
  pkg/bridge/package.json
  pkg/bridge/src/Bridge.tsx
  pkg/bridge/src/mount.ts
  pnpm-lock.yaml
Owners: @luxfi/bridge-maintainers

.github/CODEOWNERS:

# CODEOWNERS for Lux Bridge

# Default owners for everything in the repo
* @luxfi/bridge-maintainers

# MPC service owners
/mpc-service/ @luxfi/mpc-maintainers @luxfi/security

# Smart contracts owners  
/contracts/ @luxfi/smart-contracts @luxfi/security

# Frontend and UI owners
/app/client/ @luxfi/frontend
/app/ui/ @luxfi/frontend
/ui-automation/ @luxfi/qa

# Backend server owners
/app/server/ @luxfi/backend

# DevOps and CI/CD
/.github/ @luxfi/devops
/docker/ @luxfi/devops
/k8s/ @luxfi/devops

# Documentation
/docs/ @luxfi/docs
/*.md @luxfi/docs

# Security-sensitive files
/mpc-service/cmd/ @luxfi/security @luxfi/mpc-maintainers
/contracts/bridges/ @luxfi/security @luxfi/smart-contracts
/.env* @luxfi/security @luxfi/devops
