Repository luxfi/bridge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @luxfi/bridge-maintainers, @luxfi/mpc-maintainers, @luxfi/security, @luxfi/smart-contracts, @luxfi/frontend, @luxfi/qa, @luxfi/backend, @luxfi/devops, @luxfi/docs

.github/CODEOWNERS:

# CODEOWNERS for Lux Bridge

# Default owners for everything in the repo
* @luxfi/bridge-maintainers

# MPC service owners
/mpc-service/ @luxfi/mpc-maintainers @luxfi/security

# Smart contracts owners  
/contracts/ @luxfi/smart-contracts @luxfi/security

# Frontend and UI owners
/app/client/ @luxfi/frontend
/app/ui/ @luxfi/frontend
/ui-automation/ @luxfi/qa

# Backend server owners
/app/server/ @luxfi/backend

# DevOps and CI/CD
/.github/ @luxfi/devops
/docker/ @luxfi/devops
/k8s/ @luxfi/devops

# Documentation
/docs/ @luxfi/docs
/*.md @luxfi/docs

# Security-sensitive files
/mpc-service/cmd/ @luxfi/security @luxfi/mpc-maintainers
/contracts/bridges/ @luxfi/security @luxfi/smart-contracts
/.env* @luxfi/security @luxfi/devops

feat(app/server): real Utila cosigner implementation + 13 tests (issue #386)
  app/server/src/domain/__tests__/cosigners-utila.test.ts
  app/server/src/domain/cosigners.ts
  app/server/vitest.config.ts
Owners: @luxfi/backend

feat(app/server): real Utila cosigner implementation + 13 tests (issue #386)
  app/server/src/domain/__tests__/cosigners-utila.test.ts
  app/server/src/domain/cosigners.ts
  app/server/vitest.config.ts
Owners: @luxfi/backend

feat(app/server): real Utila cosigner implementation + 13 tests (issue #386)
  app/server/src/domain/__tests__/cosigners-utila.test.ts
  app/server/src/domain/cosigners.ts
  app/server/vitest.config.ts
Owners: @luxfi/backend

feat(pkg/bridge): jurisdiction-neutralize SDK (1.0.3 -> 1.0.4)
  docs/LLM.md
  pkg/bridge/package.json
  pkg/bridge/src/app/lib/wagmi-config.ts
  pnpm-lock.yaml
Owners: @luxfi/docs, @luxfi/bridge-maintainers

feat(pkg/bridge): jurisdiction-neutralize SDK (1.0.3 -> 1.0.4)
  docs/LLM.md
  pkg/bridge/package.json
  pkg/bridge/src/app/lib/wagmi-config.ts
  pnpm-lock.yaml
Owners: @luxfi/docs, @luxfi/bridge-maintainers

feat(pkg/bridge): jurisdiction-neutralize SDK (1.0.3 -> 1.0.4)
  docs/LLM.md
  pkg/bridge/package.json
  pkg/bridge/src/app/lib/wagmi-config.ts
  pnpm-lock.yaml
Owners: @luxfi/docs, @luxfi/bridge-maintainers

feat(pkg/bridge): jurisdiction-neutralize SDK (1.0.3 -> 1.0.4)
  docs/LLM.md
  pkg/bridge/package.json
  pkg/bridge/src/app/lib/wagmi-config.ts
  pnpm-lock.yaml
Owners: @luxfi/docs, @luxfi/bridge-maintainers

feat(pkg/bridge): jurisdiction-neutralize SDK (1.0.3 -> 1.0.4)
  docs/LLM.md
  pkg/bridge/package.json
  pkg/bridge/src/app/lib/wagmi-config.ts
  pnpm-lock.yaml
Owners: @luxfi/docs, @luxfi/bridge-maintainers

feat(pkg/bridge): jurisdiction-neutralize SDK (1.0.3 -> 1.0.4)
  docs/LLM.md
  pkg/bridge/package.json
  pkg/bridge/src/app/lib/wagmi-config.ts
  pnpm-lock.yaml
Owners: @luxfi/docs, @luxfi/bridge-maintainers

feat(pkg/bridge): jurisdiction-neutralize SDK (1.0.3 -> 1.0.4)
  docs/LLM.md
  pkg/bridge/package.json
  pkg/bridge/src/app/lib/wagmi-config.ts
  pnpm-lock.yaml
Owners: @luxfi/docs, @luxfi/bridge-maintainers

feat(pkg/bridge): jurisdiction-neutralize SDK (1.0.3 -> 1.0.4)
  docs/LLM.md
  pkg/bridge/package.json
  pkg/bridge/src/app/lib/wagmi-config.ts
  pnpm-lock.yaml
Owners: @luxfi/docs, @luxfi/bridge-maintainers

feat: Cloud HSM (GCP real, AWS/Azure/Vault stubs) + f-chain native cosigner (#386)
  app/server/package.json
  app/server/src/domain/__tests__/cosigners-gcp-kms.test.ts
  app/server/src/domain/__tests__/cosigners.test.ts
  app/server/src/domain/cosigners.ts
  pkg/bridge/package.json
  pkg/bridge/src/app/hooks/useTransfers.ts
  pkg/bridge/src/app/lib/bridge-api.ts
  pkg/bridge/src/types.ts
  pnpm-lock.yaml
Owners: @luxfi/backend, @luxfi/bridge-maintainers

feat: Cloud HSM (GCP real, AWS/Azure/Vault stubs) + f-chain native cosigner (#386)
  app/server/package.json
  app/server/src/domain/__tests__/cosigners-gcp-kms.test.ts
  app/server/src/domain/__tests__/cosigners.test.ts
  app/server/src/domain/cosigners.ts
  pkg/bridge/package.json
  pkg/bridge/src/app/hooks/useTransfers.ts
  pkg/bridge/src/app/lib/bridge-api.ts
  pkg/bridge/src/types.ts
  pnpm-lock.yaml
Owners: @luxfi/backend, @luxfi/bridge-maintainers

feat: Cloud HSM (GCP real, AWS/Azure/Vault stubs) + f-chain native cosigner (#386)
  app/server/package.json
  app/server/src/domain/__tests__/cosigners-gcp-kms.test.ts
  app/server/src/domain/__tests__/cosigners.test.ts
  app/server/src/domain/cosigners.ts
  pkg/bridge/package.json
  pkg/bridge/src/app/hooks/useTransfers.ts
  pkg/bridge/src/app/lib/bridge-api.ts
  pkg/bridge/src/types.ts
  pnpm-lock.yaml
Owners: @luxfi/backend, @luxfi/bridge-maintainers

feat: Cloud HSM (GCP real, AWS/Azure/Vault stubs) + f-chain native cosigner (#386)
  app/server/package.json
  app/server/src/domain/__tests__/cosigners-gcp-kms.test.ts
  app/server/src/domain/__tests__/cosigners.test.ts
  app/server/src/domain/cosigners.ts
  pkg/bridge/package.json
  pkg/bridge/src/app/hooks/useTransfers.ts
  pkg/bridge/src/app/lib/bridge-api.ts
  pkg/bridge/src/types.ts
  pnpm-lock.yaml
Owners: @luxfi/backend, @luxfi/bridge-maintainers

feat: Cloud HSM (GCP real, AWS/Azure/Vault stubs) + f-chain native cosigner (#386)
  app/server/package.json
  app/server/src/domain/__tests__/cosigners-gcp-kms.test.ts
  app/server/src/domain/__tests__/cosigners.test.ts
  app/server/src/domain/cosigners.ts
  pkg/bridge/package.json
  pkg/bridge/src/app/hooks/useTransfers.ts
  pkg/bridge/src/app/lib/bridge-api.ts
  pkg/bridge/src/types.ts
  pnpm-lock.yaml
Owners: @luxfi/backend, @luxfi/bridge-maintainers

feat: Cloud HSM (GCP real, AWS/Azure/Vault stubs) + f-chain native cosigner (#386)
  app/server/package.json
  app/server/src/domain/__tests__/cosigners-gcp-kms.test.ts
  app/server/src/domain/__tests__/cosigners.test.ts
  app/server/src/domain/cosigners.ts
  pkg/bridge/package.json
  pkg/bridge/src/app/hooks/useTransfers.ts
  pkg/bridge/src/app/lib/bridge-api.ts
  pkg/bridge/src/types.ts
  pnpm-lock.yaml
Owners: @luxfi/backend, @luxfi/bridge-maintainers

feat: Cloud HSM (GCP real, AWS/Azure/Vault stubs) + f-chain native cosigner (#386)
  app/server/package.json
  app/server/src/domain/__tests__/cosigners-gcp-kms.test.ts
  app/server/src/domain/__tests__/cosigners.test.ts
  app/server/src/domain/cosigners.ts
  pkg/bridge/package.json
  pkg/bridge/src/app/hooks/useTransfers.ts
  pkg/bridge/src/app/lib/bridge-api.ts
  pkg/bridge/src/types.ts
  pnpm-lock.yaml
Owners: @luxfi/backend, @luxfi/bridge-maintainers

feat: Cloud HSM (GCP real, AWS/Azure/Vault stubs) + f-chain native cosigner (#386)
  app/server/package.json
  app/server/src/domain/__tests__/cosigners-gcp-kms.test.ts
  app/server/src/domain/__tests__/cosigners.test.ts
  app/server/src/domain/cosigners.ts
  pkg/bridge/package.json
  pkg/bridge/src/app/hooks/useTransfers.ts
  pkg/bridge/src/app/lib/bridge-api.ts
  pkg/bridge/src/types.ts
  pnpm-lock.yaml
Owners: @luxfi/backend, @luxfi/bridge-maintainers

feat(pkg/bridge): @hanzo/gui 7.0.0 -> 7.2.2 + dual-name compat (SDK 1.0.5 stable)
  app/explorer/components/SwapHistory/StatusIcons.tsx
  app/explorer/next-env.d.ts
  pkg/bridge/package.json
  pkg/bridge/src/Bridge.tsx
  pkg/bridge/src/mount.ts
  pnpm-lock.yaml
Owners: @luxfi/bridge-maintainers

feat(pkg/bridge): @hanzo/gui 7.0.0 -> 7.2.2 + dual-name compat (SDK 1.0.5 stable)
  app/explorer/components/SwapHistory/StatusIcons.tsx
  app/explorer/next-env.d.ts
  pkg/bridge/package.json
  pkg/bridge/src/Bridge.tsx
  pkg/bridge/src/mount.ts
  pnpm-lock.yaml
Owners: @luxfi/bridge-maintainers

feat(pkg/bridge): @hanzo/gui 7.0.0 -> 7.2.2 + dual-name compat (SDK 1.0.5 stable)
  app/explorer/components/SwapHistory/StatusIcons.tsx
  app/explorer/next-env.d.ts
  pkg/bridge/package.json
  pkg/bridge/src/Bridge.tsx
  pkg/bridge/src/mount.ts
  pnpm-lock.yaml
Owners: @luxfi/bridge-maintainers

feat(pkg/bridge): @hanzo/gui 7.0.0 -> 7.2.2 + dual-name compat (SDK 1.0.5 stable)
  app/explorer/components/SwapHistory/StatusIcons.tsx
  app/explorer/next-env.d.ts
  pkg/bridge/package.json
  pkg/bridge/src/Bridge.tsx
  pkg/bridge/src/mount.ts
  pnpm-lock.yaml
Owners: @luxfi/bridge-maintainers

feat(pkg/bridge): @hanzo/gui 7.0.0 -> 7.2.2 + dual-name compat (SDK 1.0.5 stable)
  app/explorer/components/SwapHistory/StatusIcons.tsx
  app/explorer/next-env.d.ts
  pkg/bridge/package.json
  pkg/bridge/src/Bridge.tsx
  pkg/bridge/src/mount.ts
  pnpm-lock.yaml
Owners: @luxfi/bridge-maintainers

feat(pkg/bridge): @hanzo/gui 7.0.0 -> 7.2.2 + dual-name compat (SDK 1.0.5 stable)
  app/explorer/components/SwapHistory/StatusIcons.tsx
  app/explorer/next-env.d.ts
  pkg/bridge/package.json
  pkg/bridge/src/Bridge.tsx
  pkg/bridge/src/mount.ts
  pnpm-lock.yaml
Owners: @luxfi/bridge-maintainers

feat(pkg/bridge): @hanzo/gui 7.0.0 -> 7.2.2 + dual-name compat (SDK 1.0.5 stable)
  app/explorer/components/SwapHistory/StatusIcons.tsx
  app/explorer/next-env.d.ts
  pkg/bridge/package.json
  pkg/bridge/src/Bridge.tsx
  pkg/bridge/src/mount.ts
  pnpm-lock.yaml
Owners: @luxfi/bridge-maintainers

feat(pkg/bridge): @hanzo/gui 7.0.0 -> 7.2.2 + dual-name compat (SDK 1.0.5 stable)
  app/explorer/components/SwapHistory/StatusIcons.tsx
  app/explorer/next-env.d.ts
  pkg/bridge/package.json
  pkg/bridge/src/Bridge.tsx
  pkg/bridge/src/mount.ts
  pnpm-lock.yaml
Owners: @luxfi/bridge-maintainers

feat: wallet connect function updated
  app/bridge/.env.example
  app/server/result-img/mywallet-v2-installed.png
  app/server/result-img/mywallet-v2.png
  pkg/bridge/src/__tests__/useWallet.test.tsx
  pkg/bridge/src/app/components/SwapForm.tsx
  pkg/bridge/src/app/components/TransferStatus.tsx
  pkg/bridge/src/app/components/WalletConnect.tsx
  pkg/bridge/src/app/hooks/useTransfers.ts
  pkg/bridge/src/app/hooks/useWallet.ts
  pkg/bridge/src/app/lib/bridge-api.ts
  pkg/bridge/src/app/lib/wallet-icons.ts
Owners: @luxfi/bridge-maintainers, @luxfi/backend

feat: wallet connect function updated
  app/bridge/.env.example
  app/server/result-img/mywallet-v2-installed.png
  app/server/result-img/mywallet-v2.png
  pkg/bridge/src/__tests__/useWallet.test.tsx
  pkg/bridge/src/app/components/SwapForm.tsx
  pkg/bridge/src/app/components/TransferStatus.tsx
  pkg/bridge/src/app/components/WalletConnect.tsx
  pkg/bridge/src/app/hooks/useTransfers.ts
  pkg/bridge/src/app/hooks/useWallet.ts
  pkg/bridge/src/app/lib/bridge-api.ts
  pkg/bridge/src/app/lib/wallet-icons.ts
Owners: @luxfi/bridge-maintainers, @luxfi/backend

feat: wallet connect function updated
  app/bridge/.env.example
  app/server/result-img/mywallet-v2-installed.png
  app/server/result-img/mywallet-v2.png
  pkg/bridge/src/__tests__/useWallet.test.tsx
  pkg/bridge/src/app/components/SwapForm.tsx
  pkg/bridge/src/app/components/TransferStatus.tsx
  pkg/bridge/src/app/components/WalletConnect.tsx
  pkg/bridge/src/app/hooks/useTransfers.ts
  pkg/bridge/src/app/hooks/useWallet.ts
  pkg/bridge/src/app/lib/bridge-api.ts
  pkg/bridge/src/app/lib/wallet-icons.ts
Owners: @luxfi/bridge-maintainers, @luxfi/backend

feat: wallet connect function updated
  app/bridge/.env.example
  app/server/result-img/mywallet-v2-installed.png
  app/server/result-img/mywallet-v2.png
  pkg/bridge/src/__tests__/useWallet.test.tsx
  pkg/bridge/src/app/components/SwapForm.tsx
  pkg/bridge/src/app/components/TransferStatus.tsx
  pkg/bridge/src/app/components/WalletConnect.tsx
  pkg/bridge/src/app/hooks/useTransfers.ts
  pkg/bridge/src/app/hooks/useWallet.ts
  pkg/bridge/src/app/lib/bridge-api.ts
  pkg/bridge/src/app/lib/wallet-icons.ts
Owners: @luxfi/bridge-maintainers, @luxfi/backend

feat: wallet connect function updated
  app/bridge/.env.example
  app/server/result-img/mywallet-v2-installed.png
  app/server/result-img/mywallet-v2.png
  pkg/bridge/src/__tests__/useWallet.test.tsx
  pkg/bridge/src/app/components/SwapForm.tsx
  pkg/bridge/src/app/components/TransferStatus.tsx
  pkg/bridge/src/app/components/WalletConnect.tsx
  pkg/bridge/src/app/hooks/useTransfers.ts
  pkg/bridge/src/app/hooks/useWallet.ts
  pkg/bridge/src/app/lib/bridge-api.ts
  pkg/bridge/src/app/lib/wallet-icons.ts
Owners: @luxfi/bridge-maintainers, @luxfi/backend

feat: wallet connect function updated
  app/bridge/.env.example
  app/server/result-img/mywallet-v2-installed.png
  app/server/result-img/mywallet-v2.png
  pkg/bridge/src/__tests__/useWallet.test.tsx
  pkg/bridge/src/app/components/SwapForm.tsx
  pkg/bridge/src/app/components/TransferStatus.tsx
  pkg/bridge/src/app/components/WalletConnect.tsx
  pkg/bridge/src/app/hooks/useTransfers.ts
  pkg/bridge/src/app/hooks/useWallet.ts
  pkg/bridge/src/app/lib/bridge-api.ts
  pkg/bridge/src/app/lib/wallet-icons.ts
Owners: @luxfi/bridge-maintainers, @luxfi/backend

feat: wallet connect function updated
  app/bridge/.env.example
  app/server/result-img/mywallet-v2-installed.png
  app/server/result-img/mywallet-v2.png
  pkg/bridge/src/__tests__/useWallet.test.tsx
  pkg/bridge/src/app/components/SwapForm.tsx
  pkg/bridge/src/app/components/TransferStatus.tsx
  pkg/bridge/src/app/components/WalletConnect.tsx
  pkg/bridge/src/app/hooks/useTransfers.ts
  pkg/bridge/src/app/hooks/useWallet.ts
  pkg/bridge/src/app/lib/bridge-api.ts
  pkg/bridge/src/app/lib/wallet-icons.ts
Owners: @luxfi/bridge-maintainers, @luxfi/backend

feat: wallet connect function updated
  app/bridge/.env.example
  app/server/result-img/mywallet-v2-installed.png
  app/server/result-img/mywallet-v2.png
  pkg/bridge/src/__tests__/useWallet.test.tsx
  pkg/bridge/src/app/components/SwapForm.tsx
  pkg/bridge/src/app/components/TransferStatus.tsx
  pkg/bridge/src/app/components/WalletConnect.tsx
  pkg/bridge/src/app/hooks/useTransfers.ts
  pkg/bridge/src/app/hooks/useWallet.ts
  pkg/bridge/src/app/lib/bridge-api.ts
  pkg/bridge/src/app/lib/wallet-icons.ts
Owners: @luxfi/bridge-maintainers, @luxfi/backend

feat: wallet connect function updated
  app/bridge/.env.example
  app/server/result-img/mywallet-v2-installed.png
  app/server/result-img/mywallet-v2.png
  pkg/bridge/src/__tests__/useWallet.test.tsx
  pkg/bridge/src/app/components/SwapForm.tsx
  pkg/bridge/src/app/components/TransferStatus.tsx
  pkg/bridge/src/app/components/WalletConnect.tsx
  pkg/bridge/src/app/hooks/useTransfers.ts
  pkg/bridge/src/app/hooks/useWallet.ts
  pkg/bridge/src/app/lib/bridge-api.ts
  pkg/bridge/src/app/lib/wallet-icons.ts
Owners: @luxfi/bridge-maintainers, @luxfi/backend

feat: wallet connect function updated
  app/bridge/.env.example
  app/server/result-img/mywallet-v2-installed.png
  app/server/result-img/mywallet-v2.png
  pkg/bridge/src/__tests__/useWallet.test.tsx
  pkg/bridge/src/app/components/SwapForm.tsx
  pkg/bridge/src/app/components/TransferStatus.tsx
  pkg/bridge/src/app/components/WalletConnect.tsx
  pkg/bridge/src/app/hooks/useTransfers.ts
  pkg/bridge/src/app/hooks/useWallet.ts
  pkg/bridge/src/app/lib/bridge-api.ts
  pkg/bridge/src/app/lib/wallet-icons.ts
Owners: @luxfi/bridge-maintainers, @luxfi/backend

feat: wallet connect function updated
  app/bridge/.env.example
  app/server/result-img/mywallet-v2-installed.png
  app/server/result-img/mywallet-v2.png
  pkg/bridge/src/__tests__/useWallet.test.tsx
  pkg/bridge/src/app/components/SwapForm.tsx
  pkg/bridge/src/app/components/TransferStatus.tsx
  pkg/bridge/src/app/components/WalletConnect.tsx
  pkg/bridge/src/app/hooks/useTransfers.ts
  pkg/bridge/src/app/hooks/useWallet.ts
  pkg/bridge/src/app/lib/bridge-api.ts
  pkg/bridge/src/app/lib/wallet-icons.ts
Owners: @luxfi/bridge-maintainers, @luxfi/backend

feat(app/server): real AWS KMS + Azure KV + Vault Transit + f-chain adapters (no stubs)
  app/server/package.json
  app/server/src/domain/__tests__/cosigners-aws-azure-vault-fchain.test.ts
  app/server/src/domain/__tests__/cosigners-gcp-kms.test.ts
  app/server/src/domain/cosigners.ts
  pnpm-lock.yaml
Owners: @luxfi/backend, @luxfi/bridge-maintainers

feat(app/server): real AWS KMS + Azure KV + Vault Transit + f-chain adapters (no stubs)
  app/server/package.json
  app/server/src/domain/__tests__/cosigners-aws-azure-vault-fchain.test.ts
  app/server/src/domain/__tests__/cosigners-gcp-kms.test.ts
  app/server/src/domain/cosigners.ts
  pnpm-lock.yaml
Owners: @luxfi/backend, @luxfi/bridge-maintainers
