Repository luxfi/bridge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @luxfi/bridge-maintainers, @luxfi/mpc-maintainers, @luxfi/security, @luxfi/smart-contracts, @luxfi/frontend, @luxfi/qa, @luxfi/backend, @luxfi/devops, @luxfi/docs

.github/CODEOWNERS:

# CODEOWNERS for Lux Bridge

# Default owners for everything in the repo
* @luxfi/bridge-maintainers

# MPC service owners
/mpc-service/ @luxfi/mpc-maintainers @luxfi/security

# Smart contracts owners  
/contracts/ @luxfi/smart-contracts @luxfi/security

# Frontend and UI owners
/app/client/ @luxfi/frontend
/app/ui/ @luxfi/frontend
/ui-automation/ @luxfi/qa

# Backend server owners
/app/server/ @luxfi/backend

# DevOps and CI/CD
/.github/ @luxfi/devops
/docker/ @luxfi/devops
/k8s/ @luxfi/devops

# Documentation
/docs/ @luxfi/docs
/*.md @luxfi/docs

# Security-sensitive files
/mpc-service/cmd/ @luxfi/security @luxfi/mpc-maintainers
/contracts/bridges/ @luxfi/security @luxfi/smart-contracts
/.env* @luxfi/security @luxfi/devops

chore(deps): lockfile → @luxwallet/* from npm (no file:)
  pnpm-lock.yaml
Owners: @luxfi/bridge-maintainers

chore(deps): lockfile → @luxwallet/* from npm (no file:)
  pnpm-lock.yaml
Owners: @luxfi/bridge-maintainers

fix(deps): reconcile go.sum to authoritative luxfi/age v1.4.0 retag hash
  go.sum
Owners: @luxfi/bridge-maintainers

fix(deps): reconcile go.sum to authoritative luxfi/age v1.4.0 retag hash
  go.sum
Owners: @luxfi/bridge-maintainers

fix(deps): reconcile go.sum to authoritative luxfi/age v1.4.0 retag hash
  go.sum
Owners: @luxfi/bridge-maintainers

fix(deps): reconcile go.sum to authoritative luxfi/age v1.4.0 retag hash
  go.sum
Owners: @luxfi/bridge-maintainers

fix(deps): reconcile go.sum to authoritative luxfi/age v1.4.0 retag hash
  go.sum
Owners: @luxfi/bridge-maintainers

feat(xrp): native inbound deposit detection + wire XRP into mainnet/testnet config
  cmd/bridge/networks.mainnet.yaml
  cmd/bridge/networks.testnet.yaml
  internal/depositcheck/client.go
  internal/depositcheck/client_test.go
  internal/depositcheck/xrp_test.go
Owners: @luxfi/bridge-maintainers

feat(xrp): native inbound deposit detection + wire XRP into mainnet/testnet config
  cmd/bridge/networks.mainnet.yaml
  cmd/bridge/networks.testnet.yaml
  internal/depositcheck/client.go
  internal/depositcheck/client_test.go
  internal/depositcheck/xrp_test.go
Owners: @luxfi/bridge-maintainers

feat(xrp): native inbound deposit detection + wire XRP into mainnet/testnet config
  cmd/bridge/networks.mainnet.yaml
  cmd/bridge/networks.testnet.yaml
  internal/depositcheck/client.go
  internal/depositcheck/client_test.go
  internal/depositcheck/xrp_test.go
Owners: @luxfi/bridge-maintainers

feat(xrp): native inbound deposit detection + wire XRP into mainnet/testnet config
  cmd/bridge/networks.mainnet.yaml
  cmd/bridge/networks.testnet.yaml
  internal/depositcheck/client.go
  internal/depositcheck/client_test.go
  internal/depositcheck/xrp_test.go
Owners: @luxfi/bridge-maintainers

feat(xrp): native inbound deposit detection + wire XRP into mainnet/testnet config
  cmd/bridge/networks.mainnet.yaml
  cmd/bridge/networks.testnet.yaml
  internal/depositcheck/client.go
  internal/depositcheck/client_test.go
  internal/depositcheck/xrp_test.go
Owners: @luxfi/bridge-maintainers

fix(xrp): gate withdrawal on destination-tag plumbing; reserve minimum; honest trust docs
  cmd/bridge/deposit_watcher.go
  cmd/bridge/networks.mainnet.yaml
  cmd/bridge/networks.testnet.yaml
  internal/depositcheck/client.go
Owners: @luxfi/bridge-maintainers

fix(xrp): gate withdrawal on destination-tag plumbing; reserve minimum; honest trust docs
  cmd/bridge/deposit_watcher.go
  cmd/bridge/networks.mainnet.yaml
  cmd/bridge/networks.testnet.yaml
  internal/depositcheck/client.go
Owners: @luxfi/bridge-maintainers

fix(xrp): gate withdrawal on destination-tag plumbing; reserve minimum; honest trust docs
  cmd/bridge/deposit_watcher.go
  cmd/bridge/networks.mainnet.yaml
  cmd/bridge/networks.testnet.yaml
  internal/depositcheck/client.go
Owners: @luxfi/bridge-maintainers

fix(xrp): gate withdrawal on destination-tag plumbing; reserve minimum; honest trust docs
  cmd/bridge/deposit_watcher.go
  cmd/bridge/networks.mainnet.yaml
  cmd/bridge/networks.testnet.yaml
  internal/depositcheck/client.go
Owners: @luxfi/bridge-maintainers

fix(xrp): gate withdrawal on destination-tag plumbing; reserve minimum; honest trust docs
  cmd/bridge/deposit_watcher.go
  cmd/bridge/networks.mainnet.yaml
  cmd/bridge/networks.testnet.yaml
  internal/depositcheck/client.go
Owners: @luxfi/bridge-maintainers

feat(xrp): safe withdrawals — destination-tag plumbing + authoritative withdrawal gate
  cmd/bridge/broadcast_driver.go
  cmd/bridge/broadcast_driver_test.go
  cmd/bridge/config.go
  cmd/bridge/config_gate_test.go
  cmd/bridge/main.go
  cmd/bridge/networks.mainnet.yaml
  cmd/bridge/networks.testnet.yaml
  cmd/bridge/signing_driver.go
  cmd/bridge/signing_driver_test.go
  cmd/bridge/swap_store.go
  cmd/bridge/swaps_handler.go
  cmd/bridge/swaps_handler_test.go
  internal/txassembler/xrp.go
  internal/txassembler/xrp_test.go
  internal/xrpl/xrpl.go
  internal/xrpl/xrpl_test.go
Owners: @luxfi/bridge-maintainers

feat(xrp): safe withdrawals — destination-tag plumbing + authoritative withdrawal gate
  cmd/bridge/broadcast_driver.go
  cmd/bridge/broadcast_driver_test.go
  cmd/bridge/config.go
  cmd/bridge/config_gate_test.go
  cmd/bridge/main.go
  cmd/bridge/networks.mainnet.yaml
  cmd/bridge/networks.testnet.yaml
  cmd/bridge/signing_driver.go
  cmd/bridge/signing_driver_test.go
  cmd/bridge/swap_store.go
  cmd/bridge/swaps_handler.go
  cmd/bridge/swaps_handler_test.go
  internal/txassembler/xrp.go
  internal/txassembler/xrp_test.go
  internal/xrpl/xrpl.go
  internal/xrpl/xrpl_test.go
Owners: @luxfi/bridge-maintainers

feat(xrp): safe withdrawals — destination-tag plumbing + authoritative withdrawal gate
  cmd/bridge/broadcast_driver.go
  cmd/bridge/broadcast_driver_test.go
  cmd/bridge/config.go
  cmd/bridge/config_gate_test.go
  cmd/bridge/main.go
  cmd/bridge/networks.mainnet.yaml
  cmd/bridge/networks.testnet.yaml
  cmd/bridge/signing_driver.go
  cmd/bridge/signing_driver_test.go
  cmd/bridge/swap_store.go
  cmd/bridge/swaps_handler.go
  cmd/bridge/swaps_handler_test.go
  internal/txassembler/xrp.go
  internal/txassembler/xrp_test.go
  internal/xrpl/xrpl.go
  internal/xrpl/xrpl_test.go
Owners: @luxfi/bridge-maintainers

feat(xrp): safe withdrawals — destination-tag plumbing + authoritative withdrawal gate
  cmd/bridge/broadcast_driver.go
  cmd/bridge/broadcast_driver_test.go
  cmd/bridge/config.go
  cmd/bridge/config_gate_test.go
  cmd/bridge/main.go
  cmd/bridge/networks.mainnet.yaml
  cmd/bridge/networks.testnet.yaml
  cmd/bridge/signing_driver.go
  cmd/bridge/signing_driver_test.go
  cmd/bridge/swap_store.go
  cmd/bridge/swaps_handler.go
  cmd/bridge/swaps_handler_test.go
  internal/txassembler/xrp.go
  internal/txassembler/xrp_test.go
  internal/xrpl/xrpl.go
  internal/xrpl/xrpl_test.go
Owners: @luxfi/bridge-maintainers

feat(xrp): safe withdrawals — destination-tag plumbing + authoritative withdrawal gate
  cmd/bridge/broadcast_driver.go
  cmd/bridge/broadcast_driver_test.go
  cmd/bridge/config.go
  cmd/bridge/config_gate_test.go
  cmd/bridge/main.go
  cmd/bridge/networks.mainnet.yaml
  cmd/bridge/networks.testnet.yaml
  cmd/bridge/signing_driver.go
  cmd/bridge/signing_driver_test.go
  cmd/bridge/swap_store.go
  cmd/bridge/swaps_handler.go
  cmd/bridge/swaps_handler_test.go
  internal/txassembler/xrp.go
  internal/txassembler/xrp_test.go
  internal/xrpl/xrpl.go
  internal/xrpl/xrpl_test.go
Owners: @luxfi/bridge-maintainers

docs(LLM): record v1.1.41 chain-support ground truth + authoritative gate + follow-ups
  docs/LLM.md
Owners: @luxfi/docs

docs(LLM): record v1.1.41 chain-support ground truth + authoritative gate + follow-ups
  docs/LLM.md
Owners: @luxfi/docs

docs(LLM): record v1.1.41 chain-support ground truth + authoritative gate + follow-ups
  docs/LLM.md
Owners: @luxfi/docs

docs(LLM): record v1.1.41 chain-support ground truth + authoritative gate + follow-ups
  docs/LLM.md
Owners: @luxfi/docs

docs(LLM): record v1.1.41 chain-support ground truth + authoritative gate + follow-ups
  docs/LLM.md
Owners: @luxfi/docs

bridge: consume luxfi/cosigner; drop duplicate internal/cosigners
  cmd/bridge/cosign_test.go
  cmd/bridge/swap_store.go
  cmd/bridge/swaps_handler.go
  go.mod
  go.sum
  internal/cosigners/cosigners.go
  internal/cosigners/cosigners_test.go
  internal/cosigners/env_secrets.go
  internal/cosigners/fireblocks.go
  internal/cosigners/fireblocks_jwt.go
  internal/cosigners/fireblocks_test.go
  internal/cosigners/stub_family.go
  internal/cosigners/utila.go
  internal/cosigners/utila_test.go
Owners: @luxfi/bridge-maintainers

bridge: consume luxfi/cosigner; drop duplicate internal/cosigners
  cmd/bridge/cosign_test.go
  cmd/bridge/swap_store.go
  cmd/bridge/swaps_handler.go
  go.mod
  go.sum
  internal/cosigners/cosigners.go
  internal/cosigners/cosigners_test.go
  internal/cosigners/env_secrets.go
  internal/cosigners/fireblocks.go
  internal/cosigners/fireblocks_jwt.go
  internal/cosigners/fireblocks_test.go
  internal/cosigners/stub_family.go
  internal/cosigners/utila.go
  internal/cosigners/utila_test.go
Owners: @luxfi/bridge-maintainers

bridge: consume luxfi/cosigner; drop duplicate internal/cosigners
  cmd/bridge/cosign_test.go
  cmd/bridge/swap_store.go
  cmd/bridge/swaps_handler.go
  go.mod
  go.sum
  internal/cosigners/cosigners.go
  internal/cosigners/cosigners_test.go
  internal/cosigners/env_secrets.go
  internal/cosigners/fireblocks.go
  internal/cosigners/fireblocks_jwt.go
  internal/cosigners/fireblocks_test.go
  internal/cosigners/stub_family.go
  internal/cosigners/utila.go
  internal/cosigners/utila_test.go
Owners: @luxfi/bridge-maintainers

chore(brand): dynamic hero banner
  .github/hero.svg
Owners: @luxfi/devops

chore(brand): dynamic hero banner
  .github/hero.svg
Owners: @luxfi/devops

chore(brand): dynamic hero banner
  .github/hero.svg
Owners: @luxfi/devops

chore(brand): dynamic hero banner
  .github/hero.svg
Owners: @luxfi/devops

chore(brand): dynamic hero banner
  .github/hero.svg
Owners: @luxfi/devops

docs(brand): add hero banner
  README.md
Owners: @luxfi/docs

docs(brand): add hero banner
  README.md
Owners: @luxfi/docs

docs(brand): add hero banner
  README.md
Owners: @luxfi/docs

docs(brand): add hero banner
  README.md
Owners: @luxfi/docs

docs(brand): add hero banner
  README.md
Owners: @luxfi/docs
