Repository luxfi/bridge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @luxfi/bridge-maintainers, @luxfi/mpc-maintainers, @luxfi/security, @luxfi/smart-contracts, @luxfi/frontend, @luxfi/qa, @luxfi/backend, @luxfi/devops, @luxfi/docs

sec: apply security fixes v1.1.0
  contracts/contracts/Bridge.sol
  contracts/contracts/ERC20B.sol
  contracts/contracts/lux/LBTC.sol
  contracts/contracts/lux/LETH.sol
  contracts/contracts/lux/LSOL.sol
  contracts/contracts/lux/LUSD.sol
Owners: @luxfi/smart-contracts, @luxfi/security

sec: apply security fixes v1.1.0
  contracts/contracts/Bridge.sol
  contracts/contracts/ERC20B.sol
  contracts/contracts/lux/LBTC.sol
  contracts/contracts/lux/LETH.sol
  contracts/contracts/lux/LSOL.sol
  contracts/contracts/lux/LUSD.sol
Owners: @luxfi/smart-contracts, @luxfi/security

sec: apply security fixes v1.1.0
  contracts/contracts/Bridge.sol
  contracts/contracts/ERC20B.sol
  contracts/contracts/lux/LBTC.sol
  contracts/contracts/lux/LETH.sol
  contracts/contracts/lux/LSOL.sol
  contracts/contracts/lux/LUSD.sol
Owners: @luxfi/smart-contracts, @luxfi/security

sec: apply security fixes v1.1.0
  contracts/contracts/Bridge.sol
  contracts/contracts/ERC20B.sol
  contracts/contracts/lux/LBTC.sol
  contracts/contracts/lux/LETH.sol
  contracts/contracts/lux/LSOL.sol
  contracts/contracts/lux/LUSD.sol
Owners: @luxfi/smart-contracts, @luxfi/security

chore: add LICENSE
  LICENSE
Owners: @luxfi/bridge-maintainers

chore: add LICENSE
  LICENSE
Owners: @luxfi/bridge-maintainers

chore: add LICENSE
  LICENSE
Owners: @luxfi/bridge-maintainers

chore: add LICENSE
  LICENSE
Owners: @luxfi/bridge-maintainers

chore: add LICENSE
  LICENSE
Owners: @luxfi/bridge-maintainers

refactor: clean up bridge contracts and simplify Zoo token implementations
  contracts/contracts/ETHVault.sol
  contracts/contracts/LuxVault.sol
  contracts/contracts/XChainVault.sol
  contracts/contracts/ZooVault.sol
  contracts/contracts/zoo/CYRUS.sol
  contracts/contracts/zoo/MELANIA.sol
  contracts/contracts/zoo/SLOG.sol
  contracts/contracts/zoo/TRUMP.sol
  contracts/contracts/zoo/Z.sol
  contracts/contracts/zoo/ZADA.sol
  contracts/contracts/zoo/ZAI16Z.sol
  contracts/contracts/zoo/ZAVAX.sol
  contracts/contracts/zoo/ZBLAST.sol
  contracts/contracts/zoo/ZBNB.sol
  contracts/contracts/zoo/ZBOME.sol
  contracts/contracts/zoo/ZBONK.sol
  contracts/contracts/zoo/ZBTC.sol
  contracts/contracts/zoo/ZCELO.sol
  contracts/contracts/zoo/ZDOGS.sol
  contracts/contracts/zoo/ZETH.sol
  contracts/contracts/zoo/ZFTM.sol
  contracts/contracts/zoo/ZFWOG.sol
  contracts/contracts/zoo/ZGIGA.sol
  contracts/contracts/zoo/ZLUX.sol
  contracts/contracts/zoo/ZMEW.sol
  contracts/contracts/zoo/ZMOODENG.sol
  contracts/contracts/zoo/ZMRB.sol
  contracts/contracts/zoo/ZNOT.sol
  contracts/contracts/zoo/ZPOL.sol
  contracts/contracts/zoo/ZPONKE.sol
  contracts/contracts/zoo/ZPOPCAT.sol
  contracts/contracts/zoo/ZPUNT.sol
  contracts/contracts/zoo/ZREDO.sol
  contracts/contracts/zoo/ZSOL.sol
  contracts/contracts/zoo/ZTON.sol
  contracts/contracts/zoo/ZUSD.sol
  contracts/contracts/zoo/ZWIF.sol
  contracts/contracts/zoo/ZXDAI.sol
Owners: @luxfi/smart-contracts, @luxfi/security

refactor: clean up bridge contracts and simplify Zoo token implementations
  contracts/contracts/ETHVault.sol
  contracts/contracts/LuxVault.sol
  contracts/contracts/XChainVault.sol
  contracts/contracts/ZooVault.sol
  contracts/contracts/zoo/CYRUS.sol
  contracts/contracts/zoo/MELANIA.sol
  contracts/contracts/zoo/SLOG.sol
  contracts/contracts/zoo/TRUMP.sol
  contracts/contracts/zoo/Z.sol
  contracts/contracts/zoo/ZADA.sol
  contracts/contracts/zoo/ZAI16Z.sol
  contracts/contracts/zoo/ZAVAX.sol
  contracts/contracts/zoo/ZBLAST.sol
  contracts/contracts/zoo/ZBNB.sol
  contracts/contracts/zoo/ZBOME.sol
  contracts/contracts/zoo/ZBONK.sol
  contracts/contracts/zoo/ZBTC.sol
  contracts/contracts/zoo/ZCELO.sol
  contracts/contracts/zoo/ZDOGS.sol
  contracts/contracts/zoo/ZETH.sol
  contracts/contracts/zoo/ZFTM.sol
  contracts/contracts/zoo/ZFWOG.sol
  contracts/contracts/zoo/ZGIGA.sol
  contracts/contracts/zoo/ZLUX.sol
  contracts/contracts/zoo/ZMEW.sol
  contracts/contracts/zoo/ZMOODENG.sol
  contracts/contracts/zoo/ZMRB.sol
  contracts/contracts/zoo/ZNOT.sol
  contracts/contracts/zoo/ZPOL.sol
  contracts/contracts/zoo/ZPONKE.sol
  contracts/contracts/zoo/ZPOPCAT.sol
  contracts/contracts/zoo/ZPUNT.sol
  contracts/contracts/zoo/ZREDO.sol
  contracts/contracts/zoo/ZSOL.sol
  contracts/contracts/zoo/ZTON.sol
  contracts/contracts/zoo/ZUSD.sol
  contracts/contracts/zoo/ZWIF.sol
  contracts/contracts/zoo/ZXDAI.sol
Owners: @luxfi/smart-contracts, @luxfi/security

refactor: clean up bridge contracts and simplify Zoo token implementations
  contracts/contracts/ETHVault.sol
  contracts/contracts/LuxVault.sol
  contracts/contracts/XChainVault.sol
  contracts/contracts/ZooVault.sol
  contracts/contracts/zoo/CYRUS.sol
  contracts/contracts/zoo/MELANIA.sol
  contracts/contracts/zoo/SLOG.sol
  contracts/contracts/zoo/TRUMP.sol
  contracts/contracts/zoo/Z.sol
  contracts/contracts/zoo/ZADA.sol
  contracts/contracts/zoo/ZAI16Z.sol
  contracts/contracts/zoo/ZAVAX.sol
  contracts/contracts/zoo/ZBLAST.sol
  contracts/contracts/zoo/ZBNB.sol
  contracts/contracts/zoo/ZBOME.sol
  contracts/contracts/zoo/ZBONK.sol
  contracts/contracts/zoo/ZBTC.sol
  contracts/contracts/zoo/ZCELO.sol
  contracts/contracts/zoo/ZDOGS.sol
  contracts/contracts/zoo/ZETH.sol
  contracts/contracts/zoo/ZFTM.sol
  contracts/contracts/zoo/ZFWOG.sol
  contracts/contracts/zoo/ZGIGA.sol
  contracts/contracts/zoo/ZLUX.sol
  contracts/contracts/zoo/ZMEW.sol
  contracts/contracts/zoo/ZMOODENG.sol
  contracts/contracts/zoo/ZMRB.sol
  contracts/contracts/zoo/ZNOT.sol
  contracts/contracts/zoo/ZPOL.sol
  contracts/contracts/zoo/ZPONKE.sol
  contracts/contracts/zoo/ZPOPCAT.sol
  contracts/contracts/zoo/ZPUNT.sol
  contracts/contracts/zoo/ZREDO.sol
  contracts/contracts/zoo/ZSOL.sol
  contracts/contracts/zoo/ZTON.sol
  contracts/contracts/zoo/ZUSD.sol
  contracts/contracts/zoo/ZWIF.sol
  contracts/contracts/zoo/ZXDAI.sol
Owners: @luxfi/smart-contracts, @luxfi/security

refactor: clean up bridge contracts and simplify Zoo token implementations
  contracts/contracts/ETHVault.sol
  contracts/contracts/LuxVault.sol
  contracts/contracts/XChainVault.sol
  contracts/contracts/ZooVault.sol
  contracts/contracts/zoo/CYRUS.sol
  contracts/contracts/zoo/MELANIA.sol
  contracts/contracts/zoo/SLOG.sol
  contracts/contracts/zoo/TRUMP.sol
  contracts/contracts/zoo/Z.sol
  contracts/contracts/zoo/ZADA.sol
  contracts/contracts/zoo/ZAI16Z.sol
  contracts/contracts/zoo/ZAVAX.sol
  contracts/contracts/zoo/ZBLAST.sol
  contracts/contracts/zoo/ZBNB.sol
  contracts/contracts/zoo/ZBOME.sol
  contracts/contracts/zoo/ZBONK.sol
  contracts/contracts/zoo/ZBTC.sol
  contracts/contracts/zoo/ZCELO.sol
  contracts/contracts/zoo/ZDOGS.sol
  contracts/contracts/zoo/ZETH.sol
  contracts/contracts/zoo/ZFTM.sol
  contracts/contracts/zoo/ZFWOG.sol
  contracts/contracts/zoo/ZGIGA.sol
  contracts/contracts/zoo/ZLUX.sol
  contracts/contracts/zoo/ZMEW.sol
  contracts/contracts/zoo/ZMOODENG.sol
  contracts/contracts/zoo/ZMRB.sol
  contracts/contracts/zoo/ZNOT.sol
  contracts/contracts/zoo/ZPOL.sol
  contracts/contracts/zoo/ZPONKE.sol
  contracts/contracts/zoo/ZPOPCAT.sol
  contracts/contracts/zoo/ZPUNT.sol
  contracts/contracts/zoo/ZREDO.sol
  contracts/contracts/zoo/ZSOL.sol
  contracts/contracts/zoo/ZTON.sol
  contracts/contracts/zoo/ZUSD.sol
  contracts/contracts/zoo/ZWIF.sol
  contracts/contracts/zoo/ZXDAI.sol
Owners: @luxfi/smart-contracts, @luxfi/security

refactor: clean up bridge contracts and simplify Zoo token implementations
  contracts/contracts/ETHVault.sol
  contracts/contracts/LuxVault.sol
  contracts/contracts/XChainVault.sol
  contracts/contracts/ZooVault.sol
  contracts/contracts/zoo/CYRUS.sol
  contracts/contracts/zoo/MELANIA.sol
  contracts/contracts/zoo/SLOG.sol
  contracts/contracts/zoo/TRUMP.sol
  contracts/contracts/zoo/Z.sol
  contracts/contracts/zoo/ZADA.sol
  contracts/contracts/zoo/ZAI16Z.sol
  contracts/contracts/zoo/ZAVAX.sol
  contracts/contracts/zoo/ZBLAST.sol
  contracts/contracts/zoo/ZBNB.sol
  contracts/contracts/zoo/ZBOME.sol
  contracts/contracts/zoo/ZBONK.sol
  contracts/contracts/zoo/ZBTC.sol
  contracts/contracts/zoo/ZCELO.sol
  contracts/contracts/zoo/ZDOGS.sol
  contracts/contracts/zoo/ZETH.sol
  contracts/contracts/zoo/ZFTM.sol
  contracts/contracts/zoo/ZFWOG.sol
  contracts/contracts/zoo/ZGIGA.sol
  contracts/contracts/zoo/ZLUX.sol
  contracts/contracts/zoo/ZMEW.sol
  contracts/contracts/zoo/ZMOODENG.sol
  contracts/contracts/zoo/ZMRB.sol
  contracts/contracts/zoo/ZNOT.sol
  contracts/contracts/zoo/ZPOL.sol
  contracts/contracts/zoo/ZPONKE.sol
  contracts/contracts/zoo/ZPOPCAT.sol
  contracts/contracts/zoo/ZPUNT.sol
  contracts/contracts/zoo/ZREDO.sol
  contracts/contracts/zoo/ZSOL.sol
  contracts/contracts/zoo/ZTON.sol
  contracts/contracts/zoo/ZUSD.sol
  contracts/contracts/zoo/ZWIF.sol
  contracts/contracts/zoo/ZXDAI.sol
Owners: @luxfi/smart-contracts, @luxfi/security

fix: use GHCR instead of Docker Hub for container registry
  .github/workflows/docker-publish.yml
Owners: @luxfi/devops

fix: use GHCR instead of Docker Hub for container registry
  .github/workflows/docker-publish.yml
Owners: @luxfi/devops

fix: use GHCR instead of Docker Hub for container registry
  .github/workflows/docker-publish.yml
Owners: @luxfi/devops

fix: use GHCR instead of Docker Hub for container registry
  .github/workflows/docker-publish.yml
Owners: @luxfi/devops

fix: use GHCR instead of Docker Hub for container registry
  .github/workflows/docker-publish.yml
Owners: @luxfi/devops

fix: update Dockerfile and next.config for production build
  app/bridge/Dockerfile
  app/bridge/next.config.js
Owners: @luxfi/bridge-maintainers

fix: update Dockerfile and next.config for production build
  app/bridge/Dockerfile
  app/bridge/next.config.js
Owners: @luxfi/bridge-maintainers

fix: update Dockerfile and next.config for production build
  app/bridge/Dockerfile
  app/bridge/next.config.js
Owners: @luxfi/bridge-maintainers

fix: update Dockerfile and next.config for production build
  app/bridge/Dockerfile
  app/bridge/next.config.js
Owners: @luxfi/bridge-maintainers

fix: update Dockerfile and next.config for production build
  app/bridge/Dockerfile
  app/bridge/next.config.js
Owners: @luxfi/bridge-maintainers

Fix bridge-ui Docker build: add workspace deps and increase heap to 4GB
  app/bridge/Dockerfile
Owners: @luxfi/bridge-maintainers

Fix bridge-ui Docker build: add workspace deps and increase heap to 4GB
  app/bridge/Dockerfile
Owners: @luxfi/bridge-maintainers

Fix bridge-ui Docker build: add workspace deps and increase heap to 4GB
  app/bridge/Dockerfile
Owners: @luxfi/bridge-maintainers

Fix bridge-ui Docker build: add workspace deps and increase heap to 4GB
  app/bridge/Dockerfile
Owners: @luxfi/bridge-maintainers

Fix bridge-ui Docker build: add workspace deps and increase heap to 4GB
  app/bridge/Dockerfile
Owners: @luxfi/bridge-maintainers

Add build tools for native deps (bufferutil, secp256k1)
  app/bridge/Dockerfile
Owners: @luxfi/bridge-maintainers

Add build tools for native deps (bufferutil, secp256k1)
  app/bridge/Dockerfile
Owners: @luxfi/bridge-maintainers

Add build tools for native deps (bufferutil, secp256k1)
  app/bridge/Dockerfile
Owners: @luxfi/bridge-maintainers

Add build tools for native deps (bufferutil, secp256k1)
  app/bridge/Dockerfile
Owners: @luxfi/bridge-maintainers

Add build tools for native deps (bufferutil, secp256k1)
  app/bridge/Dockerfile
Owners: @luxfi/bridge-maintainers

Force dynamic rendering for campaigns page (Firebase init at runtime)
  app/bridge/src/app/campaigns/[campaign]/page.tsx
Owners: @luxfi/bridge-maintainers

Force dynamic rendering for campaigns page (Firebase init at runtime)
  app/bridge/src/app/campaigns/[campaign]/page.tsx
Owners: @luxfi/bridge-maintainers

Force dynamic rendering for campaigns page (Firebase init at runtime)
  app/bridge/src/app/campaigns/[campaign]/page.tsx
Owners: @luxfi/bridge-maintainers

Force dynamic rendering for campaigns page (Firebase init at runtime)
  app/bridge/src/app/campaigns/[campaign]/page.tsx
Owners: @luxfi/bridge-maintainers

Force dynamic rendering for campaigns page (Firebase init at runtime)
  app/bridge/src/app/campaigns/[campaign]/page.tsx
Owners: @luxfi/bridge-maintainers

Force dynamic rendering on all pages (Firebase runtime deps)
  app/bridge/src/app/auth/page.tsx
  app/bridge/src/app/campaigns/page.tsx
  app/bridge/src/app/page.tsx
  app/bridge/src/app/salon/page.tsx
  app/bridge/src/app/swap/[swapId]/page.tsx
  app/bridge/src/app/swap/teleporter/[swapId]/page.tsx
  app/bridge/src/app/swap/v2/[swapId]/page.tsx
  app/bridge/src/app/transactions/page.tsx
Owners: @luxfi/bridge-maintainers

.github/CODEOWNERS:

# CODEOWNERS for Lux Bridge

# Default owners for everything in the repo
* @luxfi/bridge-maintainers

# MPC service owners
/mpc-service/ @luxfi/mpc-maintainers @luxfi/security

# Smart contracts owners  
/contracts/ @luxfi/smart-contracts @luxfi/security

# Frontend and UI owners
/app/client/ @luxfi/frontend
/app/ui/ @luxfi/frontend
/ui-automation/ @luxfi/qa

# Backend server owners
/app/server/ @luxfi/backend

# DevOps and CI/CD
/.github/ @luxfi/devops
/docker/ @luxfi/devops
/k8s/ @luxfi/devops

# Documentation
/docs/ @luxfi/docs
/*.md @luxfi/docs

# Security-sensitive files
/mpc-service/cmd/ @luxfi/security @luxfi/mpc-maintainers
/contracts/bridges/ @luxfi/security @luxfi/smart-contracts
/.env* @luxfi/security @luxfi/devops
