Repository luxfi/bridge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @luxfi/bridge-maintainers, @luxfi/mpc-maintainers, @luxfi/security, @luxfi/smart-contracts, @luxfi/frontend, @luxfi/qa, @luxfi/backend, @luxfi/devops, @luxfi/docs

.github/CODEOWNERS:

# CODEOWNERS for Lux Bridge

# Default owners for everything in the repo
* @luxfi/bridge-maintainers

# MPC service owners
/mpc-service/ @luxfi/mpc-maintainers @luxfi/security

# Smart contracts owners  
/contracts/ @luxfi/smart-contracts @luxfi/security

# Frontend and UI owners
/app/client/ @luxfi/frontend
/app/ui/ @luxfi/frontend
/ui-automation/ @luxfi/qa

# Backend server owners
/app/server/ @luxfi/backend

# DevOps and CI/CD
/.github/ @luxfi/devops
/docker/ @luxfi/devops
/k8s/ @luxfi/devops

# Documentation
/docs/ @luxfi/docs
/*.md @luxfi/docs

# Security-sensitive files
/mpc-service/cmd/ @luxfi/security @luxfi/mpc-maintainers
/contracts/bridges/ @luxfi/security @luxfi/smart-contracts
/.env* @luxfi/security @luxfi/devops

feat: native MPC wallet support, replace Utila, enable all chains
  app/server/src/domain/mpc-wallet.ts
  app/server/src/domain/settings/mainnet/networks.ts
  app/server/src/domain/settings/swap-pairs.ts
  app/server/src/domain/settings/testnet/networks.ts
  app/server/src/domain/swaps.ts
  app/server/src/server.ts
  pkg/core/types/network-type.ts
Owners: @luxfi/backend, @luxfi/bridge-maintainers

feat: 1% bridge fee on exits from Lux/Zoo, fix build errors
  app/server/package.json
  app/server/src/domain/quote.ts
  app/server/src/domain/rate.ts
  app/server/src/domain/swaps.ts
  pnpm-lock.yaml
Owners: @luxfi/backend, @luxfi/bridge-maintainers

feat: 1% bridge fee on exits from Lux/Zoo, fix build errors
  app/server/package.json
  app/server/src/domain/quote.ts
  app/server/src/domain/rate.ts
  app/server/src/domain/swaps.ts
  pnpm-lock.yaml
Owners: @luxfi/backend, @luxfi/bridge-maintainers

feat: 1% bridge fee on exits from Lux/Zoo, fix build errors
  app/server/package.json
  app/server/src/domain/quote.ts
  app/server/src/domain/rate.ts
  app/server/src/domain/swaps.ts
  pnpm-lock.yaml
Owners: @luxfi/backend, @luxfi/bridge-maintainers

feat: 1% bridge fee on exits from Lux/Zoo, fix build errors
  app/server/package.json
  app/server/src/domain/quote.ts
  app/server/src/domain/rate.ts
  app/server/src/domain/swaps.ts
  pnpm-lock.yaml
Owners: @luxfi/backend, @luxfi/bridge-maintainers

feat: 1% bridge fee on exits from Lux/Zoo, fix build errors
  app/server/package.json
  app/server/src/domain/quote.ts
  app/server/src/domain/rate.ts
  app/server/src/domain/swaps.ts
  pnpm-lock.yaml
Owners: @luxfi/backend, @luxfi/bridge-maintainers

fix: build workspace deps in CI, bump @luxfi/core for xrp type
  .github/workflows/bridge-server.yml
  .github/workflows/server.yml
  app/server/Dockerfile
  pkg/core/package.json
Owners: @luxfi/devops, @luxfi/backend, @luxfi/bridge-maintainers

fix: build workspace deps in CI, bump @luxfi/core for xrp type
  .github/workflows/bridge-server.yml
  .github/workflows/server.yml
  app/server/Dockerfile
  pkg/core/package.json
Owners: @luxfi/devops, @luxfi/backend, @luxfi/bridge-maintainers

fix: build workspace deps in CI, bump @luxfi/core for xrp type
  .github/workflows/bridge-server.yml
  .github/workflows/server.yml
  app/server/Dockerfile
  pkg/core/package.json
Owners: @luxfi/devops, @luxfi/backend, @luxfi/bridge-maintainers

fix: build workspace deps in CI, bump @luxfi/core for xrp type
  .github/workflows/bridge-server.yml
  .github/workflows/server.yml
  app/server/Dockerfile
  pkg/core/package.json
Owners: @luxfi/devops, @luxfi/backend, @luxfi/bridge-maintainers

fix: build workspace deps in CI, bump @luxfi/core for xrp type
  .github/workflows/bridge-server.yml
  .github/workflows/server.yml
  app/server/Dockerfile
  pkg/core/package.json
Owners: @luxfi/devops, @luxfi/backend, @luxfi/bridge-maintainers

fix: enable workspace package linking for pnpm
  .npmrc
Owners: @luxfi/bridge-maintainers

fix: enable workspace package linking for pnpm
  .npmrc
Owners: @luxfi/bridge-maintainers

fix: enable workspace package linking for pnpm
  .npmrc
Owners: @luxfi/bridge-maintainers

fix: enable workspace package linking for pnpm
  .npmrc
Owners: @luxfi/bridge-maintainers

fix: enable workspace package linking for pnpm
  .npmrc
Owners: @luxfi/bridge-maintainers

fix: trigger build on .npmrc and workspace changes
  .github/workflows/build-and-push.yml
Owners: @luxfi/devops

fix: trigger build on .npmrc and workspace changes
  .github/workflows/build-and-push.yml
Owners: @luxfi/devops

fix: trigger build on .npmrc and workspace changes
  .github/workflows/build-and-push.yml
Owners: @luxfi/devops

fix: trigger build on .npmrc and workspace changes
  .github/workflows/build-and-push.yml
Owners: @luxfi/devops

fix: trigger build on .npmrc and workspace changes
  .github/workflows/build-and-push.yml
Owners: @luxfi/devops

fix: use workspace:* for @luxfi/core to resolve xrp type
  app/server/package.json
  pnpm-lock.yaml
Owners: @luxfi/backend, @luxfi/bridge-maintainers

fix: use workspace:* for @luxfi/core to resolve xrp type
  app/server/package.json
  pnpm-lock.yaml
Owners: @luxfi/backend, @luxfi/bridge-maintainers

fix: use workspace:* for @luxfi/core to resolve xrp type
  app/server/package.json
  pnpm-lock.yaml
Owners: @luxfi/backend, @luxfi/bridge-maintainers

fix: use workspace:* for @luxfi/core to resolve xrp type
  app/server/package.json
  pnpm-lock.yaml
Owners: @luxfi/backend, @luxfi/bridge-maintainers

fix: use workspace:* for @luxfi/core to resolve xrp type
  app/server/package.json
  pnpm-lock.yaml
Owners: @luxfi/backend, @luxfi/bridge-maintainers

feat: enable deposits and withdrawals on all networks and currencies
  app/server/src/domain/settings/mainnet/networks.ts
  app/server/src/domain/settings/testnet/networks.ts
Owners: @luxfi/backend

feat: enable deposits and withdrawals on all networks and currencies
  app/server/src/domain/settings/mainnet/networks.ts
  app/server/src/domain/settings/testnet/networks.ts
Owners: @luxfi/backend

feat: enable deposits and withdrawals on all networks and currencies
  app/server/src/domain/settings/mainnet/networks.ts
  app/server/src/domain/settings/testnet/networks.ts
Owners: @luxfi/backend

feat: enable deposits and withdrawals on all networks and currencies
  app/server/src/domain/settings/mainnet/networks.ts
  app/server/src/domain/settings/testnet/networks.ts
Owners: @luxfi/backend

feat: enable deposits and withdrawals on all networks and currencies
  app/server/src/domain/settings/mainnet/networks.ts
  app/server/src/domain/settings/testnet/networks.ts
Owners: @luxfi/backend

feat: MPC-signed bridge payouts, replace raw private key signer
  app/server/src/domain/mpc-signer.ts
  app/server/src/domain/swaps.ts
Owners: @luxfi/backend

feat: MPC-signed bridge payouts, replace raw private key signer
  app/server/src/domain/mpc-signer.ts
  app/server/src/domain/swaps.ts
Owners: @luxfi/backend

feat: MPC-signed bridge payouts, replace raw private key signer
  app/server/src/domain/mpc-signer.ts
  app/server/src/domain/swaps.ts
Owners: @luxfi/backend

feat: MPC-signed bridge payouts, replace raw private key signer
  app/server/src/domain/mpc-signer.ts
  app/server/src/domain/swaps.ts
Owners: @luxfi/backend

feat: MPC-signed bridge payouts, replace raw private key signer
  app/server/src/domain/mpc-signer.ts
  app/server/src/domain/swaps.ts
Owners: @luxfi/backend

chore: untrack CLAUDE.md, keep as local symlink to LLM.md
  CLAUDE.md
Owners: @luxfi/docs

chore: untrack CLAUDE.md, keep as local symlink to LLM.md
  CLAUDE.md
Owners: @luxfi/docs

chore: untrack CLAUDE.md, keep as local symlink to LLM.md
  CLAUDE.md
Owners: @luxfi/docs

chore: untrack CLAUDE.md, keep as local symlink to LLM.md
  CLAUDE.md
Owners: @luxfi/docs
