Repository luxfi/bridge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @luxfi/bridge-maintainers, @luxfi/mpc-maintainers, @luxfi/security, @luxfi/smart-contracts, @luxfi/frontend, @luxfi/qa, @luxfi/backend, @luxfi/devops, @luxfi/docs

.github/CODEOWNERS:

# CODEOWNERS for Lux Bridge

# Default owners for everything in the repo
* @luxfi/bridge-maintainers

# MPC service owners
/mpc-service/ @luxfi/mpc-maintainers @luxfi/security

# Smart contracts owners  
/contracts/ @luxfi/smart-contracts @luxfi/security

# Frontend and UI owners
/app/client/ @luxfi/frontend
/app/ui/ @luxfi/frontend
/ui-automation/ @luxfi/qa

# Backend server owners
/app/server/ @luxfi/backend

# DevOps and CI/CD
/.github/ @luxfi/devops
/docker/ @luxfi/devops
/k8s/ @luxfi/devops

# Documentation
/docs/ @luxfi/docs
/*.md @luxfi/docs

# Security-sensitive files
/mpc-service/cmd/ @luxfi/security @luxfi/mpc-maintainers
/contracts/bridges/ @luxfi/security @luxfi/smart-contracts
/.env* @luxfi/security @luxfi/devops

build: migrate tsconfig to TypeScript 7 (native compiler)
  app/bridge3/tsconfig.json
  app/explorer/tsconfig.json
  app/server/tsconfig.json
  pkg/core/tsconfig.json
  pkg/threshold/tsconfig.json
  pkg/ui/tsconfig.json
  pkg/utila/tsconfig.json
Owners: @luxfi/bridge-maintainers, @luxfi/backend

build: migrate tsconfig to TypeScript 7 (native compiler)
  app/bridge3/tsconfig.json
  app/explorer/tsconfig.json
  app/server/tsconfig.json
  pkg/core/tsconfig.json
  pkg/threshold/tsconfig.json
  pkg/ui/tsconfig.json
  pkg/utila/tsconfig.json
Owners: @luxfi/bridge-maintainers, @luxfi/backend

build: migrate tsconfig to TypeScript 7 (native compiler)
  app/bridge3/tsconfig.json
  app/explorer/tsconfig.json
  app/server/tsconfig.json
  pkg/core/tsconfig.json
  pkg/threshold/tsconfig.json
  pkg/ui/tsconfig.json
  pkg/utila/tsconfig.json
Owners: @luxfi/bridge-maintainers, @luxfi/backend

rpc: move every Lux/Zoo caller off the dead /ext/ prefix onto /v1/
  cmd/bridge/swap_store.go
  compose.mainnet.yml
  compose.testnet.yml
  internal/bchain/client.go
  internal/bchain/client_test.go
  internal/broadcast/client.go
  internal/depositcheck/client.go
  internal/mchain/client.go
  internal/txassembler/rpc_provider.go
  k8s/luxfi-explorer.yaml
  k8s/mpc-deployment.yaml
  manifests/chains/lux-c.yaml
  opnet-watcher/config.go
  opnet-watcher/config_test.go
Owners: @luxfi/bridge-maintainers, @luxfi/devops

rpc: move every Lux/Zoo caller off the dead /ext/ prefix onto /v1/
  cmd/bridge/swap_store.go
  compose.mainnet.yml
  compose.testnet.yml
  internal/bchain/client.go
  internal/bchain/client_test.go
  internal/broadcast/client.go
  internal/depositcheck/client.go
  internal/mchain/client.go
  internal/txassembler/rpc_provider.go
  k8s/luxfi-explorer.yaml
  k8s/mpc-deployment.yaml
  manifests/chains/lux-c.yaml
  opnet-watcher/config.go
  opnet-watcher/config_test.go
Owners: @luxfi/bridge-maintainers, @luxfi/devops

fix(bridge): one icon set — Lucide, one version, no hand-drawn second set
  app/bridge3/app/components/icons/avatar.tsx
  app/bridge3/app/components/icons/bag-icon.tsx
  app/bridge3/app/components/icons/index.ts
  app/bridge3/app/components/icons/left-arrow.tsx
  app/bridge3/app/components/icons/right-arrow.tsx
  app/bridge3/package.json
  app/explorer/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @luxfi/bridge-maintainers

fix(bridge): one icon set — Lucide, one version, no hand-drawn second set
  app/bridge3/app/components/icons/avatar.tsx
  app/bridge3/app/components/icons/bag-icon.tsx
  app/bridge3/app/components/icons/index.ts
  app/bridge3/app/components/icons/left-arrow.tsx
  app/bridge3/app/components/icons/right-arrow.tsx
  app/bridge3/package.json
  app/explorer/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @luxfi/bridge-maintainers

Bridge and threshold RPC on /v1; @luxfi/bridge 1.0.7
  app/bridge/TESTNET-E2E.md
  app/bridge3/public/brand.json
  app/server/src/domain/mpc-wallet.ts
  app/server/src/domain/swaps.ts
  app/server/src/domain/teleport-processor.ts
  pkg/bridge/package.json
  pkg/bridge/src/__tests__/bridge-rpc-endpoints.test.ts
  pkg/bridge/src/app/lib/bridge-rpc.ts
  pkg/bridge/src/types.ts
  pkg/threshold/src/client.test.ts
  pkg/threshold/src/client.ts
  pkg/threshold/src/index.ts
Owners: @luxfi/bridge-maintainers, @luxfi/backend

Bridge and threshold RPC on /v1; @luxfi/bridge 1.0.7
  app/bridge/TESTNET-E2E.md
  app/bridge3/public/brand.json
  app/server/src/domain/mpc-wallet.ts
  app/server/src/domain/swaps.ts
  app/server/src/domain/teleport-processor.ts
  pkg/bridge/package.json
  pkg/bridge/src/__tests__/bridge-rpc-endpoints.test.ts
  pkg/bridge/src/app/lib/bridge-rpc.ts
  pkg/bridge/src/types.ts
  pkg/threshold/src/client.test.ts
  pkg/threshold/src/client.ts
  pkg/threshold/src/index.ts
Owners: @luxfi/bridge-maintainers, @luxfi/backend

fix(mpc): point the keygen path at :9800 — the only port mpcd opens
  k8s/mpc-deployment.yaml
  k8s/mpc-security.yaml
Owners: @luxfi/devops

fix(mpc): point the keygen path at :9800 — the only port mpcd opens
  k8s/mpc-deployment.yaml
  k8s/mpc-security.yaml
Owners: @luxfi/devops

fix: complete the TypeScript 7 tsconfig migration
  pkg/ui/tsconfig.json
Owners: @luxfi/bridge-maintainers

fix: complete the TypeScript 7 tsconfig migration
  pkg/ui/tsconfig.json
Owners: @luxfi/bridge-maintainers

fix: complete the TypeScript 7 tsconfig migration
  pkg/ui/tsconfig.json
Owners: @luxfi/bridge-maintainers

fix: complete the TypeScript 7 tsconfig migration
  pkg/ui/tsconfig.json
Owners: @luxfi/bridge-maintainers

fix: complete the TypeScript 7 tsconfig migration
  pkg/ui/tsconfig.json
Owners: @luxfi/bridge-maintainers

fix: complete the TypeScript 7 tsconfig migration
  pkg/ui/tsconfig.json
Owners: @luxfi/bridge-maintainers

fix: complete the TypeScript 7 tsconfig migration
  pkg/ui/tsconfig.json
Owners: @luxfi/bridge-maintainers

fix: complete the TypeScript 7 tsconfig migration
  pkg/ui/tsconfig.json
Owners: @luxfi/bridge-maintainers

fix: complete the TypeScript 7 tsconfig migration
  pkg/ui/tsconfig.json
Owners: @luxfi/bridge-maintainers

fix: complete the TypeScript 7 tsconfig migration
  pkg/ui/tsconfig.json
Owners: @luxfi/bridge-maintainers

fix(publish): refuse to publish under npm — workspace:* must be rewritten
  pkg/bridge/package.json
  scripts/assert-pnpm-publish.mjs
Owners: @luxfi/bridge-maintainers

fix(publish): refuse to publish under npm — workspace:* must be rewritten
  pkg/bridge/package.json
  scripts/assert-pnpm-publish.mjs
Owners: @luxfi/bridge-maintainers

release: @luxfi/bridge 1.0.8, @luxfi/threshold 1.0.0
  pkg/bridge/package.json
Owners: @luxfi/bridge-maintainers

release: @luxfi/bridge 1.0.8, @luxfi/threshold 1.0.0
  pkg/bridge/package.json
Owners: @luxfi/bridge-maintainers

deps: drop go.sum lines that disagree with the checksum log
  go.sum
Owners: @luxfi/bridge-maintainers

deps: drop go.sum lines that disagree with the checksum log
  go.sum
Owners: @luxfi/bridge-maintainers

deps: drop go.sum lines that disagree with the checksum log
  go.sum
Owners: @luxfi/bridge-maintainers

deps: drop go.sum lines that disagree with the checksum log
  go.sum
Owners: @luxfi/bridge-maintainers

deps: drop go.sum lines that disagree with the checksum log
  go.sum
Owners: @luxfi/bridge-maintainers

deps: drop go.sum lines that disagree with the checksum log
  go.sum
Owners: @luxfi/bridge-maintainers

build: mark lux-private private, not all of luxfi
  cmd/bridge/Dockerfile
Owners: @luxfi/bridge-maintainers

build: mark lux-private private, not all of luxfi
  cmd/bridge/Dockerfile
Owners: @luxfi/bridge-maintainers

preserve: uncommitted working-tree state
  app/server/src/clients/__tests__/iam.test.ts
  app/server/src/clients/iam.ts
Owners: @luxfi/backend

preserve: uncommitted working-tree state
  app/server/src/clients/__tests__/iam.test.ts
  app/server/src/clients/iam.ts
Owners: @luxfi/backend

feat(bridge): BTC confirm-gate metrics + first Prometheus/Alertmanager stack
  REQUIREMENTS.md
  cmd/bridge/api.go
  cmd/bridge/metrics_test.go
  docs/operator-runbook.md
  k8s/bridge-servicemonitor.yaml
  k8s/monitoring-alertmanager.yaml
  k8s/monitoring-prometheus.yaml
  k8s/monitoring-rbac.yaml
Owners: @luxfi/docs, @luxfi/bridge-maintainers, @luxfi/devops

feat(bridge): BTC confirm-gate metrics + first Prometheus/Alertmanager stack
  REQUIREMENTS.md
  cmd/bridge/api.go
  cmd/bridge/metrics_test.go
  docs/operator-runbook.md
  k8s/bridge-servicemonitor.yaml
  k8s/monitoring-alertmanager.yaml
  k8s/monitoring-prometheus.yaml
  k8s/monitoring-rbac.yaml
Owners: @luxfi/docs, @luxfi/bridge-maintainers, @luxfi/devops

test(ton): cover messaging.go's transfer build + finalize (was 0%)
  internal/ton/messaging_test.go
Owners: @luxfi/bridge-maintainers

test(bridge): TransferStatus coverage
  pkg/bridge/src/__tests__/TransferStatus.test.tsx
Owners: @luxfi/bridge-maintainers

test(bridge): TransferStatus coverage
  pkg/bridge/src/__tests__/TransferStatus.test.tsx
Owners: @luxfi/bridge-maintainers
