Repository luxfi/bridge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @luxfi/bridge-maintainers, @luxfi/mpc-maintainers, @luxfi/security, @luxfi/smart-contracts, @luxfi/frontend, @luxfi/qa, @luxfi/backend, @luxfi/devops, @luxfi/docs

kms.lux.cloud is the brand host; kms.lux.network is retired
  LLM.md
  docs/LLM.md
Owners: @luxfi/docs

test(bridge): cover executeRefundXRP + the baseline over-refund guard
  cmd/bridge/refund_driver_xrp_test.go
Owners: @luxfi/bridge-maintainers

test(bridge): cover executeRefundXRP + the baseline over-refund guard
  cmd/bridge/refund_driver_xrp_test.go
Owners: @luxfi/bridge-maintainers

test(bridge): cover fetchSolanaBalance + truncRefund/truncRefundErr
  cmd/bridge/refund_driver_test.go
Owners: @luxfi/bridge-maintainers

test(bridge): cover fetchSolanaBalance + truncRefund/truncRefundErr
  cmd/bridge/refund_driver_test.go
Owners: @luxfi/bridge-maintainers

test(bridge): cover ChainSelector's family-label mapping + reverse lookup
  pkg/bridge/src/__tests__/ChainSelector.test.tsx
Owners: @luxfi/bridge-maintainers

test(bridge): cover ChainSelector's family-label mapping + reverse lookup
  pkg/bridge/src/__tests__/ChainSelector.test.tsx
Owners: @luxfi/bridge-maintainers

test(bridge): cover executeRefundTON + its baseline over-refund guard
  cmd/bridge/refund_driver_ton_test.go
Owners: @luxfi/bridge-maintainers

test(bridge): cover executeRefundTON + its baseline over-refund guard
  cmd/bridge/refund_driver_ton_test.go
Owners: @luxfi/bridge-maintainers

test(bridge): cover executeRefundBTC (no baseline guard needed here)
  cmd/bridge/refund_driver_btc_test.go
Owners: @luxfi/bridge-maintainers

test(bridge): cover executeRefundBTC (no baseline guard needed here)
  cmd/bridge/refund_driver_btc_test.go
Owners: @luxfi/bridge-maintainers

test(bridge): cover executeRefundSolana + its baseline over-refund guard
  cmd/bridge/refund_driver_solana_test.go
Owners: @luxfi/bridge-maintainers

test(bridge): cover executeRefundSolana + its baseline over-refund guard
  cmd/bridge/refund_driver_solana_test.go
Owners: @luxfi/bridge-maintainers

test(bridge): cover Select's keyboard nav + dismiss behavior
  pkg/bridge/src/__tests__/Select.test.tsx
Owners: @luxfi/bridge-maintainers

test(bridge): TransferStatus coverage
  pkg/bridge/src/__tests__/TransferStatus.test.tsx
Owners: @luxfi/bridge-maintainers

test(bridge): TransferStatus coverage
  pkg/bridge/src/__tests__/TransferStatus.test.tsx
Owners: @luxfi/bridge-maintainers

test(bridge): cover Select's keyboard nav + dismiss behavior
  pkg/bridge/src/__tests__/Select.test.tsx
Owners: @luxfi/bridge-maintainers

test(bridge): cover the read-only REST surface + rpcErrToJSONRPC
  cmd/bridge/api_test.go
Owners: @luxfi/bridge-maintainers

test(bridge): cover ChainSelector's family-label mapping + reverse lookup
  pkg/bridge/src/__tests__/ChainSelector.test.tsx
Owners: @luxfi/bridge-maintainers

test(bridge): cover ChainSelector's family-label mapping + reverse lookup
  pkg/bridge/src/__tests__/ChainSelector.test.tsx
Owners: @luxfi/bridge-maintainers

test(bridge): cover the read-only REST surface + rpcErrToJSONRPC
  cmd/bridge/api_test.go
Owners: @luxfi/bridge-maintainers

test(bridge): port read-only REST surface tests; use zap-proto/zip, adapt to 6-arg NewAPI
  cmd/bridge/api_test.go
Owners: @luxfi/bridge-maintainers

test(bridge): port read-only REST surface tests; use zap-proto/zip, adapt to 6-arg NewAPI
  cmd/bridge/api_test.go
Owners: @luxfi/bridge-maintainers

feat(bridge): release-wallet signability monitoring + alert rules
  cmd/bridge/api.go
  cmd/bridge/main.go
  cmd/bridge/metrics_test.go
  cmd/bridge/wallet_health_poller.go
  cmd/bridge/wallet_health_poller_test.go
  docs/operator-runbook.md
  internal/mchain/release_store.go
  k8s/bridge-alerts.yaml
  k8s/bridge-servicemonitor.yaml
Owners: @luxfi/bridge-maintainers, @luxfi/docs, @luxfi/devops

feat(bridge): release-wallet signability monitoring + alert rules
  cmd/bridge/api.go
  cmd/bridge/main.go
  cmd/bridge/metrics_test.go
  cmd/bridge/wallet_health_poller.go
  cmd/bridge/wallet_health_poller_test.go
  docs/operator-runbook.md
  internal/mchain/release_store.go
  k8s/bridge-alerts.yaml
  k8s/bridge-servicemonitor.yaml
Owners: @luxfi/bridge-maintainers, @luxfi/docs, @luxfi/devops

fix(test): the baseline over-refund guards weren't testing the amount
  cmd/bridge/refund_driver_solana_test.go
  cmd/bridge/refund_driver_test.go
  cmd/bridge/refund_driver_ton_test.go
  cmd/bridge/refund_driver_xrp_test.go
  internal/depositcheck/baseline_fetch_test.go
Owners: @luxfi/bridge-maintainers

fix(test): the baseline over-refund guards weren't testing the amount
  cmd/bridge/refund_driver_solana_test.go
  cmd/bridge/refund_driver_test.go
  cmd/bridge/refund_driver_ton_test.go
  cmd/bridge/refund_driver_xrp_test.go
  internal/depositcheck/baseline_fetch_test.go
Owners: @luxfi/bridge-maintainers

one pair table, read in both directions
  app/bridge3/.env.example
  app/bridge3/app/domain/backend/get-settings.ts
  app/bridge3/app/domain/backend/swap-pairs.ts
  app/bridge3/app/domain/swap/logic/on-from-asset-change.ts
Owners: @luxfi/bridge-maintainers

one pair table, read in both directions
  app/bridge3/.env.example
  app/bridge3/app/domain/backend/get-settings.ts
  app/bridge3/app/domain/backend/swap-pairs.ts
  app/bridge3/app/domain/swap/logic/on-from-asset-change.ts
Owners: @luxfi/bridge-maintainers

bridging is a wrap, not a trade — stop pricing it
  app/server/src/domain/__tests__/quote.test.ts
  app/server/src/domain/quote.ts
  app/server/src/domain/rate.ts
  app/server/src/domain/swaps.ts
  app/server/src/domain/tokens.ts
  app/server/src/routes/quote.ts
  app/server/src/routes/rate.ts
Owners: @luxfi/backend

bridging is a wrap, not a trade — stop pricing it
  app/server/src/domain/__tests__/quote.test.ts
  app/server/src/domain/quote.ts
  app/server/src/domain/rate.ts
  app/server/src/domain/swaps.ts
  app/server/src/domain/tokens.ts
  app/server/src/routes/quote.ts
  app/server/src/routes/rate.ts
Owners: @luxfi/backend

settle the terms before minting a custody address
  app/server/src/domain/__tests__/quote.test.ts
  app/server/src/domain/swaps.ts
  app/server/src/routes/swaps.ts
Owners: @luxfi/backend

settle the terms before minting a custody address
  app/server/src/domain/__tests__/quote.test.ts
  app/server/src/domain/swaps.ts
  app/server/src/routes/swaps.ts
Owners: @luxfi/backend

LLM.md: the wrap invariant, and why CI cannot ship this repo
  LLM.md
Owners: @luxfi/docs

LLM.md: the wrap invariant, and why CI cannot ship this repo
  LLM.md
Owners: @luxfi/docs

pre-bundle mobx-react-lite so the app can mount in dev
  app/bridge3/vite.config.ts
Owners: @luxfi/bridge-maintainers

pre-bundle mobx-react-lite so the app can mount in dev
  app/bridge3/vite.config.ts
Owners: @luxfi/bridge-maintainers

test the quote over the wire, not just the arithmetic
  app/server/src/domain/__tests__/quote-route.test.ts
Owners: @luxfi/backend

test the quote over the wire, not just the arithmetic
  app/server/src/domain/__tests__/quote-route.test.ts
Owners: @luxfi/backend

build bridge-server on the forge, and refuse an image that quotes a mint
  .github/workflows/server.yml
  .hanzo/workflows/server.yml
Owners: @luxfi/devops, @luxfi/bridge-maintainers

.github/CODEOWNERS:

# CODEOWNERS for Lux Bridge

# Default owners for everything in the repo
* @luxfi/bridge-maintainers

# MPC service owners
/mpc-service/ @luxfi/mpc-maintainers @luxfi/security

# Smart contracts owners  
/contracts/ @luxfi/smart-contracts @luxfi/security

# Frontend and UI owners
/app/client/ @luxfi/frontend
/app/ui/ @luxfi/frontend
/ui-automation/ @luxfi/qa

# Backend server owners
/app/server/ @luxfi/backend

# DevOps and CI/CD
/.github/ @luxfi/devops
/docker/ @luxfi/devops
/k8s/ @luxfi/devops

# Documentation
/docs/ @luxfi/docs
/*.md @luxfi/docs

# Security-sensitive files
/mpc-service/cmd/ @luxfi/security @luxfi/mpc-maintainers
/contracts/bridges/ @luxfi/security @luxfi/smart-contracts
/.env* @luxfi/security @luxfi/devops
