Repository luxfi/bridge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @luxfi/bridge-maintainers, @luxfi/mpc-maintainers, @luxfi/security, @luxfi/smart-contracts, @luxfi/frontend, @luxfi/qa, @luxfi/backend, @luxfi/devops, @luxfi/docs

.github/CODEOWNERS:

# CODEOWNERS for Lux Bridge

# Default owners for everything in the repo
* @luxfi/bridge-maintainers

# MPC service owners
/mpc-service/ @luxfi/mpc-maintainers @luxfi/security

# Smart contracts owners  
/contracts/ @luxfi/smart-contracts @luxfi/security

# Frontend and UI owners
/app/client/ @luxfi/frontend
/app/ui/ @luxfi/frontend
/ui-automation/ @luxfi/qa

# Backend server owners
/app/server/ @luxfi/backend

# DevOps and CI/CD
/.github/ @luxfi/devops
/docker/ @luxfi/devops
/k8s/ @luxfi/devops

# Documentation
/docs/ @luxfi/docs
/*.md @luxfi/docs

# Security-sensitive files
/mpc-service/cmd/ @luxfi/security @luxfi/mpc-maintainers
/contracts/bridges/ @luxfi/security @luxfi/smart-contracts
/.env* @luxfi/security @luxfi/devops

test(pkg/bridge): 5 cosigner SDK tests — wire-shape + no-secret-leak (issue #390 partial)
  pkg/bridge/src/__tests__/useTransfers-cosigners.test.tsx
Owners: @luxfi/bridge-maintainers

feat(app/server): real Fireblocks cosigner implementation + 10 tests (issue #386)
  app/server/package.json
  app/server/src/domain/__tests__/cosigners-fireblocks.test.ts
  app/server/src/domain/cosigners.ts
  pnpm-lock.yaml
Owners: @luxfi/backend, @luxfi/bridge-maintainers

feat(app/server): real Fireblocks cosigner implementation + 10 tests (issue #386)
  app/server/package.json
  app/server/src/domain/__tests__/cosigners-fireblocks.test.ts
  app/server/src/domain/cosigners.ts
  pnpm-lock.yaml
Owners: @luxfi/backend, @luxfi/bridge-maintainers

feat(app/server): real Fireblocks cosigner implementation + 10 tests (issue #386)
  app/server/package.json
  app/server/src/domain/__tests__/cosigners-fireblocks.test.ts
  app/server/src/domain/cosigners.ts
  pnpm-lock.yaml
Owners: @luxfi/backend, @luxfi/bridge-maintainers

feat(app/server): real Fireblocks cosigner implementation + 10 tests (issue #386)
  app/server/package.json
  app/server/src/domain/__tests__/cosigners-fireblocks.test.ts
  app/server/src/domain/cosigners.ts
  pnpm-lock.yaml
Owners: @luxfi/backend, @luxfi/bridge-maintainers

feat(app/server): real Fireblocks cosigner implementation + 10 tests (issue #386)
  app/server/package.json
  app/server/src/domain/__tests__/cosigners-fireblocks.test.ts
  app/server/src/domain/cosigners.ts
  pnpm-lock.yaml
Owners: @luxfi/backend, @luxfi/bridge-maintainers

feat(app/server): real Fireblocks cosigner implementation + 10 tests (issue #386)
  app/server/package.json
  app/server/src/domain/__tests__/cosigners-fireblocks.test.ts
  app/server/src/domain/cosigners.ts
  pnpm-lock.yaml
Owners: @luxfi/backend, @luxfi/bridge-maintainers

feat(app/server): real Fireblocks cosigner implementation + 10 tests (issue #386)
  app/server/package.json
  app/server/src/domain/__tests__/cosigners-fireblocks.test.ts
  app/server/src/domain/cosigners.ts
  pnpm-lock.yaml
Owners: @luxfi/backend, @luxfi/bridge-maintainers

feat(app/server): real Fireblocks cosigner implementation + 10 tests (issue #386)
  app/server/package.json
  app/server/src/domain/__tests__/cosigners-fireblocks.test.ts
  app/server/src/domain/cosigners.ts
  pnpm-lock.yaml
Owners: @luxfi/backend, @luxfi/bridge-maintainers

feat(app/server): real Fireblocks cosigner implementation + 10 tests (issue #386)
  app/server/package.json
  app/server/src/domain/__tests__/cosigners-fireblocks.test.ts
  app/server/src/domain/cosigners.ts
  pnpm-lock.yaml
Owners: @luxfi/backend, @luxfi/bridge-maintainers

feat(app/server): real Fireblocks cosigner implementation + 10 tests (issue #386)
  app/server/package.json
  app/server/src/domain/__tests__/cosigners-fireblocks.test.ts
  app/server/src/domain/cosigners.ts
  pnpm-lock.yaml
Owners: @luxfi/backend, @luxfi/bridge-maintainers

feat(app/server): real Fireblocks cosigner implementation + 10 tests (issue #386)
  app/server/package.json
  app/server/src/domain/__tests__/cosigners-fireblocks.test.ts
  app/server/src/domain/cosigners.ts
  pnpm-lock.yaml
Owners: @luxfi/backend, @luxfi/bridge-maintainers

chore: updated env
  REQUIREMENTS.md
  compose.local.yml
  config/mpc/config.yaml
  config/mpc/peers.json
  scripts/install-mpc-tools.sh
  scripts/start-mpc-network.sh
  scripts/stop-mpc-network.sh
Owners: @luxfi/docs, @luxfi/bridge-maintainers

chore: updated env
  REQUIREMENTS.md
  compose.local.yml
  config/mpc/config.yaml
  config/mpc/peers.json
  scripts/install-mpc-tools.sh
  scripts/start-mpc-network.sh
  scripts/stop-mpc-network.sh
Owners: @luxfi/docs, @luxfi/bridge-maintainers

chore: updated env
  REQUIREMENTS.md
  compose.local.yml
  config/mpc/config.yaml
  config/mpc/peers.json
  scripts/install-mpc-tools.sh
  scripts/start-mpc-network.sh
  scripts/stop-mpc-network.sh
Owners: @luxfi/docs, @luxfi/bridge-maintainers

chore: updated env
  REQUIREMENTS.md
  compose.local.yml
  config/mpc/config.yaml
  config/mpc/peers.json
  scripts/install-mpc-tools.sh
  scripts/start-mpc-network.sh
  scripts/stop-mpc-network.sh
Owners: @luxfi/docs, @luxfi/bridge-maintainers

chore: updated env
  REQUIREMENTS.md
  compose.local.yml
  config/mpc/config.yaml
  config/mpc/peers.json
  scripts/install-mpc-tools.sh
  scripts/start-mpc-network.sh
  scripts/stop-mpc-network.sh
Owners: @luxfi/docs, @luxfi/bridge-maintainers

chore: updated env
  REQUIREMENTS.md
  compose.local.yml
  config/mpc/config.yaml
  config/mpc/peers.json
  scripts/install-mpc-tools.sh
  scripts/start-mpc-network.sh
  scripts/stop-mpc-network.sh
Owners: @luxfi/docs, @luxfi/bridge-maintainers

chore: updated env
  REQUIREMENTS.md
  compose.local.yml
  config/mpc/config.yaml
  config/mpc/peers.json
  scripts/install-mpc-tools.sh
  scripts/start-mpc-network.sh
  scripts/stop-mpc-network.sh
Owners: @luxfi/docs, @luxfi/bridge-maintainers

chore: updated env
  REQUIREMENTS.md
  compose.local.yml
  config/mpc/config.yaml
  config/mpc/peers.json
  scripts/install-mpc-tools.sh
  scripts/start-mpc-network.sh
  scripts/stop-mpc-network.sh
Owners: @luxfi/docs, @luxfi/bridge-maintainers

chore: updated env
  REQUIREMENTS.md
  compose.local.yml
  config/mpc/config.yaml
  config/mpc/peers.json
  scripts/install-mpc-tools.sh
  scripts/start-mpc-network.sh
  scripts/stop-mpc-network.sh
Owners: @luxfi/docs, @luxfi/bridge-maintainers

chore: updated env
  REQUIREMENTS.md
  compose.local.yml
  config/mpc/config.yaml
  config/mpc/peers.json
  scripts/install-mpc-tools.sh
  scripts/start-mpc-network.sh
  scripts/stop-mpc-network.sh
Owners: @luxfi/docs, @luxfi/bridge-maintainers

chore: updated env
  REQUIREMENTS.md
  compose.local.yml
  config/mpc/config.yaml
  config/mpc/peers.json
  scripts/install-mpc-tools.sh
  scripts/start-mpc-network.sh
  scripts/stop-mpc-network.sh
Owners: @luxfi/docs, @luxfi/bridge-maintainers

chore: requirement updated
  REQUIREMENTS.md
Owners: @luxfi/docs

chore: requirement updated
  REQUIREMENTS.md
Owners: @luxfi/docs

chore: requirement updated
  REQUIREMENTS.md
Owners: @luxfi/docs

chore: requirement updated
  REQUIREMENTS.md
Owners: @luxfi/docs

chore: requirement updated
  REQUIREMENTS.md
Owners: @luxfi/docs

chore: requirement updated
  REQUIREMENTS.md
Owners: @luxfi/docs

chore: requirement updated
  REQUIREMENTS.md
Owners: @luxfi/docs

chore: requirement updated
  REQUIREMENTS.md
Owners: @luxfi/docs

chore: requirement updated
  REQUIREMENTS.md
Owners: @luxfi/docs

chore: requirement updated
  REQUIREMENTS.md
Owners: @luxfi/docs

chore: requirement updated
  REQUIREMENTS.md
Owners: @luxfi/docs

chore: env has been set up successfully
  app/bridge/package.json
  pkg/threshold/package.json
  pnpm-lock.yaml
Owners: @luxfi/bridge-maintainers

chore: env has been set up successfully
  app/bridge/package.json
  pkg/threshold/package.json
  pnpm-lock.yaml
Owners: @luxfi/bridge-maintainers

chore: env has been set up successfully
  app/bridge/package.json
  pkg/threshold/package.json
  pnpm-lock.yaml
Owners: @luxfi/bridge-maintainers

chore: env has been set up successfully
  app/bridge/package.json
  pkg/threshold/package.json
  pnpm-lock.yaml
Owners: @luxfi/bridge-maintainers

chore: env has been set up successfully
  app/bridge/package.json
  pkg/threshold/package.json
  pnpm-lock.yaml
Owners: @luxfi/bridge-maintainers

chore: env has been set up successfully
  app/bridge/package.json
  pkg/threshold/package.json
  pnpm-lock.yaml
Owners: @luxfi/bridge-maintainers
