Repository luxfi/bridge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @luxfi/bridge-maintainers, @luxfi/mpc-maintainers, @luxfi/security, @luxfi/smart-contracts, @luxfi/frontend, @luxfi/qa, @luxfi/backend, @luxfi/devops, @luxfi/docs

.github/CODEOWNERS:

# CODEOWNERS for Lux Bridge

# Default owners for everything in the repo
* @luxfi/bridge-maintainers

# MPC service owners
/mpc-service/ @luxfi/mpc-maintainers @luxfi/security

# Smart contracts owners  
/contracts/ @luxfi/smart-contracts @luxfi/security

# Frontend and UI owners
/app/client/ @luxfi/frontend
/app/ui/ @luxfi/frontend
/ui-automation/ @luxfi/qa

# Backend server owners
/app/server/ @luxfi/backend

# DevOps and CI/CD
/.github/ @luxfi/devops
/docker/ @luxfi/devops
/k8s/ @luxfi/devops

# Documentation
/docs/ @luxfi/docs
/*.md @luxfi/docs

# Security-sensitive files
/mpc-service/cmd/ @luxfi/security @luxfi/mpc-maintainers
/contracts/bridges/ @luxfi/security @luxfi/smart-contracts
/.env* @luxfi/security @luxfi/devops

build bridge-server on the forge, and refuse an image that quotes a mint
  .github/workflows/server.yml
  .hanzo/workflows/server.yml
Owners: @luxfi/devops, @luxfi/bridge-maintainers

drop the paths filter — a mirror sync does not evaluate one
  .hanzo/workflows/server.yml
Owners: @luxfi/bridge-maintainers

drop the paths filter — a mirror sync does not evaluate one
  .hanzo/workflows/server.yml
Owners: @luxfi/bridge-maintainers

say why a quote was refused, instead of "Quote failed (400)"
  pkg/bridge/src/__tests__/useSwap.test.tsx
  pkg/bridge/src/app/hooks/useSwap.ts
Owners: @luxfi/bridge-maintainers

say why a quote was refused, instead of "Quote failed (400)"
  pkg/bridge/src/__tests__/useSwap.test.tsx
  pkg/bridge/src/app/hooks/useSwap.ts
Owners: @luxfi/bridge-maintainers

the server image could not build at all — copy and build @luxfi/utila
  app/server/docker/Dockerfile
Owners: @luxfi/backend

the server image could not build at all — copy and build @luxfi/utila
  app/server/docker/Dockerfile
Owners: @luxfi/backend

copy scripts/ — the root postinstall needs it
  app/server/docker/Dockerfile
Owners: @luxfi/backend

copy scripts/ — the root postinstall needs it
  app/server/docker/Dockerfile
Owners: @luxfi/backend

smoke from inside the container, not over a published port
  .hanzo/workflows/server.yml
Owners: @luxfi/bridge-maintainers

smoke from inside the container, not over a published port
  .hanzo/workflows/server.yml
Owners: @luxfi/bridge-maintainers

@luxfi/utila could not build — name its outDir
  pkg/utila/rollup.config.js
Owners: @luxfi/bridge-maintainers

@luxfi/utila could not build — name its outDir
  pkg/utila/rollup.config.js
Owners: @luxfi/bridge-maintainers

keep the workspace layout in the runtime image
  app/server/docker/Dockerfile
Owners: @luxfi/backend

keep the workspace layout in the runtime image
  app/server/docker/Dockerfile
Owners: @luxfi/backend

don't rate-limit /health — it makes the kubelet kill the pod
  app/server/src/server.ts
Owners: @luxfi/backend

don't rate-limit /health — it makes the kubelet kill the pod
  app/server/src/server.ts
Owners: @luxfi/backend

fix(bridge): BTC release confirmation gate + RBF rebuild on stale fee
  cmd/bridge/api.go
  cmd/bridge/broadcast_driver.go
  cmd/bridge/broadcast_driver_test.go
  cmd/bridge/main.go
  cmd/bridge/metrics_test.go
  cmd/bridge/signing_driver_btc.go
  cmd/bridge/swap_store.go
  docs/operator-runbook.md
  internal/broadcast/btc.go
  internal/txassembler/btc.go
  internal/txassembler/btc_test.go
Owners: @luxfi/bridge-maintainers, @luxfi/docs

fix(bridge): BTC release confirmation gate + RBF rebuild on stale fee
  cmd/bridge/api.go
  cmd/bridge/broadcast_driver.go
  cmd/bridge/broadcast_driver_test.go
  cmd/bridge/main.go
  cmd/bridge/metrics_test.go
  cmd/bridge/signing_driver_btc.go
  cmd/bridge/swap_store.go
  docs/operator-runbook.md
  internal/broadcast/btc.go
  internal/txassembler/btc.go
  internal/txassembler/btc_test.go
Owners: @luxfi/bridge-maintainers, @luxfi/docs

don't rate-limit /health — it makes the kubelet kill the pod
  app/server/src/server.ts
Owners: @luxfi/backend

don't rate-limit /health — it makes the kubelet kill the pod
  app/server/src/server.ts
Owners: @luxfi/backend

license: relicense Lux Bridge to BSD-3-Clause
  LICENSE
  LICENSING.md
  app/bridge/package.json
  app/server/package.json
  e2e/package.json
  package.json
  pkg/bridge/package.json
Owners: @luxfi/bridge-maintainers, @luxfi/docs, @luxfi/backend

license: relicense Lux Bridge to BSD-3-Clause
  LICENSE
  LICENSING.md
  app/bridge/package.json
  app/server/package.json
  e2e/package.json
  package.json
  pkg/bridge/package.json
Owners: @luxfi/bridge-maintainers, @luxfi/docs, @luxfi/backend

ci: build the Go bridge image on the forge (.hanzo/workflows)
  .hanzo/workflows/bridge.yml
Owners: @luxfi/bridge-maintainers

ci: build the Go bridge image on the forge (.hanzo/workflows)
  .hanzo/workflows/bridge.yml
Owners: @luxfi/bridge-maintainers

test(txassembler): cover PreSignTON/FinalizeTON (was 0%, live corridor)
  internal/txassembler/ton_test.go
Owners: @luxfi/bridge-maintainers

test(txassembler): cover PreSignTON/FinalizeTON (was 0%, live corridor)
  internal/txassembler/ton_test.go
Owners: @luxfi/bridge-maintainers

test(txassembler): cover PreSignNativeTransfer against a known EIP-155 vector
  internal/txassembler/native_transfer_test.go
Owners: @luxfi/bridge-maintainers

test(txassembler): cover PreSignNativeTransfer against a known EIP-155 vector
  internal/txassembler/native_transfer_test.go
Owners: @luxfi/bridge-maintainers

test(txassembler): cover FinalizeBTC (was 0%, both release + refund paths)
  internal/txassembler/btc_test.go
Owners: @luxfi/bridge-maintainers

test(txassembler): cover FinalizeBTC (was 0%, both release + refund paths)
  internal/txassembler/btc_test.go
Owners: @luxfi/bridge-maintainers

fix(cosigners): parseRSAPrivateKey didn't actually tolerate whitespace/BOM
  internal/cosigners/fireblocks_jwt.go
  internal/cosigners/fireblocks_jwt_test.go
Owners: @luxfi/bridge-maintainers

fix(cosigners): parseRSAPrivateKey didn't actually tolerate whitespace/BOM
  internal/cosigners/fireblocks_jwt.go
  internal/cosigners/fireblocks_jwt_test.go
Owners: @luxfi/bridge-maintainers

test(bridge-ui): cover SwapForm submit-gating, dest-address fallback, XRP tag
  pkg/bridge/src/__tests__/SwapForm.test.tsx
Owners: @luxfi/bridge-maintainers

test(bridge-ui): cover SwapForm submit-gating, dest-address fallback, XRP tag
  pkg/bridge/src/__tests__/SwapForm.test.tsx
Owners: @luxfi/bridge-maintainers

test(btc): pin Hash160 to a published test vector, cover address metadata
  internal/btc/address_meta_test.go
  internal/btc/hash_test.go
Owners: @luxfi/bridge-maintainers

test(btc): pin Hash160 to a published test vector, cover address metadata
  internal/btc/address_meta_test.go
  internal/btc/hash_test.go
Owners: @luxfi/bridge-maintainers

favicon: serve a real icon file, and wear the outline mark
  app/bridge/index.html
  app/bridge/public/favicon.ico
  app/bridge/public/favicon.svg
Owners: @luxfi/bridge-maintainers

favicon: serve a real icon file, and wear the outline mark
  app/bridge/index.html
  app/bridge/public/favicon.ico
  app/bridge/public/favicon.svg
Owners: @luxfi/bridge-maintainers

track the name agents read, so a clone documents itself
  .gitignore
  CLAUDE.md
Owners: @luxfi/bridge-maintainers, @luxfi/docs
