Repository luxfi/bridge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @luxfi/bridge-maintainers, @luxfi/mpc-maintainers, @luxfi/security, @luxfi/smart-contracts, @luxfi/frontend, @luxfi/qa, @luxfi/backend, @luxfi/devops, @luxfi/docs

docs: REQUIREMENTS R10 — LUX cross-family matrix 4/4 + #393 force-push gap
  REQUIREMENTS.md
Owners: @luxfi/docs

docs: REQUIREMENTS R10 — LUX cross-family matrix 4/4 + #393 force-push gap
  REQUIREMENTS.md
Owners: @luxfi/docs

feat: ZOO_TESTNET + ZOO_MAINNET as first-class networks
  app/bridge/src/bridge.config.ts
  bridge
  cmd/bridge/api.go
  cmd/bridge/main.go
  cmd/bridge/networks.mainnet.yaml
  cmd/bridge/networks.testnet.yaml
  cmd/bridge/rpc_proxy_test.go
  pkg/bridge/src/__tests__/wagmi-config.test.ts
  pkg/bridge/src/app/lib/logos.ts
  pkg/bridge/src/app/lib/wagmi-config.ts
Owners: @luxfi/bridge-maintainers

feat: ZOO_TESTNET + ZOO_MAINNET as first-class networks
  app/bridge/src/bridge.config.ts
  bridge
  cmd/bridge/api.go
  cmd/bridge/main.go
  cmd/bridge/networks.mainnet.yaml
  cmd/bridge/networks.testnet.yaml
  cmd/bridge/rpc_proxy_test.go
  pkg/bridge/src/__tests__/wagmi-config.test.ts
  pkg/bridge/src/app/lib/logos.ts
  pkg/bridge/src/app/lib/wagmi-config.ts
Owners: @luxfi/bridge-maintainers

docs: REQUIREMENTS §13.5 — ZOO_TESTNET wired, blocked on chain liveness
  REQUIREMENTS.md
Owners: @luxfi/docs

docs: REQUIREMENTS §13.5 — ZOO_TESTNET wired, blocked on chain liveness
  REQUIREMENTS.md
Owners: @luxfi/docs

fix(G8): SOL/TON source baseline gate on the #393 release-pool branch
  cmd/bridge/deposit_watcher.go
  cmd/bridge/swap_store.go
  cmd/bridge/swaps_handler.go
  internal/depositcheck/client.go
  internal/depositcheck/client_test.go
Owners: @luxfi/bridge-maintainers

fix(G8): SOL/TON source baseline gate on the #393 release-pool branch
  cmd/bridge/deposit_watcher.go
  cmd/bridge/swap_store.go
  cmd/bridge/swaps_handler.go
  internal/depositcheck/client.go
  internal/depositcheck/client_test.go
Owners: @luxfi/bridge-maintainers

feat(G7): productionize mpc-router into cmd/mpc-router/
  REQUIREMENTS.md
  cmd/mpc-router/Dockerfile
  cmd/mpc-router/main.go
  cmd/mpc-router/main_test.go
Owners: @luxfi/docs, @luxfi/bridge-maintainers

feat(G7): productionize mpc-router into cmd/mpc-router/
  REQUIREMENTS.md
  cmd/mpc-router/Dockerfile
  cmd/mpc-router/main.go
  cmd/mpc-router/main_test.go
Owners: @luxfi/docs, @luxfi/bridge-maintainers

docs(G5/G7): ed25519 go-live operator checklist + mpcd-single Dockerfile
  REQUIREMENTS.md
  cmd/mpcd-single/Dockerfile
  docs/operator-deploy-ed25519.md
Owners: @luxfi/docs, @luxfi/bridge-maintainers

docs(G5/G7): ed25519 go-live operator checklist + mpcd-single Dockerfile
  REQUIREMENTS.md
  cmd/mpcd-single/Dockerfile
  docs/operator-deploy-ed25519.md
Owners: @luxfi/docs, @luxfi/bridge-maintainers

fix(build): skip usb/node-hid native builds in the bridge image
  package.json
Owners: @luxfi/bridge-maintainers

fix(build): skip usb/node-hid native builds in the bridge image
  package.json
Owners: @luxfi/bridge-maintainers

chore(go-live): stage mainnet config for LUX EVM + non-EVM corridors
  cmd/bridge/networks.mainnet.yaml
  k8s/bridge-deployment.yaml
Owners: @luxfi/bridge-maintainers, @luxfi/devops

chore(go-live): stage mainnet config for LUX EVM + non-EVM corridors
  cmd/bridge/networks.mainnet.yaml
  k8s/bridge-deployment.yaml
Owners: @luxfi/bridge-maintainers, @luxfi/devops

docs/k8s(go-live): pin images to de3a912a
  docs/operator-deploy-ed25519.md
  k8s/bridge-deployment.yaml
Owners: @luxfi/docs, @luxfi/devops

docs/k8s(go-live): pin images to 2a8918b9
  docs/operator-deploy-ed25519.md
  k8s/bridge-deployment.yaml
Owners: @luxfi/docs, @luxfi/devops

chore(go-live): pre-handoff consistency sweep — pin everything to de3a912a
  compose.mainnet.yml
  docs/operator-deploy-ed25519.md
  docs/operator-deploy-phase-1-4.md
  k8s/mpc-router-deployment.yaml
  k8s/mpcd-single-deployment.yaml
Owners: @luxfi/bridge-maintainers, @luxfi/docs, @luxfi/devops

chore(go-live): pre-handoff consistency sweep — pin everything to 2a8918b9
  compose.mainnet.yml
  docs/operator-deploy-ed25519.md
  docs/operator-deploy-phase-1-4.md
  k8s/mpc-router-deployment.yaml
  k8s/mpcd-single-deployment.yaml
Owners: @luxfi/bridge-maintainers, @luxfi/docs, @luxfi/devops

docs(go-live): single-entry handoff runbook
  docs/GO-LIVE.md
Owners: @luxfi/docs

docs(go-live): single-entry handoff runbook
  docs/GO-LIVE.md
Owners: @luxfi/docs

docs(REQUIREMENTS): R11 — LUX go-live staged, remaining = operator cutover
  REQUIREMENTS.md
Owners: @luxfi/docs

docs(REQUIREMENTS): R11 — LUX go-live staged, remaining = operator cutover
  REQUIREMENTS.md
Owners: @luxfi/docs

fix(zoo): correct RPC path /ext/bc/Z/rpc -> /ext/bc/zoo/rpc
  REQUIREMENTS.md
  app/server/src/domain/mpc-wallet.ts
  cmd/bridge/main.go
  internal/broadcast/client.go
  internal/depositcheck/client.go
  internal/txassembler/rpc_provider.go
  pkg/bridge/src/app/lib/wagmi-config.ts
Owners: @luxfi/docs, @luxfi/backend, @luxfi/bridge-maintainers

fix(zoo): correct RPC path /ext/bc/Z/rpc -> /ext/bc/zoo/rpc
  REQUIREMENTS.md
  app/server/src/domain/mpc-wallet.ts
  cmd/bridge/main.go
  internal/broadcast/client.go
  internal/depositcheck/client.go
  internal/txassembler/rpc_provider.go
  pkg/bridge/src/app/lib/wagmi-config.ts
Owners: @luxfi/docs, @luxfi/backend, @luxfi/bridge-maintainers

docs(go-live): Zoo is a post-launch follow-up (chain live, image predates fix)
  docs/GO-LIVE.md
Owners: @luxfi/docs

docs(go-live): Zoo is a post-launch follow-up (chain live, image predates fix)
  docs/GO-LIVE.md
Owners: @luxfi/docs

chore: scrub brand references from tenant config and comments
  BRAND-AUDIT.md
  cmd/bridge/release_pool.go
  internal/broadcast/dot.go
  internal/substrate/scale.go
  internal/txassembler/dot.go
  pkg/tenant/config.go
  pkg/tenant/config_test.go
Owners: @luxfi/docs, @luxfi/bridge-maintainers

chore: scrub brand references from tenant config and comments
  BRAND-AUDIT.md
  cmd/bridge/release_pool.go
  internal/broadcast/dot.go
  internal/substrate/scale.go
  internal/txassembler/dot.go
  pkg/tenant/config.go
  pkg/tenant/config_test.go
Owners: @luxfi/docs, @luxfi/bridge-maintainers

chore: scrub brand references from comments and docs
  cmd/bridge/release_pool.go
  docs/LLM.md
  pkg/bridge/src/mount.ts
Owners: @luxfi/bridge-maintainers, @luxfi/docs

chore: scrub brand references from comments and docs
  cmd/bridge/release_pool.go
  docs/LLM.md
  pkg/bridge/src/mount.ts
Owners: @luxfi/bridge-maintainers, @luxfi/docs

chore: scrub brand references from comments and docs
  cmd/bridge/release_pool.go
  docs/LLM.md
  pkg/bridge/src/mount.ts
Owners: @luxfi/bridge-maintainers, @luxfi/docs

chore: scrub brand references from comments and docs
  cmd/bridge/release_pool.go
  docs/LLM.md
  pkg/bridge/src/mount.ts
Owners: @luxfi/bridge-maintainers, @luxfi/docs

chore: scrub brand references from comments and docs
  cmd/bridge/release_pool.go
  docs/LLM.md
  pkg/bridge/src/mount.ts
Owners: @luxfi/bridge-maintainers, @luxfi/docs

chore: scrub brand references from comments and docs
  cmd/bridge/release_pool.go
  docs/LLM.md
  pkg/bridge/src/mount.ts
Owners: @luxfi/bridge-maintainers, @luxfi/docs

chore: scrub brand references from comments and docs
  cmd/bridge/release_pool.go
  docs/LLM.md
  pkg/bridge/src/mount.ts
Owners: @luxfi/bridge-maintainers, @luxfi/docs

chore: scrub brand references from comments and docs
  cmd/bridge/release_pool.go
  docs/LLM.md
  pkg/bridge/src/mount.ts
Owners: @luxfi/bridge-maintainers, @luxfi/docs

chore: scrub brand references from comments and docs
  cmd/bridge/release_pool.go
  docs/LLM.md
  pkg/bridge/src/mount.ts
Owners: @luxfi/bridge-maintainers, @luxfi/docs

chore: scrub brand references from comments and docs
  cmd/bridge/release_pool.go
  docs/LLM.md
  pkg/bridge/src/mount.ts
Owners: @luxfi/bridge-maintainers, @luxfi/docs

.github/CODEOWNERS:

# CODEOWNERS for Lux Bridge

# Default owners for everything in the repo
* @luxfi/bridge-maintainers

# MPC service owners
/mpc-service/ @luxfi/mpc-maintainers @luxfi/security

# Smart contracts owners  
/contracts/ @luxfi/smart-contracts @luxfi/security

# Frontend and UI owners
/app/client/ @luxfi/frontend
/app/ui/ @luxfi/frontend
/ui-automation/ @luxfi/qa

# Backend server owners
/app/server/ @luxfi/backend

# DevOps and CI/CD
/.github/ @luxfi/devops
/docker/ @luxfi/devops
/k8s/ @luxfi/devops

# Documentation
/docs/ @luxfi/docs
/*.md @luxfi/docs

# Security-sensitive files
/mpc-service/cmd/ @luxfi/security @luxfi/mpc-maintainers
/contracts/bridges/ @luxfi/security @luxfi/smart-contracts
/.env* @luxfi/security @luxfi/devops
