Repository luxfi/bridge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @luxfi/bridge-maintainers, @luxfi/mpc-maintainers, @luxfi/security, @luxfi/smart-contracts, @luxfi/frontend, @luxfi/qa, @luxfi/backend, @luxfi/devops, @luxfi/docs

test(app/server): 21 specs for refactored mpc-signer + mpc-wallet (MPCClient flow)
  app/server/src/domain/__tests__/mpc-signer.test.ts
  app/server/src/domain/__tests__/mpc-wallet.test.ts
Owners: @luxfi/backend

test(app/server): 21 specs for refactored mpc-signer + mpc-wallet (MPCClient flow)
  app/server/src/domain/__tests__/mpc-signer.test.ts
  app/server/src/domain/__tests__/mpc-wallet.test.ts
Owners: @luxfi/backend

test(app/server): 21 specs for refactored mpc-signer + mpc-wallet (MPCClient flow)
  app/server/src/domain/__tests__/mpc-signer.test.ts
  app/server/src/domain/__tests__/mpc-wallet.test.ts
Owners: @luxfi/backend

test(app/server): 21 specs for refactored mpc-signer + mpc-wallet (MPCClient flow)
  app/server/src/domain/__tests__/mpc-signer.test.ts
  app/server/src/domain/__tests__/mpc-wallet.test.ts
Owners: @luxfi/backend

test(app/server): 21 specs for refactored mpc-signer + mpc-wallet (MPCClient flow)
  app/server/src/domain/__tests__/mpc-signer.test.ts
  app/server/src/domain/__tests__/mpc-wallet.test.ts
Owners: @luxfi/backend

test(app/server): 21 specs for refactored mpc-signer + mpc-wallet (MPCClient flow)
  app/server/src/domain/__tests__/mpc-signer.test.ts
  app/server/src/domain/__tests__/mpc-wallet.test.ts
Owners: @luxfi/backend

ci: native six-platform Go release matrix + multi-arch container
  .github/workflows/docker.yml
  .github/workflows/release-go.yml
  .goreleaser.yml
Owners: @luxfi/devops, @luxfi/bridge-maintainers

ci: native six-platform Go release matrix + multi-arch container
  .github/workflows/docker.yml
  .github/workflows/release-go.yml
  .goreleaser.yml
Owners: @luxfi/devops, @luxfi/bridge-maintainers

ci: native six-platform Go release matrix + multi-arch container
  .github/workflows/docker.yml
  .github/workflows/release-go.yml
  .goreleaser.yml
Owners: @luxfi/devops, @luxfi/bridge-maintainers

ci: native six-platform Go release matrix + multi-arch container
  .github/workflows/docker.yml
  .github/workflows/release-go.yml
  .goreleaser.yml
Owners: @luxfi/devops, @luxfi/bridge-maintainers

ci: native six-platform Go release matrix + multi-arch container
  .github/workflows/docker.yml
  .github/workflows/release-go.yml
  .goreleaser.yml
Owners: @luxfi/devops, @luxfi/bridge-maintainers

ci: native six-platform Go release matrix + multi-arch container
  .github/workflows/docker.yml
  .github/workflows/release-go.yml
  .goreleaser.yml
Owners: @luxfi/devops, @luxfi/bridge-maintainers

ci: native six-platform Go release matrix + multi-arch container
  .github/workflows/docker.yml
  .github/workflows/release-go.yml
  .goreleaser.yml
Owners: @luxfi/devops, @luxfi/bridge-maintainers

ci: native six-platform Go release matrix + multi-arch container
  .github/workflows/docker.yml
  .github/workflows/release-go.yml
  .goreleaser.yml
Owners: @luxfi/devops, @luxfi/bridge-maintainers

docs: generic integration patterns (Go side)
  docs/INTEGRATIONS.md
Owners: @luxfi/docs

docs: generic integration patterns (Go side)
  docs/INTEGRATIONS.md
Owners: @luxfi/docs

docs: generic integration patterns (Go side)
  docs/INTEGRATIONS.md
Owners: @luxfi/docs

docs: generic integration patterns (Go side)
  docs/INTEGRATIONS.md
Owners: @luxfi/docs

docs: generic integration patterns (Go side)
  docs/INTEGRATIONS.md
Owners: @luxfi/docs

docs: generic integration patterns (Go side)
  docs/INTEGRATIONS.md
Owners: @luxfi/docs

docs: generic integration patterns (Go side)
  docs/INTEGRATIONS.md
Owners: @luxfi/docs

docs: generic integration patterns (Go side)
  docs/INTEGRATIONS.md
Owners: @luxfi/docs

ci(release-go): install syft to user-writable path on ARC runner
  .github/workflows/release-go.yml
Owners: @luxfi/devops

ci(release-go): install syft to user-writable path on ARC runner
  .github/workflows/release-go.yml
Owners: @luxfi/devops

ci(release-go): install syft to user-writable path on ARC runner
  .github/workflows/release-go.yml
Owners: @luxfi/devops

ci(release-go): install syft to user-writable path on ARC runner
  .github/workflows/release-go.yml
Owners: @luxfi/devops

ci(release-go): install syft to user-writable path on ARC runner
  .github/workflows/release-go.yml
Owners: @luxfi/devops

ci(release-go): install syft to user-writable path on ARC runner
  .github/workflows/release-go.yml
Owners: @luxfi/devops

ci(release-go): install syft to user-writable path on ARC runner
  .github/workflows/release-go.yml
Owners: @luxfi/devops

ci(release-go): install syft to user-writable path on ARC runner
  .github/workflows/release-go.yml
Owners: @luxfi/devops

docs(LLM): ZAP serialization — canonical at ~/work/zap, @zap-proto npm, no capnp-es
  docs/LLM.md
Owners: @luxfi/docs

docs(LLM): ZAP serialization — canonical at ~/work/zap, @zap-proto npm, no capnp-es
  docs/LLM.md
Owners: @luxfi/docs

docs(LLM): ZAP serialization — canonical at ~/work/zap, @zap-proto npm, no capnp-es
  docs/LLM.md
Owners: @luxfi/docs

docs(LLM): ZAP serialization — canonical at ~/work/zap, @zap-proto npm, no capnp-es
  docs/LLM.md
Owners: @luxfi/docs

docs(LLM): ZAP serialization — canonical at ~/work/zap, @zap-proto npm, no capnp-es
  docs/LLM.md
Owners: @luxfi/docs

docs(LLM): ZAP serialization — canonical at ~/work/zap, @zap-proto npm, no capnp-es
  docs/LLM.md
Owners: @luxfi/docs

docs(LLM): ZAP serialization — canonical at ~/work/zap, @zap-proto npm, no capnp-es
  docs/LLM.md
Owners: @luxfi/docs

docs(LLM): ZAP serialization — canonical at ~/work/zap, @zap-proto npm, no capnp-es
  docs/LLM.md
Owners: @luxfi/docs

ci(release-go): scope to cmd/bridge; drop opnet-watcher (separate module)
  .goreleaser.yml
Owners: @luxfi/bridge-maintainers

ci(release-go): scope to cmd/bridge; drop opnet-watcher (separate module)
  .goreleaser.yml
Owners: @luxfi/bridge-maintainers

.github/CODEOWNERS:

# CODEOWNERS for Lux Bridge

# Default owners for everything in the repo
* @luxfi/bridge-maintainers

# MPC service owners
/mpc-service/ @luxfi/mpc-maintainers @luxfi/security

# Smart contracts owners  
/contracts/ @luxfi/smart-contracts @luxfi/security

# Frontend and UI owners
/app/client/ @luxfi/frontend
/app/ui/ @luxfi/frontend
/ui-automation/ @luxfi/qa

# Backend server owners
/app/server/ @luxfi/backend

# DevOps and CI/CD
/.github/ @luxfi/devops
/docker/ @luxfi/devops
/k8s/ @luxfi/devops

# Documentation
/docs/ @luxfi/docs
/*.md @luxfi/docs

# Security-sensitive files
/mpc-service/cmd/ @luxfi/security @luxfi/mpc-maintainers
/contracts/bridges/ @luxfi/security @luxfi/smart-contracts
/.env* @luxfi/security @luxfi/devops
