Repository luxfi/bridge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @luxfi/bridge-maintainers, @luxfi/mpc-maintainers, @luxfi/security, @luxfi/smart-contracts, @luxfi/frontend, @luxfi/qa, @luxfi/backend, @luxfi/devops, @luxfi/docs

.github/CODEOWNERS:

# CODEOWNERS for Lux Bridge

# Default owners for everything in the repo
* @luxfi/bridge-maintainers

# MPC service owners
/mpc-service/ @luxfi/mpc-maintainers @luxfi/security

# Smart contracts owners  
/contracts/ @luxfi/smart-contracts @luxfi/security

# Frontend and UI owners
/app/client/ @luxfi/frontend
/app/ui/ @luxfi/frontend
/ui-automation/ @luxfi/qa

# Backend server owners
/app/server/ @luxfi/backend

# DevOps and CI/CD
/.github/ @luxfi/devops
/docker/ @luxfi/devops
/k8s/ @luxfi/devops

# Documentation
/docs/ @luxfi/docs
/*.md @luxfi/docs

# Security-sensitive files
/mpc-service/cmd/ @luxfi/security @luxfi/mpc-maintainers
/contracts/bridges/ @luxfi/security @luxfi/smart-contracts
/.env* @luxfi/security @luxfi/devops

chain routes: /v1/bc -> /v1/chain
  app/bridge3/public/brand.json
  app/server/src/domain/mpc-wallet.ts
  app/server/src/domain/swaps.ts
  app/server/src/domain/teleport-processor.ts
  cmd/bridge/estate_test.go
  cmd/bridge/swap_store.go
  compose.mainnet.yml
  compose.testnet.yml
  internal/bchain/client.go
  internal/bchain/client_test.go
  internal/broadcast/client.go
  internal/depositcheck/client.go
  internal/mchain/client.go
  internal/txassembler/rpc_provider.go
  k8s/luxfi-explorer.yaml
  k8s/mpc-deployment.yaml
  manifests/chains/lux-c.yaml
  opnet-watcher/config.go
  opnet-watcher/config_test.go
  pkg/bridge/src/__tests__/bridge-rpc-endpoints.test.ts
  pkg/bridge/src/app/lib/bridge-rpc.ts
  pkg/bridge/src/types.ts
  pkg/settings/src/mainnet/networks.json
  pkg/threshold/src/client.test.ts
  pkg/threshold/src/client.ts
  pkg/threshold/src/index.ts
Owners: @luxfi/bridge-maintainers, @luxfi/backend, @luxfi/devops

Pin past the versions the proxy can no longer serve
  go.mod
  go.sum
  opnet-watcher/go.mod
  opnet-watcher/go.sum
Owners: @luxfi/bridge-maintainers

Pin past the versions the proxy can no longer serve
  go.mod
  go.sum
  opnet-watcher/go.mod
  opnet-watcher/go.sum
Owners: @luxfi/bridge-maintainers

every Hanzo dependency is the version npm serves
  pkg/bridge/package.json
Owners: @luxfi/bridge-maintainers

every Hanzo dependency is the version npm serves
  pkg/bridge/package.json
Owners: @luxfi/bridge-maintainers

BRIDGE_ADMIN_ROUTES=false switched the admin routes on
  cmd/bridge/admin_routes_test.go
  cmd/bridge/main.go
Owners: @luxfi/bridge-maintainers

BRIDGE_ADMIN_ROUTES=false switched the admin routes on
  cmd/bridge/admin_routes_test.go
  cmd/bridge/main.go
Owners: @luxfi/bridge-maintainers

bridge: the operator surface gets its own listener
  cmd/bridge/admin_routes_test.go
  cmd/bridge/api.go
  cmd/bridge/listener_test.go
  cmd/bridge/main.go
  cmd/bridge/metrics_test.go
  cmd/bridge/swaps_handler.go
  cmd/bridge/swaps_handler_test.go
  compose.mainnet.yml
  compose.testnet.yml
  docs/operator-runbook.md
  k8s/bridge-deployment.yaml
  k8s/bridge-servicemonitor.yaml
Owners: @luxfi/bridge-maintainers, @luxfi/docs, @luxfi/devops

bridge: the operator surface gets its own listener
  cmd/bridge/admin_routes_test.go
  cmd/bridge/api.go
  cmd/bridge/listener_test.go
  cmd/bridge/main.go
  cmd/bridge/metrics_test.go
  cmd/bridge/swaps_handler.go
  cmd/bridge/swaps_handler_test.go
  compose.mainnet.yml
  compose.testnet.yml
  docs/operator-runbook.md
  k8s/bridge-deployment.yaml
  k8s/bridge-servicemonitor.yaml
Owners: @luxfi/bridge-maintainers, @luxfi/docs, @luxfi/devops

Stop tracking two laptop builds
  .gitignore
Owners: @luxfi/bridge-maintainers

Stop tracking two laptop builds
  .gitignore
Owners: @luxfi/bridge-maintainers

mpcsign was an operator action on a public path
  cmd/bridge/admin_routes_test.go
  cmd/bridge/api.go
  cmd/bridge/listener_test.go
  cmd/bridge/swaps_handler_test.go
Owners: @luxfi/bridge-maintainers

mpcsign was an operator action on a public path
  cmd/bridge/admin_routes_test.go
  cmd/bridge/api.go
  cmd/bridge/listener_test.go
  cmd/bridge/swaps_handler_test.go
Owners: @luxfi/bridge-maintainers

A nil client in an interface is not a nil interface
  cmd/bridge/main.go
  cmd/bridge/release_pool.go
Owners: @luxfi/bridge-maintainers

A nil client in an interface is not a nil interface
  cmd/bridge/main.go
  cmd/bridge/release_pool.go
Owners: @luxfi/bridge-maintainers

gofmt six files, and untrack the laptop build the merge brought back
  cmd/bridge/api_test.go
  cmd/bridge/integration_test.go
  cmd/bridge/quote_handler.go
  cmd/bridge/rpc_proxy.go
  cmd/bridge/swap_store.go
  cmd/bridge/swaps_handler.go
Owners: @luxfi/bridge-maintainers

gofmt six files, and untrack the laptop build the merge brought back
  cmd/bridge/api_test.go
  cmd/bridge/integration_test.go
  cmd/bridge/quote_handler.go
  cmd/bridge/rpc_proxy.go
  cmd/bridge/swap_store.go
  cmd/bridge/swaps_handler.go
Owners: @luxfi/bridge-maintainers

working tree of /home/z/pr-work/bridge on spark at retirement
  LLM.md
Owners: @luxfi/docs

Workflows ask for the runner label that exists
  .hanzo/workflows/bridge.yml
  .hanzo/workflows/server.yml
  .hanzo/workflows/spa.yml
Owners: @luxfi/bridge-maintainers

Compile with TypeScript 7
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @luxfi/bridge-maintainers

Keep TypeScript 6 where the build reads its API
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @luxfi/bridge-maintainers

Typecheck on the native compiler, keep 6 for the tools
  app/explorer/global.d.ts
  app/server/src/types/luxfi-utila.d.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @luxfi/bridge-maintainers, @luxfi/backend

Ship core's dist, whatever packs it
  pkg/core/package.json
Owners: @luxfi/bridge-maintainers

Delete .hanzo workflows nothing runs
  .hanzo/workflows/bridge.yml
  .hanzo/workflows/server.yml
  .hanzo/workflows/spa.yml
Owners: @luxfi/bridge-maintainers
