Repository luxfi/bridge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @luxfi/bridge-maintainers, @luxfi/mpc-maintainers, @luxfi/security, @luxfi/smart-contracts, @luxfi/frontend, @luxfi/qa, @luxfi/backend, @luxfi/devops, @luxfi/docs

.github/CODEOWNERS:

# CODEOWNERS for Lux Bridge

# Default owners for everything in the repo
* @luxfi/bridge-maintainers

# MPC service owners
/mpc-service/ @luxfi/mpc-maintainers @luxfi/security

# Smart contracts owners  
/contracts/ @luxfi/smart-contracts @luxfi/security

# Frontend and UI owners
/app/client/ @luxfi/frontend
/app/ui/ @luxfi/frontend
/ui-automation/ @luxfi/qa

# Backend server owners
/app/server/ @luxfi/backend

# DevOps and CI/CD
/.github/ @luxfi/devops
/docker/ @luxfi/devops
/k8s/ @luxfi/devops

# Documentation
/docs/ @luxfi/docs
/*.md @luxfi/docs

# Security-sensitive files
/mpc-service/cmd/ @luxfi/security @luxfi/mpc-maintainers
/contracts/bridges/ @luxfi/security @luxfi/smart-contracts
/.env* @luxfi/security @luxfi/devops

fix: add @luxfi/menu-icons to transpilePackages
  app/bridge/next.config.js
Owners: @luxfi/bridge-maintainers

fix: add @luxfi/menu-icons to transpilePackages
  app/bridge/next.config.js
Owners: @luxfi/bridge-maintainers

fix: add @luxfi/menu-icons to transpilePackages
  app/bridge/next.config.js
Owners: @luxfi/bridge-maintainers

fix: add @luxfi/menu-icons to transpilePackages
  app/bridge/next.config.js
Owners: @luxfi/bridge-maintainers

fix: disable RainbowKit SSR and correct bridge-ui K8s env vars
  app/bridge/src/components/RainbowKit.tsx
  k8s/mpc-deployment.yaml
Owners: @luxfi/bridge-maintainers, @luxfi/devops

fix: disable RainbowKit SSR and correct bridge-ui K8s env vars
  app/bridge/src/components/RainbowKit.tsx
  k8s/mpc-deployment.yaml
Owners: @luxfi/bridge-maintainers, @luxfi/devops

fix: disable RainbowKit SSR and correct bridge-ui K8s env vars
  app/bridge/src/components/RainbowKit.tsx
  k8s/mpc-deployment.yaml
Owners: @luxfi/bridge-maintainers, @luxfi/devops

fix: disable RainbowKit SSR and correct bridge-ui K8s env vars
  app/bridge/src/components/RainbowKit.tsx
  k8s/mpc-deployment.yaml
Owners: @luxfi/bridge-maintainers, @luxfi/devops

fix: disable RainbowKit SSR and correct bridge-ui K8s env vars
  app/bridge/src/components/RainbowKit.tsx
  k8s/mpc-deployment.yaml
Owners: @luxfi/bridge-maintainers, @luxfi/devops

feat: deploy MPC 3-node cluster with proper config and identities
  k8s/mpc-deployment.yaml
Owners: @luxfi/devops

feat: deploy MPC 3-node cluster with proper config and identities
  k8s/mpc-deployment.yaml
Owners: @luxfi/devops

feat: deploy MPC 3-node cluster with proper config and identities
  k8s/mpc-deployment.yaml
Owners: @luxfi/devops

feat: deploy MPC 3-node cluster with proper config and identities
  k8s/mpc-deployment.yaml
Owners: @luxfi/devops

feat: deploy MPC 3-node cluster with proper config and identities
  k8s/mpc-deployment.yaml
Owners: @luxfi/devops

fix: use ghcr.io/luxfi/mpc (not lux-mpc) for MPC image name
  k8s/mpc-deployment.yaml
Owners: @luxfi/devops

fix: use ghcr.io/luxfi/mpc (not lux-mpc) for MPC image name
  k8s/mpc-deployment.yaml
Owners: @luxfi/devops

fix: use ghcr.io/luxfi/mpc (not lux-mpc) for MPC image name
  k8s/mpc-deployment.yaml
Owners: @luxfi/devops

fix: use ghcr.io/luxfi/mpc (not lux-mpc) for MPC image name
  k8s/mpc-deployment.yaml
Owners: @luxfi/devops

fix: use ghcr.io/luxfi/mpc (not lux-mpc) for MPC image name
  k8s/mpc-deployment.yaml
Owners: @luxfi/devops

ci: install kubectl in deploy job for ARC self-hosted runners
  .github/workflows/build-and-push.yml
Owners: @luxfi/devops

ci: install kubectl in deploy job for ARC self-hosted runners
  .github/workflows/build-and-push.yml
Owners: @luxfi/devops

ci: install kubectl in deploy job for ARC self-hosted runners
  .github/workflows/build-and-push.yml
Owners: @luxfi/devops

ci: install kubectl in deploy job for ARC self-hosted runners
  .github/workflows/build-and-push.yml
Owners: @luxfi/devops

ci: install kubectl in deploy job for ARC self-hosted runners
  .github/workflows/build-and-push.yml
Owners: @luxfi/devops

ci: fix kubectl install path (non-root runner)
  .github/workflows/build-and-push.yml
Owners: @luxfi/devops

ci: fix kubectl install path (non-root runner)
  .github/workflows/build-and-push.yml
Owners: @luxfi/devops

ci: fix kubectl install path (non-root runner)
  .github/workflows/build-and-push.yml
Owners: @luxfi/devops

ci: fix kubectl install path (non-root runner)
  .github/workflows/build-and-push.yml
Owners: @luxfi/devops

ci: fix kubectl install path (non-root runner)
  .github/workflows/build-and-push.yml
Owners: @luxfi/devops

feat: migrate MPC signing to production cluster at mpc.lux.network
  app/server/src/domain/mpc.ts
Owners: @luxfi/backend

feat: migrate MPC signing to production cluster at mpc.lux.network
  app/server/src/domain/mpc.ts
Owners: @luxfi/backend

feat: migrate MPC signing to production cluster at mpc.lux.network
  app/server/src/domain/mpc.ts
Owners: @luxfi/backend

feat: migrate MPC signing to production cluster at mpc.lux.network
  app/server/src/domain/mpc.ts
Owners: @luxfi/backend

feat: migrate MPC signing to production cluster at mpc.lux.network
  app/server/src/domain/mpc.ts
Owners: @luxfi/backend

fix: correct MPC service name to mpc-api-svc
  app/server/src/domain/mpc.ts
Owners: @luxfi/backend

fix: correct MPC service name to mpc-api-svc
  app/server/src/domain/mpc.ts
Owners: @luxfi/backend

fix: correct MPC service name to mpc-api-svc
  app/server/src/domain/mpc.ts
Owners: @luxfi/backend

fix: correct MPC service name to mpc-api-svc
  app/server/src/domain/mpc.ts
Owners: @luxfi/backend

fix: correct MPC service name to mpc-api-svc
  app/server/src/domain/mpc.ts
Owners: @luxfi/backend

feat: white-label multi-tenant bridge UI
  app/bridge/next.config.js
  app/bridge/src/app/api/tenant/route.ts
  app/bridge/src/app/layout.tsx
  app/bridge/src/components/Contexts.tsx
  app/bridge/src/components/header/desktop.tsx
  app/bridge/src/components/header/index.tsx
  app/bridge/src/context/tenantContext.tsx
  app/bridge/src/lib/tenant.ts
  app/bridge/src/middleware.ts
  k8s/mpc-deployment.yaml
Owners: @luxfi/bridge-maintainers, @luxfi/devops
