Repository luxfi/bridge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @luxfi/bridge-maintainers, @luxfi/mpc-maintainers, @luxfi/security, @luxfi/smart-contracts, @luxfi/frontend, @luxfi/qa, @luxfi/backend, @luxfi/devops, @luxfi/docs

feat(cmd/bridge): main.go wires profile → ProtocolFor — strict-PQ end-to-end
  cmd/bridge/main.go
  cmd/bridge/main_test.go
Owners: @luxfi/bridge-maintainers

feat(cmd/bridge): main.go wires profile → ProtocolFor — strict-PQ end-to-end
  cmd/bridge/main.go
  cmd/bridge/main_test.go
Owners: @luxfi/bridge-maintainers

feat(cmd/bridge): main.go wires profile → ProtocolFor — strict-PQ end-to-end
  cmd/bridge/main.go
  cmd/bridge/main_test.go
Owners: @luxfi/bridge-maintainers

feat(cmd/bridge): main.go wires profile → ProtocolFor — strict-PQ end-to-end
  cmd/bridge/main.go
  cmd/bridge/main_test.go
Owners: @luxfi/bridge-maintainers

feat(cmd/bridge): main.go wires profile → ProtocolFor — strict-PQ end-to-end
  cmd/bridge/main.go
  cmd/bridge/main_test.go
Owners: @luxfi/bridge-maintainers

feat: Lux -> Sol Swap implemented
  bridge
  cmd/bridge/e2e_test.go
  cmd/bridge/main.go
  cmd/bridge/signing_driver.go
  internal/broadcast/client.go
  internal/broadcast/solana.go
  internal/broadcast/solana_test.go
  internal/solanarpc/client.go
  internal/solanarpc/client_test.go
  internal/txassembler/solana.go
  internal/txassembler/solana_test.go
Owners: @luxfi/bridge-maintainers

feat: Lux -> Sol Swap implemented
  bridge
  cmd/bridge/e2e_test.go
  cmd/bridge/main.go
  cmd/bridge/signing_driver.go
  internal/broadcast/client.go
  internal/broadcast/solana.go
  internal/broadcast/solana_test.go
  internal/solanarpc/client.go
  internal/solanarpc/client_test.go
  internal/txassembler/solana.go
  internal/txassembler/solana_test.go
Owners: @luxfi/bridge-maintainers

feat: write Sol-> Lux E2E test, SPA phantom auto-deposit for Solana source, swapsCreateNative implemented
  .claude/scheduled_tasks.lock
  cmd/bridge/e2e_test.go
  pkg/bridge/src/__tests__/useTransfers.test.tsx
  pkg/bridge/src/app/hooks/useTransfers.ts
  pkg/bridge/src/app/lib/wallet-adapters.tsx
Owners: @luxfi/bridge-maintainers

feat: write Sol-> Lux E2E test, SPA phantom auto-deposit for Solana source, swapsCreateNative implemented
  .claude/scheduled_tasks.lock
  cmd/bridge/e2e_test.go
  pkg/bridge/src/__tests__/useTransfers.test.tsx
  pkg/bridge/src/app/hooks/useTransfers.ts
  pkg/bridge/src/app/lib/wallet-adapters.tsx
Owners: @luxfi/bridge-maintainers

feat: solana refund leg done
  .claude/scheduled_tasks.lock
  bridge
  cmd/bridge/main.go
  cmd/bridge/refund_driver.go
  internal/txassembler/solana.go
Owners: @luxfi/bridge-maintainers

feat: solana refund leg done
  .claude/scheduled_tasks.lock
  bridge
  cmd/bridge/main.go
  cmd/bridge/refund_driver.go
  internal/txassembler/solana.go
Owners: @luxfi/bridge-maintainers

feat: local access with https permanent solution
  app/bridge/vite.config.ts
  cmd/bridge/main.go
  cmd/fake-mpcd/main.go
Owners: @luxfi/bridge-maintainers

feat: local access with https permanent solution
  app/bridge/vite.config.ts
  cmd/bridge/main.go
  cmd/fake-mpcd/main.go
Owners: @luxfi/bridge-maintainers

brand: audit, rip non-lux references, add .well-known/bridge.json
  BRAND-AUDIT.md
  REQUIREMENTS.md
  app/bridge/public/.well-known/bridge.json
  docs/LLM.md
  manifests/tenants/hanzo.yaml
  manifests/tenants/pars.yaml
  manifests/tenants/spc.yaml
  manifests/tenants/zoo.yaml
Owners: @luxfi/docs, @luxfi/bridge-maintainers

brand: audit, rip non-lux references, add .well-known/bridge.json
  BRAND-AUDIT.md
  REQUIREMENTS.md
  app/bridge/public/.well-known/bridge.json
  docs/LLM.md
  manifests/tenants/hanzo.yaml
  manifests/tenants/pars.yaml
  manifests/tenants/spc.yaml
  manifests/tenants/zoo.yaml
Owners: @luxfi/docs, @luxfi/bridge-maintainers

brand: audit, rip non-lux references, add .well-known/bridge.json
  BRAND-AUDIT.md
  REQUIREMENTS.md
  app/bridge/public/.well-known/bridge.json
  docs/LLM.md
  manifests/tenants/hanzo.yaml
  manifests/tenants/pars.yaml
  manifests/tenants/spc.yaml
  manifests/tenants/zoo.yaml
Owners: @luxfi/docs, @luxfi/bridge-maintainers

feat: Sol -> Lux testnet refunding has been implemented
  app/bridge/src/bridge.config.ts
  app/bridge/src/env.d.ts
  bridge
  cmd/bridge/refund_driver.go
  cmd/bridge/refund_driver_test.go
  cmd/bridge/swaps_handler.go
  cmd/bridge/swaps_handler_test.go
  pkg/bridge/src/__tests__/bridge-api.test.ts
  pkg/bridge/src/app/BridgeApp.tsx
  pkg/bridge/src/app/hooks/useTransfers.ts
  pkg/bridge/src/app/lib/bridge-api.ts
  pkg/bridge/src/app/lib/wagmi-config.ts
  pkg/bridge/src/app/lib/wallet-adapters.tsx
  pkg/bridge/src/types.ts
Owners: @luxfi/bridge-maintainers

feat: Sol -> Lux testnet refunding has been implemented
  app/bridge/src/bridge.config.ts
  app/bridge/src/env.d.ts
  bridge
  cmd/bridge/refund_driver.go
  cmd/bridge/refund_driver_test.go
  cmd/bridge/swaps_handler.go
  cmd/bridge/swaps_handler_test.go
  pkg/bridge/src/__tests__/bridge-api.test.ts
  pkg/bridge/src/app/BridgeApp.tsx
  pkg/bridge/src/app/hooks/useTransfers.ts
  pkg/bridge/src/app/lib/bridge-api.ts
  pkg/bridge/src/app/lib/wagmi-config.ts
  pkg/bridge/src/app/lib/wallet-adapters.tsx
  pkg/bridge/src/types.ts
Owners: @luxfi/bridge-maintainers

feat: BRIDGE_ENV=local sandbox — Lux Local (31337) + Zoo Local (200203)
  app/bridge/src/bridge.config.ts
  cmd/bridge/broadcast_driver.go
  cmd/bridge/broadcast_driver_test.go
  cmd/bridge/networks.local.yaml
  cmd/bridge/swap_store.go
  cmd/bridge/swaps_handler.go
  cmd/bridge/swaps_handler_test.go
  internal/mchain/client.go
  internal/mchain/client_test.go
  internal/tokens/tokens.go
  internal/tokens/tokens_test.go
  pkg/bridge/src/__tests__/wagmi-config.test.ts
  pkg/bridge/src/app/hooks/useTransfers.ts
  pkg/bridge/src/app/lib/wagmi-config.ts
Owners: @luxfi/bridge-maintainers

feat: BRIDGE_ENV=local sandbox — Lux Local (31337) + Zoo Local (200203)
  app/bridge/src/bridge.config.ts
  cmd/bridge/broadcast_driver.go
  cmd/bridge/broadcast_driver_test.go
  cmd/bridge/networks.local.yaml
  cmd/bridge/swap_store.go
  cmd/bridge/swaps_handler.go
  cmd/bridge/swaps_handler_test.go
  internal/mchain/client.go
  internal/mchain/client_test.go
  internal/tokens/tokens.go
  internal/tokens/tokens_test.go
  pkg/bridge/src/__tests__/wagmi-config.test.ts
  pkg/bridge/src/app/hooks/useTransfers.ts
  pkg/bridge/src/app/lib/wagmi-config.ts
Owners: @luxfi/bridge-maintainers

ci: pin runner-amd64/arm64/deploy to luxfi pool labels
  .github/workflows/docker.yml
Owners: @luxfi/devops

ci: pin runner-amd64/arm64/deploy to luxfi pool labels
  .github/workflows/docker.yml
Owners: @luxfi/devops

ci: pin runner-amd64/arm64/deploy to luxfi pool labels
  .github/workflows/docker.yml
Owners: @luxfi/devops

ci: pin runner-amd64/arm64/deploy to luxfi pool labels
  .github/workflows/docker.yml
Owners: @luxfi/devops

ci: pin runner-amd64/arm64/deploy to luxfi pool labels
  .github/workflows/docker.yml
Owners: @luxfi/devops

ci: pin runner-amd64/arm64/deploy to luxfi pool labels
  .github/workflows/docker.yml
Owners: @luxfi/devops

ci: pin runner-amd64/arm64/deploy to luxfi pool labels
  .github/workflows/docker.yml
Owners: @luxfi/devops

ci: pin runner-amd64/arm64/deploy to luxfi pool labels
  .github/workflows/docker.yml
Owners: @luxfi/devops

ci: pin runner-amd64/arm64/deploy to luxfi pool labels
  .github/workflows/docker.yml
Owners: @luxfi/devops

ci: pin runner-amd64/arm64/deploy to luxfi pool labels
  .github/workflows/docker.yml
Owners: @luxfi/devops

ci: pin runner-amd64/arm64/deploy to luxfi pool labels
  .github/workflows/docker.yml
Owners: @luxfi/devops

ci: pin runner-amd64/arm64/deploy to luxfi pool labels
  .github/workflows/docker.yml
Owners: @luxfi/devops

ci: pin runner-amd64/arm64/deploy to luxfi pool labels
  .github/workflows/docker.yml
Owners: @luxfi/devops

ci: pin runner-amd64/arm64/deploy to luxfi pool labels
  .github/workflows/docker.yml
Owners: @luxfi/devops

ci: pin runner-amd64/arm64/deploy to luxfi pool labels
  .github/workflows/docker.yml
Owners: @luxfi/devops

ci: pin runner-amd64/arm64/deploy to luxfi pool labels
  .github/workflows/docker.yml
Owners: @luxfi/devops

docker: drop gcr.io distroless for scratch runtime
  cmd/bridge/Dockerfile
Owners: @luxfi/bridge-maintainers

docker: drop gcr.io distroless for scratch runtime
  cmd/bridge/Dockerfile
Owners: @luxfi/bridge-maintainers

docker: drop gcr.io distroless for scratch runtime
  cmd/bridge/Dockerfile
Owners: @luxfi/bridge-maintainers

chore(deps): go get -u ./...
  go.mod
  go.sum
Owners: @luxfi/bridge-maintainers

.github/CODEOWNERS:

# CODEOWNERS for Lux Bridge

# Default owners for everything in the repo
* @luxfi/bridge-maintainers

# MPC service owners
/mpc-service/ @luxfi/mpc-maintainers @luxfi/security

# Smart contracts owners  
/contracts/ @luxfi/smart-contracts @luxfi/security

# Frontend and UI owners
/app/client/ @luxfi/frontend
/app/ui/ @luxfi/frontend
/ui-automation/ @luxfi/qa

# Backend server owners
/app/server/ @luxfi/backend

# DevOps and CI/CD
/.github/ @luxfi/devops
/docker/ @luxfi/devops
/k8s/ @luxfi/devops

# Documentation
/docs/ @luxfi/docs
/*.md @luxfi/docs

# Security-sensitive files
/mpc-service/cmd/ @luxfi/security @luxfi/mpc-maintainers
/contracts/bridges/ @luxfi/security @luxfi/smart-contracts
/.env* @luxfi/security @luxfi/devops
