Repository luxfi/bridge, changes with the owners that .github/CODEOWNERS names for each.
All owners: @luxfi/bridge-maintainers, @luxfi/mpc-maintainers, @luxfi/security, @luxfi/smart-contracts, @luxfi/frontend, @luxfi/qa, @luxfi/backend, @luxfi/devops, @luxfi/docs

e2e pipeline test
  REQUIREMENTS.md
  cmd/bridge/e2e_test.go
Owners: @luxfi/docs, @luxfi/bridge-maintainers

feat: wallet balance showing function
  pkg/bridge/src/__tests__/useWallet.test.tsx
  pkg/bridge/src/__tests__/wagmi-config.test.ts
  pkg/bridge/src/app/components/AssetInput.tsx
  pkg/bridge/src/app/lib/wagmi-config.ts
Owners: @luxfi/bridge-maintainers

feat: wallet balance showing function
  pkg/bridge/src/__tests__/useWallet.test.tsx
  pkg/bridge/src/__tests__/wagmi-config.test.ts
  pkg/bridge/src/app/components/AssetInput.tsx
  pkg/bridge/src/app/lib/wagmi-config.ts
Owners: @luxfi/bridge-maintainers

feat(internal): cosigners + secrets resolver — layered cosigner SDK Go port
  internal/cosigners/cosigners.go
  internal/cosigners/cosigners_test.go
  internal/cosigners/env_secrets.go
  internal/cosigners/fireblocks.go
  internal/cosigners/fireblocks_jwt.go
  internal/cosigners/fireblocks_test.go
  internal/cosigners/stub_family.go
  internal/cosigners/utila.go
  internal/cosigners/utila_test.go
  internal/secrets/resolver.go
  internal/secrets/resolver_test.go
Owners: @luxfi/bridge-maintainers

feat(internal): cosigners + secrets resolver — layered cosigner SDK Go port
  internal/cosigners/cosigners.go
  internal/cosigners/cosigners_test.go
  internal/cosigners/env_secrets.go
  internal/cosigners/fireblocks.go
  internal/cosigners/fireblocks_jwt.go
  internal/cosigners/fireblocks_test.go
  internal/cosigners/stub_family.go
  internal/cosigners/utila.go
  internal/cosigners/utila_test.go
  internal/secrets/resolver.go
  internal/secrets/resolver_test.go
Owners: @luxfi/bridge-maintainers

feat(internal): cosigners + secrets resolver — layered cosigner SDK Go port
  internal/cosigners/cosigners.go
  internal/cosigners/cosigners_test.go
  internal/cosigners/env_secrets.go
  internal/cosigners/fireblocks.go
  internal/cosigners/fireblocks_jwt.go
  internal/cosigners/fireblocks_test.go
  internal/cosigners/stub_family.go
  internal/cosigners/utila.go
  internal/cosigners/utila_test.go
  internal/secrets/resolver.go
  internal/secrets/resolver_test.go
Owners: @luxfi/bridge-maintainers

feat(internal): cosigners + secrets resolver — layered cosigner SDK Go port
  internal/cosigners/cosigners.go
  internal/cosigners/cosigners_test.go
  internal/cosigners/env_secrets.go
  internal/cosigners/fireblocks.go
  internal/cosigners/fireblocks_jwt.go
  internal/cosigners/fireblocks_test.go
  internal/cosigners/stub_family.go
  internal/cosigners/utila.go
  internal/cosigners/utila_test.go
  internal/secrets/resolver.go
  internal/secrets/resolver_test.go
Owners: @luxfi/bridge-maintainers

feat(internal): cosigners + secrets resolver — layered cosigner SDK Go port
  internal/cosigners/cosigners.go
  internal/cosigners/cosigners_test.go
  internal/cosigners/env_secrets.go
  internal/cosigners/fireblocks.go
  internal/cosigners/fireblocks_jwt.go
  internal/cosigners/fireblocks_test.go
  internal/cosigners/stub_family.go
  internal/cosigners/utila.go
  internal/cosigners/utila_test.go
  internal/secrets/resolver.go
  internal/secrets/resolver_test.go
Owners: @luxfi/bridge-maintainers

feat(bchain,mchain): LP-333 signer-set/epoch + mchain release-wallet pool
  internal/bchain/client.go
  internal/bchain/client_test.go
  internal/mchain/pool.go
  internal/mchain/pool_test.go
Owners: @luxfi/bridge-maintainers

feat(bchain,mchain): LP-333 signer-set/epoch + mchain release-wallet pool
  internal/bchain/client.go
  internal/bchain/client_test.go
  internal/mchain/pool.go
  internal/mchain/pool_test.go
Owners: @luxfi/bridge-maintainers

feat(bchain,mchain): LP-333 signer-set/epoch + mchain release-wallet pool
  internal/bchain/client.go
  internal/bchain/client_test.go
  internal/mchain/pool.go
  internal/mchain/pool_test.go
Owners: @luxfi/bridge-maintainers

feat(bchain,mchain): LP-333 signer-set/epoch + mchain release-wallet pool
  internal/bchain/client.go
  internal/bchain/client_test.go
  internal/mchain/pool.go
  internal/mchain/pool_test.go
Owners: @luxfi/bridge-maintainers

feat(bchain,mchain): LP-333 signer-set/epoch + mchain release-wallet pool
  internal/bchain/client.go
  internal/bchain/client_test.go
  internal/mchain/pool.go
  internal/mchain/pool_test.go
Owners: @luxfi/bridge-maintainers

feat(cmd/bridge): Lux RPC same-origin proxy + auto-expire pending deposits
  cmd/bridge/deposit_watcher.go
  cmd/bridge/deposit_watcher_test.go
  cmd/bridge/rpc_proxy.go
Owners: @luxfi/bridge-maintainers

feat(cmd/bridge): Lux RPC same-origin proxy + auto-expire pending deposits
  cmd/bridge/deposit_watcher.go
  cmd/bridge/deposit_watcher_test.go
  cmd/bridge/rpc_proxy.go
Owners: @luxfi/bridge-maintainers

feat(cmd/bridge): Lux RPC same-origin proxy + auto-expire pending deposits
  cmd/bridge/deposit_watcher.go
  cmd/bridge/deposit_watcher_test.go
  cmd/bridge/rpc_proxy.go
Owners: @luxfi/bridge-maintainers

feat(cmd/bridge): Lux RPC same-origin proxy + auto-expire pending deposits
  cmd/bridge/deposit_watcher.go
  cmd/bridge/deposit_watcher_test.go
  cmd/bridge/rpc_proxy.go
Owners: @luxfi/bridge-maintainers

feat(cmd/bridge): Lux RPC same-origin proxy + auto-expire pending deposits
  cmd/bridge/deposit_watcher.go
  cmd/bridge/deposit_watcher_test.go
  cmd/bridge/rpc_proxy.go
Owners: @luxfi/bridge-maintainers

ops: production network configs + operator deploy doc (mainnet + testnet)
  cmd/bridge/networks.mainnet.yaml
  cmd/bridge/networks.testnet.yaml
  compose.mainnet.yml
  compose.testnet.yml
  docs/operator-deploy-phase-1-4.md
Owners: @luxfi/bridge-maintainers, @luxfi/docs

ops: production network configs + operator deploy doc (mainnet + testnet)
  cmd/bridge/networks.mainnet.yaml
  cmd/bridge/networks.testnet.yaml
  compose.mainnet.yml
  compose.testnet.yml
  docs/operator-deploy-phase-1-4.md
Owners: @luxfi/bridge-maintainers, @luxfi/docs

ops: production network configs + operator deploy doc (mainnet + testnet)
  cmd/bridge/networks.mainnet.yaml
  cmd/bridge/networks.testnet.yaml
  compose.mainnet.yml
  compose.testnet.yml
  docs/operator-deploy-phase-1-4.md
Owners: @luxfi/bridge-maintainers, @luxfi/docs

ops: production network configs + operator deploy doc (mainnet + testnet)
  cmd/bridge/networks.mainnet.yaml
  cmd/bridge/networks.testnet.yaml
  compose.mainnet.yml
  compose.testnet.yml
  docs/operator-deploy-phase-1-4.md
Owners: @luxfi/bridge-maintainers, @luxfi/docs

ops: production network configs + operator deploy doc (mainnet + testnet)
  cmd/bridge/networks.mainnet.yaml
  cmd/bridge/networks.testnet.yaml
  compose.mainnet.yml
  compose.testnet.yml
  docs/operator-deploy-phase-1-4.md
Owners: @luxfi/bridge-maintainers, @luxfi/docs

feat(internal/mchain): Protocol enum — vocabulary for PQ + classical threshold protocols
  internal/mchain/protocol.go
  internal/mchain/protocol_test.go
Owners: @luxfi/bridge-maintainers

feat(internal/mchain): Protocol enum — vocabulary for PQ + classical threshold protocols
  internal/mchain/protocol.go
  internal/mchain/protocol_test.go
Owners: @luxfi/bridge-maintainers

feat(internal/mchain): Protocol enum — vocabulary for PQ + classical threshold protocols
  internal/mchain/protocol.go
  internal/mchain/protocol_test.go
Owners: @luxfi/bridge-maintainers

feat(internal/mchain): Protocol enum — vocabulary for PQ + classical threshold protocols
  internal/mchain/protocol.go
  internal/mchain/protocol_test.go
Owners: @luxfi/bridge-maintainers

feat(internal/mchain): Protocol enum — vocabulary for PQ + classical threshold protocols
  internal/mchain/protocol.go
  internal/mchain/protocol_test.go
Owners: @luxfi/bridge-maintainers

feat(internal/mchain): wire Protocol through signViaDashboard + new public sign variants
  internal/mchain/auth.go
  internal/mchain/auth_test.go
  internal/mchain/client.go
Owners: @luxfi/bridge-maintainers

feat(internal/mchain): wire Protocol through signViaDashboard + new public sign variants
  internal/mchain/auth.go
  internal/mchain/auth_test.go
  internal/mchain/client.go
Owners: @luxfi/bridge-maintainers

feat(internal/mchain): wire Protocol through signViaDashboard + new public sign variants
  internal/mchain/auth.go
  internal/mchain/auth_test.go
  internal/mchain/client.go
Owners: @luxfi/bridge-maintainers

feat(internal/mchain): wire Protocol through signViaDashboard + new public sign variants
  internal/mchain/auth.go
  internal/mchain/auth_test.go
  internal/mchain/client.go
Owners: @luxfi/bridge-maintainers

feat(internal/mchain): wire Protocol through signViaDashboard + new public sign variants
  internal/mchain/auth.go
  internal/mchain/auth_test.go
  internal/mchain/client.go
Owners: @luxfi/bridge-maintainers

feat(cmd/bridge): ProtocolSigner interface + ProtocolFor dispatch in signing driver
  cmd/bridge/signing_driver.go
  cmd/bridge/signing_driver_test.go
Owners: @luxfi/bridge-maintainers

feat(cmd/bridge): ProtocolSigner interface + ProtocolFor dispatch in signing driver
  cmd/bridge/signing_driver.go
  cmd/bridge/signing_driver_test.go
Owners: @luxfi/bridge-maintainers

feat(cmd/bridge): ProtocolSigner interface + ProtocolFor dispatch in signing driver
  cmd/bridge/signing_driver.go
  cmd/bridge/signing_driver_test.go
Owners: @luxfi/bridge-maintainers

feat(cmd/bridge): ProtocolSigner interface + ProtocolFor dispatch in signing driver
  cmd/bridge/signing_driver.go
  cmd/bridge/signing_driver_test.go
Owners: @luxfi/bridge-maintainers

feat(cmd/bridge): ProtocolSigner interface + ProtocolFor dispatch in signing driver
  cmd/bridge/signing_driver.go
  cmd/bridge/signing_driver_test.go
Owners: @luxfi/bridge-maintainers

feat: wallet adapter fixed for solana, works for other chains too
  REQUIREMENTS.md
  app/bridge/vite.config.ts
  pkg/bridge/package.json
  pkg/bridge/src/__tests__/wallet-adapters.test.tsx
  pkg/bridge/src/app/BridgeApp.tsx
  pkg/bridge/src/app/components/AssetInput.tsx
  pkg/bridge/src/app/components/WalletConnect.tsx
  pkg/bridge/src/app/lib/wallet-adapters.tsx
  pkg/bridge/vitest.config.ts
  pkg/bridge/vitest.setup.ts
  pnpm-lock.yaml
Owners: @luxfi/docs, @luxfi/bridge-maintainers

feat: wallet adapter fixed for solana, works for other chains too
  REQUIREMENTS.md
  app/bridge/vite.config.ts
  pkg/bridge/package.json
  pkg/bridge/src/__tests__/wallet-adapters.test.tsx
  pkg/bridge/src/app/BridgeApp.tsx
  pkg/bridge/src/app/components/AssetInput.tsx
  pkg/bridge/src/app/components/WalletConnect.tsx
  pkg/bridge/src/app/lib/wallet-adapters.tsx
  pkg/bridge/vitest.config.ts
  pkg/bridge/vitest.setup.ts
  pnpm-lock.yaml
Owners: @luxfi/docs, @luxfi/bridge-maintainers

.github/CODEOWNERS:

# CODEOWNERS for Lux Bridge

# Default owners for everything in the repo
* @luxfi/bridge-maintainers

# MPC service owners
/mpc-service/ @luxfi/mpc-maintainers @luxfi/security

# Smart contracts owners  
/contracts/ @luxfi/smart-contracts @luxfi/security

# Frontend and UI owners
/app/client/ @luxfi/frontend
/app/ui/ @luxfi/frontend
/ui-automation/ @luxfi/qa

# Backend server owners
/app/server/ @luxfi/backend

# DevOps and CI/CD
/.github/ @luxfi/devops
/docker/ @luxfi/devops
/k8s/ @luxfi/devops

# Documentation
/docs/ @luxfi/docs
/*.md @luxfi/docs

# Security-sensitive files
/mpc-service/cmd/ @luxfi/security @luxfi/mpc-maintainers
/contracts/bridges/ @luxfi/security @luxfi/smart-contracts
/.env* @luxfi/security @luxfi/devops
